Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

# TODO - get Equation Reading pipeline working
#---
#kind: pipeline
#name: skema-er

#steps:
#- name: test_equation_reading
  #image: python:3.8-bullseye
  #commands:
  #- apt-get update
  #- apt-get -y install build-essential graphviz libgraphviz-dev
  #- pip install -e .[dev,img2mml]
  #- pip install pytest-cov
  #- curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  #- pytest --cov=skema skema/img2mml/tests
  #when:
    #paths:
    #- pyproject.toml
    #- .drone.yml
    #- skema/img2mml/**

update
  skema/img2mml/training.py
Due: none

removed bug with double arrows
  skema/moviz/utils/helper_functions.py
  skema/moviz/utils/init.py
Due: none

commiting remaining files
  data/gromet/config/config.json
  skema/moviz/utils/create_viz.py
Due: none

Updated filename global variable to be more descriptive
  skema/program_analysis/PyAST2CAST/builtin_map.py
Due: test_program_analysis

more work on auto finding
  data/epidemiology/CHIME/CHIME_SIR_model/gromet/FN_0.1.5/CHIME_SIR_core--Gromet-FN-auto.json
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

updating sampling config to re-sample
  skema/img2mml/sampling_dataset/sampling_config.json
  skema/img2mml/training.py
Due: none

updating sampling_dataset
  skema/img2mml/sampling_dataset/sample_dataset.py
Due: none

updating
  skema/img2mml/sampling_dataset/sampling_config.json
Due: none

Adding build script for Fortran tree-sitter grammer and updating skema_server to support Fortran function network generation
  skema/program_analysis/TS2CAST/build_tree-sitter-fortran.py
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

Adding updated Dockerfile
  Dockerfile.skema-py
Due: none

Addresses Built-in Map Generation (#173)
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/PyAST2CAST/builtin_map.py
  skema/program_analysis/tests/test_builtin_map.py
Due: test_program_analysis

update
  skema/img2mml/sampling_dataset/temp.py
Due: none

updating temp.py
  skema/img2mml/create_dataset.py
Due: none

updating temp.py timer
  skema/img2mml/sampling_dataset/temp.py
Due: none

conditions and functions working
  skema/moviz/main.py
  skema/moviz/utils/create_viz.py
  skema/moviz/utils/helper_functions.py
Due: none

added config changes and fun1 to examples directory
  data/gromet/config/config.json
  data/gromet/examples/fun1/fun1.py
Due: none

Renaming build script to remove '-' so it can be imported from
  Dockerfile.skema-py
  skema/program_analysis/TS2CAST/build_tree_sitter_fortran.py
Due: test_program_analysis

Creating constant for language library relative path
  skema/program_analysis/TS2CAST/build_tree_sitter_fortran.py
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

code for multiple hops
  data/gromet/config/config.json
  skema/moviz/main.py
  skema/moviz/utils/create_viz.py
  skema/moviz/utils/helper_functions.py
Due: none

update
  skema/img2mml/create_dataset.py
  skema/img2mml/requirements.txt
  skema/img2mml/sampling_dataset/sample_dataset.py
  skema/img2mml/sampling_dataset/sampling_config.json
  skema/img2mml/sampling_dataset/temp.py
Due: none

update
  skema/img2mml/sampling_dataset/sample_dataset.py
  skema/img2mml/sampling_dataset/sampling_config.json
  skema/img2mml/sampling_dataset/temp.py
Due: none

update
  skema/img2mml/sampling_dataset/sample_dataset.py
Due: none

removing temp.py
  skema/img2mml/sampling_dataset/temp.py
Due: none

increating timeout to 10
  skema/img2mml/sampling_dataset/sample_dataset.py
Due: none

update
  skema/img2mml/configs/xfmer_mml_config.json
Due: none

update
  skema/img2mml/create_dataset.py
Due: none

Typo fix
  Dockerfile.skema-py
Due: none

Isha/moviz feb (#176)
  data/gromet/config/config.json
  data/gromet/examples/fun1/fun1.py
  skema/moviz/main.py
  skema/moviz/utils/create_json.py
  skema/moviz/utils/create_viz.py
  skema/moviz/utils/helper_functions.py
  skema/moviz/utils/init.py
Due: none

updating
  skema/img2mml/sampling_dataset/temp.py
Due: none

updating temp.py
  skema/img2mml/sampling_dataset/temp.py
Due: none
