Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

# TODO - get Equation Reading pipeline working
#---
#kind: pipeline
#name: skema-er

#steps:
#- name: test_equation_reading
  #image: python:3.8-bullseye
  #commands:
  #- apt-get update
  #- apt-get -y install build-essential graphviz libgraphviz-dev
  #- pip install -e .[dev,img2mml]
  #- pip install pytest-cov
  #- curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  #- pytest --cov=skema skema/img2mml/tests
  #when:
    #paths:
    #- pyproject.toml
    #- .drone.yml
    #- skema/img2mml/**

update
  skema/img2mml/configs/resnet_xfmer_latex_config.json
Due: none

Add cosmosJsonToMentions to webapp
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/data/DataLoader.scala
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
  skema/text_reading/text_reading/webapp/conf/routes
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

updtae
  skema/img2mml/configs/resnet_xfmer_latex_config.json
Due: none

Add extraction test for Cosmos files
  skema/text_reading/text_reading/src/test/resources/documents_5FebCHIME_SIR--COSMOS-data.json
  skema/text_reading/text_reading/src/test/resources/documents_5FebCHIME_SVIIvR--COSMOS-data.json
  skema/text_reading/text_reading/src/test/resources/documents_5Febbuckymodel_webdocs--COSMOS-data.json
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/test/ExtractionFromCosmosTest.scala
Due: test_scala

Increase maxMemoryBuffer for webapp
  skema/text_reading/text_reading/webapp/conf/application.conf
Due: test_scala

Change to filterNot
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/data/DataLoader.scala
Due: test_scala

optuna training.py
  skema/img2mml/optuna_training.py
Due: none

adding optuna_training.py
  skema/img2mml/optuna_training.py
Due: none

upudate
  skema/img2mml/configs/resnet_xfmer_latex_config.json
Due: none

update
  skema/img2mml/optuna_training.py
  skema/img2mml/preprocessing/preprocess_mml.py
Due: none

Taking input and output paths are arguments.
  skema/text_reading/text_reading/annotate_cosmos_json
Due: test_scala

Only keep the "--COSMOS-data.json"
  skema/text_reading/text_reading/annotate_cosmos_json
Due: test_scala

skema_net test build
  docker-compose.img2mml.yml
  docker-compose.skema-py.yml
  docker-compose.skema-rs.yml
  docker-compose.yml
Due: none

Taking input and output paths as arguments. (#215)
  skema/text_reading/text_reading/annotate_cosmos_json
Due: test_scala

Dockerize webapp in production mode (#212)
  skema/text_reading/text_reading/build.sbt
  skema/text_reading/text_reading/webapp/README.md
  skema/text_reading/text_reading/webapp/conf/application.conf
  skema/text_reading/text_reading/webapp/docker.sbt
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

Implement cosmosJsonToMentions for webapp (#214)
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/data/DataLoader.scala
  skema/text_reading/text_reading/src/test/resources/documents_5FebCHIME_SIR--COSMOS-data.json
  skema/text_reading/text_reading/src/test/resources/documents_5FebCHIME_SVIIvR--COSMOS-data.json
  skema/text_reading/text_reading/src/test/resources/documents_5Febbuckymodel_webdocs--COSMOS-data.json
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/test/ExtractionFromCosmosTest.scala
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
  skema/text_reading/text_reading/webapp/conf/application.conf
  skema/text_reading/text_reading/webapp/conf/routes
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

External network test with 'skema_default' target
  docker-compose.img2mml.yml
  docker-compose.memgraph.yml
  docker-compose.skema-py.yml
  docker-compose.skema-rs.yml
  docker-compose.yml
  skema/text_reading/text_reading/docker/docker-compose.yml
Due: test_scala

Fixed a typo in the skema-rs alias name
  docker-compose.skema-rs.yml
Due: none

Changed the database network alias 'memgraph_db' -> 'skema_database_1'
  docker-compose.yml
Due: none

Changed the database network alias 'memgraph_db' -> 'skema_database_1'
  docker-compose.memgraph.yml
Due: none

Changed network from 'skema_default' -> 'skema_net'
  docker-compose.img2mml.yml
  docker-compose.memgraph.yml
  docker-compose.skema-py.yml
  docker-compose.skema-rs.yml
  docker-compose.yml
  skema/text_reading/text_reading/docker/docker-compose.yml
Due: test_scala

Attempting to fix Python duplicate variable ID issue
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/PyAST2CAST/py_ast_to_cast.py
Due: test_program_analysis

update
  skema/img2mml/optuna_training.py
Due: none

passing all round trip serialization unit tests for 0.1.6
  data/gromet/examples/cond1/FN_0.1.6/cond1--Gromet-FN-auto.json
  data/gromet/examples/exp0/FN_0.1.6/exp0--Gromet-FN-auto.json
  data/gromet/examples/exp1/FN_0.1.6/exp1--Gromet-FN-auto.json
  data/gromet/examples/exp2/FN_0.1.6/exp2--Gromet-FN-auto.json
  data/gromet/examples/exp3/FN_0.1.6/exp3--Gromet-FN-auto.json
  data/gromet/examples/fun1/FN_0.1.6/fun1--Gromet-FN-auto.json
  data/gromet/examples/fun2/FN_0.1.6/fun2--Gromet-FN-auto.json
  data/gromet/examples/fun3/FN_0.1.6/fun3--Gromet-FN-auto.json
  data/gromet/examples/fun4/FN_0.1.6/fun4--Gromet-FN-auto.json
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/lib.rs
Due: test_rust_components

Resolves #221
  .github/workflows/docker.yml
Due: none

$IMAGE_NAME -> ${{ env.IMAGE_NAME }}
  .github/workflows/docker.yml
Due: none

Split into separate jobs for parallel execution
  .github/workflows/docker.yml
Due: none

Build and publish project docker images to lumai dockerhub namespace (#222)
  .github/workflows/docker.yml
Due: none

org/namespace was repeated
  .github/workflows/docker.yml
Due: none

org/namespace was repeated (#223)
  .github/workflows/docker.yml
Due: none

Free disk space
  .github/workflows/docker.yml
Due: none

Free disk space for GitHub Actions (#224)
  .github/workflows/docker.yml
Due: none

Added an end point to handle plain text contents
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
  skema/text_reading/text_reading/webapp/conf/routes
Due: test_scala
