Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

# TODO - get Equation Reading pipeline working
#---
#kind: pipeline
#name: skema-er

#steps:
#- name: test_equation_reading
  #image: python:3.8-bullseye
  #commands:
  #- apt-get update
  #- apt-get -y install build-essential graphviz libgraphviz-dev
  #- pip install -e .[dev,img2mml]
  #- pip install pytest-cov
  #- curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  #- pytest --cov=skema skema/img2mml/tests
  #when:
    #paths:
    #- pyproject.toml
    #- .drone.yml
    #- skema/img2mml/**

wip
  skema/skema-rs/mathml/src/mml2pn.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/graph.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/src/petri_net.rs
Due: test_rust_components

Expanded the location grammar to be more inclusive with its entity types
  skema/text_reading/text_reading/src/main/resources/org/ml4ai/skema/text_reading/grammars/locations.yml
  skema/text_reading/text_reading/src/main/resources/org/ml4ai/skema/text_reading/grammars/vars.yml
Due: test_scala

Made refactored the CosmosTextReadingPipeline and decoupled the generic parts into a TextReadingPipeline object
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/OdinEngine.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotateCosmosJsonFiles.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/ExtractAndAlign.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/utils/MentionUtils.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/test/TestUtils.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/text_reading/text/TestDescriptions.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/text_reading/text/TestIdentifiers.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/text_reading/text/TestParameterSetting.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/text_reading/text/TestParameterSettingInterval.scala
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
Due: test_scala

Refactor top half of processParamSettingInt
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/OdinActions.scala
Due: test_scala

Correct bottom half of processParamSettingInt
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/OdinActions.scala
Due: test_scala

Replace lost variable
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/OdinActions.scala
Due: test_scala

Fix bug that turned out to be in OdinActions (#116)
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/OdinActions.scala
Due: test_scala

Minimal prototype complete
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/lib.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/src/petri_net.rs
Due: test_rust_components

Some refactoring, executable works
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/bin/mml2pn.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/src/petri_net.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
Due: test_rust_components

First take at scenario context
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/attachments/AutomatesAttachment.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/ContextEngine.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/CosmosOrderer.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/MentionOrderer.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/serializer/AutomatesJSONSerializer.scala
Due: test_scala

MML to Petri Net PDF complete
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/bin/mml2pn.rs
  skema/skema-rs/mathml/src/mml2pn.rs
Due: test_rust_components

Unit tests
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/tests/simple_sir_v1_acset.json
  skema/skema-rs/mathml/tests/simple_sir_v2_acset.json
  skema/skema-rs/mathml/tests/simple_sir_v3_acset.json
Due: test_rust_components

Moved test inputs under mathml directory
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/tests/mml2pn_inputs/simple_sir_v1/mml_list.txt
  skema/skema-rs/mathml/tests/mml2pn_inputs/simple_sir_v2/mml_list.txt
  skema/skema-rs/mathml/tests/mml2pn_inputs/simple_sir_v3/mml_list.txt
  skema/skema-rs/mathml/tests/mml2pn_inputs/simple_sir_v4/mml_list.txt
Due: test_rust_components

Removing Python version of mml2pn
  skema/mml2pn/mml2pn.py
Due: none

Implementing display for more mathexpression types
  skema/skema-rs/mathml/src/ast.rs
Due: test_rust_components

removing unnecessary struct
  skema/skema-rs/mathml/src/mml2pn.rs
Due: test_rust_components

Clippy fixes
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/bin/mml2pn.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
Due: test_rust_components

linting, adding docs
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/src/petri_net.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
Due: test_rust_components

new changes
  data/gromet/examples/CHIME_SIR_core/CHIME_SIR_core.py
  data/gromet/examples/CHIME_SVIIvR_core/CHIME_SVIIvR_core.py
Due: none

MathML to PetriNet/ACSet (#118)
  .gitignore
  skema/skema-rs/Cargo.lock
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/bin/mml2pn.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/graph.rs
  skema/skema-rs/mathml/src/lib.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/src/parsing.rs
  skema/skema-rs/mathml/src/petri_net.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
  skema/skema-rs/mathml/tests/mml2pn_inputs/simple_sir_v1/mml_list.txt
  skema/skema-rs/mathml/tests/mml2pn_inputs/simple_sir_v2/mml_list.txt
  skema/skema-rs/mathml/tests/mml2pn_inputs/simple_sir_v3/mml_list.txt
  skema/skema-rs/mathml/tests/mml2pn_inputs/simple_sir_v4/mml_list.txt
  skema/skema-rs/mathml/tests/simple_sir_v1_acset.json
  skema/skema-rs/mathml/tests/simple_sir_v2_acset.json
  skema/skema-rs/mathml/tests/simple_sir_v3_acset.json
Due: test_rust_components

Assemble for text reading (#106)
  skema/text_reading/text_reading/assembly.sbt
  skema/text_reading/text_reading/build.sbt
Due: test_scala

Moving Gromet primitive map draft over from automates repositoy, and adding Graph/Node/Edge data type primitives
  skema/gromet/primitive_map.yaml
Due: test_program_analysis

remove (t) when dealing with mml and add test files
  .gitignore
  skema/skema-rs/mathml/ISA_evaluation_demo.ipynb
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/tests/SIDARTHE.png
  skema/skema-rs/mathml/tests/SIDARTHEV.png
  skema/skema-rs/mathml/tests/SIDARTHE_V_eq1.xml
  skema/skema-rs/mathml/tests/SIDARTHE_V_eq2.xml
  skema/skema-rs/mathml/tests/SIDARTHE_V_eq3.xml
  skema/skema-rs/mathml/tests/SIDARTHE_V_eq4.xml
  skema/skema-rs/mathml/tests/SIDARTHE_V_eq5.xml
  skema/skema-rs/mathml/tests/SIDARTHE_V_eq6.xml
  skema/skema-rs/mathml/tests/SIDARTHE_V_eq7.xml
  skema/skema-rs/mathml/tests/SIDARTHE_V_eq8.xml
  skema/skema-rs/mathml/tests/SIDARTHE_V_eq9.xml
  skema/skema-rs/mathml/tests/SIDARTHE_eq1.xml
  skema/skema-rs/mathml/tests/SIDARTHE_eq2.xml
  skema/skema-rs/mathml/tests/SIDARTHE_eq3.xml
  skema/skema-rs/mathml/tests/SIDARTHE_eq4.xml
  skema/skema-rs/mathml/tests/SIDARTHE_eq5.xml
  skema/skema-rs/mathml/tests/SIDARTHE_eq6.xml
  skema/skema-rs/mathml/tests/SIDARTHE_eq7.xml
  skema/skema-rs/mathml/tests/SIDARTHE_eq8.xml
Due: test_rust_components

Adding gromet primitive map to Gromet directory (#119)
  skema/gromet/primitive_map.yaml
Due: test_program_analysis

Removed redundant serialization of scenario context attachments
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/attachments/AutomatesAttachment.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/ContextEngine.scala
Due: test_scala

Add CI and docker bake
  .github/workflows/publish.yaml
  docker-bake.hcl
Due: none

don't build for arm as it fails
  docker-bake.hcl
Due: none

Remove copy/paste
  docker-bake.hcl
Due: none

Refactoring to encapsulate related services in gromet.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Fixed API docs to use ModuleCollection instead of Gromet
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/lib.rs
  skema/skema-rs/skema/src/services/comment_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

More refactoring
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/lib.rs
Due: test_rust_components

REST API updates (#121)
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/lib.rs
  skema/skema-rs/skema/src/services/comment_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Ensure that the health check endpoint for skema-py does not pollute the logs
  skema/skema_py/server.py
Due: none

updating image2mathml folder. Adding data_creation and model scripts
  skema/image2mathml/generate_mml_using_trained_model/README.md
  skema/image2mathml/generate_mml_using_trained_model/api.py
  skema/image2mathml/generate_mml_using_trained_model/configs/ourmml_lstm_config.json
  skema/image2mathml/generate_mml_using_trained_model/configs/ourmml_xfmer_config.json
  skema/image2mathml/generate_mml_using_trained_model/img2mml.py
  skema/image2mathml/generate_mml_using_trained_model/img2mml_cli.py
  skema/image2mathml/generate_mml_using_trained_model/img2mml_demo.py
  skema/image2mathml/generate_mml_using_trained_model/models/attention/bahdanau_attention.py
  skema/image2mathml/generate_mml_using_trained_model/models/decoders/lstm_decoder.py
  skema/image2mathml/generate_mml_using_trained_model/models/decoders/xfmer_decoder.py
  skema/image2mathml/generate_mml_using_trained_model/models/encoders/cnn_encoder.py
  skema/image2mathml/generate_mml_using_trained_model/models/encoders/xfmer_encoder.py
  skema/image2mathml/generate_mml_using_trained_model/models/encoding/positional_encoding_for_xfmer.py
  skema/image2mathml/generate_mml_using_trained_model/models/encoding/positional_features_for_cnn_encoder.py
  skema/image2mathml/generate_mml_using_trained_model/models/encoding/row_encoding.py
  skema/image2mathml/generate_mml_using_trained_model/models/image2mml_xfmer_for_inference.py
  skema/image2mathml/generate_mml_using_trained_model/tests/data/261.png
  skema/image2mathml/generate_mml_using_trained_model/tests/data/261_output.txt
  skema/image2mathml/generate_mml_using_trained_model/tests/test_im2mml.py
  skema/image2mathml/generate_mml_using_trained_model/trained_models/README.md
  skema/image2mathml/generate_mml_using_trained_model/translate.py
  skema/image2mathml/generate_mml_using_trained_model/utils.py
  skema/image2mathml/generate_mml_using_trained_model/vocab.txt
Due: none
