Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

Additional tricks to save space
  .github/workflows/text-reading-docker.yml
Due: none

Updates on handling math expressions — Differential, gradient, dot (#539)
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

[CI] Additional tricks to save space building and publishing TR image (#540)
  .github/workflows/text-reading-docker.yml
Due: none

Added tests, unary op support
  skema/program_analysis/CAST/python/node_helper.py
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/tests/test_operation_cast.py
Due: test_program_analysis

fixed small bug causing issues with gromet2graphdb
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

removed print statements
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

updating batch scheduler
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: test_equation_reading

updating
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

updating train.py
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: test_equation_reading

updating training and train.py
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: test_equation_reading

updating
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/src/train.py
Due: test_equation_reading

update
  skema/img2mml/src/train.py
Due: test_equation_reading

updating
  skema/img2mml/src/train.py
Due: test_equation_reading

increasing the steps
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

updating printing options train.py
  skema/img2mml/src/train.py
Due: test_equation_reading

udate
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

added multi-file input to the CAST display utility
  skema/program_analysis/CAST/matlab/cast_out.py
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tree_builder.py
Due: test_program_analysis

Updating GrometFNModuleCollection to support metadata_collection_type
  skema/gromet/fn/gromet_fn_module_collection.py
  skema/skema_py/server.py
  skema/skema_py/tests/test_server.py
Due: test_program_analysis, test_skema_py

Re-enabling skema_py tests
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Formatting code
  skema/skema_py/server.py
  skema/skema_py/tests/test_server.py
Due: test_skema_py

Small bug fix for database.rs (#541)
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

added transitions using uuids
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Python tree-sitter to CAST porting: Arithmetic Operations (#545)
  skema/program_analysis/CAST/python/node_helper.py
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/tests/test_operation_cast.py
Due: test_program_analysis

Removed some commented out debug statements
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Turned off feature branch CI testing
  .github/workflows/tests-and-docs.yml
Due: none

[code2fn] Adds debug messages when ingesting unsupported files (#542)
  pyproject.toml
  skema/gromet/fn/gromet_fn_module_collection.py
  skema/skema_py/server.py
  skema/skema_py/tests/test_server.py
Due: test_program_analysis, test_skema_py, test_equation_reading

update
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: test_equation_reading

updating
  skema/img2mml/preprocessing/preprocess.py
Due: test_equation_reading

updating
  skema/img2mml/training.py
Due: test_equation_reading

updating
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: test_equation_reading

updating train.py
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/src/train.py
Due: test_equation_reading

udpating
  skema/img2mml/src/train.py
Due: test_equation_reading

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
