Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

update
  skema/img2mml/optuna_training.py
Due: test_equation_reading

updating
  skema/img2mml/optuna_training.py
Due: test_equation_reading

update
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

Renaming endpoint to gromet-object-count
  skema/skema_py/server.py
  skema/skema_py/tests/test_server.py
Due: test_skema_py

Reverting skema_py changes
  skema/skema_py/server.py
  skema/skema_py/tests/test_server.py
Due: test_skema_py

Further file revisions
  .github/workflows/tests-and-docs.yml
  pyproject.toml
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/queries.yaml
  skema/gromet/execution_engine/query_runner.py
Due: test_program_analysis, test_skema_py, test_equation_reading

Further file revisions
  skema/gromet/execution_engine/tests/test_execution.py
Due: test_program_analysis

Uncommenting skema_py tests
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Using most recent main commit
  skema/skema_py/server.py
  skema/skema_py/tests/test_server.py
Due: test_skema_py

fixed bug about parent scope of expressions
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Update to AMR's to use unique id's for the id field (#566)
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Bug fix in database.rs to prevent underflow error
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

update
  skema/img2mml/preprocessing/preprocess.py
Due: test_equation_reading

fixed code2amr bug from opi names
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

ran cargo fmt
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

ran cargo clippy --fix
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

added some error handling outputs for image2amr
  skema/rest/workflows.py
Due: none

Restored partially pdf2text
  skema/text_reading/scala/build.sbt
  skema/text_reading/scala/webapp/app/controllers/HomeController.scala
  skema/text_reading/scala/webapp/build.sbt
Due: test_scala

updating
  skema/img2mml/README.md
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

support different language models to compare variable definitions
  skema/isa/lib.py
Due: none
