Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Trying new preprocessing
  .gitignore
  skema/img2mml/sampling_dataset/latex_preprocessing/data/sample/formulas.lst
  skema/img2mml/sampling_dataset/latex_preprocessing/data/sample/formulas.norm.lst
  skema/img2mml/sampling_dataset/latex_preprocessing/log.txt
  skema/img2mml/sampling_dataset/preprocess_latex.py
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Trying sampling code
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Using context manager
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Latex eqn fix
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

USing new config
  skema/img2mml/sampling_dataset/sampling_config.json
Due: test_equation_reading

Trying script for creating dataset and auto normalizing at the end
  skema/img2mml/create_dataset
  skema/img2mml/sampling_dataset/preprocess_latex.py
Due: test_equation_reading

Making some path fixes
  .gitignore
  skema/img2mml/create_dataset
  skema/img2mml/sampling_dataset/preprocess_latex.py
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

wip
  skema/rest/utils.py
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

wip
  skema/rest/utils.py
Due: none

decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

added fn_preprocessing to utils and workflows
  skema/rest/utils.py
  skema/rest/workflows.py
Due: none

Saving work
  skema/program_analysis/model_coverage_report/html_builder.py
  skema/program_analysis/model_coverage_report/model_coverage_report.py
Due: test_program_analysis

saving progress on fixing sidarthe
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

added defualt amr for failed parse
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

made sure the function network is copied, to preserve the original
  skema/rest/utils.py
Due: none

Incorporated Superscript of right hand side parenthesis and test case for decapodes ASCet serialization of Halfar dome equation 8.2 from CISM documentation
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Refactor for model_coverage_report
  skema/program_analysis/model_coverage_report/base.html
  skema/program_analysis/model_coverage_report/html_builder.py
  skema/program_analysis/model_coverage_report/model_coverage_report.py
Due: test_program_analysis

Adding skema/rest path
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Adding util fn_preprocessor
  skema/rest/utils.py
Due: none

Mn type is taken as Literal instead of infer
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
Due: test_rust_components

updated output class, based on HMI recommendations
  skema/rest/llm_proxy.py
Due: none

Incorporated Decapodes Ascet serialization of Halfar dome equation 8.2 from CISM documentation (#603)
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

WoAInitial support for amr enrichment for execution engine
  skema/gromet/execution_engine/execution_engine.py
Due: test_program_analysis

wip
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

added test for LLM prompt
  skema/rest/tests/test_llms.py
Due: none

simplified the test
  skema/rest/tests/test_llms.py
Due: none

mocked model output to test parser
  skema/rest/tests/test_llms.py
Due: none

miss spelled function
  skema/rest/tests/test_llms.py
Due: none

Trying size fix
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Added image existence check
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

QOL updates
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Trying
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Trying speedup
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Adding better tracking
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

QOL
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading
