Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

work in progress
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

Removed the legacy Dockerfile
  skema/text_reading/scala/Dockerfile
Due: test_scala

Resolves #446
  .github/workflows/docker.yml
  skema/text_reading/scala/webapp/app/controllers/HomeController.scala
  skema/text_reading/scala/webapp/conf/application.conf
  skema/text_reading/scala/webapp/conf/routes
  skema/text_reading/scala/webapp/docker.sbt
Due: test_scala

Commented out the the GitHub action that tries to build the docker file removed
  .github/workflows/docker.yml
Due: none

Fix syntax error
  .github/workflows/docker.yml
Due: none

Reverting the change to avoid conflicts
  .github/workflows/docker.yml
Due: none

Resolves #447 resolves #449
  skema/text_reading/scala/webapp/conf/application.conf
  skema/text_reading/scala/webapp/docker.sbt
Due: test_scala

Try to free up additional space
  .github/workflows/docker.yml
Due: none

Clean up comments
  .github/workflows/docker.yml
Due: none

work in progress
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

Create and publish docker image for text reading webapp (#451)
  .github/workflows/docker.yml
  skema/text_reading/scala/webapp/app/controllers/HomeController.scala
  skema/text_reading/scala/webapp/conf/application.conf
  skema/text_reading/scala/webapp/conf/routes
  skema/text_reading/scala/webapp/docker.sbt
Due: test_scala

[CI] Enable debugging for docker actions
  .github/workflows/docker.yml
Due: none

work in progress
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
Due: test_rust_components

Commented out one of the embeddings model. It is no longer used, so we can cut out space by removing it
  skema/text_reading/scala/build.sbt
Due: test_scala

[TextReading] Removed Space Weather embeddings (#453)
  skema/text_reading/scala/build.sbt
Due: test_scala

Implementing fixed2free into preprocessing pipeline
  skema/program_analysis/CAST/fortran/preprocessor/fixed2free.py
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
Due: test_program_analysis

work in progress
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

work in progress
  skema/skema-rs/mathml/src/ast.rs
Due: test_rust_components

Support for unicode in newtonian derivatives along with a test
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

Unicode support for newtonian derivative (#463)
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

work in progress
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Fix the change of behavior in COSMOS
  skema/rest/integrated_text_reading_proxy.py
Due: none

Updated the MIT endpoint
  skema/rest/proxies.py
Due: none

[TextReading] Fixes TR endpoints in REST API (#465)
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/proxies.py
Due: none

Updated the field names for the data model
  skema/metal/model_linker/skema_model_linker/linkers/amr_linker.py
Due: none

Temporarily comment out a test
  skema/rest/tests/test_metal_proxy.py
Due: none

[TextReading] Updated the field names for the data model (#467)
  skema/metal/model_linker/skema_model_linker/linkers/amr_linker.py
  skema/rest/tests/test_metal_proxy.py
Due: none

fix a gpu loading issue
  skema/img2mml/api.py
Due: test_equation_reading

simplify the model loading code
  skema/img2mml/api.py
Due: test_equation_reading

Updated property names
  skema/metal/model_linker/skema_model_linker/linkers/amr_linker.py
Due: none

[Text Reading] Removed the legacy Dockerfile (#448)
  skema/text_reading/scala/Dockerfile
Due: test_scala

incorporated [ and ] as parenthesis
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Due: test_rust_components

adding a check condition
  skema/img2mml/sampling_dataset/sampling_config.json
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Moved test files
  1liner.m
  2liner.m
  classdef.m
  test_input.m
Due: none

Cleaning empty tree nodes
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Moved test files to CAST/matlab directory
  skema/program_analysis/CAST/matlab/tests/1liner.m
  skema/program_analysis/CAST/matlab/tests/2liner.m
  skema/program_analysis/CAST/matlab/tests/3liner.m
  skema/program_analysis/CAST/matlab/tests/4liner.m
  skema/program_analysis/CAST/matlab/tests/classdef.m
  skema/program_analysis/CAST/matlab/tests/cond1.f95
  skema/program_analysis/CAST/matlab/tests/fortran_1liner.f95
  skema/program_analysis/CAST/matlab/tests/matlab_output
  skema/program_analysis/CAST/matlab/tests/test_input.m
  skema/program_analysis/CAST/matlab/tests/test_sample.py
Due: test_program_analysis

Check for the brat assets
  skema/text_reading/scala/webapp/test/controllers/HomeControllerSpec.scala
Due: test_scala

updating
  skema/img2mml/sampling_dataset/sampling_config.json
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Fixed commented lines
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
