Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Fixed commented lines
  skema/skema-rs/mathml/src/ast.rs
Due: test_rust_components

fixed
  skema/skema-rs/mathml/src/ast.rs
Due: test_rust_components

Removed test cases
  skema/program_analysis/CAST/matlab/tests/1liner.m
  skema/program_analysis/CAST/matlab/tests/2liner.m
  skema/program_analysis/CAST/matlab/tests/3liner.m
  skema/program_analysis/CAST/matlab/tests/4liner.m
  skema/program_analysis/CAST/matlab/tests/classdef.m
  skema/program_analysis/CAST/matlab/tests/cond1.f95
  skema/program_analysis/CAST/matlab/tests/fortran_1liner.f95
  skema/program_analysis/CAST/matlab/tests/matlab_output
  skema/program_analysis/CAST/matlab/tests/test_input.m
  skema/program_analysis/CAST/matlab/tests/test_sample.py
Due: test_program_analysis

Added a test file, it will be deleted
  foo.txt
Due: none

updating mjx server buffer from 1k to 10K
  skema/img2mml/data_generation/latex2mathml.py
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

updating path in config
  skema/img2mml/data_generation/data_generation_config.json
Due: test_equation_reading

updating configs
  skema/img2mml/configs/xfmer_mml_config.json
  skema/img2mml/data_generation/latex2mathml.py
  skema/img2mml/sampling_dataset/sampling_config.json
Due: test_equation_reading

work in progress
  skema/skema-rs/skema/src/database_new.rs
  skema/skema-rs/skema/src/lib.rs
Due: test_rust_components

updating
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

work in progress
  skema/skema-rs/mathml/src/ast/operator.rs
Due: test_rust_components

work in progress
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

workin progress
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
Due: test_rust_components

add skema-text-reading
  .github/workflows/publish.yaml
  docker-bake.hcl
Due: none

Update publish.yaml
  .github/workflows/publish.yaml
Due: none

updatng
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Try to save the Dockerfil to a temporary folder
  .github/workflows/publish.yaml
  docker-bake.hcl
Due: none

Change the name of tmp folder and try another context
  .github/workflows/publish.yaml
  docker-bake.hcl
Due: none

Try using env variable
  .github/workflows/publish.yaml
  docker-bake.hcl
Due: none

Update env variable name
  .github/workflows/publish.yaml
  docker-bake.hcl
Due: none

Update docker-bake.hcl
  docker-bake.hcl
Due: none

One more time
  .github/workflows/publish.yaml
  docker-bake.hcl
Due: none

rhs of First oder ode doesn't display parenthesis
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

wip
  skema/skema-rs/Cargo.lock
Due: test_rust_components

Use artifacts
  .github/workflows/publish.yaml
  docker-bake.hcl
Due: none

clean up
  .github/workflows/publish.yaml
  docker-bake.hcl
Due: none

fixes for amr generation
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

adding in integration bug fix for img2amr
  skema/rest/workflows.py
Due: none

Updates to parsers (#474)
  skema/rest/workflows.py
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

Check for the brat assets
  skema/text_reading/scala/webapp/test/controllers/HomeControllerSpec.scala
Due: test_scala

Make placeholder
  skema/text_reading/scala/webapp/conf/application.conf
Due: test_scala

Formatting code
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
  skema/program_analysis/CAST/fortran/tests/test_tiegcm.py
Due: test_program_analysis

Adding modifications section
  skema/program_analysis/CAST/fortran/preprocessor/fixed2free.py
Due: test_program_analysis
