Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

work in progress
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Bug fix
  pyproject.toml
  skema/metal/model_linker/skema_model_linker/link_amr.py
Due: test_program_analysis, test_skema_py, test_equation_reading

qork in progress hackathon2 scenario for content mathml
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Bug fix
  mkdocs.yml
Due: none

Handling insertion of implicit multiplication operator after right parentheses
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Trying this again
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Reverting last change
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Work in progress
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Work in progress
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Work in progress
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

Linking to petrinets now ignores transitions and links parameters
  skema/metal/model_linker/examples/data/model_askenet.json
  skema/metal/model_linker/skema_model_linker/linkers/petrinet.py
  skema/metal/model_linker/skema_model_linker/walkers/petrinet.py
Due: none

Documentaiton bug fix
  .github/workflows/tests-and-docs.yml
Due: none

Removed outdated installation instructions
  skema/metal/model_linker/README.md
  skema/metal/model_linker/requirements.pip
Due: none

uncomment SKEMA_MATHJAX_ADDRESS
  skema/img2mml/api.py
Due: test_equation_reading

Added a cosmetic step to replace XML special characters with unicode.
  skema/metal/model_linker/skema_model_linker/link_amr.py
  skema/metal/model_linker/skema_model_linker/linkers/petrinet.py
  skema/metal/model_linker/skema_model_linker/linkers/regnet.py
Due: none

Fixing some warnings
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/skema/src/services/comment_extraction.rs
  skema/skema-rs/skema/src/services/mathml.rs
  skema/skema-rs/skema/tests/test_service.rs
Due: test_rust_components

Autoformatting
  skema/skema-rs/skema/src/services/comment_extraction.rs
  skema/skema-rs/skema/src/services/mathml.rs
  skema/skema-rs/skema/tests/test_service.rs
Due: test_rust_components

Fixing some clippy warnings, autoformatting
  skema/skema-rs/comment_extraction/src/conventions/dssat.rs
  skema/skema-rs/comment_extraction/src/languages/python.rs
  skema/skema-rs/skema/src/lib.rs
Due: test_rust_components

removed unnecessary CI actions
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
Due: none

Removing spurious files
  skema/skema-rs/mathml/src/serialize.rs
  skema/skema-rs/mathml/src/simple_example.json
  skema/skema-rs/mathml/tests/easyexample.txt
  skema/skema-rs/mathml/tests/model_descrip_3_1.xml
Due: test_rust_components

removing debug print statements
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

updating comment in services/mathml.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Content MathML output + improvements to FirstOrderODE construction process (#324)
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/comment_extraction/src/conventions/dssat.rs
  skema/skema-rs/comment_extraction/src/languages/python.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/lib.rs
  skema/skema-rs/skema/src/services/comment_extraction.rs
  skema/skema-rs/skema/src/services/mathml.rs
  skema/skema-rs/skema/tests/test_service.rs
Due: test_rust_components

Fixed negative index unpack bug, toggled the pack return back on
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

flattening of mults for MathExpressionTrees
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

Working on hackathon scenarios for content mathml
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Translates hackathon scenario equations to content mathml
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

moved interpreting parsers to separate module called interpreted_mathml.rs, added support for parsing simple equations using the interpreting parser
  skema/skema-rs/mathml/src/parsers.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

clippy fix
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Support for parsing MathML with light interpretation (#326)
  skema/skema-rs/mathml/src/parsers.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Additional tests for Content MathML conversion (#325)
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

added support for unescaped minus parsing
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

[METAL][TR][AMR] AMR and Text Extractions Linking (#323)
  .github/workflows/tests-and-docs.yml
  Dockerfile.skema-py
  mkdocs.yml
  pyproject.toml
  skema/metal/model_linker/.gitignore
  skema/metal/model_linker/README.md
  skema/metal/model_linker/examples/data/lotka_voltera_regnet.json
  skema/metal/model_linker/examples/data/model_askenet.json
  skema/metal/model_linker/examples/data/sir_AMR.json
  skema/metal/model_linker/examples/data/ta1-bucky_extraction_v1.json
  skema/metal/model_linker/skema_model_linker/__init__.py
  skema/metal/model_linker/skema_model_linker/link_amr.py
  skema/metal/model_linker/skema_model_linker/linkers/__init__.py
  skema/metal/model_linker/skema_model_linker/linkers/amr_linker.py
  skema/metal/model_linker/skema_model_linker/linkers/petrinet.py
  skema/metal/model_linker/skema_model_linker/linkers/regnet.py
  skema/metal/model_linker/skema_model_linker/walkers/__init__.py
  skema/metal/model_linker/skema_model_linker/walkers/json.py
  skema/metal/model_linker/skema_model_linker/walkers/model_walker.py
  skema/metal/model_linker/skema_model_linker/walkers/petrinet.py
  skema/metal/model_linker/skema_model_linker/walkers/regnet.py
  skema/text_reading/mention_linking/gromet_explorer.py
  skema/text_reading/mention_linking/gromet_linker/__init__.py
  skema/text_reading/mention_linking/gromet_linker/comment_aligner.py
  skema/text_reading/mention_linking/gromet_linker/comment_debugger.py
  skema/text_reading/mention_linking/gromet_linker/comment_info.py
  skema/text_reading/mention_linking/gromet_linker/gromet_helper.py
  skema/text_reading/mention_linking/gromet_linker/provenance_helper.py
  skema/text_reading/mention_linking/gromet_linker/source_comments.py
  skema/text_reading/mention_linking/gromet_linker/text_reading_linker.py
  skema/text_reading/mention_linking/gromet_linker/time_stamper.py
  skema/text_reading/mention_linking/gromet_linker/uid_stamper.py
  skema/text_reading/mention_linking/gromet_linker/utils.py
  skema/text_reading/mention_linking/gromet_linker/variable_name_matcher.py
  skema/text_reading/mention_linking/link_mentions.py
  skema/text_reading/mention_linking/main.py
  skema/text_reading/python/__init__.py
  skema/text_reading/python/cosmos_integration.py
Due: test_program_analysis, test_skema_py, test_equation_reading

training V7: limit the TED calculation from the tree node number difference of 10 to that of 5; change the sensitive number in the ted loss function from 0.25 to 0.5.
  skema/img2mml/src/train.py
Due: test_equation_reading

Added the proxy call to the embeddings
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/schema.py
Due: none

work in progress
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/tests/hackathon2_summation.xml
Due: test_rust_components

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
