Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

# TODO - get Equation Reading pipeline working
#---
#kind: pipeline
#name: skema-er

#steps:
#- name: test_equation_reading
  #image: python:3.8-bullseye
  #commands:
  #- apt-get update
  #- apt-get -y install build-essential graphviz libgraphviz-dev
  #- pip install -e .[dev,img2mml]
  #- pip install pytest-cov
  #- curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  #- pytest --cov=skema skema/img2mml/tests
  #when:
    #paths:
    #- pyproject.toml
    #- .drone.yml
    #- skema/img2mml/**

update
  skema/img2mml/configs/xfmer_latex_config.json
Due: none

update
  skema/img2mml/org_training.py
Due: none

update
  skema/img2mml/preprocessing/preprocess.py
Due: none

Switching from os.path to pathlib
  skema/program_analysis/single_file_ingester.py
Due: test_program_analysis

Reformatting scripts
  skema/program_analysis/single_file_ingester.py
  skema/program_analysis/snippet_ingester.py
Due: test_program_analysis

Creating new script to process code snippets
  skema/program_analysis/snippet_ingester.py
Due: test_program_analysis

Replaced the mention's text with the mention's sentence as context in the annotation data files
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipeline.scala
Due: test_scala

update
  skema/img2mml/README.md
  skema/img2mml/requirements.txt
Due: none

update
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/training.py
  skema/img2mml/training_v1.py
Due: none

update
  skema/img2mml/README.md
Due: none

update
  skema/img2mml/training.py
Due: none

update
  skema/img2mml/configs/xfmer_mml_config.json
Due: none

updpate
  skema/img2mml/configs/xfmer_latex_config.json
Due: none

uupdate
  skema/img2mml/training.py
Due: none

updte
  skema/img2mml/preprocessing/preprocess.py
Due: none

[CODE2FN] single_file_ingester fixes and snippet_ingester creation (#211)
  skema/program_analysis/single_file_ingester.py
  skema/program_analysis/snippet_ingester.py
Due: test_program_analysis

update
  skema/img2mml/temp_testing.py
Due: none

updatte
  skema/img2mml/temp_testing.py
Due: none

Allow webapp any port on . for sake of testing
  skema/text_reading/text_reading/webapp/conf/application.conf
Due: test_scala

updating
  skema/img2mml/temp_testing.py
Due: none
