Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

# TODO - get Equation Reading pipeline working
#---
#kind: pipeline
#name: skema-er

#steps:
#- name: test_equation_reading
  #image: python:3.8-bullseye
  #commands:
  #- apt-get update
  #- apt-get -y install build-essential graphviz libgraphviz-dev
  #- pip install -e .[dev,img2mml]
  #- pip install pytest-cov
  #- curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  #- pytest --cov=skema skema/img2mml/tests
  #when:
    #paths:
    #- pyproject.toml
    #- .drone.yml
    #- skema/img2mml/**

Removed the hard-coded path to the embeddings model and wrote it into the application.conf file
  skema/text_reading/text_reading/src/main/resources/application.conf
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/GrounderFactory.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/MiraEmbeddingsGrounder.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/grounding/HyperParameterSearch.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/grounding/TestMiraEmbeddingsGrounder.scala
Due: test_scala

Create the ISA demo for M8
  notebooks/demos/2023-04-28/ISA_M8_demo.ipynb
  notebooks/demos/2023-04-28/data/SIDARTHEV_core_equations.png
  notebooks/demos/2023-04-28/data/SIDARTHE_Code_A_eq1.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_Code_A_eq2.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_Code_A_eq3.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_Code_A_eq4.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_Code_A_eq5.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_Code_A_eq6.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_Code_A_eq7.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_Code_A_eq8.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_V_eq1.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_V_eq2.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_V_eq3.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_V_eq4.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_V_eq5.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_V_eq6.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_V_eq7.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_V_eq8.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_V_eq9.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_core_equations.png
  notebooks/demos/2023-04-28/data/SIDARTHE_eq1.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_eq2.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_eq3.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_eq4.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_eq5.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_eq6.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_eq7.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_eq8.xml
Due: none

Cleanup for pull request
  skema/program_analysis/TS2CAST/node_helper.py
  skema/program_analysis/TS2CAST/ts2cast.py
  skema/program_analysis/TS2CAST/util.py
  skema/program_analysis/TS2CAST/variable_context.py
Due: test_program_analysis

Draft: Serialize mathml to json-ascets
  skema/skema-rs/mathml/src/serialize.rs
  skema/skema-rs/mathml/src/simple_example.json
Due: test_rust_components

easyexample.txt file
  skema/skema-rs/mathml/tests/easyexample.txt
Due: test_rust_components

Updating CAST import path and removing imports of removed types
  skema/program_analysis/TS2CAST/node_helper.py
  skema/program_analysis/TS2CAST/ts2cast.py
  skema/program_analysis/TS2CAST/util.py
  skema/program_analysis/TS2CAST/variable_context.py
Due: test_program_analysis

Draft2: Serialize mathml to json-ascets
  skema/skema-rs/mathml/src/serialize.rs
Due: test_rust_components

Add PyYAML dependency
  pyproject.toml
Due: test_program_analysis

updating config to train omml-100K
  skema/img2mml/configs/xfmer_mml_config.json
Due: none

update
  skema/img2mml/training.py
Due: none

updating infrence scripts
  skema/img2mml/api.py
  skema/img2mml/configs/xfmer_latex_config.json
  skema/img2mml/configs/xfmer_mml_config.json
  skema/img2mml/tests/data/261_output.txt
  skema/img2mml/tests/data/261_output_old.txt
  skema/img2mml/tests/test_im2mml.py
  skema/img2mml/training.py
  skema/img2mml/vocab.txt
Due: none

Update serialization
  skema/skema-rs/mathml/src/serialize.rs
Due: test_rust_components

serialize v2
  skema/skema-rs/mathml/src/serialize.rs
Due: test_rust_components

Resolves ml4ai/skema#166
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/PyAST2CAST/builtin_map.py
  skema/program_analysis/PyAST2CAST/py_ast_to_cast.py
Due: test_program_analysis

Adding Fortran->CAST frontend and updating process_file_system to support Fortran generated CAST
  skema/program_analysis/fortran2cast.py
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Resolving a few bugs blocking Gromet generation
  skema/program_analysis/TS2CAST/node_helper.py
  skema/program_analysis/TS2CAST/ts2cast.py
  skema/program_analysis/TS2CAST/util.py
  skema/program_analysis/TS2CAST/variable_context.py
Due: test_program_analysis

Resolves ml4ai/skema#166 (#168)
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/PyAST2CAST/builtin_map.py
  skema/program_analysis/PyAST2CAST/py_ast_to_cast.py
Due: test_program_analysis

initial simple conversion support
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

basic interactions
  data/gromet/config/config.json
  skema/moviz/main.py
  skema/moviz/utils/create_viz.py
  skema/moviz/utils/helper_functions.py
Due: none

Formatting with Black
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

Updating line continuation logic and adding docstrings
  skema/program_analysis/TS2CAST/util.py
Due: test_program_analysis

Adding tree-sitter Python dependency
  pyproject.toml
Due: test_program_analysis

Adding tree-sitter-fortran build script and automatically setting path instead of having it passed in
  skema/program_analysis/TS2CAST/ts2cast.py
  skema/program_analysis/fortran2cast.py
Due: test_program_analysis

Removing >3.8 features
  skema/program_analysis/TS2CAST/node_helper.py
  skema/program_analysis/TS2CAST/ts2cast.py
  skema/program_analysis/TS2CAST/util.py
  skema/program_analysis/TS2CAST/variable_context.py
Due: test_program_analysis

Removing additional match cases from ts2cast.py
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

Fixing newline at end of module_index paths
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Fixing Windows pathing issues
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

TS2CAST: Initial framework for Fortran->CAST generation (#167)
  pyproject.toml
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/TS2CAST/node_helper.py
  skema/program_analysis/TS2CAST/ts2cast.py
  skema/program_analysis/TS2CAST/util.py
  skema/program_analysis/TS2CAST/variable_context.py
  skema/program_analysis/fortran2cast.py
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Built-in map now builds from YAML file, added a small test to check it
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/PyAST2CAST/builtin_map.py
  skema/program_analysis/tests/test_builtin_map.py
Due: test_program_analysis

Small bug fixes on the configuration file names and added the SW embeddings as a dependency
  skema/text_reading/text_reading/build.sbt
  skema/text_reading/text_reading/src/main/resources/application.conf
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/GrounderFactory.scala
Due: test_scala

Restored default configuration to Epi
  skema/text_reading/text_reading/src/main/resources/application.conf
Due: test_scala

Test bug fixes
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/grounding/TestManualGrounder.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/grounding/TestMiraEmbeddingsGrounder.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/grounding/TestMiraWebApiGrounder.scala
Due: test_scala

Test bug fixes
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/grounding/TestManualGrounder.scala
Due: test_scala

changes according to gromet v0.1.6
  data/gromet/config/config.json
  skema/moviz/utils/create_json.py
  skema/moviz/utils/create_viz.py
  skema/moviz/utils/helper_functions.py
  skema/moviz/utils/init.py
Due: none

updating resnet-xfmer
  skema/img2mml/configs/xfmer_mml_config.json
  skema/img2mml/models/encoders/cnn_encoder.py
  skema/img2mml/models/encoders/resnet_encoder.py
  skema/img2mml/models/encoders/xfmer_encoder.py
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/src/test.py
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: none

updatinh README file
  skema/img2mml/README.md
Due: none

update
  skema/img2mml/configs/xfmer_mml_config.json
  skema/img2mml/logs/blank_images
  skema/img2mml/logs/config_log.txt
  skema/img2mml/logs/loss_file.txt
  skema/img2mml/logs/test_predicted_100K.txt
  skema/img2mml/logs/test_targets_100K.txt
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/sampling_dataset/sample_dataset.py
  skema/img2mml/training.py
  skema/img2mml/vocab.txt
Due: none
