Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

Moved CAST walker script into program_analysis directory
  skema/program_analysis/CAST/cast_walker.py
Due: test_program_analysis

Updated shared object build
  skema/program_analysis/CAST/matlab/build_grammar
Due: test_program_analysis

Added __init__.py files where needed
  skema/program_analysis/CAST/__init__.py
  skema/program_analysis/CAST/fortran/__init__.py
  skema/program_analysis/CAST/matlab/__init__.py
Due: test_program_analysis

proper parsing of arg ordering for code extractions
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

some cleaning
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

fixed bug for missing terms
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

some cleaning
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

lots of warning clean ups
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

work in progress
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

addressed some more warnings
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/lib.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

some clippy warning changes
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

Lieffers hackathon cleanup (#393)
  data/epidemiology/CHIME/CHIME_SIR_model/gromet/FN_0.1.6/CHIME_SIR_while_loop--Gromet-FN-auto.json
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/lib.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema_py/server.py
Due: test_rust_components, test_skema_py

[Img2mml] Add the function to handle the image with transparent background (#378)
  pyproject.toml
  skema/img2mml/api.py
  skema/img2mml/tests/data/sidarthe_eqn1_with_transparent_background.png
  skema/img2mml/tests/test_eqn2mml.py
Due: test_program_analysis, test_skema_py, test_equation_reading

Added test files
  __init__.py
  skema/program_analysis/matlab2cast.py
  test_input.m
Due: test_program_analysis

Added the matlab file type
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Added the execution directory to the sys.path so skema imports will work
  skema/program_analysis/single_file_ingester.py
Due: test_program_analysis

fixed something I shouldn't have commented out
  skema/skema_py/server.py
Due: test_skema_py

fixed something I shouldn't have commented out (#396)
  skema/skema_py/server.py
Due: test_skema_py

Added global constant
  skema/program_analysis/CAST/matlab/build_tree_sitter_matlab.py
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Moved the matlab grammar shared object to the build directory
  skema/program_analysis/CAST/matlab/build_tree_sitter_matlab.py
Due: test_program_analysis

MATLAB to CAST
  skema/program_analysis/matlab2cast.py
Due: test_program_analysis

Build script cleanup
  skema/program_analysis/CAST/matlab/build_tree_sitter_matlab.py
Due: test_program_analysis

Cleaned up some indenting
  skema/program_analysis/CAST/matlab/build_tree_sitter_matlab.py
Due: test_program_analysis

Copied in two files
  skema/program_analysis/CAST/matlab/node_helper.py
  skema/program_analysis/CAST/matlab/variable_context.py
Due: test_program_analysis

File ingest without errors
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added standalone features
  skema/program_analysis/matlab2cast.py
Due: test_program_analysis

Fiixed a typo
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Share Odin and Grounder
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/PlainTextFileTextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipelineWithContext.scala
  skema/text_reading/scala/webapp/app/controllers/HomeController.scala
  skema/text_reading/scala/webapp/conf/routes
  skema/text_reading/scala/webapp/public/schema/api-v1.yaml
Due: test_scala

Share some processors
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/PlainTextFileTextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipelineWithContext.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/GrounderFactory.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/MiraEmbeddingsGrounder.scala
  skema/text_reading/scala/webapp/app/controllers/HomeController.scala
  skema/text_reading/scala/webapp/public/schema/api-v1.yaml
Due: test_scala

Updating to use new tree-sitter build system
  Dockerfile.skema-py
  skema/program_analysis/CAST/fortran/build_tree_sitter_fortran.py
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
  skema/program_analysis/tree_sitter_parsers/languages.yaml
Due: test_program_analysis

Added simple example to gromet data
  data/gromet/matlab/simple.m
Due: test_rust_components, test_program_analysis

updating config
  skema/img2mml/sampling_dataset/sampling_config.json
Due: test_equation_reading

updating sampling config
  skema/img2mml/sampling_dataset/sampling_config.json
Due: test_equation_reading

Adding tree-sitter comment extractor service
  skema/program_analysis/comment_extractor/comment_extractor.py
  skema/program_analysis/comment_extractor/model.py
  skema/program_analysis/comment_extractor/queries.yaml
  skema/program_analysis/comment_extractor/server.py
  skema/program_analysis/comment_extractor/tests/examples/comments.c
  skema/program_analysis/comment_extractor/tests/examples/comments.cpp
  skema/program_analysis/comment_extractor/tests/examples/comments.f95
  skema/program_analysis/comment_extractor/tests/examples/comments.m
  skema/program_analysis/comment_extractor/tests/examples/comments.py
  skema/program_analysis/comment_extractor/tests/examples/comments.r
  skema/program_analysis/comment_extractor/tests/test_comment_extractor.py
  skema/program_analysis/comment_extractor/tests/test_server.py
Due: test_program_analysis

Adding additional file extensions and correcting error in swagger exapmle
  skema/program_analysis/comment_extractor/server.py
Due: test_program_analysis

Added debug output
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added util.py
  skema/program_analysis/CAST/matlab/util.py
Due: test_program_analysis

CAST object
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/util.py
Due: test_program_analysis

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
