Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

more pydantic typos
  skema/rest/llm_proxy.py
Due: none

specific function and command handlers
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

function call test with literal arguments
  skema/program_analysis/CAST/matlab/tests/test_function.py
Due: test_program_analysis

discrete function and command assertion defs
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

removed outdated test functions
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_function.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
  skema/program_analysis/CAST/matlab/tests/test_matrix.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Added a test module for MATLAB commands
  skema/program_analysis/CAST/matlab/tests/test_command.py
Due: test_program_analysis

Refactored some test function names
  skema/program_analysis/CAST/matlab/tests/test_command.py
  skema/program_analysis/CAST/matlab/tests/test_conditional.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Removed redundant tests for None
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

went to a class instance based test scheme
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_command.py
  skema/program_analysis/CAST/matlab/tests/test_conditional.py
  skema/program_analysis/CAST/matlab/tests/test_function.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
  skema/program_analysis/CAST/matlab/tests/test_matrix.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Added cell type handling, fixed a missing source_refs bug
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added a matrix/cell handler
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Refactored the test name
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_command.py
  skema/program_analysis/CAST/matlab/tests/test_conditional.py
  skema/program_analysis/CAST/matlab/tests/test_function.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
  skema/program_analysis/CAST/matlab/tests/test_matrix.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

edited comments
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Added a loop visitor method
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Updated tokens list to show those handled by our parser
  skema/program_analysis/CAST/matlab/tokens.py
Due: test_program_analysis

Added CAST translation for MATLAB commands
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_function.py
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Removed an unused recursive option
  skema/program_analysis/CAST/matlab/node_helper.py
Due: test_program_analysis

Added CAST translatiopn of the MATLAB command syntax node
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_function.py
Due: test_program_analysis

Fixed a typo
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Saving work
  skema/program_analysis/model_coverage_report/tests/artifacts.json
  skema/program_analysis/model_coverage_report/tests/test_resgression.py
Due: test_program_analysis

incorporate separate partial derivative
  skema/skema-rs/mathml/src/ast/operator.rs
Due: test_rust_components

work in progress for differentiating Partial Derivative vs Derivatice
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

handling partial derivative separately in MathExpressionTree
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

comment fix
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

Testing memgrpah host/port
  skema/gromet/execution_engine/query_runner.py
Due: test_program_analysis

added &#x2202; for partial
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

keep unicode output
  skema/img2mml/translate.py
Due: test_equation_reading

wip on environment variables for memgraph
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/config.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
