Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

test_rust_components:
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

Support multiple extraction files for alignment (#110)
  skema/text_reading/mention_linking/gromet_linker/text_reading_linker.py
  skema/text_reading/mention_linking/link_mentions.py
Due: none

Added support for MIT extractions for linking
  skema/text_reading/mention_linking/gromet_linker/text_reading_linker.py
  skema/text_reading/mention_linking/gromet_linker/utils.py
Due: none

wip
  skema/skema-rs/mathml/src/bin/mml2pn.rs
Due: test_rust_components

wip, fixing mover, munder, msubsup
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/bin/mml2pn.rs
  skema/skema-rs/mathml/src/graph.rs
  skema/skema-rs/mathml/src/parsing.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/bin/.mml2pn.rs.swp
  skema/skema-rs/mathml/src/bin/mml2pn.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/bin/.mml2pn.rs.swp
Due: test_rust_components

wip
  .gitignore
  skema/skema-rs/mathml/src/bin/mml2pn.rs
Due: test_rust_components

wip, translateion almost complete
  skema/skema-rs/Cargo.lock
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/bin/mml2pn.rs
  skema/skema-rs/mathml/src/parsing.rs
Due: test_rust_components

Added support for MIT extractions for linking (#111)
  skema/text_reading/mention_linking/gromet_linker/text_reading_linker.py
  skema/text_reading/mention_linking/gromet_linker/utils.py
Due: none

Update to the gromet explorer script
  skema/text_reading/mention_linking/gromet_explorer.py
Due: none

Update to the gromet explorer script (#112)
  skema/text_reading/mention_linking/gromet_explorer.py
Due: none

adding unit testsa
  skema/skema-rs/mathml/src/bin/mml2pn.rs
  skema/skema-rs/mathml/src/parsing.rs
Due: test_rust_components

Initial support for a bert model for linking
  skema/text_reading/mention_linking/gromet_linker/text_reading_linker.py
Due: none

Cleanup commit
  skema/skema-rs/comment_extraction/src/languages.rs
  skema/skema-rs/comment_extraction/src/languages/cpp.rs
Due: test_rust_components

added edges inference
  skema/mml2pn/mml2pn.py
Due: none

Adding support for function calls within binary ops, cleaning up some code
  skema/program_analysis/CAST2GrFN/ann_cast/id_collapse_pass.py
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
  skema/program_analysis/PyAST2CAST/py_ast_to_cast.py
Due: test_program_analysis

wip, compiles
  skema/skema-rs/mathml/src/bin/mml2pn.rs
  skema/skema-rs/mathml/src/lib.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/src/petri_net.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
Due: test_rust_components

Finished the contextualized linker
  skema/text_reading/mention_linking/gromet_linker/text_reading_linker.py
Due: none

wip
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/src/petri_net.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/mml2pn.rs
Due: test_rust_components

wip, compiles
  skema/skema-rs/mathml/src/mml2pn.rs
Due: test_rust_components

Fixing a comment
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

wip, compiles
  skema/skema-rs/mathml/src/bin/mml2pn.rs
  skema/skema-rs/mathml/src/mml2pn.rs
Due: test_rust_components

compiling, but nondeterministic behavior
  skema/skema-rs/mathml/src/mml2pn.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/bin/mml2pn.rs
  skema/skema-rs/mathml/src/mml2pn.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/src/petri_net.rs
Due: test_rust_components

wip, we now have monomials
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/src/petri_net.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
Due: test_rust_components

Fill in classPath
  skema/text_reading/text_reading/assembly.sbt
Due: test_scala

In progress fixes for complexvid19
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

new changes
  skema/moviz/main.py
  skema/moviz/utils/helper_functions.py
Due: none

Deleting skema/moviz/data directory, putting it under .gitignore
  .gitignore
  skema/moviz/data/CHIME_SIR_core--Gromet-FN-auto.json
  skema/moviz/data/CHIME_SVIIvR_core--Gromet-FN-auto.json
  skema/moviz/data/cond1--Gromet-FN-auto.json
  skema/moviz/data/exp0--Gromet-FN-auto.json
  skema/moviz/data/exp1--Gromet-FN-auto.json
  skema/moviz/data/exp3--Gromet-FN-auto.json
  skema/moviz/data/fun3--Gromet-FN-auto.json
  skema/moviz/data/import1--Gromet-FN-auto.json
  skema/moviz/data/while1--Gromet-FN-auto.json
  skema/moviz/data/while3--Gromet-FN-auto.json
Due: none

Moviz updates from the Jan 2023 hackathon (#114)
  .gitignore
  skema/moviz/main.py
  skema/moviz/utils/create_viz.py
  skema/moviz/utils/helper_functions.py
  skema/moviz/utils/init.py
Due: none

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**
  test_scala: any of: .drone.yml, skema/text_reading/text_reading/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**
