Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Initial support for new LiterlValue representation
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/lib.rs
Due: test_rust_components

Saving work
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
Due: test_rust_components

[Text Reading] Support for grounding annotation outputs (#496)
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotateCosmosJsonFiles.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotatePlainTextFiles.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/attachments/AutomatesAttachment.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/utils/CommandLineArgumentParser.scala
Due: test_scala

Fixing test_code2fn by pulling Bucky model from remote bucket
  skema/program_analysis/tests/test_code2fn.py
Due: test_program_analysis

trying new resnet
  skema/img2mml/models/encoders/resnet_encoder_original.py
Due: test_equation_reading

updating
  skema/img2mml/configs/resnet_xfmer_latex_config.json
Due: test_equation_reading

reducing data size for testing
  skema/img2mml/preprocessing/preprocess.py
Due: test_equation_reading

updating
  skema/img2mml/training.py
Due: test_equation_reading

Fixed matlab test
  pyproject.toml
  skema/program_analysis/CAST/matlab/tests/data/multi_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/data/single_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
Due: test_program_analysis, test_skema_py, test_equation_reading

Pydantic v2 issues addressed via bump-pydantic
  skema/img2mml/schema.py
  skema/program_analysis/comment_extractor/model.py
  skema/program_analysis/comments.py
  skema/rest/api.py
  skema/rest/schema.py
  skema/skema_py/server.py
Due: test_program_analysis, test_skema_py, test_equation_reading

Rust tests
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/tests/mml2pn_inputs/lotka_volterra/mml_list.txt
  skema/skema-rs/mathml/tests/mml2pn_inputs/simple_sir_v1/mml_list.txt
  skema/skema-rs/mathml/tests/mml2pn_inputs/simple_sir_v2/mml_list.txt
  skema/skema-rs/mathml/tests/mml2pn_inputs/simple_sir_v3/mml_list.txt
  skema/skema-rs/mathml/tests/mml2pn_inputs/simple_sir_v4/mml_list.txt
  skema/skema-rs/mathml/tests/mml2pn_inputs/testing_eqns/mml_list.txt
  skema/skema-rs/mathml/tests/mml2pn_inputs/testing_eqns/mml_list2.txt
  skema/skema-rs/mathml/tests/mml2pn_inputs/testing_eqns/mml_list3.txt
Due: test_rust_components

Adjust to work with new mml data location
  scripts/codegen_swagger_models.py
  scripts/mml2pn.py
Due: none

Fixing comment extractor test cases
  skema/program_analysis/comment_extractor/tests/test_comment_extractor.py
  skema/program_analysis/comment_extractor/tests/test_comment_server.py
Due: test_program_analysis

re-enabling tests in pyproject.toml
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Adding step to build parsers to workflow document
  .github/workflows/tests-and-docs.yml
Due: none

Commenting out fortran tests to fix later
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Cleaning up work
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Making updates more idiomatic to Rust
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Removing debug statement
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
Due: test_rust_components

no more crashes on conds and while loops, messy wiring though
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/database_old.rs
  skema/skema-rs/skema/src/lib.rs
Due: test_rust_components

fixed several wiring bugs
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Adding gromet_type field to LiteralValue
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Further cleanup
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/lib.rs
Due: test_rust_components

removed some debugging print statements
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Adding --all flag to build_parsers
  .github/workflows/tests-and-docs.yml
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
Due: test_program_analysis

Updating developer documentation to included newest tree-sitter build script
  docs/dev/env.md
Due: none

Removed handler for non-existent grammar file
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
Due: test_program_analysis

[morae] Update to Memgraph LiteralValue representation (#502)
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

udpating
  skema/img2mml/optuna_training.py
Due: test_equation_reading

updating
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/preprocessing/preprocess.py
Due: test_equation_reading

work in progress
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

updating config
  skema/img2mml/configs/resnet_xfmer_latex_config.json
Due: test_equation_reading

ran cargo fmt
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/tests/test_service.rs
Due: test_rust_components

ran cargo clippy --fix
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

Added an assignement test
  skema/program_analysis/CAST/matlab/tests/single_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/test_single_assignment.py
Due: test_program_analysis

Added 'jastier/experimental_testing' branch to github workflow testing
  .github/workflows/tests-and-docs.yml
Due: none

Removed testing of skema/rest/testsfor an experiment
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Added two assignment tests
  skema/program_analysis/CAST/matlab/tests/assignment_1/single_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/assignment_1/test.py
  skema/program_analysis/CAST/matlab/tests/assignment_2/multi_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/assignment_2/test.py
Due: test_program_analysis

Restored the main branch pyproject.toml for PR
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading
