Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

updating config
  skema/img2mml/configs/xfmer_latex_config.json
Due: test_equation_reading

update
  skema/img2mml/models/image2mml_xfmer.py
Due: test_equation_reading

update
  skema/img2mml/configs/xfmer_latex_config.json
Due: test_equation_reading

Adding typehints, need to fix Var issue
  skema/program_analysis/CAST/python/ts2cast.py
Due: test_program_analysis

update
  skema/img2mml/bin_testing.py
  skema/img2mml/configs/xfmer_latex_config.json
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

updating binytesting
  skema/img2mml/configs/xfmer_latex_config.json
Due: test_equation_reading

updating binytesting
  skema/img2mml/configs/xfmer_latex_config.json
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

updating binytesting
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

Added support for cosmos json files (#572)
  skema/rest/integrated_text_reading_proxy.py
Due: none

wip
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Prepare for v1.9.4 release
  docs/changes.md
Due: none

[execution_engine] Initial testing support for execution engine and Memgraph instance for CI (#549)
  .github/workflows/tests-and-docs.yml
  pyproject.toml
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/queries.yaml
  skema/gromet/execution_engine/query_runner.py
  skema/gromet/execution_engine/tests/test_execution.py
Due: test_program_analysis, test_skema_py, test_equation_reading

[release] Record of changes for v1.9.4 (#582)
  docs/changes.md
Due: none

added initial support for conditional wiring
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Removed main checking for running tests outside of pytest
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_binary_operation.py
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
Due: test_program_analysis

Replaced the missing commit_sha field for MATLAB
  skema/program_analysis/tree_sitter_parsers/languages.yaml
Due: test_program_analysis

MATLAB parser now takes path or string source input
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Matlab2Cast.py with 'source_path' kwarg
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/matlab2cast.py
Due: test_program_analysis

Test cases now use CAST objects
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_binary_operation.py
Due: test_program_analysis

Removed test data files, source is now in tests
  skema/program_analysis/CAST/matlab/tests/data/assignment.m
  skema/program_analysis/CAST/matlab/tests/data/binary_assignment.m
  skema/program_analysis/CAST/matlab/tests/data/multi_line_assignment.m
Due: test_program_analysis
