Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Updating test_ping docstring
  skema/skema_py/test_server.py
Due: none

Adding skema-py pipeline
  .drone.yml
  skema/skema_py/test.py
  skema/skema_py/test_server.py
Due: test_rust_components, test_scala, test_program_analysis, test_equation_reading

Fixing directory structure
  skema/skema_py/test.py
  skema/skema_py/tests/test_server.py
Due: none

Adding httpx as dependency
  pyproject.toml
Due: test_program_analysis, test_equation_reading

Moving httpx to dev dependencies
  pyproject.toml
Due: test_program_analysis, test_equation_reading

Initial testing support for skema_py endpoints (#309)
  .drone.yml
  pyproject.toml
  skema/skema_py/tests/test_server.py
Due: test_rust_components, test_scala, test_program_analysis, test_equation_reading

uncomment the SKEMA_MATHJAX_ADDRESS import
  skema/img2mml/api.py
Due: test_equation_reading

Handles parsing of LHS and RHS parenthesis
  skema/skema-rs/mathml/src/parsing.rs
Due: test_rust_components

Specify LHS and RHS parenthesis as enum Operator variant
  skema/skema-rs/mathml/src/ast.rs
Due: test_rust_components

Removed redundant commenting in code inside get_content_mathhml function
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Removed warnings that the code was giving
  skema/skema-rs/mathml/src/pMML2cMML.rs
Due: test_rust_components

This updates the PetriNet AMR to give initial support to auxilary fields
  data/epidemiology/CHIME/CHIME_core_model/gromet/FN_0.1.7/sir_core--Gromet-FN-auto-new.json
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

reorganize the code to support the img2mml test, add more tests in test_im2mml.py
  skema/img2mml/api.py
  skema/img2mml/tests/test_im2mml.py
  skema/img2mml/translate.py
Due: test_equation_reading

update the url in the img2mml service test
  skema/img2mml/tests/test_im2mml.py
Due: test_equation_reading

Changes to handle parenthesis in presentation mathml
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/parsing.rs
Due: test_rust_components

ran cargo clippy and cargo fmt
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

update the img2mml service test
  skema/img2mml/tests/test_im2mml.py
Due: test_equation_reading

includes libeary for pMML to cMML
  skema/skema-rs/mathml/src/lib.rs
Due: test_rust_components

added #[cfg(test)] to extract_comments
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
Due: test_rust_components

Final draft of presentation to content mathml
  skema/skema-rs/mathml/src/pMML2cMML.rs
Due: test_rust_components

Work in progress
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Due: test_rust_components

updates to amr semantics
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

updates to amr semantics (#313)
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Did some clean up
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Various fixes
  skema/img2mml/eqn2mml.py
  skema/img2mml/latex2mml.py
  skema/img2mml/schema.py
  skema/rest/proxies.py
  skema/rest/schema.py
  skema/rest/workflows.py
  skema/skema_py/server.py
Due: test_equation_reading

Tests for select eqn2mml endpoints
  skema/img2mml/tests/test_eqn2mml.py
  skema/img2mml/tests/test_im2mml.py
  skema/img2mml/tests/test_model_loading.py
Due: test_equation_reading

\delta -> \partial
  skema/img2mml/schema.py
  skema/rest/schema.py
Due: test_equation_reading

Update the img2mml service (#302)
  .drone.yml
  .github/workflows/docs.yml
  Dockerfile.skema-py
  docs/dev/env.md
  pyproject.toml
  skema/img2mml/README.md
  skema/img2mml/api.py
  skema/img2mml/configs/xfmer_mml_config.json
  skema/img2mml/models/decoders/xfmer_decoder.py
  skema/img2mml/models/encoders/xfmer_encoder.py
  skema/img2mml/models/image2mml_xfmer.py
  skema/img2mml/tests/data/261_output.txt
  skema/img2mml/tests/test_eqn2mml.py
  skema/img2mml/tests/test_im2mml.py
  skema/img2mml/tests/test_model_loading.py
  skema/img2mml/trained_models/arxiv_im2mml_with_fonts_with_boldface_vocab.txt
  skema/img2mml/translate.py
  skema/img2mml/utils/utils.py
Due: test_rust_components, test_scala, test_program_analysis, test_equation_reading

Rename workflow
  .github/workflows/docs.yml
Due: none

Formatting using black
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Added constant for Python version number
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Prune attributes for MML before sending to MORAE
  skema/rest/utils.py
Due: none

Unary Operator Wire Fix PR (#314)
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_expressions.py
Due: test_program_analysis

Avoid opencv transitive deps
  pyproject.toml
Due: test_program_analysis, test_equation_reading

[integration] endpoint documentation and MML sterilization for use with MORAE (#315)
  .github/workflows/docs.yml
  pyproject.toml
  skema/img2mml/eqn2mml.py
  skema/img2mml/latex2mml.py
  skema/img2mml/schema.py
  skema/rest/proxies.py
  skema/rest/schema.py
  skema/rest/utils.py
  skema/rest/workflows.py
  skema/skema_py/server.py
Due: test_program_analysis, test_equation_reading

replace cv2 when removing equation numbers
  skema/img2mml/translate.py
Due: test_equation_reading

remove cv2 dependency
  pyproject.toml
Due: test_program_analysis, test_equation_reading

Line wrapping for mathml.rs
  skema/skema-rs/skema/src/services/mathml.rs
  skema/skema-rs/skema/tests/test_service.rs
Due: test_rust_components

adding test payload for get amr
  skema/skema-rs/skema/tests/data/get_amr_payload.json
Due: test_rust_components
