Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

updating
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

update
  skema/img2mml/training.py
Due: test_equation_reading

update
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: test_equation_reading

update
  skema/img2mml/src/train.py
Due: test_equation_reading

upudate
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/src/train.py
Due: test_equation_reading

updating
  skema/img2mml/training.py
Due: test_equation_reading

update
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/training.py
Due: test_equation_reading

u[dating
  skema/img2mml/src/train.py
Due: test_equation_reading

upuate
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: test_equation_reading

updating
  skema/img2mml/preprocessing/preprocess.py
Due: test_equation_reading

update
  skema/img2mml/preprocessing/preprocess.py
Due: test_equation_reading

[MATLAB] Parser cache checking (#548)
  skema/program_analysis/CAST/matlab/cast_out.py
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/data/multi_line_assignment.m
  skema/program_analysis/CAST/matlab/tree_builder.py
Due: test_program_analysis

update
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/training.py
Due: test_equation_reading

Testing memgraph in github workflows
  .github/workflows/tests-and-docs.yml
Due: none

Adding prototype execution_engine unit tests
  .github/workflows/tests-and-docs.yml
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Fixing broken string
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Removed an unused import
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Clarified a variable name
  skema/program_analysis/CAST/matlab/tree_builder.py
Due: test_program_analysis

Removed trailing whitespace from file input
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Removed an unused utility file
  skema/program_analysis/CAST/matlab/util.py
Due: test_program_analysis

Added line termination semicolons to test data
  skema/program_analysis/CAST/matlab/tests/data/multi_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/data/single_line_assignment.m
Due: test_program_analysis

Removed unused tree utilities
  skema/program_analysis/CAST/matlab/tree_utils.py
Due: test_program_analysis

Removed tree debug output from MatlabToCast class
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added a dedicated class for tree debug output
  skema/program_analysis/CAST/matlab/tree_out.py
Due: test_program_analysis

Code cleanup in cast and tree utils
  skema/program_analysis/CAST/matlab/cast_out.py
  skema/program_analysis/CAST/matlab/tree_out.py
Due: test_program_analysis

Restored self.filename in matlab_to_cast.py
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

upating
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: test_equation_reading

update
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

updating
  skema/img2mml/src/train.py
Due: test_equation_reading

Removed unused tree_utils.py
  skema/program_analysis/CAST/matlab/tree_out.py
  skema/program_analysis/CAST/matlab/tree_utils.py
Due: test_program_analysis

Resolves #551
  skema/text_reading/scala/webapp/docker.sbt
Due: test_scala

work in progress
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

[TR] UseJava 11 in CI tests and for docker base image (#552)
  skema/text_reading/scala/webapp/docker.sbt
Due: test_scala

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
