Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Fix OpenAPI docs to include request body examples (#349)
  pyproject.toml
  skema/img2mml/schema.py
  skema/rest/schema.py
Due: test_program_analysis, test_skema_py, test_equation_reading

added period
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

fixing clippy warning
  skema/skema-rs/mathml/src/bin/mml2pn.rs
Due: test_rust_components

Translation of MathExpressionTree structs to infix math expression strings. (#348)
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/bin/mml2pn.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Improved the documentation of the endpoints
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/metal_proxy.py
Due: none

bug fix for unary subtractions in multiplication distribution
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

[TR][METAL] Improved the documentation of the endpoints (#351)
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/metal_proxy.py
Due: none

Lieffers eq2amr bugs (#352)
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

work in progress
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
Due: test_rust_components

Added mathjax Dockerfile
  Dockerfile.mathjax
Due: none

training v8: change the weight in evaluation from 0.25 to 0.5
  skema/img2mml/src/test.py
Due: test_equation_reading

Trigger a build to update the image and dependency
  skema/rest/integrated_text_reading_proxy.py
Due: none

Updated the link_amr endpoint
  skema/rest/metal_proxy.py
Due: none

Trigger a build to update the image and dependency (#353)
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/metal_proxy.py
Due: none

Switching pn endpoints to PUT from POST and commenting out outdated rn endpoints
  skema/rest/workflows.py
Due: none

Running formatter
  skema/rest/workflows.py
Due: none

[rest] - Fixing snippets-to-pn-amr and repo-to-pn-amr (#354)
  skema/rest/workflows.py
Due: none

Updated the link_amr endpoint
  skema/rest/integrated_text_reading_proxy.py
Due: none

[TR] Fixed an MIT deserialization problem (#355)
  skema/rest/integrated_text_reading_proxy.py
Due: none

Bug fix on merging extractions
  skema/rest/integrated_text_reading_proxy.py
Due: none

Revert "Bug fix on merging extractions"
  skema/rest/integrated_text_reading_proxy.py
Due: none

Added Treesitter grammar.js from https://github.com/acristoffers/tree-sitter-matlab
  skema/program_analysis/TS2CAST/grammar.js
Due: test_program_analysis

Moved MatLab treesitter to program_analysis directory
  skema/program_analysis/ML2CAST/grammar.js
Due: test_program_analysis

wrestling with compiler
  skema/skema-rs/skema/src/bin/skema_service.rs
Due: test_rust_components

Updated the MIT ip address
  skema/rest/proxies.py
Due: none

[TR] Updated the MIT ip address (#361)
  skema/rest/proxies.py
Due: none

Show how to use climatechange
  skema/text_reading/scala/build.sbt
  skema/text_reading/scala/src/main/resources/application.conf
Due: test_scala

setting OpenAPI spec version to env var
  skema/skema-rs/skema/src/bin/skema_service.rs
Due: test_rust_components

added version endpoint
  skema/skema-rs/skema/src/bin/skema_service.rs
Due: test_rust_components

Bug fix to the mira grounding endpoint
  skema/rest/schema.py
Due: none

Added a unit test for the grounding endpoint
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

[TR] Bug fix to the mira grounding endpoint (#363)
  skema/rest/schema.py
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

Skema-rs version tracking (#362)
  skema/skema-rs/skema/src/bin/skema_service.rs
Due: test_rust_components

Added unit tests for the skema extractions
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none
