Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Updated the MIT endpoint
  skema/rest/proxies.py
Due: none

in the works serialization to decapodes using MathExpressionTree
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
Due: test_rust_components

Updated the MIT endpoint (#365)
  skema/rest/proxies.py
Due: none

Use Git commit short hash for skema-rs version
  .github/workflows/docker.yml
  Dockerfile.skema-rs
Due: none

Notebook for the PI meeting
  skema/notebooks/pi_meeting_july_2023.ipynb
Due: none

Try to memory map file
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/MemoryMappedWordEmbeddingMap.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/MiraEmbeddingsGrounder.scala
Due: test_scala

[TR] enoriega/tr unit tests (#364)
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

Use Git commit short hash for skema-rs version (#366)
  .github/workflows/docker.yml
  Dockerfile.skema-rs
Due: none

response type for GET /version should be plaintext
  skema/rest/api.py
Due: none

set response header for skema-rs GET /version
  skema/skema-rs/skema/src/bin/skema_service.rs
Due: test_rust_components

Added package files
  skema/program_analysis/ML2CAST/Cargo.toml
  skema/program_analysis/ML2CAST/package.json
Due: test_program_analysis

Added shared object build file
  skema/program_analysis/ML2CAST/build_tree_sitter_matlab.py
Due: test_program_analysis

Added example file
  skema/program_analysis/ML2CAST/example-file
Due: test_program_analysis

response type for GET /version should be plaintext (#367)
  skema/rest/api.py
  skema/skema-rs/skema/src/bin/skema_service.rs
Due: test_rust_components

Added a .gitignore file
  skema/program_analysis/ML2CAST/.gitignore
Due: test_program_analysis

Added cleanup script for tree-sitter generated files
  skema/program_analysis/ML2CAST/clean_tree_sitter_matlab.py
Due: test_program_analysis

Try memory mapping
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/MemoryMappedWordEmbeddingMap.scala
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/grounding/TestMemoryMappedWordEmbeddingMap.scala
Due: test_scala

At least flip
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/grounding/TestMemoryMappedWordEmbeddingMap.scala
Due: test_scala

Passed
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/grounding/TestMemoryMappedWordEmbeddingMap.scala
Due: test_scala

Pass again
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/grounding/TestMemoryMappedWordEmbeddingMap.scala
Due: test_scala

Test with array
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/grounding/TestMemoryMappedWordEmbeddingMap.scala
Due: test_scala

Use native order
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/grounding/TestMemoryMappedWordEmbeddingMap.scala
Due: test_scala

Make it work on Linux
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/grounding/TestMemoryMappedWordEmbeddingMap.scala
Due: test_scala

Get file working
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/MemoryMappedWordEmbeddingMap.scala
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/grounding/TestMemoryMappedWordEmbeddingMap.scala
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/grounding/TestMiraEmbeddingsGrounder.scala
Due: test_scala

Made python scripts executables
  skema/program_analysis/ML2CAST/build_tree_sitter_matlab.py
  skema/program_analysis/ML2CAST/clean_tree_sitter_matlab.py
Due: test_program_analysis

Renamed files
  skema/program_analysis/ML2CAST/build
  skema/program_analysis/ML2CAST/clean
Due: test_program_analysis

Added bindings directory to .gitignore
  skema/program_analysis/ML2CAST/.gitignore
Due: test_program_analysis

Renamed 'build' -> 'build_grammar' to avoid name collision
  skema/program_analysis/ML2CAST/build_grammar
Due: test_program_analysis

Performance Improvement and MathML Editing
  skema/img2mml/render_mml/ocr_hub/main.py
  skema/img2mml/render_mml/ocr_hub/requirements.txt
  skema/img2mml/render_mml/ocr_hub/static/css/ocr_verify.css
  skema/img2mml/render_mml/ocr_hub/static/js/mathpix_ocr_tweaker.js
  skema/img2mml/render_mml/ocr_hub/static/js/ocr_verify.js
  skema/img2mml/render_mml/ocr_hub/static/ocr_verify.html
Due: test_equation_reading

LaTeX Rendering
  .gitignore
  skema/img2mml/render_mml/images/0.png
  skema/img2mml/render_mml/images/1.png
  skema/img2mml/render_mml/images/2.png
  skema/img2mml/render_mml/latex_data_dev.js
  skema/img2mml/render_mml/static/js/generate-table-latex-mml.js
Due: test_equation_reading
