Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

Added test files
  skema/program_analysis/tests/test_function_type.py
  skema/program_analysis/tests/test_import_method.py
Due: test_program_analysis

wip
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

updating
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

update
  skema/img2mml/training.py
Due: test_equation_reading

Additional model header data plus links to data products in report
  skema/program_analysis/magit/html_builder.py
  skema/program_analysis/magit/magit.py
Due: test_program_analysis

Python tree-sitter to CAST Porting: Function Definition (#584)
  skema/program_analysis/CAST/python/node_helper.py
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/CAST/python/util.py
  skema/program_analysis/tests/test_function_cast.py
  skema/program_analysis/tests/test_operation_cast.py
Due: test_program_analysis

[Code2FN] Gromet FN Missing Function Types Fix (#575)
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_function_type.py
  skema/program_analysis/tests/test_import_method.py
Due: test_program_analysis

wip
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
Due: test_rust_components

CAST based MATLAB testing (#583)
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/data/assignment.m
  skema/program_analysis/CAST/matlab/tests/data/binary_assignment.m
  skema/program_analysis/CAST/matlab/tests/data/multi_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_binary_operation.py
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
  skema/program_analysis/matlab2cast.py
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
  skema/program_analysis/tree_sitter_parsers/languages.yaml
Due: test_program_analysis

Higher dpi
  skema/img2mml/render_mml/model-results/main.py
  skema/img2mml/render_mml/model-results/results/images/im2latex100k-bleu-results.png
  skema/img2mml/render_mml/model-results/results/images/im2latex100k-valid-latex-results.png
Due: test_equation_reading

Cleanup
  skema/img2mml/render_mml/model-results/README.md
  skema/img2mml/render_mml/model-results/eval
  skema/img2mml/render_mml/model-results/results/images/im2latex100k-bleu-results.png
  skema/img2mml/render_mml/model-results/results/images/im2latex100k-results.png
  skema/img2mml/render_mml/model-results/results/images/im2latex100k-valid-latex-results.png
  skema/img2mml/render_mml/model-results/util.py
  skema/img2mml/render_mml/model-results/vis
  skema/img2mml/sampling_dataset/get_subjet.py
Due: test_equation_reading

Added grid
  skema/img2mml/render_mml/model-results/results/images/im2latex100k-results.png
  skema/img2mml/render_mml/model-results/vis
Due: test_equation_reading

Regenerated image
  skema/img2mml/render_mml/model-results/results/images/im2latex100k-results.png
Due: test_equation_reading

Updated reqs
  skema/img2mml/render_mml/model-results/requirements.txt
  skema/img2mml/render_mml/model-results/results/images/im2latex100k-results.png
  skema/img2mml/render_mml/model-results/vis
Due: test_equation_reading

Refactoring the generation of data products and fixing false positives
  skema/program_analysis/magit/magit.py
Due: test_program_analysis

Cleanup of report generating code
  skema/program_analysis/magit/magit.py
Due: test_program_analysis

Adding helper functions to map from extension->language
  skema/program_analysis/tree_sitter_parsers/util.py
Due: test_program_analysis

wip
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/ast.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

Added fields filter
  .gitignore
  skema.code-workspace
  skema/img2mml/sampling_dataset/sampling_config.json
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

added empty functions as methods work around
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

fix bugs in parser to handle halfar dome equations
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

Added used config
  skema/img2mml/sampling_dataset/sampling_config.json
Due: test_equation_reading

wip
  skema/skema-rs/mathml/src/ast/operator.rs
Due: test_rust_components

added support to remove euler method terms
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

added support for for loop wiring
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
