Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

MathJax LaTeX Rendering
  skema/img2mml/render_mml/mathpix_annotation/batchRequesthandler.py
  skema/img2mml/render_mml/render_latex_mml.html
  skema/img2mml/render_mml/static/css/style.css
  skema/img2mml/render_mml/static/js/generate-table-latex-mml.js
Due: test_equation_reading

Documenting lxml (Used for parsing and pretty printing xml in python)
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

System independent path
  skema/img2mml/render_mml/ocr_hub/main.py
Due: test_equation_reading

Handling unavailability of API key more gracefully
  skema/img2mml/render_mml/mathpix_annotator/batchRequestHandler.py
Due: test_equation_reading

Added scanner.c from https://github.com/acristoffers/tree-sitter-matlab/tree/main/src
  skema/program_analysis/ML2CAST/scanner.c
Due: test_program_analysis

Added scanner to build script
  skema/program_analysis/ML2CAST/build_grammar
Due: test_program_analysis

Added test corpus
  skema/program_analysis/ML2CAST/test/corpus/assignment.txt
  skema/program_analysis/ML2CAST/test/corpus/boolean.txt
  skema/program_analysis/ML2CAST/test/corpus/call.txt
  skema/program_analysis/ML2CAST/test/corpus/cell.txt
  skema/program_analysis/ML2CAST/test/corpus/class.txt
  skema/program_analysis/ML2CAST/test/corpus/comments.txt
  skema/program_analysis/ML2CAST/test/corpus/expressions.txt
  skema/program_analysis/ML2CAST/test/corpus/for.txt
  skema/program_analysis/ML2CAST/test/corpus/function.txt
  skema/program_analysis/ML2CAST/test/corpus/if.txt
  skema/program_analysis/ML2CAST/test/corpus/indexing.txt
  skema/program_analysis/ML2CAST/test/corpus/lambda.txt
  skema/program_analysis/ML2CAST/test/corpus/matrix.txt
  skema/program_analysis/ML2CAST/test/corpus/numbers.txt
  skema/program_analysis/ML2CAST/test/corpus/range.txt
  skema/program_analysis/ML2CAST/test/corpus/strings.txt
  skema/program_analysis/ML2CAST/test/corpus/struct.txt
  skema/program_analysis/ML2CAST/test/corpus/switch.txt
  skema/program_analysis/ML2CAST/test/corpus/try.txt
  skema/program_analysis/ML2CAST/test/corpus/while.txt
Due: test_program_analysis

Merged main into the branch and finished the configuration for the new domain
  skema/text_reading/scala/src/main/resources/application.conf
  skema/text_reading/scala/src/main/resources/manual_groundings_es.tsv
Due: test_scala

Restored default domain to EPI
  skema/text_reading/scala/src/main/resources/application.conf
Due: test_scala

[TR] Earth Science Adaptation (#369)
  skema/text_reading/scala/build.sbt
  skema/text_reading/scala/src/main/resources/application.conf
  skema/text_reading/scala/src/main/resources/manual_groundings_es.tsv
Due: test_scala

Fixing bug when accessing attribute of imported value before is been added to the variable context and adding additonal control characters
  skema/program_analysis/TS2CAST/node_helper.py
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

Make it compile
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/MemoryMappedWordEmbeddingMap.scala
Due: test_scala

Start testing
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/MemoryMappedWordEmbeddingMap.scala
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/grounding/TestFloatBuffer.scala
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/grounding/TestMemoryMappedWordEmbeddingMap.scala
Due: test_scala

Test with multiple buffers
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/MemoryMappedWordEmbeddingMap.scala
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/grounding/TestMemoryMappedWordEmbeddingMap.scala
Due: test_scala

Added attribute name checks and nested assignment fixes to adapt climlab model
  skema/program_analysis/CAST2FN/ann_cast/container_scope_pass.py
  skema/program_analysis/CAST2FN/ann_cast/id_collapse_pass.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/CAST2FN/ann_cast/variable_version_pass.py
Due: test_program_analysis

Initial support for compound conditional
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

Clean up
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/MemoryMappedWordEmbeddingMap.scala
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/grounding/TestMemoryMappedTiming.scala
Due: test_scala

training v9: change the cross-entropy loss from "mean" to "sum"
  skema/img2mml/training.py
Due: test_equation_reading

Revert "training v9: change the cross-entropy loss from "mean" to "sum""
  skema/img2mml/training.py
Due: test_equation_reading

Adding test files, cleaning up some minor conditional wiring issues
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_conditional.py
  skema/program_analysis/tests/test_loops.py
Due: test_program_analysis

Moved 'ML2CAST' to 'CAST/MATLAB'
  skema/program_analysis/CAST/MATLAB/.gitignore
  skema/program_analysis/CAST/MATLAB/Cargo.toml
  skema/program_analysis/CAST/MATLAB/build_grammar
  skema/program_analysis/CAST/MATLAB/clean
  skema/program_analysis/CAST/MATLAB/example-file
  skema/program_analysis/CAST/MATLAB/grammar.js
  skema/program_analysis/CAST/MATLAB/package.json
  skema/program_analysis/CAST/MATLAB/scanner.c
  skema/program_analysis/CAST/MATLAB/test/corpus/assignment.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/boolean.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/call.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/cell.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/class.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/comments.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/expressions.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/for.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/function.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/if.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/indexing.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/lambda.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/matrix.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/numbers.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/range.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/strings.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/struct.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/switch.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/try.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/while.txt
Due: test_program_analysis

Added a README file
  skema/program_analysis/CAST/MATLAB/README.md
Due: test_program_analysis

Added a MATLAB .m file for testing
  skema/program_analysis/CAST/MATLAB/test/matlab_files/averaging_filter.m
Due: test_program_analysis

Renamed file
  skema/program_analysis/CAST/MATLAB/clean_grammar
Due: test_program_analysis

Added script to run the test corpus
  skema/program_analysis/CAST/MATLAB/test_grammar
Due: test_program_analysis

Update README.md
  skema/program_analysis/CAST/MATLAB/README.md
Due: test_program_analysis

Final fixes before the PR
  skema/gromet/metadata/code_file_reference.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Cleaned out operator handler
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Formatting with black
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
