Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Set mathjax server port with env variable (#245)
  skema/img2mml/api.py
  skema/img2mml/data_generation/mathjax_server.js
Due: test_equation_reading

Generate coverage report
  .github/workflows/docs.yml
  docs/dev/docs.md
  docs/dev/env.md
  pyproject.toml
Due: test_program_analysis, test_equation_reading

Doc updates
  .gitignore
  docs/coverage/.gitkeep
  docs/dev/env.md
  mkdocs.yml
Due: none

add uniform_sampling.py
  skema/img2mml/sampling_dataset/uniform_sampling.py
Due: test_equation_reading

Flag unused files for later removal
  skema/program_analysis/CAST2FN/ann_cast/ann_cast_pass_prototype.py.unused
  skema/program_analysis/CAST2FN/visitors/__init__.py
  skema/program_analysis/CAST2FN/visitors/cast_to_air_visitor.py.unused
  skema/program_analysis/CAST2FN/visitors/cast_to_token_cast_visitor.py.unused
  skema/program_analysis/GCC2CAST/__init__.py.unused
  skema/program_analysis/GCC2CAST/gcc_ast_to_cast.py.unused
  skema/program_analysis/GCC2CAST/gcc_ast_to_cast_utils.py.unused
  skema/program_analysis/GCC2CAST/gcc_basic_blocks_to_digraph.py.unused
  skema/program_analysis/GCC2CAST/gcc_plugin_driver.py.unused
Due: test_program_analysis

Clarify issue in Dockerfile.skema-py
  Dockerfile.skema-py
  pyproject.toml
Due: test_program_analysis, test_equation_reading

Updates to documentation
  .github/workflows/docs.yml
  docs/dev/docker.md
  docs/dev/docs.md
  mkdocs.yml
Due: none

Added Keith to authors and alphabetized by surname
  pyproject.toml
Due: test_program_analysis, test_equation_reading

Set Java in a platform-agnostic way
  skema/text_reading/scala/Dockerfile
Due: none

Data dir changes should trigger Drone CI
  .drone.yml
Due: test_rust_components, test_scala, test_program_analysis, test_equation_reading

update to gromet version 0.1.7
  skema/skema-rs/skema/src/lib.rs
Due: test_rust_components

introduce some similarity measurements when selecting seeds
  skema/isa/lib.py
Due: none

update comments
  skema/isa/lib.py
Due: none

mathjax server port
  skema/img2mml/api.py
  skema/img2mml/data_generation/mathjax_server.js
Due: test_equation_reading

Renamed environment value
  skema/img2mml/api.py
  skema/img2mml/data_generation/mathjax_server.js
Due: test_equation_reading

server and port from environment
  skema/img2mml/data_generation/mathjax_server.js
Due: test_equation_reading

small refactor to support model->AMR endpoints and basic model->AMR endpoints
  data/epidemiology/CHIME/CHIME_core_model/gromet/FN_0.1.6/sir_core--Gromet-FN-auto.json
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/lib.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

SKEMA_HOST
  skema/img2mml/api.py
Due: test_equation_reading

Use artifacts.askem.lum.ai for model artifacts
  .drone.yml
  .github/workflows/docs.yml
  Dockerfile.skema-py
  skema/img2mml/README.md
Due: test_rust_components, test_scala, test_program_analysis, test_equation_reading

Refactor text_reading skema/text_reading/python/mention_linking -> skema/text_reading/mention_linking/
  .github/workflows/docs.yml
  mkdocs.yml
  pyproject.toml
  skema/text_reading/__init__.py
  skema/text_reading/cosmos_integration.py
  skema/text_reading/mention_linking/__init__.py
  skema/text_reading/mention_linking/gromet_explorer.py
  skema/text_reading/mention_linking/gromet_linker/__init__.py
  skema/text_reading/mention_linking/gromet_linker/comment_aligner.py
  skema/text_reading/mention_linking/gromet_linker/comment_debugger.py
  skema/text_reading/mention_linking/gromet_linker/comment_info.py
  skema/text_reading/mention_linking/gromet_linker/gromet_helper.py
  skema/text_reading/mention_linking/gromet_linker/provenance_helper.py
  skema/text_reading/mention_linking/gromet_linker/source_comments.py
  skema/text_reading/mention_linking/gromet_linker/text_reading_linker.py
  skema/text_reading/mention_linking/gromet_linker/time_stamper.py
  skema/text_reading/mention_linking/gromet_linker/uid_stamper.py
  skema/text_reading/mention_linking/gromet_linker/utils.py
  skema/text_reading/mention_linking/gromet_linker/variable_name_matcher.py
  skema/text_reading/mention_linking/link_mentions.py
  skema/text_reading/mention_linking/main.py
  skema/text_reading/python/mention_linking/__init__.py
  skema/text_reading/python/requirements.txt
Due: test_program_analysis, test_equation_reading

Include mention_linking dir in image
  Dockerfile.skema-py.dockerignore
Due: none

index.html -> help.html for Rust docs
  mkdocs.yml
Due: none

sbt assembly not needed for docker image
  skema/text_reading/scala/Dockerfile
Due: none

Changed environment key for SKEMA network
  skema/img2mml/api.py
  skema/img2mml/data_generation/mathjax_server.js
Due: test_equation_reading

index page for test coverage reports
  docs/coverage/index.md
Due: none

Resolves #252
  Dockerfile.img2mml
Due: none

Network from environment (#250)
  skema/img2mml/api.py
  skema/img2mml/data_generation/mathjax_server.js
Due: test_equation_reading

index page for test coverage reports (#253)
  docs/coverage/index.md
Due: none

Resolves #256 Resolves #257
  Dockerfile.skema-py
  README.md
  docker-compose.img2mml.yml
  docs/dev/env.md
  skema/img2mml/data_generation/.gitignore
  skema/img2mml/data_generation/mathjax_server.js
  skema/img2mml/data_generation/package.json
Due: test_equation_reading

Update dev env instructions
  Dockerfile.skema-py
  docs/dev/env.md
Due: none

Add latex2mml service to docker-compose example
  docker-compose.img2mml.yml
Due: none

add the ISA dependence - Levenshtein to pyproject.toml
  pyproject.toml
Due: test_program_analysis, test_equation_reading

updated some swagger api info
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
Due: test_rust_components

ISA: Optimize the seed selection methods in SGM (#255)
  notebooks/demos/2023-04-28/ISA_M8_demo.ipynb
  notebooks/demos/2023-04-28/data/SIDARTHEV_core_equations.png
  notebooks/demos/2023-04-28/data/SIDARTHE_Code_A_eq1.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_Code_A_eq2.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_Code_A_eq3.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_Code_A_eq4.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_Code_A_eq5.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_Code_A_eq6.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_Code_A_eq7.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_Code_A_eq8.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_V_eq1.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_V_eq2.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_V_eq3.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_V_eq4.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_V_eq5.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_V_eq6.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_V_eq7.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_V_eq8.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_V_eq9.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_core_equations.png
  notebooks/demos/2023-04-28/data/SIDARTHE_eq1.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_eq2.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_eq3.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_eq4.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_eq5.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_eq6.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_eq7.xml
  notebooks/demos/2023-04-28/data/SIDARTHE_eq8.xml
  pyproject.toml
  skema/isa/lib.py
Due: test_program_analysis, test_equation_reading

removed some tests until new tests are made
  skema/skema-rs/skema/src/lib.rs
Due: test_rust_components

cleaning up code
  data/epidemiology/CHIME/CHIME_core_model/gromet/FN_0.1.7/sir_core--Gromet-FN-auto.json
  data/epidemiology/SEIRD/Core_dynamics/gromet/FN_0.1.5/seir_model--Gromet-FN-auto.json
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/comment_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

only keep the mspace with newline
  skema/img2mml/preprocessing/preprocess_mml.py
  skema/img2mml/src/train.py
Due: test_equation_reading

cargo clippy and fmt
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/comment_extraction/src/languages/cpp.rs
  skema/skema-rs/comment_extraction/src/languages/fortran.rs
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/lib.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components
