Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

added SKEMA_GRAPH_DB_PROTO env var
  .github/workflows/tests-and-docs.yml
Due: none

[img2latex] Parser for sqrt (#705)
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

handle negative minus and sqrt in to_latex and add tests for mtext
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

changed /ping back to status_code
  skema/rest/morae_proxy.py
Due: none

[img2latex] Handle negative minus and sqrt in to_latex and add tests for mtext (#706)
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

removed duplicate tests and cargo fix
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

removed duplicate tests and cargo fix
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

removed comment in config
  skema/skema-rs/skema/src/config.rs
Due: test_rust_components

Removed duplicate tests and cargo fix (#707)
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Model Coverage Regression Testing PR (#694)
  .github/workflows/tests-and-docs.yml
  skema/program_analysis/model_coverage_report/model_coverage_report.py
  skema/program_analysis/tests/test_model_coverage.py
Due: test_program_analysis

Rust neo4rs Driver Switch (#704)
  .github/workflows/tests-and-docs.yml
  skema/rest/morae_proxy.py
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/config.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Update reader to processors 9.0.0-RC2
  skema/text_reading/scala/build.sbt
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/apps/Pdf2TxtApp.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/ManualGrounder.scala
Due: test_scala

Adding support for conditional CAST generation, added tests for the CAST generation
  skema/program_analysis/tests/test_conditional_cast.py
Due: test_program_analysis

Adding support for conditional CAST generation, added tests for the CAST generation
  skema/program_analysis/CAST/python/node_helper.py
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/CAST/python/util.py
Due: test_program_analysis

Converting from os.path to pathlib
  skema/program_analysis/model_coverage_report/generate_dummy_imports.py
Due: test_program_analysis

Adding additional supported extensions and updating multi_file_ingester to read from supported extensions
  skema/program_analysis/multi_file_ingester.py
  skema/program_analysis/tree_sitter_parsers/languages.yaml
Due: test_program_analysis

Updated the code base to use the transformer processors release candidate instead of local build
  skema/text_reading/scala/build.sbt
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/apps/Pdf2TxtApp.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/ManualGrounder.scala
  skema/text_reading/scala/webapp/conf/application.conf
Due: test_scala

Fixed the compilation issues and pinned jackson to a working version on the webapp
  skema/text_reading/scala/webapp/app/controllers/HomeController.scala
  skema/text_reading/scala/webapp/build.sbt
Due: test_scala

Update reader to processors 9.0.0-RC2 (#708)
  skema/text_reading/scala/build.sbt
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/apps/Pdf2TxtApp.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/ManualGrounder.scala
  skema/text_reading/scala/webapp/app/controllers/HomeController.scala
  skema/text_reading/scala/webapp/build.sbt
Due: test_scala

change mathexpression to mathexpressiontree
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

[fortran] Fortran optimization and bug fixes (#709)
  skema/program_analysis/CAST/fortran/node_helper.py
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/model_coverage_report/generate_dummy_imports.py
  skema/program_analysis/model_coverage_report/generate_model_zip.py
  skema/program_analysis/model_coverage_report/model_coverage_report.py
  skema/program_analysis/model_coverage_report/models.yaml
  skema/program_analysis/multi_file_ingester.py
  skema/program_analysis/tree_sitter_parsers/languages.yaml
Due: test_program_analysis

Bug fixes
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

Removed shared object file
  skema/program_analysis/tree_sitter_parsers/build/installed_languages.so
Due: test_program_analysis

Activated the for loop test
  skema/program_analysis/CAST/matlab/tests/test_loop.py
Due: test_program_analysis

Changed an assertion to be more readable
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Simplified a test case
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
Due: test_program_analysis

Added support for for loops with iterators
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
Due: test_program_analysis

promoted a method into class scope
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added a matrix assignment test
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
Due: test_program_analysis

Fixes bug with nulls in else body
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

Fixing bug where orelse expression could be null
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

clean the isa code and update the service
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Updated the evaluation endpoint to receive the json contents of the paper being evaluated
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/utils.py
Due: none

fixed wiring bug for expressions and primitives
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

initial support for infering unpack names when wired directly
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Re-enabled the unit tests for text reading
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

Added a unit test for the evaluation
  skema/rest/tests/data/integrated_text_reading/eval/annotations.json
  skema/rest/tests/data/integrated_text_reading/eval/contents.json
  skema/rest/tests/data/integrated_text_reading/eval/extractions.json
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

Reformatted file
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

Evaluation endpoint for grading on the Dashboard (#714)
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/tests/data/integrated_text_reading/eval/annotations.json
  skema/rest/tests/data/integrated_text_reading/eval/contents.json
  skema/rest/tests/data/integrated_text_reading/eval/extractions.json
  skema/rest/tests/test_integrated_text_reading_proxy.py
  skema/rest/utils.py
Due: none

Refactoring conditionals
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis
