Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Removed debug output
  skema/program_analysis/CAST/matlab/util.py
Due: test_program_analysis

Debug output
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added 'source_file' child type
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

update
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

update config
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

update
  skema/img2mml/README.md
  skema/img2mml/sampling_dataset/sampling_config.json
Due: test_equation_reading

adding .gitignore
  skema/img2mml/.gitignore
  skema/img2mml/bin_testing.py
  skema/img2mml/optuna_training.py
Due: test_equation_reading

updating using ruff
  skema/img2mml/create_dataset.py
  skema/img2mml/data_generation/latex2mathml.py
  skema/img2mml/data_generation/parsing_latex_equations.py
  skema/img2mml/data_generation/tex2png.py
  skema/img2mml/data_generation/tex_builder.py
  skema/img2mml/models/attention/bahdanau_attention.py
  skema/img2mml/models/decoders/lstm_decoder.py
  skema/img2mml/models/decoders/xfmer_decoder.py
  skema/img2mml/models/encoders/xfmer_encoder.py
  skema/img2mml/models/encoding/positional_features_for_cnn_encoder.py
  skema/img2mml/models/image2mml_lstm.py
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/preprocessing/preprocess_images.py
  skema/img2mml/preprocessing/preprocess_mml.py
  skema/img2mml/sampling_dataset/sampling_dataset.py
  skema/img2mml/sampling_dataset/simp.py
  skema/img2mml/src/test.py
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: test_equation_reading

updating sampling config
  skema/img2mml/sampling_dataset/sampling_config.json
Due: test_equation_reading

[tree-sitter] - Adds tree-sitter build system and tree-sitter comment extractor (#398)
  Dockerfile.skema-py
  skema/program_analysis/CAST/fortran/build_tree_sitter_fortran.py
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/comment_extractor/comment_extractor.py
  skema/program_analysis/comment_extractor/model.py
  skema/program_analysis/comment_extractor/queries.yaml
  skema/program_analysis/comment_extractor/server.py
  skema/program_analysis/comment_extractor/tests/examples/comments.c
  skema/program_analysis/comment_extractor/tests/examples/comments.cpp
  skema/program_analysis/comment_extractor/tests/examples/comments.f95
  skema/program_analysis/comment_extractor/tests/examples/comments.m
  skema/program_analysis/comment_extractor/tests/examples/comments.py
  skema/program_analysis/comment_extractor/tests/examples/comments.r
  skema/program_analysis/comment_extractor/tests/test_comment_extractor.py
  skema/program_analysis/comment_extractor/tests/test_server.py
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
  skema/program_analysis/tree_sitter_parsers/languages.yaml
Due: test_program_analysis

updating config
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

Fixed an issue where the endpoint failed in the case of an invalid OpenAI key
  skema/rest/integrated_text_reading_proxy.py
Due: none

Fixed an issue where the endpoint failed in the case of an invalid Op… (#404)
  skema/rest/integrated_text_reading_proxy.py
Due: none

Added a .gitignore file
  skema/program_analysis/CAST/fortran/.gitignore
Due: test_program_analysis

Fixed the health check of the TR proxy
  skema/rest/integrated_text_reading_proxy.py
Due: none

Enoriega/tr endpoint healthceck fix (#405)
  skema/rest/integrated_text_reading_proxy.py
Due: none

work in progress
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

finally got heuristic based distribution of composite transitions
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

update
  skema/img2mml/sampling_dataset/sampling_config.json
Due: test_equation_reading

updating
  skema/img2mml/sampling_dataset/sampling_config.json
Due: test_equation_reading

fixed bug with infix notation
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

cast builders now using INSTALLED_LANGUAGES_FILEPATH
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
Due: test_program_analysis

Added debug output
  skema/program_analysis/CAST2FN/ann_cast/cast_to_annotated_cast.py
Due: test_program_analysis

Added test cases
  1liner.m
  2liner.m
Due: none

Added debug output
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

updating preprocess
  skema/img2mml/preprocessing/preprocess.py
Due: test_equation_reading

Added debug output, tree traversal
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added tree_sitter.Tree import
  skema/program_analysis/CAST/cast_walker.py
Due: test_program_analysis

Testing LaTeXOCR Model
  skema/img2mml/render_mml/latex-ocr_results/calculate_bleu.py
  skema/img2mml/render_mml/latex-ocr_results/im2latex_100k_test_errors.json
  skema/img2mml/render_mml/latex-ocr_results/img2latex_100k_test_results.json
  skema/img2mml/render_mml/latex-ocr_results/requirements.txt
  skema/img2mml/render_mml/latex-ocr_results/tokenizer.json
Due: test_equation_reading

Trying a Normalized BLEU Score
  skema/img2mml/render_mml/latex-ocr_results/calculate_bleu.py
Due: test_equation_reading

Removed extra cde
  skema/img2mml/render_mml/latex-ocr_results/calculate_bleu.py
Due: test_equation_reading

Code cleanup
  skema/img2mml/render_mml/latex-ocr_results/calculate_bleu.py
Due: test_equation_reading

work in progress
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

work in progress
  skema/skema-rs/mathml/src/ast.rs
Due: test_rust_components

Added a MATLAB test file
  classdef.m
Due: none

handle mtext
  skema/img2mml/translate.py
Due: test_equation_reading

work in progress
  skema/skema-rs/mathml/src/ast/operator.rs
Due: test_rust_components

work in progress
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

support for sources and sinks in PNs
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components
