Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Removed commented-out preprocess line
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

update
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/optuna_training.py
  skema/img2mml/preprocessing/preprocess.py
Due: test_equation_reading

Added test cases
  skema/program_analysis/CAST/matlab/tests/.gitignore
  skema/program_analysis/CAST/matlab/tests/data/1liner.m
  skema/program_analysis/CAST/matlab/tests/data/assignment.m
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
Due: test_program_analysis

Removed a broken test file
  skema/program_analysis/CAST/matlab/matlab_test.py
Due: test_program_analysis

Removed the corpus test script
  skema/program_analysis/CAST/matlab/build_tree_sitter_matlab.py
Due: test_program_analysis

updating
  skema/img2mml/configs/resnet_xfmer_latex_config.json
Due: test_equation_reading

updating
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/optuna_training.py
Due: test_equation_reading

updating
  skema/img2mml/optuna_training.py
Due: test_equation_reading

updtaing
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/preprocessing/preprocess.py
Due: test_equation_reading

update
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/preprocessing/preprocess.py
Due: test_equation_reading

updating resnet config
  skema/img2mml/configs/resnet_xfmer_latex_config.json
Due: test_equation_reading

Deleted a test file
  data/gromet/matlab/simple.m
Due: test_rust_components, test_program_analysis

Added test data files
  data/gromet/matlab/assignment_1/single_line_assignment.m
  data/gromet/matlab/assignment_2/multi_line_assignment.m
Due: test_rust_components, test_program_analysis

Added Docstrings to investigate a CI issue
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/matlab_tree_builder.py
  skema/program_analysis/CAST/matlab/node_helper.py
  skema/program_analysis/CAST/matlab/variable_context.py
Due: test_program_analysis

Fixed an input string bug when creating the shared object library
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
Due: test_program_analysis

Added a __pdoc__ flag
  skema/program_analysis/__init__.py
Due: test_program_analysis

Flipped a boolean
  skema/program_analysis/tree_sitter_parsers/languages.yaml
Due: test_program_analysis

Renamed classes in PascalCase
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/matlab_tree_builder.py
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
  skema/program_analysis/matlab2cast.py
Due: test_program_analysis

Removed obsolete file
  Dockerfile.mathjax
Due: none

Removed obsolete file
  skema/program_analysis/CAST/cast_walker.py
Due: test_program_analysis

Moved matlab test files
  skema/program_analysis/CAST/matlab/tests/data/assignment_1/single_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/data/assignment_2/multi_line_assignment.m
Due: test_program_analysis

Removed obsolete files
  skema/program_analysis/CAST/matlab/tests/data/1liner.m
  skema/program_analysis/CAST/matlab/tests/data/assignment.m
Due: test_program_analysis

Removed obsolete file
  skema/program_analysis/CAST/matlab/README.md
Due: test_program_analysis

Commented out some debug output
  skema/program_analysis/CAST2FN/ann_cast/cast_to_annotated_cast.py
Due: test_program_analysis

Fixed a typo
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
Due: test_program_analysis

Simplified a path argument
  skema/program_analysis/CAST/matlab/matlab_tree_builder.py
Due: test_program_analysis

Reverted a path modification
  skema/program_analysis/single_file_ingester.py
Due: test_program_analysis

Removed obsolete files
  skema/program_analysis/CAST/fortran/.gitignore
  skema/program_analysis/CAST/matlab/.gitignore
Due: test_program_analysis

Added a .gitignore to ignore the build directory
  skema/program_analysis/tree_sitter_parsers/.gitignore
Due: test_program_analysis

Added a __pdoc__ entry into __init__.py
  skema/program_analysis/CAST/matlab/__init__.py
Due: test_program_analysis

updating config resnet
  skema/img2mml/configs/resnet_xfmer_latex_config.json
Due: test_equation_reading

Delete __init__.py
  __init__.py
Due: none

Ensure existing CAST test suites run
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

No need to explicitly invoke fn call
  skema/program_analysis/CAST/fortran/tests/test_tiegcm.py
Due: test_program_analysis

Tests must be structure as fns to run
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
Due: test_program_analysis

Initial CAST support for MATLAB (#488)
  pyproject.toml
  skema/program_analysis/CAST/__init__.py
  skema/program_analysis/CAST/fortran/__init__.py
  skema/program_analysis/CAST/fortran/tests/test_tiegcm.py
  skema/program_analysis/CAST/matlab/__init__.py
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/matlab_tree_builder.py
  skema/program_analysis/CAST/matlab/node_helper.py
  skema/program_analysis/CAST/matlab/tests/.gitignore
  skema/program_analysis/CAST/matlab/tests/data/assignment_1/single_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/data/assignment_2/multi_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
  skema/program_analysis/CAST/matlab/util.py
  skema/program_analysis/CAST/matlab/variable_context.py
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
  skema/program_analysis/CAST2FN/ann_cast/cast_to_annotated_cast.py
  skema/program_analysis/__init__.py
  skema/program_analysis/matlab2cast.py
  skema/program_analysis/multi_file_ingester.py
  skema/program_analysis/tree_sitter_parsers/.gitignore
  skema/program_analysis/tree_sitter_parsers/languages.yaml
Due: test_program_analysis, test_skema_py, test_equation_reading
