Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

# TODO - get Equation Reading pipeline working
#---
#kind: pipeline
#name: skema-er

#steps:
#- name: test_equation_reading
  #image: python:3.8-bullseye
  #commands:
  #- apt-get update
  #- apt-get -y install build-essential graphviz libgraphviz-dev
  #- pip install -e .[dev,img2mml]
  #- pip install pytest-cov
  #- curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  #- pytest --cov=skema skema/img2mml/tests
  #when:
    #paths:
    #- pyproject.toml
    #- .drone.yml
    #- skema/img2mml/**

added upload feature:
  skema/moviz/inputs/class1.py
  skema/moviz/main.py
  skema/moviz/templates/upload.html
  skema/moviz/utils/create_viz.py
  skema/moviz/utils/helper_functions.py
Due: none

Adding changes from main
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

cargo fmt
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

Adding TODOs
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

expanded metadata support
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/lib.rs
Due: test_rust_components

remove images and notebooks, add comments to expression.rs, and simplify the is_derivative function
  notebooks/demos/2022-12-08/SKEMA-TA2-UAZ.ipynb
  notebooks/demos/2022-12-08/mention_linking.ipynb
  notebooks/demos/2023-01-23/ISA_evaluation_demo.ipynb
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/tests/SIDARTHE.png
  skema/skema-rs/mathml/tests/SIDARTHEV.png
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Updating Rust version in .drone.yml
  .drone.yml
Due: test_rust_components, test_scala, test_program_analysis

Fixing case
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

Restoring mention_linking notebook
  notebooks/demos/2022-12-08/mention_linking.ipynb
Due: none

remove math_exp_graph.rs and mathml_eq_alignment.py
  skema/skema-rs/mathml/src/mathml_eq_alignment.py
  skema/skema-rs/skema/src/services/math_exp_graph.rs
Due: test_rust_components

indent
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Incremental structural alignment updates from the Jan 2023 Hackathon (#122)
  .drone.yml
  notebooks/demos/2022-12-08/SKEMA-TA2-UAZ.ipynb
  skema/skema-rs/Cargo.lock
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/bin/mml2pn.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/lib.rs
  skema/skema-rs/mathml/src/parsing.rs
  skema/skema-rs/mathml/tests/SIDARTHE_V_eq1.xml
  skema/skema-rs/mathml/tests/SIDARTHE_V_eq2.xml
  skema/skema-rs/mathml/tests/SIDARTHE_V_eq3.xml
  skema/skema-rs/mathml/tests/SIDARTHE_V_eq4.xml
  skema/skema-rs/mathml/tests/SIDARTHE_V_eq5.xml
  skema/skema-rs/mathml/tests/SIDARTHE_V_eq6.xml
  skema/skema-rs/mathml/tests/SIDARTHE_V_eq7.xml
  skema/skema-rs/mathml/tests/SIDARTHE_V_eq8.xml
  skema/skema-rs/mathml/tests/SIDARTHE_V_eq9.xml
  skema/skema-rs/mathml/tests/SIDARTHE_eq1.xml
  skema/skema-rs/mathml/tests/SIDARTHE_eq2.xml
  skema/skema-rs/mathml/tests/SIDARTHE_eq3.xml
  skema/skema-rs/mathml/tests/SIDARTHE_eq4.xml
  skema/skema-rs/mathml/tests/SIDARTHE_eq5.xml
  skema/skema-rs/mathml/tests/SIDARTHE_eq6.xml
  skema/skema-rs/mathml/tests/SIDARTHE_eq7.xml
  skema/skema-rs/mathml/tests/SIDARTHE_eq8.xml
  skema/skema-rs/mathml/tests/seir_eq1.xml
  skema/skema-rs/mathml/tests/seir_eq1_missing.xml
  skema/skema-rs/mathml/tests/seir_eq2.xml
  skema/skema-rs/mathml/tests/seir_eq3.xml
  skema/skema-rs/mathml/tests/seir_eq4.xml
  skema/skema-rs/mathml/tests/seirdv_eq1.xml
  skema/skema-rs/mathml/tests/seirdv_eq2.xml
  skema/skema-rs/mathml/tests/seirdv_eq3.xml
  skema/skema-rs/mathml/tests/seirdv_eq4.xml
  skema/skema-rs/mathml/tests/seirdv_eq5.xml
  skema/skema-rs/mathml/tests/seirdv_eq6.xml
  skema/skema-rs/mathml/tests/seirdv_eq7.xml
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components, test_scala, test_program_analysis

Removing Python implementation of mml2pn, reverting changes to create_viz.py
  skema/mml2pn/mml/simple_sir_v1/mml_list.txt
  skema/mml2pn/mml/simple_sir_v2/mml_list.txt
  skema/mml2pn/mml/simple_sir_v3/mml_list.txt
  skema/mml2pn/mml/simple_sir_v4/mml_list.txt
  skema/mml2pn/mml2pn.py
  skema/moviz/utils/create_viz.py
Due: none

Removing morae.rs stub
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

clearing notebook outputs
  notebooks/demos/2022-12-08/SKEMA-TA2-UAZ.ipynb
Due: none

Gromet2graphdb update (#123)
  data/demo/CHIME_SIR_core--Gromet-FN-auto.json
  data/demo/CHIME_SIR_while_loop_section--Gromet-FN-auto.json
  data/demo/CHIME_SIR_while_loop_section.py
  data/demo/CHIME_SVIIvR_core--Gromet-FN-auto.json
  data/gromet/examples/dict1/FN_0.1.4/dict1--Gromet-FN-auto-meta.json
  data/gromet/examples/fun1/fun1.py
  notebooks/demos/2022-12-08/SKEMA-TA2-UAZ.ipynb
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/lib.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

In progress changes for milestone 6
  skema/gromet/execution_engine/types/sequence.py
  skema/program_analysis/CAST2GrFN/ann_cast/id_collapse_pass.py
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
  skema/program_analysis/PyAST2CAST/modules_list.py
  skema/program_analysis/PyAST2CAST/py_ast_to_cast.py
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Adding model_pn.json to .gitignore, moving mml2pn inputs to data directory, updating mml2pn.py to reflect new input data directory location
  .gitignore
  data/mml2pn_inputs/simple_sir_v1/mml_list.txt
  data/mml2pn_inputs/simple_sir_v2/mml_list.txt
  data/mml2pn_inputs/simple_sir_v3/mml_list.txt
  data/mml2pn_inputs/simple_sir_v4/mml_list.txt
  scripts/mml2pn.py
  skema/skema-rs/mathml/tests/mml2pn_inputs/simple_sir_v1/mml_list.txt
  skema/skema-rs/mathml/tests/mml2pn_inputs/simple_sir_v2/mml_list.txt
  skema/skema-rs/mathml/tests/mml2pn_inputs/simple_sir_v3/mml_list.txt
  skema/skema-rs/mathml/tests/mml2pn_inputs/simple_sir_v4/mml_list.txt
Due: test_rust_components

updating mml2pn.py to reflect new input data directory
  scripts/mml2pn.py
Due: none

Updating mml2pn Rust version test input locations
  skema/skema-rs/mathml/src/mml2pn.rs
Due: test_rust_components

Python prototype of MML2PN (#124)
  .gitignore
  data/mml2pn_inputs/simple_sir_v1/mml_list.txt
  data/mml2pn_inputs/simple_sir_v2/mml_list.txt
  data/mml2pn_inputs/simple_sir_v3/mml_list.txt
  data/mml2pn_inputs/simple_sir_v4/mml_list.txt
  scripts/mml2pn.py
  skema/skema-rs/mathml/src/mml2pn.rs
Due: test_rust_components

many wiring and naming fixes for unpacking
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Fixing importlib ModuleNotFound error
  skema/program_analysis/PyAST2CAST/modules_list.py
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Fine tunning
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/OdinEngine.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/ExtractAndAlign.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/ContextEngine.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/utils/MentionUtils.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/test/TestUtils.scala
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
Due: test_scala

Scenario Context (#117)
  skema/text_reading/text_reading/src/main/resources/org/ml4ai/skema/text_reading/grammars/locations.yml
  skema/text_reading/text_reading/src/main/resources/org/ml4ai/skema/text_reading/grammars/vars.yml
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/OdinEngine.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotateCosmosJsonFiles.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/ExtractAndAlign.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/attachments/AutomatesAttachment.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/ContextEngine.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/CosmosOrderer.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/MentionOrderer.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/serializer/AutomatesJSONSerializer.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/utils/MentionUtils.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/test/TestUtils.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/text_reading/text/TestDescriptions.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/text_reading/text/TestIdentifiers.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/text_reading/text/TestParameterSetting.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/text_reading/text/TestParameterSettingInterval.scala
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
Due: test_scala

Fixed keyword argument issue in conditional, fixed implicit boolean in while loop. Generates COmplexVID-19
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
  skema/program_analysis/PyAST2CAST/py_ast_to_cast.py
Due: test_program_analysis

Create integration-issues.yml
  .github/workflows/integration-issues.yml
Due: none

Create integration-issues.yml (#125)
  .github/workflows/integration-issues.yml
Due: none

Adding kwonly argument support, fixed some attribute naming issues
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
  skema/program_analysis/PyAST2CAST/py_ast_to_cast.py
Due: test_program_analysis

Removing stray Dockerfile
  misc/Dockerfile
Due: none

Removing old debug print statements
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Fixed bucky file for test, fixed issues for generating bucky and chime penn models
  data/epidemiology/Bucky/code/bucky_v2/model/main.py
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Milestone 6 PR (#127)
  data/epidemiology/Bucky/code/bucky_v2/model/main.py
  data/epidemiology/CHIME/CHIME_penn_full_model/gromet/chime_penn--Gromet-FN-auto.json
  scripts/codegen_swagger_models.py
  skema/gromet/execution_engine/types/sequence.py
  skema/gromet/fn/function_type.py
  skema/gromet/metadata/gromet_creation.py
  skema/gromet/primitive_map.py
  skema/program_analysis/CAST2GrFN/ann_cast/id_collapse_pass.py
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
  skema/program_analysis/CAST2GrFN/visitors/cast_to_agraph_visitor.py
  skema/program_analysis/PyAST2CAST/modules_list.py
  skema/program_analysis/PyAST2CAST/py_ast_to_cast.py
  skema/program_analysis/multi_file_ingester.py
  skema/utils/misc.py
Due: test_program_analysis

added parsing memgraph to petgraph
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

parse memgraph to collection of expression sub-petgraphs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

Contextualized embeddings (#130)
  skema/text_reading/mention_linking/gromet_linker/text_reading_linker.py
Due: none

Isha/moviz new (#128)
  data/gromet/examples/CHIME_SIR_core/CHIME_SIR_core.py
  data/gromet/examples/CHIME_SVIIvR_core/CHIME_SVIIvR_core.py
  skema/moviz/data/CHIME_SIR_core--Gromet-FN-auto.json
  skema/moviz/data/CHIME_SVIIvR_core--Gromet-FN-auto.json
  skema/moviz/data/cond1--Gromet-FN-auto.json
  skema/moviz/data/exp0--Gromet-FN-auto.json
  skema/moviz/data/exp1--Gromet-FN-auto.json
  skema/moviz/data/exp3--Gromet-FN-auto.json
  skema/moviz/data/fun3--Gromet-FN-auto.json
  skema/moviz/data/import1--Gromet-FN-auto.json
  skema/moviz/data/while1--Gromet-FN-auto.json
  skema/moviz/data/while3--Gromet-FN-auto.json
  skema/moviz/inputs/class1.py
  skema/moviz/main.py
  skema/moviz/templates/upload.html
  skema/moviz/utils/create_viz.py
  skema/moviz/utils/helper_functions.py
Due: none
