Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

test_rust_components:
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

removing redundant test
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

clippy wip
  .gitignore
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/parsing.rs
Due: test_rust_components

clippy
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

if let
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

more edits
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

Implemented prefix filter
  skema/text_reading/text_reading/grounding/src/main/scala/org/ml4ai/grounding/MiraEmbeddingsGrounder.scala
Due: test_scala

version 1 of mml2pn
  skema/mml2pn/mml/simple_sir_v1/mml_list.txt
  skema/mml2pn/mml/simple_sir_v2/mml_list.txt
  skema/mml2pn/mml/simple_sir_v3/mml_list.txt
  skema/mml2pn/mml/simple_sir_v4/mml_list.txt
  skema/mml2pn/mml2pn.py
Due: none

Silenced the grounding tests
  skema/text_reading/text_reading/grounding/src/test/scala/org/ml4ai/grounding/TestMiraEmbeddingsGrounder.scala
Due: test_scala

version 1 of mml2pn
  skema/mml2pn/mml2pn.py
Due: none

Assemble for text reading
  skema/text_reading/text_reading/assembly.sbt
  skema/text_reading/text_reading/build.sbt
Due: test_scala

Bringing over skema-rs stuff from vraymond/skema-rs_python_endpoints branch
  skema/skema-rs/python_endpoints/.env
  skema/skema-rs/python_endpoints/Dockerfile
  skema/skema-rs/python_endpoints/README
  skema/skema-rs/python_endpoints/docker-compose.yml
  skema/skema-rs/python_endpoints/example_client.py
  skema/skema-rs/python_endpoints/requirements.txt
  skema/skema-rs/python_endpoints/src/acsets.py
  skema/skema-rs/python_endpoints/src/petris.py
  skema/skema-rs/python_endpoints/src/server.py
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/lib.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Renaming Code2FN service to skema-py
  Dockerfile.skema-py
  README.md
  docker-compose.skema-py.yml
  skema/skema-py/README.md
  skema/skema-py/client.py
  skema/skema-py/server.py
Due: none

wip
  skema/skema-py/client.py
  skema/skema-py/server.py
  skema/skema-rs/python_endpoints/example_client.py
  skema/skema-rs/python_endpoints/src/server.py
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

wip
  skema/skema-py/acsets.py
  skema/skema-py/petris.py
Due: none

wip
  skema/skema_py/README.md
  skema/skema_py/acsets.py
  skema/skema_py/client.py
  skema/skema_py/petris.py
  skema/skema_py/server.py
Due: none

wip
  Dockerfile.skema-rs
  README.md
  docker-compose.memgraph.yml
  docker-compose.skema-rs.yml
  skema/skema-rs/README.md
  skema/skema_py/server.py
Due: test_rust_components

wip
  skema/skema-rs/python_endpoints/example_client.py
Due: test_rust_components

updating docs url
  skema/skema-rs/README.md
  skema/skema-rs/python_endpoints/jan_2023_script.py
Due: test_rust_components

mvp
  skema/skema-rs/python_endpoints/jan_2023_script.py
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema_py/server.py
Due: test_rust_components

wip
  Dockerfile.skema-rs
  docker-compose.skema-py.yml
  docker-compose.skema.yml
  skema/skema-rs/python_endpoints/.env
  skema/skema-rs/python_endpoints/Dockerfile
  skema/skema-rs/python_endpoints/README
  skema/skema-rs/python_endpoints/docker-compose.yml
  skema/skema-rs/python_endpoints/requirements.txt
  skema/skema-rs/python_endpoints/src/server.py
  skema/skema_py/client.py
  skema/skema_py/jan_2023_script.py
Due: test_rust_components

saving progress, testing docker build now
  Dockerfile.skema-py
  docker-compose.yml
Due: none

Fix bug where CWD is lost
  skema/program_analysis/python2cast.py
  skema/program_analysis/script_functions.py
  skema/utils/script_functions.py
Due: test_program_analysis

updating docker-compose file
  docker-compose.yml
Due: none

Fix bug where CWD is lost (#107)
  skema/program_analysis/python2cast.py
  skema/program_analysis/script_functions.py
  skema/utils/script_functions.py
Due: test_program_analysis

fixed port
  skema/skema_py/jan_2023_script.py
Due: none

Updated documentation
  README.md
  docker-compose.yml
Due: none

Running cargo fmt
  skema/skema-rs/comment_extraction/src/conventions/dssat.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/lib.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Removing morae.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

Adding test code inputs
  data/epidemiology/CHIME/CHIME_SIR_model/code/CHIME_SIR-old.py
  data/epidemiology/CHIME/CHIME_SIR_model/code/CHIME_SIR.py
  data/epidemiology/CHIME/CHIME_SIR_model/code/CHIME_SIR_core.py
  data/epidemiology/CHIME/CHIME_SIR_model/gromet/FN_0.1.5/CHIME_SIR--Gromet-FN-auto.json
  data/epidemiology/CHIME/CHIME_SIR_model/gromet/FN_0.1.5/CHIME_SIR-old--Gromet-FN-auto.json
  data/epidemiology/CHIME/CHIME_SIR_model/gromet/FN_0.1.5/CHIME_SIR_core--Gromet-FN-auto.json
  data/epidemiology/CHIME/CHIME_SIR_model/gromet/FN_0.1.5/CHIME_SIR_while_loop--Gromet-FN-auto.json
  data/epidemiology/CHIME/CHIME_SIR_model/gromet/FN_0.1.5/CHIME_SIR_while_loop--Gromet-FN-auto_debug.json
  data/epidemiology/CHIME/CHIME_SVIIvR_model/code/CHIME_SVIIvR_core.py
  data/epidemiology/CHIME/CHIME_penn_full_model/code/penn_chime/__init__.py
  data/epidemiology/CHIME/CHIME_penn_full_model/code/penn_chime/cli.py
  data/epidemiology/CHIME/CHIME_penn_full_model/code/penn_chime/constants.py
  data/epidemiology/CHIME/CHIME_penn_full_model/code/penn_chime/model/__init__.py
  data/epidemiology/CHIME/CHIME_penn_full_model/code/penn_chime/model/parameters.py
  data/epidemiology/CHIME/CHIME_penn_full_model/code/penn_chime/model/sir.py
  data/epidemiology/CHIME/CHIME_penn_full_model/code/penn_chime/model/validators/__init__.py
  data/epidemiology/CHIME/CHIME_penn_full_model/code/penn_chime/model/validators/base.py
  data/epidemiology/CHIME/CHIME_penn_full_model/code/penn_chime/model/validators/validators.py
  data/epidemiology/CHIME/CHIME_penn_full_model/code/system_filepaths.txt
  data/epidemiology/CHIME/CHIME_penn_full_model/gromet/FN_v0.1.5/chime_penn--Gromet-FN-auto.json
Due: none

Lints
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

clippy fixes
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/comment_extraction/src/conventions/dssat.rs
  skema/skema-rs/comment_extraction/src/languages/fortran.rs
  skema/skema-rs/comment_extraction/src/languages/python.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/parsing.rs
Due: test_rust_components

bugfixes
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/parsing.rs
Due: test_rust_components

more lints
  skema/skema-rs/comment_extraction/src/languages/fortran.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

more lints
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Support multiple extraction files for alignment Fixes #109
  skema/text_reading/mention_linking/gromet_linker/text_reading_linker.py
  skema/text_reading/mention_linking/link_mentions.py
Due: none

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**
  test_scala: any of: .drone.yml, skema/text_reading/text_reading/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**
