Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

# TODO - get Equation Reading pipeline working
#---
#kind: pipeline
#name: skema-er

#steps:
#- name: test_equation_reading
  #image: python:3.8-bullseye
  #commands:
  #- apt-get update
  #- apt-get -y install build-essential graphviz libgraphviz-dev
  #- pip install -e .[dev,img2mml]
  #- pip install pytest-cov
  #- curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  #- pytest --cov=skema skema/img2mml/tests
  #when:
    #paths:
    #- pyproject.toml
    #- .drone.yml
    #- skema/img2mml/**

update
  skema/img2mml/sampling_dataset/with_mp.py
Due: none

updating
  skema/img2mml/sampling_dataset/with_mp.py
Due: none

upfdate
  skema/img2mml/sampling_dataset/with_mp.py
Due: none

update
  skema/img2mml/sampling_dataset/sampling_config.json
Due: none

udpate
  skema/img2mml/sampling_dataset/sampling_config.json
  skema/img2mml/sampling_dataset/with_mp.py
Due: none

added TA4 model rep struct
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

debug
  skema/img2mml/create_dataset.py
  skema/img2mml/sampling_dataset/sampling_with_mp.py
Due: none

debug
  skema/img2mml/sampling_dataset/sampling_with_mp.py
Due: none

clean the sampling code
  skema/img2mml/create_dataset.py
  skema/img2mml/sampling_dataset/uniform_sampling.py
Due: none

fix an error
  skema/img2mml/preprocessing/preprocess_images.py
Due: none

add the tex builder with different fonts
  skema/img2mml/data_generation/tex_builder_fonts.py
Due: none

add the tex to png with different fonts
  skema/img2mml/data_generation/tex2png_fonts.py
Due: none

add seed
  skema/img2mml/data_generation/tex_builder_fonts.py
Due: none

updating
  skema/img2mml/preprocessing/preprocess_images.py
Due: none

Finish first pass of documentation
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

Validate it
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

Connect back to documents
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

Rearrange, correct
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

Rearrange
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

Comment out descriptions so that they do not appear in examples
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

Update text-reading API docs
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

Remove old Annotation
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

update
  skema/img2mml/data_generation/latex2mathml.py
  skema/img2mml/data_generation/mathjax_server.js
Due: none
