Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

update
  skema/img2mml/configs/resnet_xfmer_latex_config.json
Due: test_equation_reading

Updating get-object-count to aggregate boxes,ports,wires
  skema/skema_py/server.py
Due: test_skema_py

Various updates to conditional handling
  skema/program_analysis/CAST/fortran/node_helper.py
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

Fixing instance of function call with no arguments
  skema/program_analysis/CAST/fortran/node_helper.py
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

update
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/training.py
Due: test_equation_reading

update
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

Further bug fixes for Fortran->CAST ingestion
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

work in progress
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

update
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

wip
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

Removed feature branch CI testing
  .github/workflows/tests-and-docs.yml
Due: none

Updating preprocessor logic to allow for more complex include paths
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

Added main clauses to run tests standalone
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
Due: test_program_analysis

update
  skema/img2mml/preprocessing/preprocess.py
Due: test_equation_reading

Added 'binary_operator' to math expressions
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

alphabetized some field name lists
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Refactor 'assignment_statement' -> 'assignment'
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added a test case for binary operation
  skema/program_analysis/CAST/matlab/tests/test_binary_operation.py
Due: test_program_analysis

Added some comments to a test file
  skema/program_analysis/CAST/matlab/tests/test_binary_operation.py
Due: test_program_analysis

Cleaned up the function def, added call and return handling
  skema/program_analysis/CAST/python/ts2cast.py
Due: test_program_analysis

update
  skema/img2mml/models/image2mml_xfmer.py
Due: test_equation_reading

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
