Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

updating config
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

updating configs
  skema/img2mml/configs/xfmer_latex_config.json
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

updating
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

updating
  skema/img2mml/configs/xfmer_latex_config.json
Due: test_equation_reading

update
  skema/img2mml/configs/xfmer_latex_config.json
Due: test_equation_reading

add the evaluation code for the wisconsin dataset
  skema/img2mml/evaluate_wisconsin_mml.py
  skema/img2mml/wisconsin_mml.json
Due: test_equation_reading

adding content-based binning
  skema/img2mml/bin_testing.py
Due: test_equation_reading

updating config
  skema/img2mml/configs/xfmer_latex_config.json
  skema/img2mml/configs/xfmer_mml_config.json
  skema/img2mml/training.py
Due: test_equation_reading

updating config
  skema/img2mml/configs/xfmer_latex_config.json
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

update
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

updating bin_testing
  skema/img2mml/bin_testing.py
Due: test_equation_reading

updating
  skema/img2mml/bin_testing.py
Due: test_equation_reading

fix an error in the evaluation code for the wisconsin dataset
  skema/img2mml/evaluate_wisconsin_mml.py
Due: test_equation_reading

Adding refactored call handler and tests
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_primitive.py
Due: test_program_analysis

v0.9.1
  docs/changes.md
Due: none

v1.9.1
  docs/changes.md
Due: none

work in progress
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

work in progress
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Incorporated msub identifier for first order ode
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

Instructions for creating an incremental release
  docs/dev/creating-an-incremental-release.md
  mkdocs.yml
Due: none

Temporarily commented out unit tests
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

Fixed the bug reported at https://github.com/DARPA-ASKEM/knowledge-middleware/issues/22#issuecomment-1702954922
  skema/metal/model_linker/skema_model_linker/linkers/petrinet.py
Due: none

Including docstring removal fix
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
Due: test_program_analysis

Temporarily commented out unit tests (#442)
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

enoriega/issue432 (#443)
  skema/metal/model_linker/skema_model_linker/linkers/petrinet.py
Due: none

work in progress
  skema/skema-rs/mathml/src/ast.rs
Due: test_rust_components

[docs] Instructions for creating an incremental release (#439)
  docs/dev/creating-an-incremental-release.md
  mkdocs.yml
Due: none

Support for symbol table and repository updates
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/queries.yaml
  skema/gromet/execution_engine/symbol_table.py
  skema/gromet/execution_engine/types/array.py
  skema/gromet/execution_engine/types/binary.py
  skema/gromet/execution_engine/types/defined_types.py
  skema/gromet/execution_engine/types/indexable.py
  skema/gromet/execution_engine/types/iterable.py
  skema/gromet/execution_engine/types/iterator.py
  skema/gromet/execution_engine/types/list.py
  skema/gromet/execution_engine/types/map.py
  skema/gromet/execution_engine/types/other.py
  skema/gromet/execution_engine/types/record.py
  skema/gromet/execution_engine/types/sequence.py
  skema/gromet/execution_engine/types/set.py
  skema/gromet/execution_engine/types/test.py
  skema/gromet/execution_engine/types/tuple.py
  skema/gromet/execution_engine/types/unary.py
Due: test_program_analysis

Removing old primitive map
  skema/gromet/execution_engine/primitive_map.py
Due: test_program_analysis

Add text-reading
  docker-bake.hcl
Due: none

Readding primitive_map and types due to breaking change
  skema/gromet/execution_engine/primitive_map.py
  skema/gromet/execution_engine/types/array.py
  skema/gromet/execution_engine/types/binary.py
  skema/gromet/execution_engine/types/defined_types.py
  skema/gromet/execution_engine/types/indexable.py
  skema/gromet/execution_engine/types/iterable.py
  skema/gromet/execution_engine/types/iterator.py
  skema/gromet/execution_engine/types/list.py
  skema/gromet/execution_engine/types/map.py
  skema/gromet/execution_engine/types/other.py
  skema/gromet/execution_engine/types/record.py
  skema/gromet/execution_engine/types/sequence.py
  skema/gromet/execution_engine/types/set.py
  skema/gromet/execution_engine/types/test.py
  skema/gromet/execution_engine/types/tuple.py
  skema/gromet/execution_engine/types/unary.py
Due: test_program_analysis

Incorporated msub identifier for state variables in first order ode (#438)
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

Create docker.yml
  .github/workflows/docker.yml
Due: none

Delete docker.yml
  .github/workflows/docker.yml
Due: none

Update docker-bake.hcl
  docker-bake.hcl
Due: none

up to date
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components
