Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Relates to #270
  skema/gromet/__init__.py
  skema/program_analysis/multi_file_ingester.py
  skema/program_analysis/script_functions.py
Due: test_program_analysis

Gracefully handle optional fields in PA (#276)
  skema/gromet/__init__.py
  skema/program_analysis/multi_file_ingester.py
  skema/program_analysis/script_functions.py
  skema/skema_py/server.py
Due: test_program_analysis

Initial version of the FN unifier
  skema/program_analysis/fn_unifier.py
Due: test_program_analysis

Update Dockerfile.skema-py
  Dockerfile.skema-py
Due: none

update the training weight from 0.5 to 0.25
  skema/img2mml/src/test.py
  skema/img2mml/src/train.py
Due: test_equation_reading

Update pyproject.toml
  pyproject.toml
Due: test_program_analysis, test_equation_reading

Updating unifier to include interface that can be used by REST endpoints
  skema/program_analysis/fn_unifier.py
Due: test_program_analysis

Fixed minor typos, removed unnecessary inputs
  skema/program_analysis/fn_unifier.py
Due: test_program_analysis

Added some type hinting
  skema/program_analysis/fn_unifier.py
Due: test_program_analysis

Initial FN Unifier Pull Request (#277)
  skema/program_analysis/fn_unifier.py
Due: test_program_analysis

training v3: update the training weight from 0.5 to 0.25
  skema/img2mml/src/test.py
  skema/img2mml/src/train.py
Due: test_equation_reading

Update pyproject.toml with text reading dep (#279)
  Dockerfile.skema-py
  pyproject.toml
Due: test_program_analysis, test_equation_reading

Draft: Going from presentation mathml to content mathml
  skema/skema-rs/mathml/src/pMML2cMML.rs
Due: test_rust_components

Serialize v4 --handles e.g.: f(x)
  skema/skema-rs/mathml/src/serialize.rs
Due: test_rust_components

Updates to instructions for dev environment setup
  docs/dev/env.md
Due: none

Draft 2: Going from presentation mathml to content mathml
  skema/skema-rs/mathml/src/pMML2cMML.rs
Due: test_rust_components

QOL updates for skema-py endpoints
  skema/skema_py/server.py
Due: none

Running formatter
  skema/skema_py/server.py
Due: none

Removing additional supported_file_extensions list from fn_given_filepath_zip
  skema/skema_py/server.py
Due: none

training v4: optimize the TED calculation, lower the TED weight from 0.25 to 0.1, redesign the bucket ranges to make them linear
  skema/img2mml/preprocessing/preprocess_images.py
  skema/img2mml/src/test.py
  skema/img2mml/src/train.py
Due: test_equation_reading

Another draft of presentation to content mathml
  skema/skema-rs/mathml/src/pMML2cMML.rs
Due: test_rust_components

Adding support for comment unification to fn-given-filepaths endpoint
  skema/program_analysis/comments.py
  skema/program_analysis/fn_unifier.py
  skema/skema_py/server.py
Due: test_program_analysis

Added more operators, prototype of pratt parsing
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/lib.rs
  skema/skema-rs/mathml/src/parsing.rs
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

added another test
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

Relaxing requirement for a single top-level mrow element
  skema/skema-rs/mathml/src/mml2pn.rs
Due: test_rust_components

removing unused import
  skema/skema-rs/mathml/src/mml2pn.rs
Due: test_rust_components

Added implicit multiplication operators
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

Added derivative operator
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

training v4: update the API service for v4
  skema/img2mml/api.py
  skema/img2mml/translate.py
Due: test_equation_reading

Processing overscript first derivative notation
  skema/skema-rs/Cargo.lock
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

Add /fn-supported-file-extensions endpoint and additional skema-py endpoint updates (#288)
  skema/program_analysis/comments.py
  skema/program_analysis/fn_unifier.py
  skema/skema_py/server.py
Due: test_program_analysis

pratt parsing module handles multiple dots in overscript derivative notation
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

ISA dep?
  pyproject.toml
Due: test_program_analysis, test_equation_reading
