Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

test_rust_components:
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

update
  skema/img2mml/training.py
Due: none

update
  skema/img2mml/configs/resnet_xfmer_latex_config.json
Due: none

updated
  skema/img2mml/configs/resnet_xfmer_latex_config.json
Due: none

upddate
  skema/img2mml/configs/resnet_xfmer_latex_config.json
Due: none

First pass at script to regenerate Gromet examples, still need to add argparse stub
  skema/program_analysis/regenerate_examples.py
Due: test_program_analysis

Updating directory structure of PYthon examples
  data/gromet/python/examples/CHIME_SIR_core/CHIME_SIR_core.py
  data/gromet/python/examples/CHIME_SVIIvR_core/CHIME_SVIIvR_core.py
  data/gromet/python/examples/aug_assign1/aug_assign1.py
  data/gromet/python/examples/class1/class1.py
  data/gromet/python/examples/class2/class2.py
  data/gromet/python/examples/class3/class3.py
  data/gromet/python/examples/cond1/cond1.py
  data/gromet/python/examples/cond2/cond2.py
  data/gromet/python/examples/dict1/dict1.py
  data/gromet/python/examples/dso_kmeans/sklearn_clustering_kmeans.py
  data/gromet/python/examples/ellipses1/ellipses1.py
  data/gromet/python/examples/exp0/exp0.py
  data/gromet/python/examples/exp1/exp1.py
  data/gromet/python/examples/exp2/exp2.py
  data/gromet/python/examples/exp3/exp3.py
  data/gromet/python/examples/for1/for1.py
  data/gromet/python/examples/fun1/fun1.py
  data/gromet/python/examples/fun2/fun2.py
  data/gromet/python/examples/fun3/fun3.py
  data/gromet/python/examples/fun4/fun4.py
  data/gromet/python/examples/fun_default1/fun_default1.py
  data/gromet/python/examples/import1/import1.py
  data/gromet/python/examples/import2/import2.py
  data/gromet/python/examples/import3/import3.py
  data/gromet/python/examples/import4/import4.py
  data/gromet/python/examples/keyword_assign1/keyword_assign1.py
  data/gromet/python/examples/while1/while1.py
  data/gromet/python/examples/while2/while2.py
  data/gromet/python/examples/while3/while3.py
Due: none

Adding argparse to regenerate_examples
  skema/program_analysis/regenerate_examples.py
Due: test_program_analysis

Fixing directory structure and removing intermediate examples/ directory
  data/gromet/python/CHIME_SIR_core/CHIME_SIR_core.py
  data/gromet/python/CHIME_SVIIvR_core/CHIME_SVIIvR_core.py
  data/gromet/python/aug_assign1/aug_assign1.py
  data/gromet/python/class1/class1.py
  data/gromet/python/class2/class2.py
  data/gromet/python/class3/class3.py
  data/gromet/python/cond1/cond1.py
  data/gromet/python/cond2/cond2.py
  data/gromet/python/dict1/dict1.py
  data/gromet/python/dso_kmeans/sklearn_clustering_kmeans.py
  data/gromet/python/ellipses1/ellipses1.py
  data/gromet/python/exp0/exp0.py
  data/gromet/python/exp1/exp1.py
  data/gromet/python/exp2/exp2.py
  data/gromet/python/exp3/exp3.py
  data/gromet/python/for1/for1.py
  data/gromet/python/fun1/fun1.py
  data/gromet/python/fun2/fun2.py
  data/gromet/python/fun3/fun3.py
  data/gromet/python/fun4/fun4.py
  data/gromet/python/fun_default1/fun_default1.py
  data/gromet/python/import1/import1.py
  data/gromet/python/import2/import2.py
  data/gromet/python/import3/import3.py
  data/gromet/python/import4/import4.py
  data/gromet/python/keyword_assign1/keyword_assign1.py
  data/gromet/python/while1/while1.py
  data/gromet/python/while2/while2.py
  data/gromet/python/while3/while3.py
Due: none

update to AMR structs
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/tests/lotka_voltera_regnet.json
  skema/skema-rs/mathml/tests/sir_AMR.json
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

Added Jupyter resource
  Dockerfile.skema-py
Due: none

update
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/preprocessing/preprocess.py
Due: none

Upgrading Gromet FN data-model to 0.1.7
  skema/gromet/fn/function_type.py
  skema/gromet/fn/gromet_box.py
  skema/gromet/fn/gromet_box_conditional.py
  skema/gromet/fn/gromet_box_function.py
  skema/gromet/fn/gromet_box_loop.py
  skema/gromet/fn/gromet_fn.py
  skema/gromet/fn/gromet_fn_module.py
  skema/gromet/fn/gromet_fn_module_collection.py
  skema/gromet/fn/gromet_object.py
  skema/gromet/fn/gromet_port.py
  skema/gromet/fn/gromet_wire.py
  skema/gromet/fn/import_source_type.py
  skema/gromet/fn/import_type.py
  skema/gromet/fn/literal_value.py
  skema/gromet/fn/typed_value.py
Due: test_program_analysis

Added prototype Compose and Notebook for skema-py
  skema-py.ipynb
Due: none

Added prototype Compose and Notebook for skema-py
  docker-compose.skema-py.yml
  skema-py.ipynb
Due: none

Compose and Notebook for SKEMA Rust server
  docker-compose.skema-rs.yml
  skema-rs.ipynb
Due: none

Fixed a typo
  docker-compose.skema-rs.yml
Due: none

Compose and Notebook for img2mml
  docker-compose.img2mml.yml
  img2mml.ipynb
Due: none

Added generalized Notebook for lum.ai services
  lumai_services.ipynb
Due: none

Removing extra print statements and improving Pathlib logic
  skema/program_analysis/regenerate_examples.py
Due: test_program_analysis

unify the space size
  skema/img2mml/preprocessing/preprocess_mml.py
Due: none

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**
  test_scala: any of: .drone.yml, skema/text_reading/text_reading/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**
