Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

add the workflow of eqn2met
  skema/rest/schema.py
  skema/rest/tests/test_eqns_to_mets.py
  skema/rest/tests/test_latex_to_decapodes.py
  skema/rest/workflows.py
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Updating test
  skema/program_analysis/tests/test_goto_computed.py
Due: test_program_analysis

[fortran] Support for Computed GO TO (#780)
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/CAST2FN/ann_cast/cast_to_annotated_cast.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/CAST2FN/visitors/cast_to_agraph_visitor.py
  skema/program_analysis/tests/test_goto_computed.py
Due: test_program_analysis

add a test for code-eqn alignment
  skema/rest/tests/test_isa.py
  skema/rest/workflows.py
Due: none

fix an error
  skema/rest/tests/test_isa.py
Due: none

latex support for munderover summation and msubsup integral
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

edit the expected result in the code-eqn alignment test
  skema/rest/tests/test_isa.py
Due: none

fix an error in the test
  skema/rest/tests/test_isa.py
Due: none

debug an error in the test
  skema/rest/tests/test_isa.py
Due: none

update test_get_code_exp_graphs
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

[ISA] A new workflow endpoint to align equations from papers and the corresponding equations in code (#781)
  skema/isa/lib.py
  skema/rest/tests/test_isa.py
  skema/rest/workflows.py
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
  skema/skema_py/server.py
Due: test_rust_components, test_skema_py

added code snippets to MET endpoint
  skema/rest/workflows.py
Due: none

Initial commit for URL ingester
  skema/program_analysis/url_ingester.py
Due: test_program_analysis

Fixing module index logic
  skema/program_analysis/multi_file_ingester.py
  skema/program_analysis/url_ingester.py
Due: test_program_analysis

Handles Msup of I↓ as well as I^{\downarrow}(\lambda) latex
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

example of snowpack optics equation from CLM5
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Parameterized configuration of the context engine
  skema/text_reading/scala/src/main/resources/application.conf
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/PlainTextFileTextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipelineWithContext.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotateCosmosJsonFiles.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/HeuristicContextEngine.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/openai/DecoderContextEngine.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/utils/CommandLineArgumentParser.scala
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/test/ExtractionFromCosmosTest.scala
  skema/text_reading/scala/webapp/app/controllers/HomeController.scala
Due: test_scala

Adding CI workflow tests (#777)
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Due: none

Added the temporal context prompt to the engine
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/openai/PromptScenarioContext.scala
Due: test_scala

In progress changes, needs the advanced parts of the idioms
  skema/program_analysis/CAST/fortran/variable_context.py
  skema/program_analysis/CAST/python/node_helper.py
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/CAST/python/util.py
Due: test_program_analysis

Updating docstring for easy_multi_file_ingester
  skema/program_analysis/easy_multi_file_ingester.py
Due: test_program_analysis

Removing commented code
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

pinned rust dependencies
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Pinned Rust dependencies (#786)
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Laplacian
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Surface integral
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

delete comments
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

old
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

second order differential eq
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

second order differential eq
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

test for second order pde
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

in progress changes for advanced comprehensions
  skema/program_analysis/CAST/python/ts2cast.py
Due: test_program_analysis

delete print statements
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Fixing issues with CI after merge conflict
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Fixing cast to agraph visitor
  skema/program_analysis/CAST2FN/visitors/cast_to_agraph_visitor.py
Due: test_program_analysis

updated rust compiler version
  Dockerfile.skema-rs
Due: none

Another fix at the tests?
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis
