Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Unified API for eq2mml
  docker-compose.img2mml.yml
  pyproject.toml
  skema/data/__init__.py
  skema/data/eq2mml/__init__.py
  skema/data/eq2mml/images/bayes-rule.png
  skema/img2mml/api.py
  skema/img2mml/eq2mml.py
  skema/img2mml/latex2mml.py
Due: test_program_analysis, test_equation_reading

Consistent method naming
  skema/img2mml/eq2mml.py
Due: test_equation_reading

Fixes #260
  skema/text_reading/scala/webapp/app/controllers/HomeController.scala
Due: none

Remove Dockerfile.img2mml (#254)
  Dockerfile.img2mml
Due: none

Return XML
  skema/img2mml/api.py
  skema/img2mml/data_generation/mathjax_server.js
  skema/img2mml/eq2mml.py
Due: test_equation_reading

Python examples in OpenAPI docs for eq2mml REST
  skema/data/eq2mml/__init__.py
  skema/data/eq2mml/images/bayes-rule-transparent.png
  skema/data/eq2mml/images/bayes-rule-white-bg.png
  skema/img2mml/eq2mml.py
Due: test_equation_reading

Include working MathJax server in docker image (#258)
  Dockerfile.skema-py
  README.md
  docker-compose.img2mml.yml
  docs/dev/env.md
  pyproject.toml
  skema/data/__init__.py
  skema/data/eq2mml/__init__.py
  skema/data/eq2mml/images/bayes-rule-transparent.png
  skema/data/eq2mml/images/bayes-rule-white-bg.png
  skema/img2mml/api.py
  skema/img2mml/data_generation/.gitignore
  skema/img2mml/data_generation/mathjax_server.js
  skema/img2mml/data_generation/package.json
  skema/img2mml/eq2mml.py
  skema/img2mml/latex2mml.py
Due: test_program_analysis, test_equation_reading

Creating fn-given-filepaths-zip endpoint and quality of life improvements to endpoints
  skema/skema_py/server.py
Due: none

Reverts the location of the script within the scala subdirectory such that it is part of Docker's context at build time
  skema/text_reading/scala/cosmos_integration.py
Due: none

updates to morae demo
  notebooks/demos/2023-04-28/MORAE_demo.ipynb
  notebooks/demos/2023-04-28/data/lotka_voltera/mml_list.txt
  notebooks/demos/2023-04-28/data/simple_sir_v1/mml_list.txt
  notebooks/demos/2023-04-28/data/sir_core--Gromet-FN-auto.json
Due: none

naming and format changes
  notebooks/demos/2023-06-28/ISA_M8_demo.ipynb
  notebooks/demos/2023-06-28/MORAE_demo.ipynb
  notebooks/demos/2023-06-28/data/SIDARTHEV_core_equations.png
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq1.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq2.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq3.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq4.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq5.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq6.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq7.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq8.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq1.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq2.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq3.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq4.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq5.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq6.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq7.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq8.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq9.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_core_equations.png
  notebooks/demos/2023-06-28/data/SIDARTHE_eq1.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq2.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq3.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq4.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq5.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq6.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq7.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq8.xml
  notebooks/demos/2023-06-28/data/lotka_voltera/mml_list.txt
  notebooks/demos/2023-06-28/data/simple_sir_v1/mml_list.txt
  notebooks/demos/2023-06-28/data/sir_core--Gromet-FN-auto.json
Due: none

Fixes #260 (#261)
  skema/text_reading/scala/webapp/app/controllers/HomeController.scala
Due: none

Update pyproject.toml
  pyproject.toml
Due: test_program_analysis, test_equation_reading

Initial version of the unifier, still needs some more developing
  skema/program_analysis/fn_unifier.py
Due: test_program_analysis

Adding changes as per Gus and Vincent's requests
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_recursion.py
Due: test_program_analysis

Restore `cosmos_integration.py` inside of the text_reading project (#263)
  pyproject.toml
  skema/text_reading/scala/cosmos_integration.py
Due: test_program_analysis, test_equation_reading

Nested Function Definitions (Closures) and Recursion PR (#240)
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/PyAST2CAST/py_ast_to_cast.py
  skema/program_analysis/tests/test_closures.py
  skema/program_analysis/tests/test_recursion.py
Due: test_program_analysis

update the default weight
  skema/img2mml/src/train.py
Due: test_equation_reading

add the ted loss to evaluation
  skema/img2mml/src/test.py
Due: test_equation_reading

reformat
  skema/img2mml/src/test.py
Due: test_equation_reading

added transactional gromet to amr endpoint and updated demo notebook
  notebooks/demos/2023-06-28/MORAE_demo.ipynb
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Removing commented code
  skema/skema_py/server.py
Due: none

Adding example calls to fn-given-filepaths and fn-given-filepaths-zip
  skema/skema_py/server.py
Due: none

cleaning up code
  notebooks/demos/2023-06-28/MORAE_demo.ipynb
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Morae demo 6/28 (#269)
  notebooks/demos/2023-06-28/ISA_M8_demo.ipynb
  notebooks/demos/2023-06-28/MORAE_demo.ipynb
  notebooks/demos/2023-06-28/data/SIDARTHEV_core_equations.png
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq1.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq2.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq3.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq4.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq5.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq6.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq7.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_Code_A_eq8.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq1.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq2.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq3.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq4.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq5.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq6.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq7.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq8.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_V_eq9.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_core_equations.png
  notebooks/demos/2023-06-28/data/SIDARTHE_eq1.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq2.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq3.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq4.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq5.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq6.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq7.xml
  notebooks/demos/2023-06-28/data/SIDARTHE_eq8.xml
  notebooks/demos/2023-06-28/data/lotka_voltera/mml_list.txt
  notebooks/demos/2023-06-28/data/simple_sir_v1/mml_list.txt
  notebooks/demos/2023-06-28/data/sir_core--Gromet-FN-auto.json
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Fixing bug where tree-sitter cannot find parser library
  Dockerfile.skema-py
Due: none

[code2fn] - Adding zip->Gromet endpoint (#267)
  Dockerfile.skema-py
  skema/skema_py/server.py
Due: none

Added endpoint for extracting comments from zipfile
  skema/skema-rs/Cargo.lock
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/comment_extraction/src/conventions.rs
  skema/skema-rs/comment_extraction/src/extraction.rs
  skema/skema-rs/comment_extraction/src/lib.rs
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/comment_extraction.rs
Due: test_rust_components

removed commented out lines
  skema/skema-rs/skema/src/services/comment_extraction.rs
Due: test_rust_components

Updated get_comments endpoint from GET to POST, changed it to get-comments instead for consistency
  skema/skema-rs/skema/src/services/comment_extraction.rs
Due: test_rust_components

updating endpoint names
  skema/skema-rs/skema/src/services/comment_extraction.rs
Due: test_rust_components

Added endpoint for extracting comments from zipfile (#271)
  skema/skema-rs/Cargo.lock
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/comment_extraction/src/conventions.rs
  skema/skema-rs/comment_extraction/src/extraction.rs
  skema/skema-rs/comment_extraction/src/lib.rs
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/comment_extraction.rs
Due: test_rust_components

Endpoints should return JSON (rather than strings)
  skema/skema_py/server.py
Due: none

Add examples and descriptions to OpenAPI spec
  skema/skema_py/server.py
Due: none

Add links to published images
  README.md
Due: none

Correct return type for PA endpoints (#273)
  README.md
  skema/skema_py/server.py
Due: none

Add optional Jupyter dep for use in demos
  Dockerfile.skema-py
  pyproject.toml
Due: test_program_analysis, test_equation_reading

[demo] Add optional demo dependencies (#275)
  Dockerfile.skema-py
  pyproject.toml
Due: test_program_analysis, test_equation_reading

Gracefully handle omitted optional fields
  skema/skema_py/server.py
Due: none
