Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

test_rust_components:
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

updating
  skema/img2mml/temp_testing.py
Due: none

update
  skema/img2mml/temp_testing.py
Due: none

update
  skema/img2mml/configs/xfmer_latex_config.json
Due: none

update
  skema/img2mml/bin_testing.py
  skema/img2mml/configs/xfmer_latex_config.json
  skema/img2mml/training.py
Due: none

update
  skema/img2mml/training.py
Due: none

update
  skema/img2mml/bin_testing.py
Due: none

update
  skema/img2mml/bin_testing.py
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/training.py
Due: none

updating
  skema/img2mml/training.py
Due: none

updating
  skema/img2mml/configs/xfmer_latex_config.json
  skema/img2mml/training.py
Due: none

update
  skema/img2mml/configs/resnet_xfmer_latex_config.json
Due: none

Adding closure support
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Add server / to OpenAPI spec
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

Add some documentation
  skema/text_reading/text_reading/webapp/README.md
Due: test_scala

Allow for swagger.io validation
  skema/text_reading/text_reading/webapp/conf/application.conf
Due: test_scala

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**
  test_scala: any of: .drone.yml, skema/text_reading/text_reading/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**
