Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Removed tests for another PR
  skema/program_analysis/CAST/matlab/tests/.gitignore
  skema/program_analysis/CAST/matlab/tests/.gitkeep
  skema/program_analysis/CAST/matlab/tests/assignment_1/single_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/assignment_1/test.py
  skema/program_analysis/CAST/matlab/tests/assignment_2/multi_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/assignment_2/test.py
  skema/program_analysis/CAST/matlab/tests/data/assignment_1/single_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/data/assignment_2/multi_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/single_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
  skema/program_analysis/CAST/matlab/tests/test_single_assignment.py
Due: test_program_analysis

removed feature branch CI from main PR
  .github/workflows/tests-and-docs.yml
Due: none

Added an intial test series
  skema/program_analysis/CAST/matlab/tests_all/data/assignment_1/single_line_assignment.m
  skema/program_analysis/CAST/matlab/tests_all/data/assignment_2/multi_line_assignment.m
  skema/program_analysis/CAST/matlab/tests_all/data/multi_line_assignment.m
  skema/program_analysis/CAST/matlab/tests_all/data/single_line_assignment.m
  skema/program_analysis/CAST/matlab/tests_all/test_matlab_parse_tree.py
Due: test_program_analysis

Added test files
  skema/program_analysis/CAST/matlab/tests/data/multi_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/data/single_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/single_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
  skema/program_analysis/CAST/matlab/tests/test_single_assignment.py
Due: test_program_analysis

Removed assignment testing
  skema/program_analysis/CAST/matlab/tests/single_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/test_single_assignment.py
Due: test_program_analysis

Fixed a path bug in test file
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
Due: test_program_analysis

Removed print debug output
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Now auto-update GROMET_VERSION in canonical locatio (skema/gromet/__init__.py)
  scripts/codegen_swagger_models.py
Due: none

Fixed an indent typo
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Removed print output
  skema/program_analysis/CAST/matlab/matlab_tree_builder.py
Due: test_program_analysis

Removed a stray test directory
  skema/program_analysis/CAST/matlab/tests_all/data/assignment_1/single_line_assignment.m
  skema/program_analysis/CAST/matlab/tests_all/data/assignment_2/multi_line_assignment.m
  skema/program_analysis/CAST/matlab/tests_all/data/multi_line_assignment.m
  skema/program_analysis/CAST/matlab/tests_all/data/single_line_assignment.m
  skema/program_analysis/CAST/matlab/tests_all/test_matlab_parse_tree.py
Due: test_program_analysis

Committing changes for python tree sitter assignment
  skema/program_analysis/CAST/python/node_helper.py
  skema/program_analysis/CAST/python/pts2cast.py
  skema/program_analysis/CAST/python/util.py
  skema/program_analysis/python2cast.py
Due: test_program_analysis

database.rs refactor #1 (#503)
  skema/skema-rs/Cargo.lock
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/database_old.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/tests/test_service.rs
Due: test_rust_components

Removed unused imports
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
Due: test_program_analysis

Fixed an issue in keyword argument in Gromet pass
  skema/gromet/metadata/source_code_data_type.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Set min. expectations for _JAVA_OPTIONS
  skema/text_reading/scala/webapp/docker.sbt
Due: test_scala

6GB -> 10GB :(
  skema/text_reading/scala/webapp/docker.sbt
Due: test_scala

Resolves #508
  .github/workflows/docker.yml
  .gitignore
  Dockerfile.skema-rs
  skema/skema-rs/Cargo.lock
Due: test_rust_components

Renaming some files, adding tests
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/python2cast.py
  skema/program_analysis/tests/test_expression_cast.py
Due: test_program_analysis

Removed unnecessary .gitkeep file
  skema/program_analysis/CAST/matlab/tests/.gitkeep
Due: test_program_analysis

Changing regex for updating gromet version
  scripts/codegen_swagger_models.py
Due: none

Resolves #509
  .github/workflows/docker.yml
Due: none

Added the evaluation endpoint
  skema/rest/data/extractions_sidarthe_skema.json
  skema/rest/data/sidarthe_annotations.json
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/schema.py
  skema/rest/utils.py
Due: none

[TextReading] Added the TR evaluation endpoint (#516)
  skema/rest/data/extractions_sidarthe_skema.json
  skema/rest/data/sidarthe_annotations.json
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/schema.py
  skema/rest/utils.py
Due: none

include pathlib import
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
Due: test_program_analysis

MATLAB Tree-sitter regression testing with GitHub CI (#504)
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/matlab_tree_builder.py
  skema/program_analysis/CAST/matlab/tests/.gitignore
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
Due: test_program_analysis

Handles Multiplication and minor bug fixes
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Fixed minor issues, updated test file, added tests path
  pyproject.toml
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/python2cast.py
  skema/program_analysis/tests/test_expression_cast.py
Due: test_program_analysis, test_skema_py, test_equation_reading

wip
  skema/skema-rs/Cargo.lock
Due: test_rust_components

wip
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/tests/test_service.rs
Due: test_rust_components

Incorporate multiply and Minor bug fixes
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

Python tree-sitter to CAST Porting: Assignment (#513)
  pyproject.toml
  skema/program_analysis/CAST/python/node_helper.py
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/CAST/python/util.py
  skema/program_analysis/python2cast.py
  skema/program_analysis/tests/test_expression_cast.py
Due: test_program_analysis, test_skema_py, test_equation_reading

Initial support for Debug metadata type in skema_py
  skema/skema_py/server.py
Due: test_skema_py

Removed contradictory comment
  skema/text_reading/scala/webapp/docker.sbt
Due: test_scala

Incorporated multiply in MathML and fixed minor bugs (#517)
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Remove unused dependencies
  skema/skema-rs/README.md
  skema/skema-rs/skema/Cargo.toml
Due: test_rust_components

Add missing dependencies and remove unused file
  pyproject.toml
  skema/program_analysis/astpp.py
Due: test_program_analysis, test_skema_py, test_equation_reading
