Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

test_rust_components:
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

Created candidate docker file that is xDD compliant
  skema/text_reading/text_reading/.dockerignore
  skema/text_reading/text_reading/Dockerfile
  skema/text_reading/text_reading/annotate_cosmos_json
  skema/text_reading/text_reading/cosmos_integration.py
Due: test_scala

updating
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/preprocessing/preprocess_mml.py
Due: none

updating ddp in training.py
  skema/img2mml/training.py
Due: none

reverting change for quick merge
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

Rename 'op' field to 'ops' in PreExp and Expression structs (#142)
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

update
  skema/img2mml/training.py
Due: none

Convert to json4s
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/GroundingCandidate.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/GroundingConcept.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/grounding/TestGroundingCandidate.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/grounding/TestGroundingConcept.scala
Due: test_scala

add the multiplication distribution
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

Add to API
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
  skema/text_reading/text_reading/webapp/conf/routes
Due: test_scala

Test
  skema/text_reading/text_reading/webapp/test/controllers/HomeControllerSpec.scala
Due: test_scala

Fix bug
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/MiraEmbeddingsGrounder.scala
Due: test_scala

configure
  skema/text_reading/text_reading/src/main/resources/application.conf
Due: test_scala

Fix test names
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/grounding/TestGroundingConcept.scala
Due: test_scala

Added a few improvements before merging
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/ManualGrounder.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/PipelineGrounder.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/grounding/TestMiraWebApiGrounder.scala
Due: test_scala

Ner override (#141)
  skema/text_reading/text_reading/src/main/resources/application.conf
  skema/text_reading/text_reading/src/main/resources/manual_groundings.tsv
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/Grounder.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/GrounderFactory.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/ManualGrounder.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/MiraWebApiGrounder.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/PipelineGrounder.scala
  skema/text_reading/text_reading/src/test/resources/manual_groundings.tsv
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/grounding/TestManualGrounder.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/grounding/TestMiraWebApiGrounder.scala
Due: test_scala

Add more memory to drone for scala test
  .drone.yml
Due: test_rust_components, test_scala, test_program_analysis

more bug fixes
  data/epidemiology/CHIME/CHIME_SIR_model/gromet/FN_0.1.5/CHIME_SIR_while_loop--Gromet-FN-auto_debug.json
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

some small changes for testing
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

update
  skema/img2mml/README.md
Due: none

Added an optional finer-grained control of the grounding engine to the factory method
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/GrounderFactory.scala
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
Due: test_scala

Updating pyproject.toml to add six to the dev dependencies
  pyproject.toml
Due: test_program_analysis

add the add and minus distributions
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

Fixing docker-compose.skema-rs.yml
  docker-compose.skema-rs.yml
Due: none

Removing deprecated CAST types and adding support for Gromet get, Gromet set, and slicing
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

Fixing docker-compose.skema-rs.yml (#145)
  docker-compose.skema-rs.yml
Due: none

Add endpoint for groundStringsToMira (#143)
  .drone.yml
  pyproject.toml
  skema/text_reading/text_reading/src/main/resources/application.conf
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/GrounderFactory.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/GroundingCandidate.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/GroundingConcept.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/MiraEmbeddingsGrounder.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/grounding/TestGroundingCandidate.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/grounding/TestGroundingConcept.scala
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
  skema/text_reading/text_reading/webapp/conf/routes
  skema/text_reading/text_reading/webapp/test/controllers/HomeControllerSpec.scala
Due: test_rust_components, test_scala, test_program_analysis

Added auto closing
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotateCosmosJsonFiles.scala
Due: test_scala

Error messages for mathml to ACSet REST API service
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

add the division distributions
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

Fixed a bug on the web app
  skema/text_reading/text_reading/build.sbt
  skema/text_reading/text_reading/webapp/build.sbt
Due: test_scala

Improved the rules to detect descriptions from the bucky model web docs
  skema/text_reading/text_reading/src/main/resources/org/ml4ai/skema/text_reading/grammars/descriptions.yml
  skema/text_reading/text_reading/src/main/resources/org/ml4ai/skema/text_reading/grammars/entities.yml
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/OdinActions.scala
Due: test_scala

Add public files
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
  skema/text_reading/text_reading/webapp/public/swagger-ui/favicon-16x16.png
  skema/text_reading/text_reading/webapp/public/swagger-ui/favicon-32x32.png
  skema/text_reading/text_reading/webapp/public/swagger-ui/index.css
  skema/text_reading/text_reading/webapp/public/swagger-ui/oauth2-redirect.html
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui-bundle.js
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui-bundle.js.map
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui-es-bundle-core.js
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui-es-bundle-core.js.map
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui-es-bundle.js
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui-es-bundle.js.map
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui-standalone-preset.js
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui-standalone-preset.js.map
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui.css
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui.css.map
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui.js
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui.js.map
Due: test_scala

Add API file
  skema/text_reading/text_reading/webapp/app/views/api.scala.html
Due: test_scala

Take care of Firefox warning
  skema/text_reading/text_reading/webapp/app/views/index.scala.html
Due: test_scala

Modify routes and application.conf
  skema/text_reading/text_reading/webapp/conf/application.conf
  skema/text_reading/text_reading/webapp/conf/routes
Due: test_scala

Modify HomeController.scala
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
Due: test_scala

Write up API call
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

Skip blank lines
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
Due: test_scala

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**
  test_scala: any of: .drone.yml, skema/text_reading/text_reading/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**
