Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Add dependency modules to module_index
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Updating to support single file local dependencies
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Adding nested dependencies to module_dependencies
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Generating error handling for depth <0 or >1
  skema/skema_py/server.py
Due: test_skema_py

Adding unit tests to endpoint
  skema/skema_py/tests/test_server.py
Due: test_skema_py

Fixing bug with System object
  skema/skema_py/server.py
  skema/skema_py/tests/test_server.py
Due: test_skema_py

Fixed some bugs with import generation, added attribute support
  skema/program_analysis/CAST/python/ts2cast.py
Due: test_program_analysis

support the mixed latex and mml input for eqns2met
  skema/rest/tests/test_eqns_to_mets.py
  skema/rest/workflows.py
Due: none

Fixes to some operator functionality and added Derivative e.g. Dp/Dt, Vector e.g. \vec{x}
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

minor fixes
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

[Equations] Support the mixed LaTeX and MathML in eqns2met (#813)
  skema/rest/tests/test_eqns_to_mets.py
  skema/rest/workflows.py
Due: none

some fixes
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

pinned gpt version for llm workflows
  skema/rest/llm_proxy.py
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

[Equations] Remove redundant parentheses when converting pMathML to LaTeX (#812)
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

fixes
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Pinning GPT version (#815)
  skema/rest/llm_proxy.py
Due: none

fixes
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

fixes
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

fixes
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

fixes
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
Due: test_rust_components

fixes
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

fixes
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Enoriega/llm scenario context (#817)
  skema/text_reading/scala/build.sbt
  skema/text_reading/scala/src/main/resources/application.conf
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/PlainTextFileTextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipelineWithContext.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotateCosmosJsonFiles.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/attachments/AutomatesAttachment.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/HeuristicContextEngine.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/openai/DecoderContextEngine.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/openai/PromptScenarioContext.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/utils/CommandLineArgumentParser.scala
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/test/ExtractionFromCosmosTest.scala
  skema/text_reading/scala/webapp/app/controllers/HomeController.scala
Due: test_scala

Changes to Derivative types where a new enum is included to describe the derivative notation
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

fixes
  skema/skema-rs/mathml/src/ast/operator.rs
Due: test_rust_components

Handles #818
  skema/text_reading/scala/src/main/resources/application.conf
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/GrounderFactory.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/MiraEmbeddingsGrounder.scala
Due: test_scala

fixes
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
Due: test_rust_components

fixes
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

fixes
  skema/rest/tests/test_eqn_to_latex.py
Due: none

Changing 'derivative_notation' to 'notation'
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Added documentation on how to add a new domain
  skema/text_reading/scala/New domain.md
Due: test_scala

Changing 'derivative_notation' to 'notation'
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Handles #818 (#819)
  skema/text_reading/scala/New domain.md
  skema/text_reading/scala/src/main/resources/application.conf
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/GrounderFactory.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/MiraEmbeddingsGrounder.scala
Due: test_scala

consolidated endpoints for models
  skema/rest/schema.py
  skema/rest/utils.py
  skema/rest/workflows.py
  skema/skema_py/server.py
Due: test_skema_py

fixed some typos
  skema/rest/schema.py
  skema/rest/workflows.py
Due: none

added unit test for consolidated equation to amrs endpoint
  skema/rest/tests/test_model_to_amr.py
Due: none

Upgrade to processors 9.0.0-RC4 (#763)
  skema/text_reading/scala/build.sbt
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/serializer/SkemaJSONSerializer.scala
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/text_reading/serialization/TestConjDescrSerialization.scala
Due: test_scala

fixed some imports
  skema/rest/utils.py
Due: none

New consolidated AMR endpoints (#821)
  skema/rest/schema.py
  skema/rest/tests/test_model_to_amr.py
  skema/rest/utils.py
  skema/rest/workflows.py
  skema/skema_py/server.py
Due: test_skema_py
