Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

test_rust_components:
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

testing sampling code
  skema/img2mml/sampling_dataset/sample_dataset.py
Due: none

update
  skema/img2mml/sampling_dataset/sample_dataset.py
Due: none

updatng "mtext" condition
  skema/img2mml/preprocessing/preprocess_mml.py
Due: none

fix a bug when generating the union graph
  skema/isa/lib.py
Due: none

Implemented do while, boolean literal, and string literal
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

directory comment extraction wip
  skema/skema-rs/Cargo.lock
  skema/skema-rs/comment_extraction/Cargo.toml
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
Due: test_rust_components

update
  skema/img2mml/sampling_dataset/sample_dataset.py
  skema/img2mml/sampling_dataset/sample_dataset_2.py
  skema/img2mml/sampling_dataset/sample_dataset_new.py
  skema/img2mml/sampling_dataset/simplify.py
Due: none

directory walking complete, now need to come up with unified comment JSON format
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/comment_extraction/src/languages/cpp.rs
Due: test_rust_components

minor improvements
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
Due: test_rust_components

bugfix
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
Due: test_rust_components

updating README.md
  skema/skema-rs/comment_extraction/README.md
Due: test_rust_components

Comment extraction from directory (#139)
  skema/skema-rs/Cargo.lock
  skema/skema-rs/comment_extraction/Cargo.toml
  skema/skema-rs/comment_extraction/README.md
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/comment_extraction/src/languages/cpp.rs
Due: test_rust_components

Implemented the ManualGrounder class
  skema/text_reading/text_reading/src/main/resources/application.conf
  skema/text_reading/text_reading/src/main/resources/manual_groundings.tsv
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/Grounder.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/ManualGrounder.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/MiraWebApiGrounder.scala
Due: test_scala

Implemented the ManualGrounder class
  skema/text_reading/text_reading/src/main/resources/application.conf
  skema/text_reading/text_reading/src/main/resources/manual_groundings.tsv
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/Grounder.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/GrounderFactory.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/ManualGrounder.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/MiraWebApiGrounder.scala
Due: test_scala

updating sampling
  skema/img2mml/sampling_dataset/sample_dataset.py
  skema/img2mml/sampling_dataset/simplify.py
Due: none

update
  skema/img2mml/sampling_dataset/sample_dataset.py
  skema/img2mml/simplify.py
  skema/img2mml/temp.txt
Due: none

update
  skema/img2mml/sampling_dataset/sample_dataset.py
  skema/img2mml/sampling_dataset/simplify.py
  skema/img2mml/simplify.py
Due: none

updating data_gen config file
  skema/img2mml/data_generation/data_generation_config.json
  skema/img2mml/sampling_dataset/sample_dataset.py
Due: none

Unifying comment output format for all comments except DSSAT ones
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/comment_extraction/src/comment.rs
  skema/skema-rs/comment_extraction/src/comments.rs
  skema/skema-rs/comment_extraction/src/conventions/dssat.rs
  skema/skema-rs/comment_extraction/src/languages/cpp.rs
  skema/skema-rs/comment_extraction/src/languages/fortran.rs
  skema/skema-rs/comment_extraction/src/languages/python.rs
  skema/skema-rs/comment_extraction/src/lib.rs
Due: test_rust_components

fixed bug
  skema/skema-rs/skema/src/services/comment_extraction.rs
Due: test_rust_components

removed comment.rs
  skema/skema-rs/comment_extraction/src/comment.rs
Due: test_rust_components

Running cargo fmt on comment_extraction directory
  skema/skema-rs/comment_extraction/src/lib.rs
Due: test_rust_components

Comment extraction updates (#140)
  skema/skema-rs/Cargo.lock
  skema/skema-rs/comment_extraction/Cargo.toml
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/comment_extraction/src/comments.rs
  skema/skema-rs/comment_extraction/src/conventions/dssat.rs
  skema/skema-rs/comment_extraction/src/languages/cpp.rs
  skema/skema-rs/comment_extraction/src/languages/fortran.rs
  skema/skema-rs/comment_extraction/src/languages/python.rs
  skema/skema-rs/comment_extraction/src/lib.rs
  skema/skema-rs/comment_extraction/tests/data/PET.for
  skema/skema-rs/comment_extraction/tests/data/chime_sir_output.json
  skema/skema-rs/skema/src/services/comment_extraction.rs
Due: test_rust_components

Big refactor, adding VariableContext and NodeHelper classes to reduce reused code
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

Implemented a rudimentary test suite for the manual grounder
  skema/text_reading/text_reading/src/main/resources/manual_groundings.tsv
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/ManualGrounder.scala
  skema/text_reading/text_reading/src/test/resources/manual_groundings.tsv
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/grounding/TestManualGrounder.scala
Due: test_scala

Renaming op to ops
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

Implemented the pipeline grounder to compose sequences of grounders
  skema/text_reading/text_reading/src/main/resources/application.conf
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/GrounderFactory.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/PipelineGrounder.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/grounding/TestMiraWebApiGrounder.scala
Due: test_scala

wip
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

updating config and preprocessing
  skema/img2mml/configs/xfmer_latex_config.json
  skema/img2mml/configs/xfmer_mml_config.json
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/preprocessing/preprocess_mml.py
Due: none

Added a cmd line arguments parser for `AnnotateCosmosJsonFiles.scala`
  skema/text_reading/text_reading/build.sbt
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/alignment/Aligner.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/AlignmentBaseline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotateCosmosJsonFiles.scala
Due: test_scala

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**
  test_scala: any of: .drone.yml, skema/text_reading/text_reading/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**
