Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

# TODO - get Equation Reading pipeline working
#---
#kind: pipeline
#name: skema-er

#steps:
#- name: test_equation_reading
  #image: python:3.8-bullseye
  #commands:
  #- apt-get update
  #- apt-get -y install build-essential graphviz libgraphviz-dev
  #- pip install -e .[dev,img2mml]
  #- pip install pytest-cov
  #- curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  #- pytest --cov=skema skema/img2mml/tests
  #when:
    #paths:
    #- pyproject.toml
    #- .drone.yml
    #- skema/img2mml/**

Fix typo
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

Change some punctuation
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

Provide a swagger interface for REST API (#147)
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
  skema/text_reading/text_reading/webapp/app/views/api.scala.html
  skema/text_reading/text_reading/webapp/app/views/index.scala.html
  skema/text_reading/text_reading/webapp/conf/application.conf
  skema/text_reading/text_reading/webapp/conf/routes
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
  skema/text_reading/text_reading/webapp/public/swagger-ui/favicon-16x16.png
  skema/text_reading/text_reading/webapp/public/swagger-ui/favicon-32x32.png
  skema/text_reading/text_reading/webapp/public/swagger-ui/index.css
  skema/text_reading/text_reading/webapp/public/swagger-ui/oauth2-redirect.html
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui-bundle.js
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui-bundle.js.map
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui-es-bundle-core.js
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui-es-bundle-core.js.map
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui-es-bundle.js
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui-es-bundle.js.map
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui-standalone-preset.js
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui-standalone-preset.js.map
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui.css
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui.css.map
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui.js
  skema/text_reading/text_reading/webapp/public/swagger-ui/swagger-ui.js.map
Due: test_scala

xDD Dockerization (#146)
  skema/text_reading/text_reading/.dockerignore
  skema/text_reading/text_reading/Dockerfile
  skema/text_reading/text_reading/annotate_cosmos_json
  skema/text_reading/text_reading/build.sbt
  skema/text_reading/text_reading/cosmos_integration.py
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/alignment/Aligner.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/AlignmentBaseline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotateCosmosJsonFiles.scala
  skema/text_reading/text_reading/webapp/build.sbt
Due: test_scala

GH Action for publishing project documentation
  .github/workflows/docs.yml
  docs/.gitignore
  docs/generator.cabal
  docs/stack.yaml
  docs/stack.yaml.lock
Due: none

Fix for function/subroutine reurn logic
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

Bugfix for documentation generation
  docs/generator.hs
Due: none

Bugfix for documentation generation (#149)
  docs/generator.hs
Due: none

WIP
  docs/.gitignore
  docs/generator.cabal
  docs/stack.yaml
Due: none

updates to test morae pipeline
  skema/skema-rs/Cargo.lock
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/lib.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Working build for docs
  .github/workflows/docs.yml
  docs/team.md
Due: none

Working build for docs
  .github/workflows/docs.yml
Due: none

Workflow for building and publishing project docs (#150)
  .github/workflows/docs.yml
  docs/.gitignore
  docs/generator.cabal
  docs/stack.yaml
  docs/stack.yaml.lock
  docs/team.md
Due: none

Fix to doc workflow w/ caching
  .github/workflows/docs.yml
Due: none

comment canonical form conversion
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

add EventMentionAttachment
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/attachments/AutomatesAttachment.scala
Due: test_scala

Fix to doc workflow and make use of deps caching (#151)
  .github/workflows/docs.yml
Due: none

LinearOrdering of sentences within extractions similar to CosmosOrdering
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/LinearOrderer.scala
Due: test_scala

Update ISA service
  skema/isa/README.md
  skema/isa/isa_service.py
  skema/isa/lib.py
Due: none

WIP: add linear ordering for event mentions and event mention attachments
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/attachments/AutomatesAttachment.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/LinearOrderer.scala
Due: test_scala

update
  skema/img2mml/README.md
  skema/img2mml/api.py
  skema/img2mml/sampling_dataset/sample_dataset.py
  skema/img2mml/tests/test_im2mml.py
  skema/img2mml/vocab.txt
Due: none

updating
  skema/img2mml/README.md
Due: none

Adding do and do while support, and fixes for missing source refs
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

Added a text reading pipeline for text files
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/PlainTextFileTextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotatePlainTextFiles.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/ExtractAndExport.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/serializer/SkemaJSONSerializer.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/utils/AlignmentJsonUtils.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/utils/CommandLineArgumentParser.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/text_reading/serialization/TestConjDescrSerialization.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/text_reading/serialization/TestCrossSentenceSerialization.scala
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
Due: test_scala

Added a text reading pipeline that also runs the context engine
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipelineWithContext.scala
Due: test_scala

Forgot to add the method that returns the serialized json string
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipelineWithContext.scala
Due: test_scala

add sentence id to the resolveLinearOrder function
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/LinearOrderer.scala
Due: test_scala

Add runTextReadingPipelineWithContext
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipelineWithContext.scala
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
  skema/text_reading/text_reading/webapp/conf/routes
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

Fix typo
  skema/text_reading/text_reading/webapp/conf/routes
Due: test_scala

Adjust some documentation
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

Changes with Keith's requested changes
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/PlainTextFileTextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotateCosmosJsonFiles.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotatePlainTextFiles.scala
Due: test_scala

Add the plain text to the webapp (#160)
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipelineWithContext.scala
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
  skema/text_reading/text_reading/webapp/conf/routes
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

Plain text entry point (#157)
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/PlainTextFileTextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipelineWithContext.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotatePlainTextFiles.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/ExtractAndExport.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/serializer/SkemaJSONSerializer.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/utils/AlignmentJsonUtils.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/utils/CommandLineArgumentParser.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/text_reading/serialization/TestConjDescrSerialization.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/text_reading/serialization/TestCrossSentenceSerialization.scala
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
  skema/text_reading/text_reading/webapp/conf/routes
  skema/text_reading/text_reading/webapp/public/schema/api-v1.yaml
Due: test_scala

fix an error
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

Use renamed embeddings resource
  skema/text_reading/text_reading/build.sbt
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/MiraEmbeddingsGrounder.scala
Due: test_scala

Use renamed embeddings resource (#162)
  skema/text_reading/text_reading/build.sbt
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/MiraEmbeddingsGrounder.scala
Due: test_scala

Move the docstrings inside the functions and reformat the Python code
  skema/isa/isa_service.py
  skema/isa/lib.py
Due: none

Fixed typo in README
  skema/isa/README.md
Due: none

ISA REST API v1 (#161)
  skema/isa/README.md
  skema/isa/isa_service.py
  skema/isa/lib.py
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components
