Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Fixes issue #835 (#836)
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/scala/webapp/conf/application.conf
Due: test_scala

Added the skeleton code to do the alignment
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/schema.py
Due: none

Bugfix
  skema/rest/integrated_text_reading_proxy.py
Due: none

Adding notation for vector bold and vector arrow for Ci
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
  skema/skema-rs/mathml/tests/continuity_eq.xml
  skema/skema-rs/mathml/tests/easyexample.json
  skema/skema-rs/mathml/tests/h2_scenario1_eq1.xml
  skema/skema-rs/mathml/tests/h2_scenario1_eq10.xml
  skema/skema-rs/mathml/tests/h2_scenario1_eq2.xml
  skema/skema-rs/mathml/tests/h2_scenario1_eq3.xml
  skema/skema-rs/mathml/tests/h2_scenario1_eq4.xml
  skema/skema-rs/mathml/tests/h2_scenario1_eq5.xml
  skema/skema-rs/mathml/tests/h2_scenario1_eq6.xml
  skema/skema-rs/mathml/tests/h2_scenario1_eq7.xml
  skema/skema-rs/mathml/tests/h2_scenario1_eq8.xml
  skema/skema-rs/mathml/tests/h2_scenario1_eq9.xml
  skema/skema-rs/mathml/tests/hydrostatic_3_6.json
  skema/skema-rs/mathml/tests/hydrostatic_3_6.xml
  skema/skema-rs/mathml/tests/model_descrip_3_1.json
  skema/skema-rs/mathml/tests/model_descrip_3_2.xml
  skema/skema-rs/mathml/tests/molecular_viscosity.xml
  skema/skema-rs/mathml/tests/test_c2p_mml/test1.xml
  skema/skema-rs/mathml/tests/test_c2p_mml/test2.xml
  skema/skema-rs/mathml/tests/test_c2p_mml/test3.xml
  skema/skema-rs/mathml/tests/test_c2p_mml/test4.xml
  skema/skema-rs/mathml/tests/test_c2p_mml/test5.xml
  skema/skema-rs/mathml/tests/test_c2p_mml/test6.xml
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

add the equation extraction service
  skema/rest/equation_extraction.py
  skema/rest/workflows.py
  skema/skema_py/server.py
Due: test_skema_py

Adding additional support for properly generating function default values
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

[Equations] Add the equation extraction service (#838)
  skema/rest/equation_extraction.py
  skema/rest/workflows.py
  skema/skema_py/server.py
Due: test_skema_py

Removing unneeded todos
  skema/program_analysis/CAST/fortran/variable_context.py
Due: test_program_analysis

Python tree-sitter to CAST Porting: Imports (#826)
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/tests/test_import_cast.py
Due: test_program_analysis

[fortran] Fix for function declarations in derived types (#834)
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/CAST/fortran/variable_context.py
Due: test_program_analysis

Added support for: - Generalized AMR linking. - Resolving AMR type automatically - Expanding the pdf annotation endpoint to link to an amr when provided one as input
  skema/metal/model_linker/examples/data/gamr.json
  skema/metal/model_linker/skema_model_linker/linkers/amr_linker.py
  skema/metal/model_linker/skema_model_linker/linkers/generalizer_amr_linker.py
  skema/metal/model_linker/skema_model_linker/walkers/__init__.py
  skema/metal/model_linker/skema_model_linker/walkers/generalized_amr.py
  skema/metal/model_linker/skema_model_linker/walkers/json.py
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/metal_proxy.py
  skema/rest/tests/data/metal/SIDARTHE_AMR_uuids.json
  skema/rest/tests/test_metal_proxy.py
Due: none

Enoriega/issue837 (#844)
  skema/metal/model_linker/examples/data/gamr.json
  skema/metal/model_linker/skema_model_linker/linkers/amr_linker.py
  skema/metal/model_linker/skema_model_linker/linkers/generalizer_amr_linker.py
  skema/metal/model_linker/skema_model_linker/walkers/__init__.py
  skema/metal/model_linker/skema_model_linker/walkers/generalized_amr.py
  skema/metal/model_linker/skema_model_linker/walkers/json.py
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/metal_proxy.py
  skema/rest/schema.py
  skema/rest/tests/data/metal/SIDARTHE_AMR_uuids.json
  skema/rest/tests/test_metal_proxy.py
Due: none

adding starting implementation for classes, started tests
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/tests/test_record_cast.py
Due: test_program_analysis

Explicit exp and log and ln operaotrs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Adding tests for module_locate
  pyproject.toml
  skema/program_analysis/module_locate.py
  skema/program_analysis/tests/test_module_locate.py
Due: test_program_analysis, test_skema_py, test_equation_reading

TEST
  skema/program_analysis/upload_test.py
Due: test_program_analysis

Pinning tree-sitter Python version
  pyproject.toml
  skema/program_analysis/upload_test.py
Due: test_program_analysis, test_skema_py, test_equation_reading

[CI] Pinning tree-sitter to 0.20.4 (#848)
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Finished tests, cleaned up
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/tests/test_record_cast.py
Due: test_program_analysis

Initial commit
  skema/program_analysis/CAST/python/ts2cast.py
Due: test_program_analysis

Fixed return value of a test
  skema/program_analysis/tests/test_function_cast.py
Due: test_program_analysis

Python tree-sitter to CAST porting: Classes (#850)
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/tests/test_function_cast.py
  skema/program_analysis/tests/test_record_cast.py
Due: test_program_analysis

work for generating schema's
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

fixed regnet bug
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

initial fixes for regnet edges
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

fixed some numbering issues for edges in regnet
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

Saving progress, added slicing implementation
  skema/program_analysis/CAST/python/node_helper.py
  skema/program_analysis/CAST/python/ts2cast.py
Due: test_program_analysis

Regnet Bug Fixes (#852)
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Added test
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/tests/test_list_proc_cast.py
Due: test_program_analysis

Adding tests for module_locate (#847)
  pyproject.toml
  skema/program_analysis/module_locate.py
  skema/program_analysis/tests/test_module_locate.py
Due: test_program_analysis, test_skema_py, test_equation_reading

wip
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Handles E.g. d/dt ln(dM)= 0
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Updating execution engine documentation
  skema/gromet/execution_engine/server.py
  skema/program_analysis/CAST/fortran/tests/test_tiegcm.py
Due: test_program_analysis

Updating response examples
  skema/gromet/execution_engine/server.py
Due: test_program_analysis

fixed default string for intitals mathml in PN
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

removed extra line
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

Fixed default string for intitals mathml in PN (#854)
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

Finished tests, getting ready for PR
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/tests/test_list_proc_cast.py
Due: test_program_analysis

Added support for optional annotation of AMR linking to `integrated-text-extractions`
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/schema.py
Due: none
