Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

# TODO - get Equation Reading pipeline working
#---
#kind: pipeline
#name: skema-er

#steps:
#- name: test_equation_reading
  #image: python:3.8-bullseye
  #commands:
  #- apt-get update
  #- apt-get -y install build-essential graphviz libgraphviz-dev
  #- pip install -e .[dev,img2mml]
  #- pip install pytest-cov
  #- curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  #- pytest --cov=skema skema/img2mml/tests
  #when:
    #paths:
    #- pyproject.toml
    #- .drone.yml
    #- skema/img2mml/**

Paremeterized the gromet explorer script
  skema/text_reading/mention_linking/gromet_explorer.py
Due: none

Added pack/unpack for assignment involving variables and literal numbers
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

hackathon scenario updates
  data/demo/11b--Gromet-FN-auto.json
  data/demo/11b--Gromet-FN-manual-dynamics.json
  data/demo/11c--Gromet-FN-auto.json
  data/demo/11c--Gromet-FN-manual-dynamics.json
  notebooks/demos/2022-12-08/SKEMA-TA2-UAZ.ipynb
  notebooks/hackathon/acsets.py
  notebooks/hackathon/hackathon.ipynb
  notebooks/hackathon/petris.py
  notebooks/hackathon/src/acsets.py
  notebooks/hackathon/src/petris.py
  notebooks/hackathon/src/test.py
  notebooks/hackathon/test.py
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

bandaid for demo
  data/demo/seir_model--Gromet-FN-auto.json
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Brought over swagger generation script, added import_method to function type gromet
  scripts/codegen_swagger_models.py
  skema/gromet/fn/function_type.py
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

another demo patch
  notebooks/hackathon/hackathon.ipynb
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Autoformatting using black -l 79, linting using ruff
  skema/text_reading/mention_linking/gromet_explorer.py
  skema/text_reading/mention_linking/gromet_linker/__init__.py
  skema/text_reading/mention_linking/gromet_linker/text_reading_linker.py
  skema/text_reading/mention_linking/gromet_linker/utils.py
  skema/text_reading/mention_linking/link_mentions.py
Due: none

Typo fix
  skema/text_reading/mention_linking/gromet_explorer.py
Due: none

re-adding import in init
  skema/text_reading/mention_linking/gromet_linker/__init__.py
Due: none

Mention linking entrypoint (#95)
  skema/text_reading/mention_linking/gromet_explorer.py
  skema/text_reading/mention_linking/gromet_linker/comment_aligner.py
  skema/text_reading/mention_linking/gromet_linker/text_reading_linker.py
  skema/text_reading/mention_linking/gromet_linker/utils.py
  skema/text_reading/mention_linking/link_mentions.py
Due: none

Created util function to convert single module to module fn collection
  skema/utils/module_to_fn_collection.py
Due: none

GroMEt module to GroMEtFNModuleCollection PR (#96)
  skema/utils/module_to_fn_collection.py
Due: none

Fixing support for text_description metadata
  skema/program_analysis/JSON2GroMEt/json2gromet.py
Due: test_program_analysis

Fixing whitespace
  skema/program_analysis/JSON2GroMEt/json2gromet.py
Due: test_program_analysis

smol pull fix
  skema/moviz/main.py
  skema/moviz/utils/create_viz.py
Due: none

Fixing deserialization support for text_description metadata type (#97)
  skema/program_analysis/JSON2GroMEt/json2gromet.py
Due: test_program_analysis

Bug fixes to gromet generated by mention linking
  skema/text_reading/mention_linking/gromet_linker/utils.py
  skema/text_reading/mention_linking/link_mentions.py
Due: none

Commented out WordBreakBySpacePreprocessor
  .gitignore
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
Due: test_scala

Commented out WordBreakBySpacePreprocessor (#99)
  .gitignore
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
Due: test_scala

py-ascet updates
  notebooks/hackathon/hackathon.ipynb
  notebooks/hackathon/petris.py
Due: none

Started fixed to grounding of mentions
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
Due: test_scala

Started fixed to grounding of mentions (#100)
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
Due: test_scala

added indexes for the b and bfs
  skema/moviz/main.py
  skema/moviz/utils/create_viz.py
  skema/moviz/utils/helper_functions.py
  skema/moviz/utils/init.py
Due: none

Bug fixes to gromet generated by mention linking (#98)
  skema/text_reading/mention_linking/gromet_linker/utils.py
  skema/text_reading/mention_linking/link_mentions.py
Due: none

Update processors version and move to artifactory.clulab.org (#82)
  skema/text_reading/text_reading/build.sbt
  skema/text_reading/text_reading/grounding/build.sbt
Due: test_scala

Doing more general fixes to records in GroMEt
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

added more labels
  skema/moviz/main.py
  skema/moviz/utils/create_viz.py
  skema/moviz/utils/helper_functions.py
  skema/moviz/utils/init.py
Due: none

fixed a bug in wiring
  skema/moviz/utils/helper_functions.py
Due: none

Autoformatting
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/lib.rs
Due: test_rust_components

more concise control flow with if let
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

update the hackthon demo
  notebooks/demos/2023-01-23/ISA_hackthon_demo_01.23.2023.ipynb
  notebooks/demos/2023-01-23/data/seir_core.png
  notebooks/demos/2023-01-23/data/seir_eq1.png
  notebooks/demos/2023-01-23/data/seir_eq1.xml
  notebooks/demos/2023-01-23/data/seir_eq1_missing.xml
  notebooks/demos/2023-01-23/data/seir_eq2.png
  notebooks/demos/2023-01-23/data/seir_eq2.xml
  notebooks/demos/2023-01-23/data/seir_eq3.png
  notebooks/demos/2023-01-23/data/seir_eq3.xml
  notebooks/demos/2023-01-23/data/seir_eq4.png
  notebooks/demos/2023-01-23/data/seir_eq4.xml
  notebooks/demos/2023-01-23/data/seirdv_core.png
  notebooks/demos/2023-01-23/data/seirdv_eq1.png
  notebooks/demos/2023-01-23/data/seirdv_eq1.xml
  notebooks/demos/2023-01-23/data/seirdv_eq2.png
  notebooks/demos/2023-01-23/data/seirdv_eq2.xml
  notebooks/demos/2023-01-23/data/seirdv_eq3.png
  notebooks/demos/2023-01-23/data/seirdv_eq3.xml
  notebooks/demos/2023-01-23/data/seirdv_eq4.png
  notebooks/demos/2023-01-23/data/seirdv_eq4.xml
  notebooks/demos/2023-01-23/data/seirdv_eq5.png
  notebooks/demos/2023-01-23/data/seirdv_eq5.xml
  notebooks/demos/2023-01-23/data/seirdv_eq6.png
  notebooks/demos/2023-01-23/data/seirdv_eq6.xml
  notebooks/demos/2023-01-23/data/seirdv_eq7.png
  notebooks/demos/2023-01-23/data/seirdv_eq7.xml
Due: none

TR Entry point crashes with multiple inputs Fixes #101
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotateCosmosJsonFiles.scala
Due: test_scala

move files and clean the expression.rs
  skema/skema-rs/comment_extraction/src/conventions/dssat.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/tests/seir_core.png
  skema/skema-rs/mathml/tests/seir_eq1.png
  skema/skema-rs/mathml/tests/seir_eq1.xml
  skema/skema-rs/mathml/tests/seir_eq1_missing.xml
  skema/skema-rs/mathml/tests/seir_eq2.png
  skema/skema-rs/mathml/tests/seir_eq2.xml
  skema/skema-rs/mathml/tests/seir_eq3.png
  skema/skema-rs/mathml/tests/seir_eq3.xml
  skema/skema-rs/mathml/tests/seir_eq4.png
  skema/skema-rs/mathml/tests/seir_eq4.xml
  skema/skema-rs/mathml/tests/seirdv_core.png
  skema/skema-rs/mathml/tests/seirdv_eq1.png
  skema/skema-rs/mathml/tests/seirdv_eq1.xml
  skema/skema-rs/mathml/tests/seirdv_eq2.png
  skema/skema-rs/mathml/tests/seirdv_eq2.xml
  skema/skema-rs/mathml/tests/seirdv_eq3.png
  skema/skema-rs/mathml/tests/seirdv_eq3.xml
  skema/skema-rs/mathml/tests/seirdv_eq4.png
  skema/skema-rs/mathml/tests/seirdv_eq4.xml
  skema/skema-rs/mathml/tests/seirdv_eq5.png
  skema/skema-rs/mathml/tests/seirdv_eq5.xml
  skema/skema-rs/mathml/tests/seirdv_eq6.png
  skema/skema-rs/mathml/tests/seirdv_eq6.xml
  skema/skema-rs/mathml/tests/seirdv_eq7.png
  skema/skema-rs/mathml/tests/seirdv_eq7.xml
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Support for passing directories as cli params
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotateCosmosJsonFiles.scala
Due: test_scala

Typo fix
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotateCosmosJsonFiles.scala
Due: test_scala

remove one redundant test
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

Removing .png images
  skema/skema-rs/mathml/tests/seir_core.png
  skema/skema-rs/mathml/tests/seir_eq1.png
  skema/skema-rs/mathml/tests/seir_eq2.png
  skema/skema-rs/mathml/tests/seir_eq3.png
  skema/skema-rs/mathml/tests/seir_eq4.png
  skema/skema-rs/mathml/tests/seirdv_core.png
  skema/skema-rs/mathml/tests/seirdv_eq1.png
  skema/skema-rs/mathml/tests/seirdv_eq2.png
  skema/skema-rs/mathml/tests/seirdv_eq3.png
  skema/skema-rs/mathml/tests/seirdv_eq4.png
  skema/skema-rs/mathml/tests/seirdv_eq5.png
  skema/skema-rs/mathml/tests/seirdv_eq6.png
  skema/skema-rs/mathml/tests/seirdv_eq7.png
Due: test_rust_components

enoriega/issue101 (#102)
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotateCosmosJsonFiles.scala
Due: test_scala

Removing mathml demo notebook
  notebooks/demos/2023-01-23/ISA_hackthon_demo_01.23.2023.ipynb
  notebooks/demos/2023-01-23/data/seir_core.png
  notebooks/demos/2023-01-23/data/seir_eq1.xml
  notebooks/demos/2023-01-23/data/seir_eq1_missing.xml
  notebooks/demos/2023-01-23/data/seir_eq2.xml
  notebooks/demos/2023-01-23/data/seir_eq3.xml
  notebooks/demos/2023-01-23/data/seir_eq4.xml
  notebooks/demos/2023-01-23/data/seirdv_core.png
  notebooks/demos/2023-01-23/data/seirdv_eq1.xml
  notebooks/demos/2023-01-23/data/seirdv_eq2.xml
  notebooks/demos/2023-01-23/data/seirdv_eq3.xml
  notebooks/demos/2023-01-23/data/seirdv_eq4.xml
  notebooks/demos/2023-01-23/data/seirdv_eq5.xml
  notebooks/demos/2023-01-23/data/seirdv_eq6.xml
  notebooks/demos/2023-01-23/data/seirdv_eq7.xml
Due: none
