Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Adding in progress changes for GOTO/Label in GroMEt generation
  skema/gromet/fn/__init__.py
  skema/gromet/fn/function_type.py
  skema/gromet/fn/gromet_box.py
  skema/gromet/fn/gromet_box_conditional.py
  skema/gromet/fn/gromet_box_function.py
  skema/gromet/fn/gromet_box_loop.py
  skema/gromet/fn/gromet_fn.py
  skema/gromet/fn/gromet_fn_module.py
  skema/gromet/fn/gromet_fn_module_collection.py
  skema/gromet/fn/gromet_object.py
  skema/gromet/fn/gromet_port.py
  skema/gromet/fn/gromet_wire.py
  skema/gromet/fn/import_source_type.py
  skema/gromet/fn/import_type.py
  skema/gromet/fn/literal_value.py
  skema/gromet/fn/typed_value.py
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/CAST/python/util.py
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
  skema/program_analysis/CAST2FN/ann_cast/annotated_cast.py
  skema/program_analysis/CAST2FN/ann_cast/cast_to_annotated_cast.py
  skema/program_analysis/CAST2FN/ann_cast/container_scope_pass.py
  skema/program_analysis/CAST2FN/ann_cast/grfn_assignment_pass.py
  skema/program_analysis/CAST2FN/ann_cast/grfn_var_creation_pass.py
  skema/program_analysis/CAST2FN/ann_cast/id_collapse_pass.py
  skema/program_analysis/CAST2FN/ann_cast/lambda_expression_pass.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/CAST2FN/ann_cast/variable_version_pass.py
  skema/program_analysis/CAST2FN/visitors/cast_to_agraph_visitor.py
Due: test_program_analysis

Converting matlab from LiteralValue to CASTLiteralValue
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Removing print statements
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

[code2fn] Additional validation for code2fn endpoints (#758)
  skema/rest/llm_proxy.py
  skema/rest/workflows.py
  skema/skema_py/server.py
  skema/skema_py/tests/test_server.py
Due: test_skema_py

Adding basic goto and label test, cleaning up
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/fortran2cast.py
  skema/program_analysis/tests/test_expressions.py
Due: test_program_analysis

Added the prompt scenario context extractor
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/attachments/AutomatesAttachment.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/ContextEngine.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/openai/ContextEngine.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/openai/PromptScenarioContext.scala
Due: test_scala

Updates to code frontends
  skema/program_analysis/easy_multi_file_ingester.py
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Removing debug statement
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Updating matlab to support newest CAST version
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Switching to CASTLiteralValue
  skema/program_analysis/tests/test_conditional_cast.py
  skema/program_analysis/tests/test_expression_cast.py
  skema/program_analysis/tests/test_for_cast.py
  skema/program_analysis/tests/test_function_cast.py
  skema/program_analysis/tests/test_identifier.py
  skema/program_analysis/tests/test_operation_cast.py
  skema/program_analysis/tests/test_while_cast.py
Due: test_program_analysis

Fixing values for gromet_object_count
  skema/skema_py/tests/test_server.py
Due: test_skema_py

Added test utilities
  skema/program_analysis/tests/utils_test.py
Due: test_program_analysis

Fixed a missing wire bug, cleaned up test
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_goto_basic.py
Due: test_program_analysis

Added support for gotos that appear before labels, fixed gromet version
  skema/gromet/__init__.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Reverted bucky coverage loss change, added final tests
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_goto_basic.py
Due: test_program_analysis

Attempting to fix CI
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_goto_basic.py
Due: test_program_analysis

Decreasing Bucky model coverage by 30 lines to support CI
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_goto_basic.py
  skema/program_analysis/tests/test_model_coverage.py
Due: test_program_analysis

Fixing bug where 2to3 could return non-zero exit code
  skema/program_analysis/python_preprocessor.py
Due: test_program_analysis

Reverting Bucky to full coverage
  skema/program_analysis/tests/test_model_coverage.py
Due: test_program_analysis

add the eqn2decapodes workflow
  skema/rest/schema.py
  skema/rest/workflows.py
Due: none

update the eqn2decapodes workflow example
  skema/rest/workflows.py
Due: none

Reverting previous object count changes
  skema/skema_py/tests/test_server.py
Due: test_skema_py

wip
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Add test for latex to decapodes
  skema/rest/tests/test_latex_to_decapodes.py
Due: none

format test_latex_to_decapodes.py
  skema/rest/tests/test_latex_to_decapodes.py
Due: none

Vraymond/bucky fix (#776)
  skema/program_analysis/python_preprocessor.py
  skema/program_analysis/tests/test_model_coverage.py
  skema/skema_py/tests/test_server.py
Due: test_program_analysis, test_skema_py

Initial support for COMPUTED GO TO
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

Fixing CASTLiteralValue string representation
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

added test for regnet from equations
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Due: none

payload bug on test
  skema/rest/tests/test_model_to_amr.py
Due: none

fixed import
  skema/rest/tests/test_model_to_amr.py
Due: none

experimental changes to figure out issues with CISM files
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
Due: test_program_analysis

Fixed dependencies issue with unit test libary
  skema/text_reading/scala/build.sbt
  skema/text_reading/scala/src/main/resources/application.conf
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/openai/PromptScenarioContext.scala
Due: test_scala

Fixed dependencies issue with unit test library
  skema/text_reading/scala/build.sbt
Due: test_scala

Initial commit for treesitter lambda
  skema/program_analysis/CAST/python/ts2cast.py
Due: test_program_analysis

In progress changes for computed GOTOs
  skema/program_analysis/CAST2FN/ann_cast/cast_to_annotated_cast.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Adding missing wires, fixing cast to agraph visitor
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/CAST2FN/visitors/cast_to_agraph_visitor.py
Due: test_program_analysis

Handles Msubsup Integrals
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

fixed the LHS for model2MET function
  skema/isa/lib.py
  skema/rest/workflows.py
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components
