Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

upating
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

upating
  skema/img2mml/preprocessing/preprocess.py
Due: test_equation_reading

Cleaned up code and tests
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/tests/test_expression_cast.py
  skema/program_analysis/tests/test_for_cast.py
  skema/program_analysis/tests/test_while_cast.py
Due: test_program_analysis

[fortran] CISM coverage updates (#739)
  .github/workflows/tests-and-docs.yml
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/CAST/pythonAST/modules_list.py
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
Due: test_program_analysis

Cleaned up missing identifier fix
  skema/program_analysis/CAST/python/node_helper.py
Due: test_program_analysis

Added unit test for identifier existence, cleanup
  skema/program_analysis/tests/test_for_cast.py
  skema/program_analysis/tests/test_identifier.py
  skema/program_analysis/tests/test_while_cast.py
Due: test_program_analysis

Reuse client for async calls
  pyproject.toml
  skema/isa/isa_service.py
  skema/rest/api.py
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/llm_proxy.py
  skema/rest/morae_proxy.py
  skema/rest/utils.py
  skema/rest/workflows.py
  skema/skema_py/server.py
Due: test_program_analysis, test_skema_py, test_equation_reading

LLM proxy should make internal call to async fn
  skema/rest/llm_proxy.py
  skema/skema_py/server.py
Due: test_skema_py

Changes for tests
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Due: none

fail more gracefully for no dynamics
  skema/rest/llm_proxy.py
  skema/rest/workflows.py
Due: none

Added pytest-asyncio dev dep
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

test async defs
  skema/rest/tests/test_model_to_amr.py
Due: none

Replace deprecated method
  skema/skema_py/server.py
Due: test_skema_py

fixed case for some files with imports and some not
  skema/rest/workflows.py
Due: none

logging for debug
  skema/rest/workflows.py
Due: none

Compatibility changes and default timemout
  skema/isa/isa_service.py
  skema/rest/api.py
  skema/rest/utils.py
  skema/rest/workflows.py
Due: none

wip
  skema/rest/workflows.py
Due: none

Added missing file
  skema/rest/config.py
Due: none

data -> json
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Due: none

Increase timeout
  skema/rest/config.py
  skema/rest/workflows.py
Due: none

Avoid use of deprecated method
  skema/program_analysis/comment_extractor/comment_extractor.py
  skema/program_analysis/comment_extractor/server.py
  skema/program_analysis/comment_extractor/tests/test_comment_server.py
Due: test_program_analysis

Use async test
  skema/rest/tests/test_eqn_to_latex.py
Due: none

Fix for img -> latex test
  skema/rest/tests/test_eqn_to_latex.py
  skema/rest/workflows.py
Due: none

Parser handles vector identity notation.
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Handles gradient subscript e.g. ∇_{h}
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Adding preprocessing step to python2cast
  skema/program_analysis/python2cast.py
Due: test_program_analysis

Adding Python preprocessor
  skema/program_analysis/python_preprocessor.py
Due: test_program_analysis

Parser handles e.g. ... in the equation E.g. Q_i(s_{i-1}, T_{i-1}, ... )
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Content mathml for Operations:Absolute, Gradient, Divergence, Sin, Cos
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Removed the GroMEt validation test temporarily
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Python tree-sitter to CAST porting: Loops (#745)
  skema/program_analysis/CAST/python/node_helper.py
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/CAST2FN/visitors/cast_to_agraph_visitor.py
  skema/program_analysis/tests/test_expression_cast.py
  skema/program_analysis/tests/test_for_cast.py
  skema/program_analysis/tests/test_identifier.py
  skema/program_analysis/tests/test_while_cast.py
Due: test_program_analysis

no longer calling a workflow endpoint in a workflow endpoint
  skema/rest/workflows.py
Due: none

Parsers to handle additional mathematical expressions (#751)
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Updating CAST to 1.2.6
  skema/program_analysis/CAST2FN/model/cast/__init__.py
  skema/program_analysis/CAST2FN/model/cast/assignment.py
  skema/program_analysis/CAST2FN/model/cast/attribute.py
  skema/program_analysis/CAST2FN/model/cast/call.py
  skema/program_analysis/CAST2FN/model/cast/cast_literal_value.py
  skema/program_analysis/CAST2FN/model/cast/function_def.py
  skema/program_analysis/CAST2FN/model/cast/goto.py
  skema/program_analysis/CAST2FN/model/cast/label.py
  skema/program_analysis/CAST2FN/model/cast/loop.py
  skema/program_analysis/CAST2FN/model/cast/model_break.py
  skema/program_analysis/CAST2FN/model/cast/model_continue.py
  skema/program_analysis/CAST2FN/model/cast/model_if.py
  skema/program_analysis/CAST2FN/model/cast/model_import.py
  skema/program_analysis/CAST2FN/model/cast/model_return.py
  skema/program_analysis/CAST2FN/model/cast/module.py
  skema/program_analysis/CAST2FN/model/cast/name.py
  skema/program_analysis/CAST2FN/model/cast/operator.py
  skema/program_analysis/CAST2FN/model/cast/record_def.py
  skema/program_analysis/CAST2FN/model/cast/scalar_type.py
  skema/program_analysis/CAST2FN/model/cast/source_code_data_type.py
  skema/program_analysis/CAST2FN/model/cast/source_ref.py
  skema/program_analysis/CAST2FN/model/cast/structure_type.py
  skema/program_analysis/CAST2FN/model/cast/value_constructor.py
  skema/program_analysis/CAST2FN/model/cast/var.py
  skema/program_analysis/CAST2FN/model/cast/var_type.py
Due: test_program_analysis

operator
  skema/skema-rs/mathml/src/ast/operator.rs
Due: test_rust_components

Fixing CAST references
  skema/program_analysis/CAST2FN/cast.py
Due: test_program_analysis

Fixing LiteralValue reference
  skema/program_analysis/CAST/fortran/util.py
Due: test_program_analysis

Initial support for Goto and Label in CAST
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

CAST to GroMEt bugfix (#734)
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/utils.py
  skema/program_analysis/CAST2FN/visitors/cast_to_agraph_visitor.py
Due: test_program_analysis
