Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

[Equations] Handles Sidharthe derivative (#730)
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Jastier/loops (#676)
  skema/program_analysis/CAST/matlab/__init__.py
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/__init__.py
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_file_ingest.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
  skema/program_analysis/CAST/matlab/tests/utils.py
  skema/program_analysis/CAST/matlab/tokens.py
  skema/program_analysis/CAST/matlab/variable_context.py
Due: test_program_analysis

add more examples and support mover
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

fixed some formatting
  skema/gromet/fn/gromet_fn_module.py
  skema/program_analysis/gromet_wire_diagnosis.py
Due: test_program_analysis

Fixing empty body bug
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
Due: test_program_analysis

cleanup
  skema/program_analysis/gromet_wire_diagnosis.py
Due: test_program_analysis

Fixed capitalization with literal value types
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added a validation step to catch GroMEt issues
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Added support for a Character scalar type
  skema/program_analysis/CAST2FN/visitors/cast_to_agraph_visitor.py
Due: test_program_analysis

in progress changes for ts loops
  skema/program_analysis/CAST/python/ts2cast.py
Due: test_program_analysis

Fixed relative import
  skema/program_analysis/gromet_wire_diagnosis.py
Due: test_program_analysis

Parser handles and
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

work in progress for summation as operator for parsing
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

work in progress for summation
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Added validation tests
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

add the ISA service to the SKEMA server
  skema/isa/isa_service.py
  skema/isa/lib.py
  skema/rest/api.py
Due: none

add the ISA test
  skema/rest/tests/test_isa.py
Due: none

update the ISA test name
  skema/rest/tests/test_isa.py
Due: none

in progress changes for/while loops
  skema/program_analysis/CAST/python/node_helper.py
  skema/program_analysis/CAST/python/ts2cast.py
Due: test_program_analysis

Adding one last note before PR
  docs/dev/cast_frontend.md
Due: none

add the healthcheck into the ISA service
  skema/isa/isa_service.py
Due: none

[ISA] Add the ISA service and reorganize the code implementation (#735)
  skema/isa/isa_service.py
  skema/isa/lib.py
  skema/rest/api.py
  skema/rest/tests/test_isa.py
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

added model_to_MET function
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Initial Adapter for scala-grounders
  skema/text_reading/scala/build.sbt
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/scala_grounders/Adapter.scala
Due: test_scala

Added unit test for wiring diagnosis
  skema/program_analysis/gromet_wire_diagnosis.py
  skema/program_analysis/tests/test_wiring_diagnosis.py
Due: test_program_analysis

Updating gcc invocation
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
Due: test_program_analysis

Removing debug lines
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

Further updates and bug fixes
  .github/workflows/tests-and-docs.yml
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/CAST/pythonAST/modules_list.py
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
Due: test_program_analysis

Removing commented code
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

Handles dot product and cross product
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

updating
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/configs/xfmer_latex_config.json
  skema/img2mml/configs/xfmer_mml_config.json
  skema/img2mml/requirements.txt
  skema/img2mml/training.py
Due: test_equation_reading

Skema Docs CAST Development Notes (#736)
  docs/dev/cast_frontend.md
  mkdocs.yml
Due: none

updating
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

Gromet Wiring Detector PR (#732)
  skema/gromet/fn/gromet_fn_module.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/JSON2GroMEt/json2gromet.py
  skema/program_analysis/gromet_wire_diagnosis.py
  skema/program_analysis/tests/test_wiring_diagnosis.py
Due: test_program_analysis

updating
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/preprocessing/preprocess.py
Due: test_equation_reading

upating
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading
