Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

# TODO - get Equation Reading pipeline working
#---
#kind: pipeline
#name: skema-er

#steps:
#- name: test_equation_reading
  #image: python:3.8-bullseye
  #commands:
  #- apt-get update
  #- apt-get -y install build-essential graphviz libgraphviz-dev
  #- pip install -e .[dev,img2mml]
  #- pip install pytest-cov
  #- curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  #- pytest --cov=skema skema/img2mml/tests
  #when:
    #paths:
    #- pyproject.toml
    #- .drone.yml
    #- skema/img2mml/**

update preprocess_images.py to support multiple datasets
  skema/img2mml/preprocessing/preprocess_images.py
Due: none

reformat
  skema/img2mml/preprocessing/preprocess_images.py
Due: none

rename the latex file
  skema/img2mml/create_dataset.py
Due: none

add the default config
  skema/img2mml/preprocessing/preprocess_images.py
Due: none

update
  skema/img2mml/configs/xfmer_latex_config.json
Due: none

update
  skema/img2mml/configs/xfmer_latex_config.json
  skema/img2mml/configs/xfmer_mml_config.json
Due: none

update
  skema/img2mml/configs/xfmer_mml_config.json
Due: none

update
  skema/img2mml/README.md
Due: none

update preprocess_mml.py to support the boldface extraction
  skema/img2mml/preprocessing/preprocess_mml.py
Due: none

update training.py
  skema/img2mml/training.py
Due: none

updated endpoint to handle new PN rep
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

update training.py and preprocess.py to support boldface training
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/training.py
Due: none

update the evaluation codes to support multiple dataset training
  skema/img2mml/src/test.py
  skema/img2mml/training.py
  skema/img2mml/utils/bleu_score.py
  skema/img2mml/utils/edit_distance.py
  skema/img2mml/utils/plot_loss.py
Due: none

debug
  skema/img2mml/preprocessing/preprocess_mml.py
Due: none

updated line span function
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

small bit of cleaning
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

bug fix for uid support
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/mml2pn.rs
Due: test_rust_components

Replacing conversion function with From trait implementation
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

fixed json schema for modelrep
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

changed converter to impl
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Changes to acset.rs to comply more with the schema and not be too specific, adding some more comments
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

updates to skema service. known bug in swagger docs due to multiple different instances of Grounding schema being pulled in
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

remove table attributes
  skema/img2mml/preprocessing/preprocess_mml.py
Due: none

update
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/preprocessing/preprocess_mml.py
  skema/img2mml/sampling_dataset/sampling_config.json
Due: none

update
  skema/img2mml/sampling_dataset/sampling_config.json
Due: none

fix extract_inbetween_tokens
  skema/img2mml/preprocessing/preprocess_mml.py
Due: none

Added a fix to skip empty cosmos files instead of crashing
  skema/text_reading/text_reading/cosmos_integration.py
Due: test_scala

Added a fix to skip empty cosmos files instead of crashing (#189)
  skema/text_reading/text_reading/cosmos_integration.py
Due: test_scala

fix mtext and mstyle issues
  skema/img2mml/preprocessing/preprocess_mml.py
Due: none

fix mtext non-breaking space issue
  skema/img2mml/preprocessing/preprocess_mml.py
Due: none

fix remove_hexComments bug when dealing with unicode with comments
  skema/img2mml/preprocessing/preprocess_mml.py
Due: none
