Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

update
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

update
  skema/img2mml/models/image2mml_xfmer.py
Due: test_equation_reading

work in progress
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

update
  skema/img2mml/models/encoders/resnet_encoder.py
Due: test_equation_reading

add the functions to handle the TR mention extraction
  skema/isa/lib.py
Due: none

Added support to process SKEMA web service output files out of the box
  skema/metal/model_linker/skema_model_linker/link_amr.py
Due: none

Improved the petrinet linker to be aware of non-human readable ids
  skema/metal/model_linker/examples/data/SIDARTHE_AMR_uuids.json
  skema/metal/model_linker/skema_model_linker/linkers/petrinet.py
Due: none

wip of debugging unpacking for AMR
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

Removed the json file
  skema/metal/model_linker/examples/data/SIDARTHE_AMR_uuids.json
Due: none

expend ISA to support the seed selection based on the variable definitions
  skema/isa/isa_service.py
  skema/isa/lib.py
Due: none

Incorporated the balaur processor
  skema/text_reading/scala/build.sbt
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/apps/Pdf2TxtApp.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/ManualGrounder.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/MiraEmbeddingsGrounder.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/CosmosOrderer.scala
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/grounding/HyperParameterSearch.scala
  skema/text_reading/scala/webapp/app/controllers/HomeController.scala
Due: test_scala

[TextReading] Improves `link_amr` for petrinets to be aware of ids (#565)
  skema/metal/model_linker/skema_model_linker/link_amr.py
  skema/metal/model_linker/skema_model_linker/linkers/petrinet.py
Due: none

update
  skema/img2mml/optuna_training.py
Due: test_equation_reading

update
  skema/img2mml/preprocessing/preprocess.py
Due: test_equation_reading

update
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/optuna_training.py
Due: test_equation_reading
