Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

updating
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

update
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

Initial test for execution_engine
  pyproject.toml
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/tests/test_execution.py
Due: test_program_analysis, test_skema_py, test_equation_reading

Updating memgraph host name
  skema/gromet/execution_engine/tests/test_execution.py
Due: test_program_analysis

Fixing pytest paths
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Adding reset_state query
  skema/gromet/execution_engine/queries.yaml
Due: test_program_analysis

Testing localhost
  skema/gromet/execution_engine/tests/test_execution.py
Due: test_program_analysis

Parser cache bugfix (#550)
  skema/program_analysis/CAST/matlab/cast_out.py
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/data/multi_line_assignment.m
  skema/program_analysis/CAST/matlab/tests/data/single_line_assignment.m
  skema/program_analysis/CAST/matlab/tree_builder.py
  skema/program_analysis/CAST/matlab/tree_out.py
  skema/program_analysis/CAST/matlab/util.py
Due: test_program_analysis

Debug messages
  skema/gromet/execution_engine/query_runner.py
Due: test_program_analysis

More debug
  skema/gromet/execution_engine/execution_engine.py
Due: test_program_analysis

More debug
  skema/gromet/execution_engine/query_runner.py
Due: test_program_analysis

More debug
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/query_runner.py
Due: test_program_analysis

added linking to gt annotations from pdfs
  skema/metal/model_linker/examples/data/sidarthe_amr.json
  skema/metal/model_linker/examples/data/sidarthe_annotations.json
  skema/metal/model_linker/skema_model_linker/link_amr.py
  skema/metal/model_linker/skema_model_linker/linkers/amr_linker.py
Due: none

Fixing bug caused by node_id being 0 leading to a failing if conditional
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/query_runner.py
Due: test_program_analysis

updating wadb code
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/src/train.py
  skema/img2mml/wnadb_tuning.py
Due: test_equation_reading

renaming
  skema/img2mml/wandb_tuning.py
Due: test_equation_reading

updating wandb_tuning.py
  skema/img2mml/wandb_tuning.py
Due: test_equation_reading

updating
  skema/img2mml/wandb_tuning.py
Due: test_equation_reading

update
  skema/img2mml/wandb_tuning.py
Due: test_equation_reading

update
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/wandb_tuning.py
Due: test_equation_reading

updating
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/wandb_tuning.py
Due: test_equation_reading

fixed most (all?) cross attributal wiring bugs
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

updating
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/wandb_tuning.py
Due: test_equation_reading
