Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

Try again
  .github/workflows/tests-and-docs.yml
Due: none

Fixed ancient and annoying typo
  .github/workflows/tests-and-docs.yml
Due: none

Once again with feeling
  .github/workflows/tests-and-docs.yml
Due: none

Matrix and list handling bugfixes, improved testing (#656)
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/node_helper.py
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_command.py
  skema/program_analysis/CAST/matlab/tests/test_conditional.py
  skema/program_analysis/CAST/matlab/tests/test_function.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
  skema/program_analysis/CAST/matlab/tests/test_matrix.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
  skema/program_analysis/CAST/matlab/tests/utils.py
  skema/program_analysis/CAST/matlab/tokens.py
  skema/program_analysis/CAST/matlab/variable_context.py
Due: test_program_analysis

[Python] Function Keyword Argument and Function Call through Parameter PR (#644)
  skema/gromet/execution_engine/types/other.py
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_fun_arg_fun_call.py
  skema/program_analysis/tests/test_import_method.py
Due: test_program_analysis

Added a method for reading instruction blocks
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

simplified the if statement parsing
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Reordered function defs
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Unary operator is no longer a special case
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Removed an outdated local variable
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Use local skema-rs service in CI testing of Python (#668)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/tests-and-docs.yml
  skema/rest/tests/test_model_to_amr.py
Due: none

fix the right side of the second assertion in test_post_image_to_latex
  skema/rest/tests/test_eqn_to_latex.py
Due: none

More informative assertion errors
  skema/rest/tests/test_eqn_to_latex.py
  skema/rest/tests/test_model_to_amr.py
Due: none

Added CAST translation for the MATLAB function def
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_function.py
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Build then run
  .github/workflows/tests-and-docs.yml
Due: none

Moved a few more tokens into the done category
  skema/program_analysis/CAST/matlab/tokens.py
Due: test_program_analysis

This is why we require PR reviews : )
  .github/workflows/tests-and-docs.yml
Due: none

PUT -> POST
  skema/rest/workflows.py
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

see what local skema-rs service returns
  .github/workflows/tests-and-docs.yml
Due: none

WIP
  .github/workflows/tests-and-docs.yml
Due: none

annotated pytest marker
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

WIP (include protocol)
  .github/workflows/tests-and-docs.yml
  skema/rest/tests/test_eqn_to_latex.py
Due: none

Added a data logging feature
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Changed test to reflect actual response
  skema/rest/tests/test_eqn_to_latex.py
  skema/rest/workflows.py
Due: none

SKEMA_RS_ADDRESS not being picked up?
  .github/workflows/tests-and-docs.yml
Due: none

Changes related to Pydantic V2
  skema/rest/llm_proxy.py
  skema/skema_py/server.py
Due: test_skema_py

fix the incorrect output from img2latex
  skema/rest/tests/test_eqn_to_latex.py
  skema/rest/workflows.py
Due: none

Saving work
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/query_runner.py
Due: test_program_analysis

Sexp2latex (#664)
  .github/workflows/tests-and-docs.yml
  pyproject.toml
  skema/img2mml/translate.py
  skema/rest/llm_proxy.py
  skema/rest/tests/data/img2latex/halfar.png
  skema/rest/tests/test_eqn_to_latex.py
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/mathml.rs
  skema/skema_py/server.py
Due: test_rust_components, test_program_analysis, test_skema_py, test_equation_reading

Code cleanup
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

cargo fix
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Added better operator and call handlers
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added a comment
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
Due: test_program_analysis

Added a function test with an anonymous function argument
  skema/program_analysis/CAST/matlab/tests/test_function.py
Due: test_program_analysis

Removed redundant assignments in matrix and operator tests
  skema/program_analysis/CAST/matlab/tests/test_matrix.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
Due: test_program_analysis

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
