Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Added option to store the entire source code file as a string
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Fix a bug in retrieve model (#331)
  skema/img2mml/api.py
Due: test_equation_reading

initial support for parsing code expression to MathExpressionTree
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

Update README.md for eqn2mml
  skema/img2mml/README.md
Due: test_equation_reading

Changed the endpoint
  skema/rest/proxies.py
Due: none

update the readme for eqn2mml services, make the model path, the vocabulary path, and the configuration file path as environment variables
  skema/img2mml/README.md
  skema/img2mml/eqn2mml.py
Due: test_equation_reading

Changed the endpoint (#337)
  skema/rest/proxies.py
Due: none

Update README.md for eqn2mml (#336)
  skema/img2mml/README.md
  skema/img2mml/eqn2mml.py
Due: test_equation_reading

more work on fn2amr
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

bug fix for eq2amr
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

bug fix for eq2amr (#338)
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

small updates to fn2amr functionality
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

stub for mathml2amr exposure
  skema/rest/workflows.py
Due: none

first take at adding pmmltoamr endpoint exposure
  skema/rest/schema.py
  skema/rest/workflows.py
Due: none

just storing some progress while changing branches
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

training v8: remove the image resolution enhancement, increase the TED calculation threshold from 5 to 10, change the TED sensitive factor from 0.25 to 0.5, change the weight from 0.25 to 0.5
  skema/img2mml/preprocessing/preprocess_images.py
  skema/img2mml/src/train.py
Due: test_equation_reading

training v8: print the ce loss and the ted loss
  skema/img2mml/src/test.py
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: test_equation_reading

Added code snippets that illustrate the usage of the TR endpoint
  skema/rest/integrated_text_reading_proxy.py
Due: none

[TR] enoriega/tr endpoints doc (#341)
  skema/rest/integrated_text_reading_proxy.py
Due: none

Changed the default address for the inner MIT service
  skema/rest/proxies.py
Due: none

Expose mathml2amr endpoint (#342)
  skema/rest/schema.py
  skema/rest/workflows.py
Due: none

Point to MIT's service endpoint
  skema/rest/proxies.py
Due: none

WIP
  pyproject.toml
  skema/img2mml/schema.py
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/schema.py
Due: test_program_analysis, test_skema_py, test_equation_reading

Changed the default address for the inner MIT service (#343)
  skema/rest/proxies.py
Due: none

Added an extra parameter to the data card endpoint
  skema/rest/integrated_text_reading_proxy.py
Due: none

Added an extra parameter to the data card endpoint (#346)
  skema/rest/integrated_text_reading_proxy.py
Due: none

added hacked support for expression strings
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

updated the fn2amr to use mathexpressiontree
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Incorporating a functionaly in MathExpressionTree that returns ((α*ρ)*I)
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Hackathon fn2amr (#347)
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Updating fixes done over hackathon week
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/single_file_ingester.py
Due: test_program_analysis

Replacing model_validate with parse_obj
  skema/skema_py/server.py
Due: test_skema_py

Fixed the documentation issue
  skema/rest/integrated_text_reading_proxy.py
Due: none

Resolve dep conflicts
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

work in progress
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

[code2fn] - Pydantic model_validate fix (#350)
  skema/skema_py/server.py
Due: test_skema_py

Include example for TR
  skema/rest/schema.py
Due: none

Uncommented example
  skema/rest/schema.py
Due: none
