Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

work in progress
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

cargo clippy and fmt
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

removed print statement for debugging
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

Add the lib files
  skema/text_reading/scala/webapp/public/brat/client/lib/head.load.min.js
  skema/text_reading/scala/webapp/public/brat/client/lib/jquery-ui-1.8.16.custom.min.js
  skema/text_reading/scala/webapp/public/brat/client/lib/jquery-ui.combobox.js
  skema/text_reading/scala/webapp/public/brat/client/lib/jquery-ui.min.js
  skema/text_reading/scala/webapp/public/brat/client/lib/jquery.ba-bbq.min.js
  skema/text_reading/scala/webapp/public/brat/client/lib/jquery.json.min.js
  skema/text_reading/scala/webapp/public/brat/client/lib/jquery.min.js
  skema/text_reading/scala/webapp/public/brat/client/lib/jquery.svg.min.js
  skema/text_reading/scala/webapp/public/brat/client/lib/jquery.svgdom.min.js
  skema/text_reading/scala/webapp/public/brat/client/lib/sprintf.js
  skema/text_reading/scala/webapp/public/brat/client/lib/webfont.js
Due: test_scala

Remove unused FastNLPProcessor from OdinActions
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/OdinActions.scala
Due: test_scala

Reuse another processor
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/GrounderFactory.scala
  skema/text_reading/scala/webapp/app/controllers/HomeController.scala
Due: test_scala

Tree cleanup
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Moving commits from vraymond/parser_updates
  skema/program_analysis/comment_extractor/comment_extractor.py
  skema/program_analysis/comment_extractor/model.py
  skema/program_analysis/comment_extractor/server.py
  skema/program_analysis/fn_unifier.py
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
  skema/program_analysis/tree_sitter_parsers/languages.yaml
  skema/skema_py/server.py
Due: test_program_analysis, test_skema_py

Replacing Rust comments_proxy with tree-sitter comment_service
  skema/rest/api.py
  skema/rest/comments_proxy.py
Due: none

Adding router to comment_extractor/server.py
  skema/program_analysis/comment_extractor/server.py
Due: test_program_analysis

removing outdated comments
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Removing missed references to Rust comment extractor
  skema/rest/workflows.py
Due: none

Fixing fn-supported-file-extensions
  skema/skema_py/server.py
Due: test_skema_py

updating
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

updating config
  skema/img2mml/configs/xfmer_latex_config.json
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

Fixing definition of CodeComments type
  skema/program_analysis/comment_extractor/model.py
  skema/skema_py/server.py
  skema/skema_py/tests/test_server.py
Due: test_program_analysis, test_skema_py

updating
  skema/img2mml/configs/xfmer_latex_config.json
Due: test_equation_reading

Removing print statement
  skema/program_analysis/comment_extractor/comment_extractor.py
Due: test_program_analysis

Updating endpoint summaries
  skema/program_analysis/comment_extractor/server.py
Due: test_program_analysis

Remove empty MATLAB grammar nodes from Tree
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added debug output
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

add the functionality to extract variable names from mathml for retrieving variable definitions
  skema/img2mml/translate.py
  skema/isa/lib.py
Due: test_equation_reading

[MORAE] Bugs and expanded coverage (#412)
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

fixed json indenting
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Deleted a test file
  skema/program_analysis/CAST/matlab/test_input.m
Due: test_program_analysis

CAST module from tree root
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Removed obsolete method
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added MATLAB version
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Removing Rust comment extraction service
  skema/skema-rs/Cargo.lock
  skema/skema-rs/Cargo.toml
  skema/skema-rs/README.md
  skema/skema-rs/comment_extraction/Cargo.toml
  skema/skema-rs/comment_extraction/README.md
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/comment_extraction/src/comments.rs
  skema/skema-rs/comment_extraction/src/conventions.rs
  skema/skema-rs/comment_extraction/src/conventions/dssat.rs
  skema/skema-rs/comment_extraction/src/extraction.rs
  skema/skema-rs/comment_extraction/src/languages.rs
  skema/skema-rs/comment_extraction/src/languages/cpp.rs
  skema/skema-rs/comment_extraction/src/languages/fortran.rs
  skema/skema-rs/comment_extraction/src/languages/python.rs
  skema/skema-rs/comment_extraction/src/lib.rs
  skema/skema-rs/comment_extraction/tests/data/CHIME_SIR.py
  skema/skema-rs/comment_extraction/tests/data/PET.for
  skema/skema-rs/comment_extraction/tests/data/chime_sir_output.json
  skema/skema-rs/comment_extraction/tests/data/comment_test.cpp
  skema/skema-rs/comment_extraction/tests/data/quote_test.c
  skema/skema-rs/comment_extraction/tests/data/test.c
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services.rs
  skema/skema-rs/skema/src/services/comment_extraction.rs
  skema/skema-rs/skema/tests/test_service.rs
Due: test_rust_components

Fixing skema_service.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
Due: test_rust_components

Compound conditional and TIE-GCM fixes
  skema/program_analysis/CAST/fortran/node_helper.py
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

Removing TODO
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

Turned off debug output
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Reduce reader footprint (#414)
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/OdinActions.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/PlainTextFileTextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipeline.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipelineWithContext.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/GrounderFactory.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/MiraEmbeddingsGrounder.scala
  skema/text_reading/scala/webapp/app/controllers/HomeController.scala
  skema/text_reading/scala/webapp/conf/routes
  skema/text_reading/scala/webapp/public/brat/client/lib/head.load.min.js
  skema/text_reading/scala/webapp/public/brat/client/lib/jquery-ui-1.8.16.custom.min.js
  skema/text_reading/scala/webapp/public/brat/client/lib/jquery-ui.combobox.js
  skema/text_reading/scala/webapp/public/brat/client/lib/jquery-ui.min.js
  skema/text_reading/scala/webapp/public/brat/client/lib/jquery.ba-bbq.min.js
  skema/text_reading/scala/webapp/public/brat/client/lib/jquery.json.min.js
  skema/text_reading/scala/webapp/public/brat/client/lib/jquery.min.js
  skema/text_reading/scala/webapp/public/brat/client/lib/jquery.svg.min.js
  skema/text_reading/scala/webapp/public/brat/client/lib/jquery.svgdom.min.js
  skema/text_reading/scala/webapp/public/brat/client/lib/sprintf.js
  skema/text_reading/scala/webapp/public/brat/client/lib/webfont.js
  skema/text_reading/scala/webapp/public/schema/api-v1.yaml
Due: test_scala

updating config
  skema/img2mml/configs/xfmer_latex_config.json
Due: test_equation_reading

updating
  skema/img2mml/configs/xfmer_latex_config.json
  skema/img2mml/training.py
Due: test_equation_reading

upddating
  skema/img2mml/configs/xfmer_latex_config.json
Due: test_equation_reading
