Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

Fixed unit test
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

Added support for optional annotation of AMR linking (#857)
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/schema.py
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

fixed error code bug
  skema/rest/workflows.py
Due: none

Python tree-sitter to CAST Porting: List Processing (#855)
  skema/program_analysis/CAST/python/node_helper.py
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/tests/test_list_proc_cast.py
Due: test_program_analysis

Fixed error code bug (#859)
  skema/rest/workflows.py
Due: none

Updated documentation of text reading endpoints
  skema/rest/integrated_text_reading_proxy.py
Due: none

Removed deprecated eval endpoint
  skema/rest/integrated_text_reading_proxy.py
Due: none

some work for bulk processesing fn's and exporting memgraph graphs
  skema/skema-rs/query_csv_bulk_export.sh
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

Updating docs for comment extractor
  skema/program_analysis/comment_extractor/server.py
Due: test_program_analysis

Updating documentation for skema_py
  skema/skema_py/server.py
Due: test_skema_py

Adding new doc
  docs/dev/adding_dependency_generation.md
  mkdocs.yml
Due: none

Added a fix, needs some double checking
  skema/program_analysis/CAST2FN/ann_cast/variable_version_pass.py
Due: test_program_analysis

First try at installing tree sitter over pyast
  skema/program_analysis/python2cast.py
Due: test_program_analysis

fixes
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

fixed * parse error
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Due: test_rust_components

Fix * parse error (#866)
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Due: test_rust_components

wip on CI test passing
  skema/rest/tests/test_eqns_to_mets.py
Due: none

removed extra files
  skema/skema-rs/mathml/src/serialize_tmp.rs
  skema/skema-rs/mathml/tests/continuity_eq.xml
  skema/skema-rs/mathml/tests/easyexample.json
  skema/skema-rs/mathml/tests/h2_scenario1_eq1.xml
  skema/skema-rs/mathml/tests/h2_scenario1_eq10.xml
  skema/skema-rs/mathml/tests/h2_scenario1_eq2.xml
  skema/skema-rs/mathml/tests/h2_scenario1_eq3.xml
  skema/skema-rs/mathml/tests/h2_scenario1_eq4.xml
  skema/skema-rs/mathml/tests/h2_scenario1_eq5.xml
  skema/skema-rs/mathml/tests/h2_scenario1_eq6.xml
  skema/skema-rs/mathml/tests/h2_scenario1_eq7.xml
  skema/skema-rs/mathml/tests/h2_scenario1_eq8.xml
  skema/skema-rs/mathml/tests/h2_scenario1_eq9.xml
  skema/skema-rs/mathml/tests/hydrostatic_3_6.json
  skema/skema-rs/mathml/tests/hydrostatic_3_6.xml
  skema/skema-rs/mathml/tests/model_descrip_3_1.json
  skema/skema-rs/mathml/tests/model_descrip_3_2.xml
  skema/skema-rs/mathml/tests/molecular_viscosity.xml
  skema/skema-rs/mathml/tests/test_c2p_mml/test1.xml
  skema/skema-rs/mathml/tests/test_c2p_mml/test2.xml
  skema/skema-rs/mathml/tests/test_c2p_mml/test3.xml
  skema/skema-rs/mathml/tests/test_c2p_mml/test4.xml
  skema/skema-rs/mathml/tests/test_c2p_mml/test5.xml
  skema/skema-rs/mathml/tests/test_c2p_mml/test6.xml
Due: test_rust_components

Reverting a change
  skema/program_analysis/CAST2FN/ann_cast/variable_version_pass.py
Due: test_program_analysis

Fixing function body bug
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

content identifiers for Msubsup and Msub
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

additional test
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Additional parsers that can parse MathML to output MathExpressionTree and Latex (#865)
  skema/rest/tests/test_eqns_to_mets.py
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

print statements
  skema/rest/workflows.py
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

fragile fix for infix expressions got PN
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

Adding tests
  skema/program_analysis/tests/test_fun_default.py
Due: test_program_analysis

Bugfix
  skema/rest/integrated_text_reading_proxy.py
Due: none

Enoriega/849 (#864)
  skema/rest/integrated_text_reading_proxy.py
Due: none

Bugfix for linking petrinets
  skema/metal/model_linker/skema_model_linker/linkers/petrinet.py
Due: none

Bugfix for linking petrinets (#870)
  skema/metal/model_linker/skema_model_linker/linkers/petrinet.py
Due: none

initial fix for deep terms bug
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

better infix fix
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

cleaner params
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

cleaned some print statements
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

cleaner params for regnet and gamr
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

Corrected default argument support so they wire up appropriately, updated tests
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_fun_default.py
Due: test_program_analysis

Full Infix Notation Fix and Multiplication Tree Depth Bugfix (#872)
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Adding additional tests to Fortran frontend
  skema/program_analysis/CAST/fortran/tests/test_conditional_cast_fortran.py
  skema/program_analysis/CAST/fortran/tests/test_expression_cast_fortran.py
  skema/program_analysis/CAST/fortran/tests/test_for_cast_fortran.py
  skema/program_analysis/CAST/fortran/tests/test_identifier_cast_fortran.py
  skema/program_analysis/CAST/fortran/tests/test_operation_cast_fortran.py
  skema/program_analysis/CAST/fortran/tests/test_while_cast_fortran.py
Due: test_program_analysis

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
