Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

Activate CI for this feature branch
  .github/workflows/tests-and-docs.yml
Due: none

[execution_engine] Initial support for parameter extraction and Gromet execution (#521)
  pyproject.toml
  skema/gromet/execution_engine/execute.py
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/queries.yaml
  skema/gromet/execution_engine/query_runner.py
  skema/gromet/execution_engine/symbol_table.py
  skema/program_analysis/CAST/fortran/tests/test_tiegcm.py
Due: test_program_analysis, test_skema_py, test_equation_reading

work in progress
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

updating
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/models/encoders/resnet_encoder.py
  skema/img2mml/models/encoders/resnet_encoder_new.py
  skema/img2mml/models/image2mml_xfmer.py
  skema/img2mml/optuna_training.py
Due: test_equation_reading

updating
  skema/img2mml/models/image2mml_xfmer.py
Due: test_equation_reading

updating
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/preprocessing/preprocess.py
Due: test_equation_reading

Saving work
  skema/gromet/execution_engine/execution_engine.py
Due: test_program_analysis

updating
  skema/img2mml/models/encoders/resnet_encoder.py
Due: test_equation_reading

updating
  skema/img2mml/models/image2mml_xfmer.py
  skema/img2mml/training.py
Due: test_equation_reading

updating
  skema/img2mml/configs/resnet_xfmer_latex_config.json
Due: test_equation_reading

updating
  skema/img2mml/optuna_training.py
Due: test_equation_reading

updatig
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/models/encoders/resnet_encoder.py
  skema/img2mml/models/image2mml_xfmer.py
  skema/img2mml/optuna_training.py
Due: test_equation_reading

updating
  skema/img2mml/training.py
Due: test_equation_reading

updating
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

updating
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/models/image2mml_xfmer.py
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: test_equation_reading

updating
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/training.py
Due: test_equation_reading

udating
  skema/img2mml/training.py
Due: test_equation_reading

updating scheduler
  skema/img2mml/training.py
Due: test_equation_reading

Working example of one dimenstional EBM and handles gradient and dot operators
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

added uuid's to states, parameters, and transitions
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

updating
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/training.py
Due: test_equation_reading

adding print lr
  skema/img2mml/training.py
Due: test_equation_reading

update
  skema/img2mml/training.py
Due: test_equation_reading

Work in progress refactor and bugfix for code2amr (#536)
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

wip
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/ast/operator.rs
Due: test_rust_components

wip
  skema/skema-rs/Cargo.lock
Due: test_rust_components

work in progress
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Make TR docker build its own workflow
  .github/workflows/docker.yml
  .github/workflows/text-reading-docker.yml
  docs/changes.md
Due: none

Bump versions
  .github/workflows/text-reading-docker.yml
Due: none

[CI] Make TR docker build its own workflow (#538)
  .github/workflows/docker.yml
  .github/workflows/text-reading-docker.yml
  docs/changes.md
Due: none

work in progress
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Update math_expression_tree.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Changed a test data file
  skema/program_analysis/CAST/matlab/tests/data/multi_line_assignment.m
Due: test_program_analysis

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
