Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

# TODO - get Equation Reading pipeline working
#---
#kind: pipeline
#name: skema-er

#steps:
#- name: test_equation_reading
  #image: python:3.8-bullseye
  #commands:
  #- apt-get update
  #- apt-get -y install build-essential graphviz libgraphviz-dev
  #- pip install -e .[dev,img2mml]
  #- pip install pytest-cov
  #- curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  #- pytest --cov=skema skema/img2mml/tests
  #when:
    #paths:
    #- pyproject.toml
    #- .drone.yml
    #- skema/img2mml/**

remove redundant texts
  skema/img2mml/preprocessing/preprocess_mml.py
Due: none

remove mphantom
  skema/img2mml/preprocessing/preprocess_mml.py
Due: none

Updating Gromet FN Python data-model to 0.1.7 (#236)
  skema/gromet/fn/function_type.py
  skema/gromet/fn/gromet_box.py
  skema/gromet/fn/gromet_box_conditional.py
  skema/gromet/fn/gromet_box_function.py
  skema/gromet/fn/gromet_box_loop.py
  skema/gromet/fn/gromet_fn.py
  skema/gromet/fn/gromet_fn_module.py
  skema/gromet/fn/gromet_fn_module_collection.py
  skema/gromet/fn/gromet_object.py
  skema/gromet/fn/gromet_port.py
  skema/gromet/fn/gromet_wire.py
  skema/gromet/fn/import_source_type.py
  skema/gromet/fn/import_type.py
  skema/gromet/fn/literal_value.py
  skema/gromet/fn/typed_value.py
Due: test_program_analysis

Ensure `latest` tag is always published
  .github/workflows/docker.yml
Due: none

Ensure `latest` tag is always published (#237)
  .github/workflows/docker.yml
Due: none

added endpoint for routing different mathml models
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Added notebooks files
  lumai_images.ipynb
  lumai_services.ipynb
  skema-py.ipynb
  skema-rs.ipynb
Due: none

added future test cases
  data/epidemiology/CHIME/CHIME_SIR_model/gromet/FN_0.1.6/CHIME_SIR_while_loop--Gromet-FN-auto.json
  data/epidemiology/CHIME/CHIME_core_model/code/sir_core.py
  data/epidemiology/CHIME/CHIME_core_model/gromet/FN_0.1.5/CHIME_SIR_core--Gromet-FN-auto.json
  data/epidemiology/CHIME/CHIME_core_model/gromet/FN_0.1.6/CHIME_SIR_core--Gromet-FN-auto.json
  data/epidemiology/SEIRD/Core_dynamics/code/test_dynamics.py
  data/epidemiology/SEIRD/Core_dynamics/gromet/FN_0.1.5/seir_model--Gromet-FN-auto.json
  data/epidemiology/SEIRD/Full/code/Hackathon Scenario 1.1.b - Code Version A.py
Due: none

add checking mathml syntax in training
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: none

Adding test files for closures and recursion
  skema/program_analysis/PyAST2CAST/py_ast_to_cast.py
  skema/program_analysis/tests/test_closures.py
  skema/program_analysis/tests/test_recursion.py
Due: test_program_analysis

mathjax server port assigned to 8031
  skema/img2mml/api.py
  skema/img2mml/data_generation/mathjax_server.js
Due: none

bug fix for names
  skema/skema-rs/skema/src/lib.rs
Due: test_rust_components

keep the unicode as a whole token
  skema/img2mml/preprocessing/preprocess_mml.py
Due: none

update ted loss
  skema/img2mml/src/train.py
Due: none

Initial version of the AMR to text extractions linking utility
  skema/text_reading/model_linker/examples/lotka_voltera_regnet.json
  skema/text_reading/model_linker/examples/sir_AMR.json
  skema/text_reading/model_linker/examples/ta1-bucky_extraction_v1.json
  skema/text_reading/model_linker/main.py
  skema/text_reading/model_linker/requirements.pip
Due: none

Updating Gromet Metadata specification to 0.1.7
  skema/gromet/metadata/bibjson.py
  skema/gromet/metadata/code_file_reference.py
  skema/gromet/metadata/comment_type.py
  skema/gromet/metadata/equation_definition.py
  skema/gromet/metadata/equation_extraction.py
  skema/gromet/metadata/equation_literal_value.py
  skema/gromet/metadata/gromet_creation.py
  skema/gromet/metadata/metadata.py
  skema/gromet/metadata/program_analysis_record_bookkeeping.py
  skema/gromet/metadata/provenance.py
  skema/gromet/metadata/source_code_bool_and.py
  skema/gromet/metadata/source_code_bool_or.py
  skema/gromet/metadata/source_code_collection.py
  skema/gromet/metadata/source_code_comment.py
  skema/gromet/metadata/source_code_data_type.py
  skema/gromet/metadata/source_code_loop_init.py
  skema/gromet/metadata/source_code_loop_update.py
  skema/gromet/metadata/source_code_port_default_val.py
  skema/gromet/metadata/source_code_port_keyword_arg.py
  skema/gromet/metadata/source_code_reference.py
  skema/gromet/metadata/text_description.py
  skema/gromet/metadata/text_extraction.py
  skema/gromet/metadata/text_extraction_metadata.py
  skema/gromet/metadata/text_grounding.py
  skema/gromet/metadata/text_literal_value.py
  skema/gromet/metadata/text_units.py
  skema/gromet/metadata/textual_document_collection.py
  skema/gromet/metadata/textual_document_reference.py
Due: test_program_analysis

Adding updated JSON2Gromet ingester
  skema/program_analysis/JSON2GroMEt/json2gromet.py
Due: test_program_analysis

Refactored the code to make it object oriented and organized
  skema/text_reading/model_linker/linkers/__init__.py
  skema/text_reading/model_linker/linkers/amr_linker.py
  skema/text_reading/model_linker/linkers/petrinet.py
  skema/text_reading/model_linker/main.py
  skema/text_reading/model_linker/walkers/__init__.py
  skema/text_reading/model_linker/walkers/json.py
  skema/text_reading/model_linker/walkers/model_walker.py
  skema/text_reading/model_linker/walkers/petrinet.py
Due: none

Implemented a CLI entry point
  skema/text_reading/model_linker/main.py
Due: none

Added output path CLI parameter
  skema/text_reading/model_linker/main.py
Due: none

Implemented the regnetwalker linking components. Added the cosine similarity threshold as a CLI parameter
  skema/text_reading/model_linker/linkers/amr_linker.py
  skema/text_reading/model_linker/linkers/petrinet.py
  skema/text_reading/model_linker/linkers/regnet.py
  skema/text_reading/model_linker/main.py
  skema/text_reading/model_linker/walkers/regnet.py
Due: none

Added cv2 module
  pyproject.toml
Due: test_program_analysis

Added opencv-python dependency
  pyproject.toml
Due: test_program_analysis

[gromet] Update Gromet Metadata data-model to 0.1.7 (#243)
  skema/gromet/metadata/bibjson.py
  skema/gromet/metadata/code_file_reference.py
  skema/gromet/metadata/comment_type.py
  skema/gromet/metadata/equation_definition.py
  skema/gromet/metadata/equation_extraction.py
  skema/gromet/metadata/equation_literal_value.py
  skema/gromet/metadata/gromet_creation.py
  skema/gromet/metadata/metadata.py
  skema/gromet/metadata/program_analysis_record_bookkeeping.py
  skema/gromet/metadata/provenance.py
  skema/gromet/metadata/source_code_bool_and.py
  skema/gromet/metadata/source_code_bool_or.py
  skema/gromet/metadata/source_code_collection.py
  skema/gromet/metadata/source_code_comment.py
  skema/gromet/metadata/source_code_data_type.py
  skema/gromet/metadata/source_code_loop_init.py
  skema/gromet/metadata/source_code_loop_update.py
  skema/gromet/metadata/source_code_port_default_val.py
  skema/gromet/metadata/source_code_port_keyword_arg.py
  skema/gromet/metadata/source_code_reference.py
  skema/gromet/metadata/text_description.py
  skema/gromet/metadata/text_extraction.py
  skema/gromet/metadata/text_extraction_metadata.py
  skema/gromet/metadata/text_grounding.py
  skema/gromet/metadata/text_literal_value.py
  skema/gromet/metadata/text_units.py
  skema/gromet/metadata/textual_document_collection.py
  skema/gromet/metadata/textual_document_reference.py
  skema/program_analysis/JSON2GroMEt/json2gromet.py
Due: test_program_analysis

Added a test file
  test_file.txt
Due: none

Removed test file
  test_file.txt
Due: none

Changed the mathjax server port to 8031
  skema/img2mml/api.py
  skema/img2mml/data_generation/mathjax_server.js
Due: none

Added `README.md`, and `pyproject.toml` for installation
  skema/text_reading/model_linker/.gitignore
  skema/text_reading/model_linker/examples/data/lotka_voltera_regnet.json
  skema/text_reading/model_linker/examples/data/sir_AMR.json
  skema/text_reading/model_linker/examples/data/ta1-bucky_extraction_v1.json
  skema/text_reading/model_linker/pyproject.toml
  skema/text_reading/model_linker/skema_model_linker/__init__.py
  skema/text_reading/model_linker/skema_model_linker/link_amr.py
  skema/text_reading/model_linker/skema_model_linker/linkers/__init__.py
  skema/text_reading/model_linker/skema_model_linker/linkers/amr_linker.py
  skema/text_reading/model_linker/skema_model_linker/linkers/petrinet.py
  skema/text_reading/model_linker/skema_model_linker/linkers/regnet.py
  skema/text_reading/model_linker/skema_model_linker/walkers/__init__.py
  skema/text_reading/model_linker/skema_model_linker/walkers/json.py
  skema/text_reading/model_linker/skema_model_linker/walkers/model_walker.py
  skema/text_reading/model_linker/skema_model_linker/walkers/petrinet.py
  skema/text_reading/model_linker/skema_model_linker/walkers/regnet.py
  skema/text_reading/model_linker/walkers/__init__.py
Due: none

Added `README.md`, and `pyproject.toml` for installation
  skema/text_reading/model_linker/README.md
Due: none

Update docker builds and associated examples
  .github/workflows/docker.yml
  Dockerfile.skema-py
  Dockerfile.skema-py.dockerignore
  Dockerfile.skema-rs.dockerignore
  README.md
  docker-compose.img2mml.yml
  docker-compose.skema-py.yml
  pyproject.toml
  skema/img2mml/README.md
  skema/img2mml/api.py
  skema/program_analysis/TS2CAST/build_tree_sitter_fortran.py
Due: test_program_analysis

Tweaks to docs
  docs/index.md
  docs/team.md
Due: none

Add system-wide deps before attempting lib install
  .github/workflows/docs.yml
Due: none

Update install command for Drone CI
  .drone.yml
Due: test_rust_components, test_scala, test_program_analysis

Attempt to appease drone CI gods
  .drone.yml
  .github/workflows/docs.yml
  pyproject.toml
  skema/text_reading/python/mention_linking/main.py
Due: test_rust_components, test_scala, test_program_analysis

Make modules discoverable by pytest
  skema/img2mml/tests/__init__.py
  skema/program_analysis/tests/__init__.py
Due: test_program_analysis

Include models and config in package if presen t
  pyproject.toml
Due: test_program_analysis

New path for text reading scala src
  .drone.yml
Due: test_rust_components, test_scala, test_program_analysis
