Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

update
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

updating
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

MATLAB Tree-sitter binary operator support (#560)
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/data/assignment.m
  skema/program_analysis/CAST/matlab/tests/data/binary_assignment.m
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_binary_operation.py
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
Due: test_program_analysis

update
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Code2amr fix for unpacks and other bugs (#569)
  skema/rest/workflows.py
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

fixed missing import type for methods coming from outside objects
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Added support for cosmos json files
  skema/rest/integrated_text_reading_proxy.py
Due: none

update
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/training.py
Due: test_equation_reading

update
  skema/img2mml/training.py
Due: test_equation_reading

Updating get-object-count to aggregate boxes,ports,wires
  skema/skema_py/server.py
Due: test_skema_py

Renaming endpoint to gromet-object-count
  skema/skema_py/server.py
  skema/skema_py/tests/test_server.py
Due: test_skema_py

cleaning up
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

[code2fn] Adding gromet-object-count endpoint (#574)
  skema/skema_py/server.py
  skema/skema_py/tests/test_server.py
Due: test_skema_py

wip
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

Initial commit for model ingestion coverage
  skema/program_analysis/magit/base.html
  skema/program_analysis/magit/html_builder.py
  skema/program_analysis/magit/magit.py
  skema/program_analysis/magit/models.yaml
Due: test_program_analysis

[fortran] Bug fixes for ingestion TIE-GCM source (#567)
  skema/program_analysis/CAST/fortran/node_helper.py
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

Update tests-and-docs.yml with free-disk-space image
  .github/workflows/tests-and-docs.yml
Due: none

wip
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

update
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/configs/xfmer_latex_config.json
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
