Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

removing print statement
  skema/skema-rs/skema/tests/test_service.rs
Due: test_rust_components

Adding smokescreen test for /mathml/amr PUT endpoint (#318)
  skema/skema-rs/skema/src/services/mathml.rs
  skema/skema-rs/skema/tests/data/get_amr_payload.json
  skema/skema-rs/skema/tests/test_service.rs
Due: test_rust_components

Remove opencv dependency for img2mml (#317)
  pyproject.toml
  skema/img2mml/translate.py
Due: test_program_analysis, test_skema_py, test_equation_reading

Training v6: add resolution changes to the image enhancement
  skema/img2mml/preprocessing/preprocess_images.py
Due: test_equation_reading

Progress
  skema/metal/model_linker/skema_model_linker/link_gromet.py
Due: none

Progress with the reviw
  skema/rest/api.py
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/schema.py
Due: none

Progress with the review
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/schema.py
Due: none

Progress with the review. Ran black on the rest dir
  skema/rest/api.py
  skema/rest/comments_proxy.py
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/schema.py
  skema/rest/utils.py
  skema/rest/workflows.py
Due: none

Changed the default OPENAI
  skema/rest/proxies.py
Due: none

Changed Text to int
  skema/rest/integrated_text_reading_proxy.py
Due: none

Training v6: fix a bug in preprocess_images.py: it needs to do the image enhancement before resizing
  skema/img2mml/preprocessing/preprocess_images.py
Due: test_equation_reading

Update workflows.py
  skema/rest/workflows.py
Due: none

Created TR output models
  skema/rest/schema.py
Due: none

Added error messages to the text reading outputs. Use the canonical outputs to generate the alignment mapping
  skema/rest/integrated_text_reading_proxy.py
Due: none

Added `test_integrated_text_reading_proxy.py`
  pyproject.toml
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/tests/__init__.py
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: test_program_analysis, test_skema_py, test_equation_reading

updating img2mml after running black
  skema/img2mml/bin_testing.py
  skema/img2mml/models/encoders/resnet_encoder.py
  skema/img2mml/models/image2mml_xfmer.py
  skema/img2mml/optuna_training.py
  skema/img2mml/preprocessing/preprocess_mml.py
  skema/img2mml/src/test.py
  skema/img2mml/src/train.py
  skema/img2mml/training.py
  skema/img2mml/utils/bleu_score.py
  skema/img2mml/utils/plot_disribution.py
  skema/img2mml/utils/utils.py
Due: test_equation_reading

Proxied the TR services healthchecks
  skema/rest/integrated_text_reading_proxy.py
Due: none

Formatted a file
  skema/rest/integrated_text_reading_proxy.py
Due: none

Modularized the linker class a bit
  skema/metal/model_linker/skema_model_linker/linkers/amr_linker.py
Due: none

Progress
  skema/metal/model_linker/skema_model_linker/linkers/__init__.py
  skema/metal/model_linker/skema_model_linker/linkers/amr_linker.py
  skema/metal/model_linker/skema_model_linker/linkers/gromet.py
  skema/metal/model_linker/skema_model_linker/linkers/gromet_linker.py
  skema/metal/model_linker/skema_model_linker/walkers/__init__.py
  skema/metal/model_linker/skema_model_linker/walkers/gromet.py
Due: none

Removed unnecessary files
  skema/text_reading/sparql/query_svo.py
  skema/text_reading/sparql/sparql.py
  skema/text_reading/sparql/sparqlQuery.sparql
  skema/text_reading/sparql/sparqlWikiWrapper.py
  skema/text_reading/sparql/sparqlWrapper.py
Due: none

requested update to AMR for rates
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

Add automatic comment enrichment function. Also implement enrichment process into existing endpoints
  skema/skema_py/server.py
Due: test_skema_py

Running black
  skema/skema_py/server.py
Due: test_skema_py

Removing stub for comment enrichment, this will be handled directly by the endpoint
  skema/rest/workflows.py
Due: none

Small change to conditional logic
  skema/skema_py/server.py
Due: test_skema_py

Added support for COSMOS integration into our API
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/proxies.py
  skema/rest/tests/test_integrated_text_reading_proxy.py
  skema/text_reading/scala/cosmos_integration.py
Due: test_scala

Fixed wfc bug for conditionals, working on separate wiring indexing bug related to conditionals
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Fix to root_name and system_name calculation in fn-given-filepaths-zip.
  skema/skema_py/server.py
Due: test_skema_py

Small cleanup
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Removing print statement
  skema/skema_py/server.py
Due: test_skema_py

Requested update to AMR for rates (#321)
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

Added support to process pdf files
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

Run unit tests for Rust components
  .github/workflows/tests-and-docs.yml
Due: none

Add working directory for Rust-based step
  .github/workflows/tests-and-docs.yml
Due: none

Work in progress for presentation to content mathml
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Added epi heuristics to improve recall
  skema/metal/model_linker/skema_model_linker/link_amr.py
  skema/metal/model_linker/skema_model_linker/linkers/__init__.py
  skema/metal/model_linker/skema_model_linker/linkers/petrinet.py
  skema/metal/model_linker/skema_model_linker/linkers/regnet.py
Due: none

Progress. Still TODO finishing gromet linking
  skema/metal/model_linker/skema_model_linker/linkers/gromet_linker.py
  skema/metal/model_linker/skema_model_linker/walkers/gromet.py
Due: none

Removed the gromet linker code until ready. It will live under another branch to be merged soon.
  pyproject.toml
  skema/metal/model_linker/skema_model_linker/link_gromet.py
  skema/metal/model_linker/skema_model_linker/linkers/__init__.py
  skema/metal/model_linker/skema_model_linker/linkers/gromet_linker.py
  skema/metal/model_linker/skema_model_linker/walkers/__init__.py
  skema/metal/model_linker/skema_model_linker/walkers/gromet.py
  skema/text_reading/python/mention_linking/__init__.py
  skema/text_reading/python/mention_linking/gromet_explorer.py
  skema/text_reading/python/mention_linking/gromet_linker/__init__.py
  skema/text_reading/python/mention_linking/gromet_linker/comment_aligner.py
  skema/text_reading/python/mention_linking/gromet_linker/comment_debugger.py
  skema/text_reading/python/mention_linking/gromet_linker/comment_info.py
  skema/text_reading/python/mention_linking/gromet_linker/gromet_helper.py
  skema/text_reading/python/mention_linking/gromet_linker/provenance_helper.py
  skema/text_reading/python/mention_linking/gromet_linker/source_comments.py
  skema/text_reading/python/mention_linking/gromet_linker/text_reading_linker.py
  skema/text_reading/python/mention_linking/gromet_linker/time_stamper.py
  skema/text_reading/python/mention_linking/gromet_linker/uid_stamper.py
  skema/text_reading/python/mention_linking/gromet_linker/utils.py
  skema/text_reading/python/mention_linking/gromet_linker/variable_name_matcher.py
  skema/text_reading/python/mention_linking/link_mentions.py
  skema/text_reading/python/mention_linking/main.py
Due: test_program_analysis, test_skema_py, test_equation_reading
