Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

updating
  skema/img2mml/training.py
Due: test_equation_reading

update gitignore
  skema/img2mml/.gitignore
  skema/img2mml/bin_testing.py
Due: test_equation_reading

updating training.py
  skema/img2mml/training.py
Due: test_equation_reading

[fortran] Adds support for compound conditional (#419)
  skema/program_analysis/CAST/fortran/node_helper.py
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

[code2fn] - tree-sitter comment enrichment and unification (#418)
  skema/program_analysis/comment_extractor/comment_extractor.py
  skema/program_analysis/comment_extractor/model.py
  skema/program_analysis/comment_extractor/server.py
  skema/program_analysis/fn_unifier.py
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
  skema/program_analysis/tree_sitter_parsers/languages.yaml
  skema/rest/api.py
  skema/rest/comments_proxy.py
  skema/rest/workflows.py
  skema/skema-rs/Cargo.lock
  skema/skema-rs/Cargo.toml
  skema/skema-rs/README.md
  skema/skema-rs/comment_extraction/Cargo.toml
  skema/skema-rs/comment_extraction/README.md
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/comment_extraction/src/comments.rs
  skema/skema-rs/comment_extraction/src/conventions.rs
  skema/skema-rs/comment_extraction/src/conventions/dssat.rs
  skema/skema-rs/comment_extraction/src/extraction.rs
  skema/skema-rs/comment_extraction/src/languages.rs
  skema/skema-rs/comment_extraction/src/languages/cpp.rs
  skema/skema-rs/comment_extraction/src/languages/fortran.rs
  skema/skema-rs/comment_extraction/src/languages/python.rs
  skema/skema-rs/comment_extraction/src/lib.rs
  skema/skema-rs/comment_extraction/tests/data/CHIME_SIR.py
  skema/skema-rs/comment_extraction/tests/data/PET.for
  skema/skema-rs/comment_extraction/tests/data/chime_sir_output.json
  skema/skema-rs/comment_extraction/tests/data/comment_test.cpp
  skema/skema-rs/comment_extraction/tests/data/quote_test.c
  skema/skema-rs/comment_extraction/tests/data/test.c
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services.rs
  skema/skema-rs/skema/src/services/comment_extraction.rs
  skema/skema-rs/skema/tests/test_service.rs
  skema/skema_py/server.py
  skema/skema_py/tests/test_server.py
Due: test_rust_components, test_program_analysis, test_skema_py

debugging output on
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

syntax tree function
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

matlab_parser.py with parser and tree
  skema/program_analysis/CAST/matlab/matlab_parser.py
Due: test_program_analysis

Renamed file
  skema/program_analysis/CAST/matlab/matlab_tree_builder.py
Due: test_program_analysis

Added tree builder class
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/matlab_tree_builder.py
Due: test_program_analysis

Added a MATLAB test class
  skema/program_analysis/CAST/matlab/matlab_test.py
Due: test_program_analysis

Removed unused variable in tree builder
  skema/program_analysis/CAST/matlab/matlab_tree_builder.py
Due: test_program_analysis

Cleaned up syntax tree logic
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/matlab_tree_builder.py
Due: test_program_analysis

Progress on #422
  .github/workflows/add-labels-to-pr.yml
  .github/workflows/changes-updated.yml
  .github/workflows/labeler.yml
  docs/changes.md
  mkdocs.yml
Due: none

Moved labeler.yml
  .github/labeler.yml
Due: none

Adding test cases
  skema/program_analysis/CAST/matlab/matlab_test.py
  skema/program_analysis/CAST/matlab/matlab_tree_builder.py
Due: test_program_analysis

Changed a test input
  1liner.m
Due: none

Simplified changes.md
  .github/workflows/changes-updated.yml.disabled
  docs/changes.md
Due: none

Don't ignore edits to changes.md when labeling PRs
  .github/labeler.yml
Due: none

Updates to auto-labeling behavior
  .github/labeler.yml
  .github/workflows/add-labels-to-pr.yml
Due: none

Introduces changes.md to document semver tags (#425)
  .github/labeler.yml
  .github/workflows/add-labels-to-pr.yml
  .github/workflows/changes-updated.yml.disabled
  docs/changes.md
  mkdocs.yml
Due: none

updating mml config
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

updated amr with header
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

Updated AMR with header (#426)
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

updating
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

updating config
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

updateing config
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

Initial support for variables with multiple assignments
  skema/gromet/execution_engine/execute.py
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/queries.yaml
  skema/gromet/execution_engine/query_runner.py
  skema/gromet/execution_engine/symbol_table.py
  skema/gromet/execution_engine/torch_test.py
Due: test_program_analysis

bin comparison 0-50
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

updating bin comparison band
  skema/img2mml/training.py
Due: test_equation_reading

updating bin compison band
  skema/img2mml/training.py
Due: test_equation_reading

updating bin_testing.py
  skema/img2mml/bin_testing.py
  skema/img2mml/configs/xfmer_mml_config.json
  skema/img2mml/training.py
Due: test_equation_reading

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
