Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Better support for whitespace handling
  skema/skema-rs/mathml/src/parsing.rs
Due: test_rust_components

Adding test for mml2amr pipeline
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsing.rs
  skema/skema-rs/mathml/tests/mml2amr_input_1.json
  skema/skema-rs/mathml/tests/mml2amr_output_1.json
Due: test_rust_components

Update the image2mml service
  skema/img2mml/api.py
  skema/img2mml/configs/xfmer_mml_config.json
  skema/img2mml/models/decoders/xfmer_decoder.py
  skema/img2mml/models/encoders/xfmer_encoder.py
  skema/img2mml/models/image2mml_xfmer.py
  skema/img2mml/translate.py
  skema/img2mml/utils/utils.py
Due: test_equation_reading

Relaxing requirement for a single top-level mrow element (#290)
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/src/parsing.rs
  skema/skema-rs/mathml/tests/mml2amr_input_1.json
  skema/skema-rs/mathml/tests/mml2amr_output_1.json
Due: test_rust_components

Added support for Leibniz derivative notation
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

added comment at top of file
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

removed commented out lines
  skema/skema-rs/mathml/src/parsing.rs
Due: test_rust_components

Added some asserts
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

Added From trait
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

removing stale comments
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

remove the spaces between mathml tags and correct the buckets
  skema/img2mml/translate.py
Due: test_equation_reading

handling whitespace around parens
  skema/skema-rs/mathml/src/parsing.rs
Due: test_rust_components

Another draft of presentation to content mathml
  skema/skema-rs/mathml/src/pMML2cMML.rs
Due: test_rust_components

Draft of presentation to content mathml
  skema/skema-rs/mathml/src/pMML2cMML.rs
Due: test_rust_components

bugfix wip
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/tests/mml2amr_output_1.json
Due: test_rust_components

Deployment config
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
Due: none

Updating 'comments' field description
  skema/skema_py/server.py
Due: none

Updating CodeComment conversion logic
  skema/program_analysis/fn_unifier.py
Due: test_program_analysis

Fixing file path for comment example
  skema/skema_py/server.py
Due: none

Fixing metadata serialization bug
  skema/skema_py/server.py
Due: none

Running formatter
  skema/skema_py/server.py
Due: none

Resolving merge conflicts
  skema/program_analysis/fn_unifier.py
  skema/skema_py/server.py
Due: test_program_analysis

Removing unused imports
  skema/skema_py/server.py
Due: none

Presentation MathML to S-expression conversion (#295)
  skema/skema-rs/Cargo.lock
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/lib.rs
  skema/skema-rs/mathml/src/parsing.rs
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

updates
  skema/img2mml/api.py
  skema/img2mml/translate.py
Due: test_equation_reading

Fixed bug in test of comment extraction service
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/skema/tests/test_service.rs
Due: test_rust_components

Updated morae.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

updating lotka_voltera_regnet.json
  skema/skema-rs/mathml/tests/lotka_voltera_regnet.json
  skema/skema-rs/mathml/tests/lotka_volterra_regnet.json
Due: test_rust_components

Updating unit test
  data/mml2pn_inputs/lotka_volterra/mml_list.txt
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

Bugfix for comment extraction endpoint test (#300)
  data/mml2pn_inputs/lotka_volterra/mml_list.txt
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/tests/lotka_voltera_regnet.json
  skema/skema-rs/mathml/tests/lotka_volterra_regnet.json
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/tests/test_service.rs
Due: test_rust_components

merged is_leibniz_diff_op and recognize_leibniz_diff_op
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

Added FromStr trait for MathExpressionTree
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

more concise match guard
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

Unified REST API
  skema/img2mml/__init__.py
  skema/img2mml/api.py
  skema/img2mml/data_generation/mathjax_server.js
  skema/img2mml/eqn2mml.py
  skema/rest/__init__.py
  skema/rest/api.py
  skema/rest/comments_proxy.py
  skema/rest/morae_proxy.py
  skema/rest/proxies.py
  skema/rest/schema.py
  skema/rest/workflows.py
  skema/skema_py/__init__.py
  skema/skema_py/server.py
Due: test_equation_reading

Include version (git commit) in docker image
  Dockerfile.skema-py
Due: none

Further updates to code2fn endpoints (#299)
  skema/program_analysis/fn_unifier.py
  skema/skema_py/server.py
Due: test_program_analysis

fix a bug when adding semicolon to unicode
  skema/img2mml/translate.py
Due: test_equation_reading

add cv2 dependency
  pyproject.toml
Due: test_program_analysis, test_equation_reading
