Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

# TODO - get Equation Reading pipeline working
#---
#kind: pipeline
#name: skema-er

#steps:
#- name: test_equation_reading
  #image: python:3.8-bullseye
  #commands:
  #- apt-get update
  #- apt-get -y install build-essential graphviz libgraphviz-dev
  #- pip install -e .[dev,img2mml]
  #- pip install pytest-cov
  #- curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  #- pytest --cov=skema skema/img2mml/tests
  #when:
    #paths:
    #- pyproject.toml
    #- .drone.yml
    #- skema/img2mml/**

updating training epochs
  skema/img2mml/configs/ourmml_xfmer_config.json
Due: none

added support to trim 'un-named' nodes
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

update
  skema/img2mml/configs/ourmml_xfmer_config.json
Due: none

In progress changes for milestone 7
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

update
  skema/img2mml/preprocessing/preprocess_images.py
Due: none

updating config
  skema/img2mml/configs/ourmml_xfmer_config.json
Due: none

updating BLEU score, training.py and readme
  skema/img2mml/README.md
  skema/img2mml/training.py
  skema/img2mml/utils/bleu_score.py
Due: none

update
  skema/img2mml/utils/bleu_score.py
Due: none

updating
  skema/img2mml/data_generation/README.md
Due: none

Fixed some complexvid-19 generation
  skema/program_analysis/CAST2GrFN/ann_cast/grfn_assignment_pass.py
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
  skema/program_analysis/CAST2GrFN/ann_cast/variable_version_pass.py
  skema/program_analysis/PyAST2CAST/py_ast_to_cast.py
Due: test_program_analysis

Added parser for .cpp files
  skema/skema-rs/comment_extraction/src/languages/cpp.rs
Due: test_rust_components

Added endpoint for cpp file
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/comment_extraction/src/languages/cpp.rs
Due: test_rust_components

Added some cases to the .cpp data file
  skema/skema-rs/comment_extraction/tests/data/hello_world.cpp
Due: test_rust_components

Removed the redundant .c data file
  skema/skema-rs/comment_extraction/tests/data/hello_world.c
Due: test_rust_components

Renamed .cpp data file
  skema/skema-rs/comment_extraction/tests/data/cpp_test_file.cpp
Due: test_rust_components

Fixed small issue with None literal values not being created correctly
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
  skema/program_analysis/PyAST2CAST/py_ast_to_cast.py
Due: test_program_analysis

updating math_simplification.py to deal with attributes
  skema/img2mml/data_generation/mathml_simplification.py
Due: none

Adding blank line to trigger CI
  README.md
Due: none

removing blank line
  README.md
Due: none

Autoformatting with black -l 79
  skema/program_analysis/CAST2GrFN/ann_cast/grfn_assignment_pass.py
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
  skema/program_analysis/CAST2GrFN/ann_cast/variable_version_pass.py
  skema/program_analysis/CAST2GrFN/visitors/cast_to_agraph_visitor.py
  skema/program_analysis/JSON2GroMEt/json2gromet.py
  skema/program_analysis/PyAST2CAST/modules_list.py
  skema/program_analysis/PyAST2CAST/py_ast_to_cast.py
  skema/program_analysis/multi_file_ingester.py
  skema/program_analysis/script_functions.py
Due: test_program_analysis

Milestone 7 PR (#132)
  skema/program_analysis/CAST2GrFN/ann_cast/grfn_assignment_pass.py
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
  skema/program_analysis/CAST2GrFN/ann_cast/variable_version_pass.py
  skema/program_analysis/CAST2GrFN/visitors/cast_to_agraph_visitor.py
  skema/program_analysis/JSON2GroMEt/json2gromet.py
  skema/program_analysis/PyAST2CAST/modules_list.py
  skema/program_analysis/PyAST2CAST/py_ast_to_cast.py
  skema/program_analysis/multi_file_ingester.py
  skema/program_analysis/script_functions.py
Due: test_program_analysis

Updating scripts as per the CI error.
  skema/img2mml/README.md
  skema/img2mml/models/decoders/lstm_decoder.py
  skema/img2mml/models/decoders/xfmer_decoder.py
  skema/img2mml/models/encoders/cnn_encoder.py
  skema/img2mml/models/encoders/xfmer_encoder.py
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/src/test.py
  skema/img2mml/src/train.py
  skema/img2mml/translate.py
Due: none

adding new 261_output.txt and renaming the older one 261_output_old.txt
  skema/img2mml/tests/data/261_output.txt
  skema/img2mml/tests/data/261_output_old.txt
Due: none

formatting files using black
  skema/img2mml/api.py
  skema/img2mml/data_generation/etreeParser.py
  skema/img2mml/data_generation/latex_mathml.py
  skema/img2mml/data_generation/mathml_simplification.py
  skema/img2mml/data_generation/parsing_latex_equations.py
  skema/img2mml/data_generation/tex2png.py
  skema/img2mml/data_generation/tex_builder.py
  skema/img2mml/img2mml.py
  skema/img2mml/models/attention/bahdanau_attention.py
  skema/img2mml/models/decoders/lstm_decoder.py
  skema/img2mml/models/decoders/xfmer_decoder.py
  skema/img2mml/models/encoders/cnn_encoder.py
  skema/img2mml/models/encoders/xfmer_encoder.py
  skema/img2mml/models/encoding/positional_encoding_for_xfmer.py
  skema/img2mml/models/encoding/positional_features_for_cnn_encoder.py
  skema/img2mml/models/encoding/row_encoding.py
  skema/img2mml/models/image2mml_lstm.py
  skema/img2mml/models/image2mml_xfmer.py
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/preprocessing/preprocess_images.py
  skema/img2mml/preprocessing/preprocess_mml.py
  skema/img2mml/src/test.py
  skema/img2mml/src/train.py
  skema/img2mml/tests/test_im2mml.py
  skema/img2mml/training.py
  skema/img2mml/translate.py
  skema/img2mml/utils/bleu_score.py
  skema/img2mml/utils/plot_disribution.py
  skema/img2mml/utils/plot_loss.py
  skema/img2mml/utils/recover_original_mml.py
  skema/img2mml/utils/utils.py
Due: none

updating training.py
  skema/img2mml/training.py
Due: none

added map for collecting metadata for nodes
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

update
  skema/img2mml/training.py
Due: none

updating preprocessing script
  skema/img2mml/preprocessing/preprocess.py
Due: none

checking preprocessing
  skema/img2mml/training.py
Due: none

Updating dependencies for img2mml extra in pyproject.toml
  pyproject.toml
Due: test_program_analysis

Making config a required parameter for the training.py script
  skema/img2mml/training.py
Due: none

Updating README.md
  skema/img2mml/README.md
Due: none

updating config file
  skema/img2mml/training.py
Due: none
