Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

upating
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

Explicitly return 200 for /version
  skema/rest/api.py
Due: none

Add status code for /head call
  skema/rest/api.py
Due: none

Temporarily disable ISA router for debugging
  skema/rest/api.py
Due: none

Add status code to ISA healthcheck
  skema/isa/isa_service.py
  skema/rest/api.py
Due: none

Slight refactor
  skema/img2mml/eqn2mml.py
  skema/isa/data.py
  skema/isa/isa_service.py
  skema/isa/lib.py
  skema/rest/api.py
  skema/rest/tests/test_isa.py
  skema/skema_py/server.py
Due: test_skema_py, test_equation_reading

Missing comma
  skema/rest/api.py
Due: none

Handles Msub function of components,- irst order partial derivative. E.g ∂_{t} S
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Response model for /healtcheck shouldn't be int
  skema/rest/api.py
  skema/rest/tests/test_isa.py
Due: none

parser handles Gradient of multiple components. e.g.∇(f*(g+h))
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

parser handles Gradient of multiple components. e.g.∇(f*(g+h))
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

ping -> healthcheck
  skema/skema_py/tests/test_server.py
Due: test_skema_py

[REST] Refactor for improved consistency (#741)
  skema/img2mml/eqn2mml.py
  skema/isa/data.py
  skema/isa/isa_service.py
  skema/isa/lib.py
  skema/rest/api.py
  skema/rest/tests/test_isa.py
  skema/skema_py/server.py
  skema/skema_py/tests/test_server.py
Due: test_skema_py, test_equation_reading

add the support to convert the MET of code to graphs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Fixed disappearing identifier issue, added visitors for lists,tuples. Cleanup
  skema/program_analysis/CAST/python/node_helper.py
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/CAST2FN/visitors/cast_to_agraph_visitor.py
Due: test_program_analysis

add Deserialize to some structures
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

upating
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/configs/sweep.yaml
Due: test_equation_reading
