Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

Use latest rsmgclient
  skema/skema-rs/skema/Cargo.toml
Due: test_rust_components

Config.db_connection()
  skema/skema-rs/skema/src/config.rs
Due: test_rust_components

Fold protocol into db_host
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/database_old.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Set ENV variables used to connect to Memgraph
  .github/workflows/tests-and-docs.yml
Due: none

Renamed PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Protocol must be omitted from host in rsmgclient
  .github/workflows/tests-and-docs.yml
  skema/skema-rs/skema/src/config.rs
Due: test_rust_components

placeholder
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added the 'boolean' keyword, removed 'import'
  skema/program_analysis/CAST/matlab/tokens.py
Due: test_program_analysis

Removed outdated Fortran legacy code
  skema/program_analysis/CAST/matlab/variable_context.py
Due: test_program_analysis

Bugfixes, rememoved outdated methods
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added a test for the MATLAB native Boolean type
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
Due: test_program_analysis

Added function tests with inline operators and nested calls
  skema/program_analysis/CAST/matlab/tests/test_function.py
Due: test_program_analysis

Removed some outdated tests, added one for MATLAB Boolean
  skema/program_analysis/CAST/matlab/tests/test_matrix.py
Due: test_program_analysis

Removed some outdated tests
  skema/program_analysis/CAST/matlab/tests/test_operators.py
Due: test_program_analysis

Refactored 'check_result' -> 'check'
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_command.py
  skema/program_analysis/CAST/matlab/tests/test_conditional.py
  skema/program_analysis/CAST/matlab/tests/test_function.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
  skema/program_analysis/CAST/matlab/tests/test_matrix.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Adding additional models and model zip generator
  skema/program_analysis/model_coverage_report/generate_model_zip.py
  skema/program_analysis/model_coverage_report/model_coverage_report.py
  skema/program_analysis/model_coverage_report/models.yaml
Due: test_program_analysis

add halfar dome eqn tests, fix the redundant () issue in divide, remove redundant deps
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

add the mn processing to combine normalized numbers, optimize the error handler
  skema/img2mml/translate.py
Due: test_equation_reading

add the mathml2latex service and fix the bug in divide
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Fixed CHIME-penn file ingestion
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

extract arguments of a function
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Added a missing 'orelse' clause
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Backed out previous change
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Added a ci test for the ModelIf 'orelse' field
  skema/program_analysis/CAST/matlab/tests/test_conditional.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Saving work
  skema/program_analysis/model_coverage_report/model_coverage_report.py
Due: test_program_analysis

Removed some redundant type assertions from CI testing
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

refactor 'cast_nodes' -> 'cast'
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_command.py
  skema/program_analysis/CAST/matlab/tests/test_conditional.py
  skema/program_analysis/CAST/matlab/tests/test_function.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
  skema/program_analysis/CAST/matlab/tests/test_matrix.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

added ta1 integration dashboard to github site
  docs/dev/ta1_integration_dashboard.md
  mkdocs.yml
Due: none

[memgraph/morae] env-based memgraph connection changes and multi-file system support for linespans (#658)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/tests-and-docs.yml
  skema/rest/llm_proxy.py
  skema/rest/workflows.py
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/config.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/database_old.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

add the workflow of img2latex
  skema/rest/workflows.py
Due: none

add get_latex service in skema-rs
  skema/skema-rs/skema/src/bin/skema_service.rs
Due: test_rust_components

Disabled the TR tests for the weekend
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

moved to converage
  docs/coverage/ta1_integration_dashboard.md
  mkdocs.yml
Due: none

made it just a url in nav
  docs/coverage/ta1_integration_dashboard.md
  mkdocs.yml
Due: none

Disabled the TR tests for the weekend (#666)
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

Switching to ne04j memgraph driver
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/queries.yaml
  skema/gromet/execution_engine/query_runner.py
Due: test_program_analysis

Fix the indentation of the parentheses
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Add the test of image_to_latex
  skema/rest/tests/data/img2latex/halfar.png
  skema/rest/tests/test_eqn_to_latex.py
  skema/rest/workflows.py
Due: none

Use local skema-rs service in CI testing of Python
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/tests-and-docs.yml
  skema/rest/tests/test_model_to_amr.py
Due: none

[Documentation] Adds TA1 Integration Dashboard to our github webpage (#665)
  mkdocs.yml
Due: none

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
