Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

Update publish.yaml
  .github/workflows/publish.yaml
Due: none

Adding support for specifying commit sha for tree-sitter parsers
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
  skema/program_analysis/tree_sitter_parsers/languages.yaml
Due: test_program_analysis

Saving work
  skema/gromet/execution_engine/execution_engine.py
Due: test_program_analysis

Implementing fixed2free into preprocessing pipeline
  skema/program_analysis/CAST/fortran/preprocessor/fixed2free.py
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
Due: test_program_analysis

Formatting code
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
  skema/program_analysis/CAST/fortran/tests/test_tiegcm.py
Due: test_program_analysis

Adding modifications section
  skema/program_analysis/CAST/fortran/preprocessor/fixed2free.py
Due: test_program_analysis

Use git push instead of artifacts
  .github/workflows/publish.yaml
  docker-bake.hcl
Due: none

Adding all the remaining fixes for the function call rewrite
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_primitive.py
Due: test_program_analysis

Increased the timeouts to handle long pdfs gracefully
  skema/text_reading/scala/webapp/build.sbt
  skema/text_reading/scala/webapp/conf/application.conf
Due: test_scala

Updating test paths for pytest
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Updating paths
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Uncommenting test assert
  skema/program_analysis/CAST/fortran/tests/test_tiegcm.py
Due: test_program_analysis

Update docker.yml
  .github/workflows/docker.yml
Due: none

it compiles at least
  skema/skema-rs/skema/src/database_new.rs
Due: test_rust_components

Formatting with black
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

To handle Mean
  skema/skema-rs/mathml/src/ast/operator.rs
Due: test_rust_components

Use for with fix to https://github.com/jlumbroso/free-disk-space/issues/9
  .github/workflows/docker.yml
Due: none

[CI] Use fork with fix to jlumbroso/free-disk-space/issues/9 (#482)
  .github/workflows/docker.yml
Due: none

When the over term in is , it takes it as
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

When the over term in mover is ¯, it takes it as Mean
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Increased the timeouts to handle long PDFs gracefully (#480)
  .github/workflows/docker.yml
  skema/text_reading/scala/webapp/build.sbt
  skema/text_reading/scala/webapp/conf/application.conf
Due: test_scala

[Code2FN] GroMEt Function Call Handler Rewrite PR (#483)
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_primitive.py
Due: test_program_analysis

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
