Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Added tests, cleanup
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_literal_returns.py
Due: test_program_analysis

[REST] Performance improvements (async and client reuse) (#749)
  pyproject.toml
  skema/isa/isa_service.py
  skema/program_analysis/comment_extractor/comment_extractor.py
  skema/program_analysis/comment_extractor/server.py
  skema/program_analysis/comment_extractor/tests/test_comment_server.py
  skema/rest/api.py
  skema/rest/config.py
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/llm_proxy.py
  skema/rest/morae_proxy.py
  skema/rest/tests/test_eqn_to_latex.py
  skema/rest/tests/test_model_to_amr.py
  skema/rest/utils.py
  skema/rest/workflows.py
  skema/skema_py/server.py
Due: test_program_analysis, test_skema_py, test_equation_reading

Fixed #755
  skema/rest/utils.py
Due: none

added endpoint for model2MET and added serde to MET objects
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

isa morae workflow stub
  skema/rest/workflows.py
Due: none

updated function name
  skema/rest/workflows.py
Due: none

Updated unit test to reflect the change
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

Fixed #755 (#756)
  skema/rest/tests/test_integrated_text_reading_proxy.py
  skema/rest/utils.py
Due: none

fixed a name
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

commented out the workflow stub
  skema/rest/workflows.py
Due: none

Code2MET Rust Endpoint (#757)
  skema/rest/workflows.py
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Saving work
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
  skema/skema_py/server.py
Due: test_program_analysis, test_skema_py

Adding additional checks for hidden files and MACOSX artifacts
  skema/skema_py/server.py
Due: test_skema_py

Adding test case for hidden files
  skema/skema_py/tests/test_server.py
Due: test_skema_py

Reverting old changes
  skema/skema_py/server.py
Due: test_skema_py

update
  skema/skema-rs/mathml/src/ast/operator.rs
Due: test_rust_components

Added graph visit validation for CAST testing
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Replaced hard-coded value types with enumeration for List objects
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Replaced literal type definitions with enumerations for all remaining types
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

add deserialize to operators
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
Due: test_rust_components

Gromet While Loop Wiring Bug PR (#753)
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_literal_returns.py
Due: test_program_analysis

Updating gcc invocation to support general gcc compilers
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
Due: test_program_analysis

additional tests
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

add base64 support to equations_to_latex
  skema/rest/workflows.py
Due: none

Adding validation to workflows and llm endpoint
  skema/rest/llm_proxy.py
  skema/rest/workflows.py
Due: none

Fixing continue bug
  skema/rest/llm_proxy.py
  skema/rest/workflows.py
Due: none

Turned off loop tests
  skema/program_analysis/CAST/matlab/tests/test_loop.py
Due: test_program_analysis

Cleaned up code formatting
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Removed visitor for range node handled by the iterator constructor
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Upgrade to processors 9.0.0-RC4
  skema/text_reading/scala/build.sbt
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/serializer/SkemaJSONSerializer.scala
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/text_reading/serialization/TestConjDescrSerialization.scala
Due: test_scala

wip
  skema/isa/lib.py
  skema/rest/workflows.py
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema_py/server.py
Due: test_rust_components, test_skema_py

add the equations-to-latex base64 test
  skema/rest/tests/test_eqn_to_latex.py
Due: none

fix the error in test
  skema/rest/tests/test_eqn_to_latex.py
Due: none

Added the scenario context prompter
  skema/text_reading/scala/build.sbt
  skema/text_reading/scala/src/main/resources/application.conf
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/openai/PromptScenarioContext.scala
Due: test_scala

[Equations] Add the base64 support to equations_to_latex (#759)
  skema/rest/tests/test_eqn_to_latex.py
  skema/rest/workflows.py
Due: none
