Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

Further ts2cast updates
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

Added support for matrix loop iterators
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
Due: test_program_analysis

Updating docs with CAST notes
  docs/dev/cast_frontend.md
  mkdocs.yml
Due: none

better memgraph nodes for lists
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

moved nodes and edges to clone-able ones
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

cargo fmt and cargo clippy
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

Gromet speed improvements
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/utils/script_functions.py
Due: test_program_analysis

added some comments
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

fixed some comments
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

preliminary support for SIDARTHE
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

Further bugfixes
  skema/program_analysis/CAST/fortran/node_helper.py
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/CAST/fortran/variable_context.py
  skema/utils/script_functions.py
Due: test_program_analysis

Removing debug lines
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

Fixing previous merge issue
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

Further fortran->CAST speed updates
  skema/program_analysis/CAST/fortran/node_helper.py
  skema/program_analysis/CAST/fortran/util.py
Due: test_program_analysis

Scenario-3-Prep (#716)
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

SIDARTHE prelimenary support
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

cleaned up prints and fmt
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

Initial Function as Argument support for code2amr (#723)
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

Removed support for 'while' loop for now
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tokens.py
Due: test_program_analysis

Added function call support to switch statement
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
Due: test_program_analysis

fixed database opo bug and edge bypass bug
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/config.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

updated linespan to return import span as well
  skema/rest/llm_proxy.py
  skema/rest/workflows.py
Due: none

changed neo4rs version to 0.7.0 to support deserializing literal value field
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

cleaning
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

more cleaning and checking
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

fixed a warning
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

initial work for imports and passing linespan forward
  skema/rest/workflows.py
Due: none

updated tests for new import changes
  skema/rest/llm_proxy.py
  skema/rest/tests/test_model_to_amr.py
Due: none

SIDARTHE Bug fixes (#726)
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/config.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

fixed type error
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Due: none

Added variable_context methods for GroMEt nodes
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/variable_context.py
Due: test_program_analysis

Further updates
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

Python tree-sitter to CAST porting: Conditionals (#711)
  skema/program_analysis/CAST/python/node_helper.py
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/CAST/python/util.py
  skema/program_analysis/tests/test_conditional_cast.py
Due: test_program_analysis

Updates to LLM endpoints (#727)
  skema/rest/llm_proxy.py
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Due: none

fixed small bug for imports
  skema/rest/workflows.py
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Fixed small bug for imports (#729)
  skema/rest/workflows.py
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Fixed a bug that was interfering with GroMEt generation
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

[fortran] Further bug fixes and speed improvements (#722)
  skema/program_analysis/CAST/fortran/node_helper.py
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/CAST/fortran/util.py
  skema/program_analysis/CAST/fortran/variable_context.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/utils/script_functions.py
Due: test_program_analysis

Fixed metdata issue in gromet pass, added gromet wire analyizer, updated json_to_gromet for new metadata
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/JSON2GroMEt/json2gromet.py
  skema/program_analysis/gromet_wire_diagnosis.py
Due: test_program_analysis

Handles Sidharthe derivative
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
