Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

Added a class with the Waterloo model syntax tokens
  skema/program_analysis/CAST/matlab/tokens.py
Due: test_program_analysis

node_helper using MATLAB control characters
  skema/program_analysis/CAST/matlab/node_helper.py
Due: test_program_analysis

Added a Cast token list
  skema/program_analysis/CAST/matlab/tokens.py
Due: test_program_analysis

Deleted an outdated run method
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Adding llm_assisted_codebase_to_pn_amr endpoint
  skema/rest/workflows.py
Due: none

Adding test case for CHIME-SIR
  skema/rest/tests/test_model_to_amr.py
Due: none

MATLAB-specific tokens
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/node_helper.py
  skema/program_analysis/CAST/matlab/tokens.py
Due: test_program_analysis

Testing skema/img2mml/tests ordering dependancy
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Testing order of skema/program_analysis/tests tests
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

renamed some test case
  skema/program_analysis/CAST/matlab/tests/test_switch.py
Due: test_program_analysis

Update the to_latex function to support more operators
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Fix the visualization issue of power
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Support derivative in latex
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Support halfar eqn in latex
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Unary operator with identifier working
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
Due: test_program_analysis

unary literal and identifier as single line tests
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Mocking llm output in test_model_to_amr
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Due: none

Added a test file for functions
  skema/program_analysis/CAST/matlab/tests/test_function.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
Due: test_program_analysis

Added support for unary operators
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Replaced Operator unit test arguments with a list
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_conditional.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Added stubs for remaining MATLAB operator types
  skema/program_analysis/CAST/matlab/tests/test_operators.py
Due: test_program_analysis

Removed already supported node_helper method
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/node_helper.py
Due: test_program_analysis

code cleanup
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added comments for which syntax tree tokens we support
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tokens.py
Due: test_program_analysis

Added test case for comparison operator
  skema/program_analysis/CAST/matlab/tests/test_operators.py
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Cleaned up operator node processing
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
Due: test_program_analysis

Divided operator processing into specific types
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added file exception to the syntax tree walker
  skema/program_analysis/CAST/matlab/tree_out
Due: test_program_analysis

Minor fix to absolute
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Minor fix to absolute
  skema/skema-rs/mathml/src/ast.rs
Due: test_rust_components

Added a debug script
  skema/program_analysis/CAST/matlab/clu
  skema/program_analysis/CAST/matlab/tree_out
Due: test_program_analysis

Remove old debug scripts
  skema/program_analysis/CAST/matlab/cast_out
  skema/program_analysis/CAST/matlab/tree_out
Due: test_program_analysis

renamed file
  skema/program_analysis/CAST/matlab/inspect
Due: test_program_analysis

Added a global offset to the inspection script
  skema/program_analysis/CAST/matlab/inspect
Due: test_program_analysis

preliminary loop processing
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
  skema/program_analysis/CAST/matlab/tokens.py
Due: test_program_analysis

Added no_test cases for unsupported operator tests
  skema/program_analysis/CAST/matlab/tests/test_operators.py
Due: test_program_analysis

Edited comments
  skema/program_analysis/CAST/matlab/inspect
Due: test_program_analysis

added an arg to the inspect script to show everything
  skema/program_analysis/CAST/matlab/inspect
Due: test_program_analysis

Removed legacy Fortran keyword handlers
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
