Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

Removed an inspection flag
  skema/program_analysis/CAST/matlab/inspect
Due: test_program_analysis

Removed two unused helper methods
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/node_helper.py
Due: test_program_analysis

Removed an unused helper method
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/node_helper.py
Due: test_program_analysis

Added None checking for visited nodes
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added CI tests for None source_refs
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Fixed a bug where an extra list was wrapped around the CAST object
  skema/program_analysis/CAST/matlab/inspect
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Edited a comment
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Added some multidimensional empty matrix test cases
  skema/program_analysis/CAST/matlab/tests/test_matrix.py
Due: test_program_analysis

Edited comments
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

replaced files with those from jastier/function_call
  skema/program_analysis/CAST/matlab/cast_out
  skema/program_analysis/CAST/matlab/inspect
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/node_helper.py
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_conditional.py
  skema/program_analysis/CAST/matlab/tests/test_function.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
  skema/program_analysis/CAST/matlab/tests/test_matrix.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
  skema/program_analysis/CAST/matlab/tests/utils.py
  skema/program_analysis/CAST/matlab/tokens.py
  skema/program_analysis/CAST/matlab/tree_out
Due: test_program_analysis

[morae] LLM assisted code->AMR endpoint + support for CHIME-SIR (#637)
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Due: none

Fixed test case, fixed missing OPI issue, ready for PR
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_fun_arg_fun_call.py
Due: test_program_analysis

Miscellaneous cleanup and removal of prints
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Removed Tree-sitter output comments
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Removed a debug script
  skema/program_analysis/CAST/matlab/inspect
Due: test_program_analysis

Touched up some comments
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

MATLAB function call, operator and matrix support, code cleanup (#641)
  skema/program_analysis/CAST/matlab/cast_out
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/node_helper.py
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_conditional.py
  skema/program_analysis/CAST/matlab/tests/test_function.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
  skema/program_analysis/CAST/matlab/tests/test_matrix.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
  skema/program_analysis/CAST/matlab/tests/utils.py
  skema/program_analysis/CAST/matlab/tokens.py
  skema/program_analysis/CAST/matlab/tree_out
Due: test_program_analysis

Adding wiki pages to Github Pages site
  docs/dev/adding_new_model.md
  docs/dev/adding_new_tree_sitter_frontend.md
  docs/dev/using_code_ingestion_frontends.md
  docs/dev/using_tree_sitter_preprocessor.md
Due: none

Updating mkdocs.yml
  mkdocs.yml
Due: none

Added a loop visitor method
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Added CAST translatiopn of the MATLAB command syntax node
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_function.py
Due: test_program_analysis

Updated tokens list to show those handled by our parser
  skema/program_analysis/CAST/matlab/tokens.py
Due: test_program_analysis

Fixed a typo
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Fixing test
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Adding wip link to coverage report generation doc
  docs/dev/generating_code2fn_model_coverage.md
Due: none

Updating mkdocs for new page
  mkdocs.yml
Due: none

clear up the code a bit
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Adding SKEMA_GRAPH_DB_HOST and SKEMA_GRAPH_DB_PORT environment variables
  skema/rest/proxies.py
Due: none

Updating execution engine to use SKEMA_GRAPH_DB_* variables
  skema/gromet/execution_engine/server.py
  skema/gromet/execution_engine/tests/test_execution.py
Due: test_program_analysis

Removed an unused recursive option
  skema/program_analysis/CAST/matlab/node_helper.py
Due: test_program_analysis

fiter for file extension when slicing
  skema/rest/workflows.py
Due: none

Fixed an issue with ellipsis literal value
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
Due: test_program_analysis

[documentation] Moving wiki pages to Github Pages site (#649)
  docs/dev/adding_new_model.md
  docs/dev/adding_new_tree_sitter_frontend.md
  docs/dev/generating_code2fn_model_coverage.md
  docs/dev/using_code_ingestion_frontends.md
  docs/dev/using_tree_sitter_preprocessor.md
  mkdocs.yml
Due: none

[rest] Adding SKEMA_GRAPH_DB_HOST and SKEMA_GRAPH_DB_PORT environment variables (#650)
  skema/gromet/execution_engine/server.py
  skema/gromet/execution_engine/tests/test_execution.py
  skema/rest/proxies.py
Due: test_program_analysis

initial multifile support
  skema/rest/llm_proxy.py
  skema/rest/workflows.py
Due: none

Added CAST translation for MATLAB commands
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_function.py
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

updated description
  skema/rest/llm_proxy.py
Due: none

Temporarily disabling import test
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_import_method.py
Due: test_program_analysis

fixed typo
  skema/rest/llm_proxy.py
Due: none

parse differential: d/dx ( components )
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
