Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

# TODO - get Equation Reading pipeline working
#---
#kind: pipeline
#name: skema-er

#steps:
#- name: test_equation_reading
  #image: python:3.8-bullseye
  #commands:
  #- apt-get update
  #- apt-get -y install build-essential graphviz libgraphviz-dev
  #- pip install -e .[dev,img2mml]
  #- pip install pytest-cov
  #- curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  #- pytest --cov=skema skema/img2mml/tests
  #when:
    #paths:
    #- pyproject.toml
    #- .drone.yml
    #- skema/img2mml/**

update
  skema/img2mml/preprocessing/preprocess.py
Due: none

update
  skema/img2mml/configs/xfmer_mml_config.json
  skema/img2mml/preprocessing/preprocess.py
Due: none

update
  skema/img2mml/configs/xfmer_mml_config.json
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/src/test.py
  skema/img2mml/src/train.py
Due: none

update
  skema/img2mml/configs/xfmer_mml_config.json
Due: none

update
  skema/img2mml/api.py
  skema/img2mml/configs/xfmer_mml_config.json
  skema/img2mml/create_dataset.py
  skema/img2mml/data_generation/latex2mathml.py
  skema/img2mml/data_generation/parsing_latex_equations.py
  skema/img2mml/data_generation/tex2png.py
  skema/img2mml/data_generation/tex_builder.py
  skema/img2mml/models/attention/bahdanau_attention.py
  skema/img2mml/models/decoders/xfmer_decoder.py
  skema/img2mml/models/encoders/resnet_encoder.py
  skema/img2mml/models/encoders/xfmer_encoder.py
  skema/img2mml/models/encoding/positional_encoding_for_xfmer.py
  skema/img2mml/models/image2mml_lstm.py
  skema/img2mml/models/image2mml_xfmer.py
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/preprocessing/preprocess_images.py
  skema/img2mml/preprocessing/preprocess_mml.py
  skema/img2mml/sampling_dataset/sampling_dataset.py
  skema/img2mml/src/test.py
  skema/img2mml/src/train.py
  skema/img2mml/tests/test_im2mml.py
  skema/img2mml/training.py
  skema/img2mml/translate.py
  skema/img2mml/utils/edit_distance.py
  skema/img2mml/utils/recover_original_mml.py
  skema/img2mml/utils/utils.py
Due: none

thin thread for SIR code to PN complete
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

updating src/train and test.py
  skema/img2mml/src/test.py
  skema/img2mml/src/train.py
Due: none

test of regnet support
  data/mml2pn_inputs/lotka_voltera/mml_list.txt
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

updating scripts
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/src/test.py
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: none

work in progress
  img2mml/.gitignore
  img2mml/README.md
  img2mml/img2mml/sampling_dataset/sampling_dataset.py
  img2mml/img2mml/sampling_dataset/simp.py
Due: none

update to sampling_config
  img2mml/configs/sampling_config.json
Due: none

cleaned up and refined the RegNet model rep
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

added regnet endpoint
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

updated the structs and cleaned up morae
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

update
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: none

updating
  skema/img2mml/sampling_dataset/sampling_config.json
Due: none

switched to clap for CLI
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

added from's for model from impls
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

removed more clones
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

updating transfer learning feature
  skema/img2mml/training.py
Due: none

Adding Fortran builtins file
  skema/program_analysis/TS2CAST/fortran_builtins.yaml
Due: test_program_analysis

Adding preprocessor code and unsupported idioms regex
  skema/program_analysis/TS2CAST/preprocessor/idioms_regex.txt
  skema/program_analysis/TS2CAST/preprocessor/preprocess.py
Due: test_program_analysis

added test for RegNet from lotka voltera
  skema/skema-rs/Cargo.lock
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/tests/lotka_voltera_regnet.json
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

More in progress changes for nested fn defs
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Adding support for running the preprocess as script using argsparse
  skema/program_analysis/TS2CAST/preprocessor/preprocess.py
Due: test_program_analysis

Adding README for instructions on using the preprocessor
  skema/program_analysis/TS2CAST/preprocessor/README
Due: test_program_analysis

Rename README to README.md
  skema/program_analysis/TS2CAST/preprocessor/README.md
Due: test_program_analysis

updated some gromets for 0.1.6
  data/gromet/examples/assign_keyword1/FN_0.1.6/assign_keyword1--Gromet-FN-auto.json
  data/gromet/examples/assign_operator1/FN_0.1.6/assign_operator1--Gromet-FN-auto.json
  data/gromet/examples/ellipses1/FN_0.1.5/ellipses1--Gromet-FN-auto.json
  data/gromet/examples/ellipses1/ellipses1.py
  data/gromet/examples/ellipsis1/FN_0.1.6/ellipses1--Gromet-FN-auto.json
  data/gromet/examples/exp0/FN_0.1.6/exp0--Gromet-FN-auto.json
  data/gromet/examples/exp1/FN_0.1.6/exp1--Gromet-FN-auto.json
  data/gromet/examples/exp2/FN_0.1.6/exp2--Gromet-FN-auto.json
  data/gromet/examples/exp3/FN_0.1.6/exp3--Gromet-FN-auto.json
  data/gromet/examples/fun1/FN_0.1.6/fun1--Gromet-FN-auto.json
  data/gromet/examples/fun2/FN_0.1.6/fun2--Gromet-FN-auto.json
  data/gromet/examples/fun3/FN_0.1.6/fun3--Gromet-FN-auto.json
  data/gromet/examples/fun4/FN_0.1.6/fun4--Gromet-FN-auto.json
  data/gromet/examples/fun_default1/FN_0.1.6/fun_default1--Gromet-FN-auto.json
  data/gromet/examples/slice1/FN_0.1.6/slice1--Gromet-FN-auto.json
  data/gromet/examples/unpack1/FN_0.1.6/unpack1--Gromet-FN-auto.json
Due: none

small import fix
  skema/skema-rs/skema/src/bin/skema_service.rs
Due: test_rust_components

update
  skema/img2mml/preprocessing/preprocess_mml.py
  skema/img2mml/training.py
Due: none

clean the training codes
  skema/img2mml/configs/xfmer_mml_config.json
  skema/img2mml/preprocessing/preprocess_dataset.py
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: none
