Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test
  when:
    paths:
      skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/im2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

Fixed issues with agraph vizualizer
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
  skema/program_analysis/CAST2GrFN/visitors/cast_to_agraph_visitor.py
  skema/utils/misc.py
Due: test_program_analysis

add the missing test file
  skema/skema-rs/mathml/tests/seirdv_eq2.xml
Due: test_rust_components

update the mml to graph service
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Renaming im2mml to img2mml
  .drone.yml
  Dockerfile.img2mml
  README.md
  docker-compose.im2mml.yml
  docker-compose.img2mml.yml
  pyproject.toml
  skema/im2mml/README.md
  skema/im2mml/api.py
  skema/im2mml/im2mml.py
  skema/im2mml/im2mml_demo.py
  skema/im2mml/models/decoders/xfmer_decoder.py
  skema/im2mml/models/encoders/cnn_encoder.py
  skema/im2mml/models/encoders/xfmer_encoder.py
  skema/im2mml/tests/test_im2mml.py
  skema/im2mml/trained_models/README.md
  skema/im2mml/translate.py
Due: test_program_analysis

clean the code and add the equation alignment
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/mathml_eq_alignment.py
  skema/skema-rs/mathml/tests/seir_eq1_missing.xml
Due: test_rust_components

Renaming im2mml to img2mml (#87)
  .drone.yml
  Dockerfile.img2mml
  README.md
  docker-compose.im2mml.yml
  docker-compose.img2mml.yml
  pyproject.toml
  skema/im2mml/README.md
  skema/im2mml/api.py
  skema/im2mml/im2mml.py
  skema/im2mml/im2mml_demo.py
  skema/im2mml/models/decoders/xfmer_decoder.py
  skema/im2mml/models/encoders/cnn_encoder.py
  skema/im2mml/models/encoders/xfmer_encoder.py
  skema/im2mml/tests/test_im2mml.py
  skema/im2mml/trained_models/README.md
  skema/im2mml/translate.py
Due: test_program_analysis

wrap the equation alignment function
  skema/skema-rs/mathml/src/mathml_eq_alignment.py
Due: test_rust_components

add the hackthon demo
  skema/skema-rs/mathml/ISA_hackthon_demo_01.23.2023.ipynb
  skema/skema-rs/mathml/seir_core.png
  skema/skema-rs/mathml/seirdv_core.png
Due: test_rust_components

Changes for before hackathon
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
  skema/program_analysis/CAST2GrFN/visitors/cast_to_agraph_visitor.py
Due: test_program_analysis

update the hackthon demo
  skema/skema-rs/mathml/ISA_hackthon_demo_01.23.2023.ipynb
  skema/skema-rs/mathml/src/mathml_eq_alignment.py
Due: test_rust_components

Renaming im2mml folder to img2mml
  skema/img2mml/README.md
  skema/img2mml/api.py
  skema/img2mml/configs/ourmml_lstm_config.json
  skema/img2mml/configs/ourmml_xfmer_config.json
  skema/img2mml/im2mml.py
  skema/img2mml/im2mml_demo.py
  skema/img2mml/models/attention/bahdanau_attention.py
  skema/img2mml/models/decoders/lstm_decoder.py
  skema/img2mml/models/decoders/xfmer_decoder.py
  skema/img2mml/models/encoders/cnn_encoder.py
  skema/img2mml/models/encoders/xfmer_encoder.py
  skema/img2mml/models/encoding/positional_encoding_for_xfmer.py
  skema/img2mml/models/encoding/positional_features_for_cnn_encoder.py
  skema/img2mml/models/encoding/row_encoding.py
  skema/img2mml/models/image2mml_xfmer_for_inference.py
  skema/img2mml/tests/data/261.png
  skema/img2mml/tests/data/261_output.txt
  skema/img2mml/tests/test_im2mml.py
  skema/img2mml/trained_models/README.md
  skema/img2mml/translate.py
  skema/img2mml/utils.py
  skema/img2mml/vocab.txt
Due: none

Adding equation reading pipeline to .drone.yml
  .drone.yml
Due: test_program_analysis

Adding commented out er pipeline
  .drone.yml
Due: test_program_analysis

Fixing README.md
  README.md
Due: none

Documentation fixes (#88)
  .drone.yml
  README.md
  skema/img2mml/README.md
  skema/img2mml/api.py
  skema/img2mml/configs/ourmml_lstm_config.json
  skema/img2mml/configs/ourmml_xfmer_config.json
  skema/img2mml/im2mml.py
  skema/img2mml/im2mml_demo.py
  skema/img2mml/models/attention/bahdanau_attention.py
  skema/img2mml/models/decoders/lstm_decoder.py
  skema/img2mml/models/decoders/xfmer_decoder.py
  skema/img2mml/models/encoders/cnn_encoder.py
  skema/img2mml/models/encoders/xfmer_encoder.py
  skema/img2mml/models/encoding/positional_encoding_for_xfmer.py
  skema/img2mml/models/encoding/positional_features_for_cnn_encoder.py
  skema/img2mml/models/encoding/row_encoding.py
  skema/img2mml/models/image2mml_xfmer_for_inference.py
  skema/img2mml/tests/data/261.png
  skema/img2mml/tests/data/261_output.txt
  skema/img2mml/tests/test_im2mml.py
  skema/img2mml/trained_models/README.md
  skema/img2mml/translate.py
  skema/img2mml/utils.py
  skema/img2mml/vocab.txt
Due: test_program_analysis

Updating README.md to fix some stray instances of im2mml
  README.md
Due: none

Updating README.md to fix some stray instances of im2mml (#89)
  README.md
Due: none

Uncommenting ER pipeline
  .drone.yml
Due: test_program_analysis

Activating equation reading CI pipeline (#90)
  .drone.yml
Due: test_program_analysis

Fixing img2mml Dockerfile
  Dockerfile.img2mml
Due: none

Fixing img2mml Dockerfile (#91)
  Dockerfile.img2mml
Due: none

Fixing bug in img2mml_demo.py
  docker-compose.code2fn.yml
  docker-compose.img2mml.yml
  skema/img2mml/img2mml.py
  skema/img2mml/img2mml_demo.py
Due: none

Adding /ping endpoint for img2mml
  skema/img2mml/img2mml.py
Due: none

Removing --reload
  docker-compose.img2mml.yml
Due: none

More Img2MML fixes (#92)
  docker-compose.code2fn.yml
  docker-compose.img2mml.yml
  skema/img2mml/img2mml.py
  skema/img2mml/img2mml_demo.py
Due: none

Updates to Code2FN server
  skema/code2fn/client.py
  skema/code2fn/server.py
Due: none

bugfix
  skema/code2fn/server.py
Due: none

Code2FN updates (#93)
  skema/code2fn/client.py
  skema/code2fn/server.py
Due: none

Fixed gromet_creation version. Added unpack for assignment to variables (already included for assignment in calls.)
  skema/gromet/metadata/gromet_creation.py
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Getting rid of Image2Tensor class
  skema/img2mml/api.py
Due: none

Removing unnecessary code, performing a number of lints
  skema/img2mml/img2mml.py
  skema/img2mml/models/attention/bahdanau_attention.py
  skema/img2mml/models/decoders/lstm_decoder.py
  skema/img2mml/models/decoders/xfmer_decoder.py
  skema/img2mml/models/encoders/xfmer_encoder.py
  skema/img2mml/models/encoding/positional_features_for_cnn_encoder.py
  skema/img2mml/translate.py
  skema/img2mml/utils.py
Due: none

Lowercasing non-global variables
  skema/img2mml/translate.py
Due: none

Making pytest more verbose
  .drone.yml
Due: test_program_analysis

Adding some logging
  skema/img2mml/translate.py
Due: none

Adding CLI program to use img2mml pipeline
  skema/img2mml/api.py
  skema/img2mml/img2mml_cli.py
Due: none

More Img2MML updates (#94)
  .drone.yml
  skema/img2mml/api.py
  skema/img2mml/img2mml.py
  skema/img2mml/img2mml_cli.py
  skema/img2mml/models/attention/bahdanau_attention.py
  skema/img2mml/models/decoders/lstm_decoder.py
  skema/img2mml/models/decoders/xfmer_decoder.py
  skema/img2mml/models/encoders/xfmer_encoder.py
  skema/img2mml/models/encoding/positional_features_for_cnn_encoder.py
  skema/img2mml/translate.py
  skema/img2mml/utils.py
Due: test_program_analysis

Added a draft of a runner script
  skema/text_reading/mention_linking/link_mentions.py
Due: none

update the hackthon demo
  skema/skema-rs/mathml/ISA_hackthon_demo_01.23.2023.ipynb
Due: test_rust_components

Fixed the missing groundings bug
  skema/text_reading/mention_linking/gromet_linker/comment_aligner.py
  skema/text_reading/mention_linking/gromet_linker/text_reading_linker.py
  skema/text_reading/mention_linking/gromet_linker/utils.py
  skema/text_reading/mention_linking/link_mentions.py
Due: none

Added utility script to inspect results of linking
  skema/text_reading/mention_linking/gromet_explorer.py
  skema/text_reading/mention_linking/gromet_linker/comment_aligner.py
Due: none
