Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

/ operator
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Due: test_rust_components

added more documention, expanded error handling, fixed default values for certain responses
  skema/rest/schema.py
  skema/rest/workflows.py
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

new test
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

new test
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

fix the divide error in parser
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Due: test_rust_components

Added more documentation, expanded error handling, fixed default values (#823)
  skema/rest/schema.py
  skema/rest/workflows.py
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

[Equations] fix the divide error in parser (#824)
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Due: test_rust_components

fixed some documentation errors
  skema/rest/schema.py
  skema/rest/workflows.py
Due: none

fix the error of the isa test
  skema/isa/data.py
Due: none

Adding tests
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/tests/test_import_cast.py
Due: test_program_analysis

Fixed some documentation errors (#825)
  skema/rest/schema.py
  skema/rest/workflows.py
Due: none

revert to previous hash
  skema/rest/workflows.py
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

reverting commits
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

fix the error of the isa test
  skema/rest/tests/test_isa.py
Due: none

matching main for acset.rs
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

fixed main merge more
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

updated first order ode parser
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

Fixing merge conflict
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Fixes issue #829
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/cosmosjson/CosmosJsonProcessor.scala
Due: test_scala

fix "\\" error in the eqn2latex test
  skema/rest/tests/test_eqn_to_latex.py
Due: none

[Equations] Fixes/rewrite to some operators, additional comments and additional parsers (#828)
  skema/isa/data.py
  skema/rest/tests/test_eqn_to_latex.py
  skema/rest/tests/test_isa.py
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Fixes issue #829 (#830)
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/cosmosjson/CosmosJsonProcessor.scala
Due: test_scala

intial work supporting polynomial diff eqs
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

initial support for polynomial diff eqs for petrinet
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

[gromet] Updates Gromet to v0.1.10 and adds dependency generation (#822)
  skema/gromet/fn/__init__.py
  skema/gromet/fn/function_type.py
  skema/gromet/fn/gromet_box.py
  skema/gromet/fn/gromet_box_conditional.py
  skema/gromet/fn/gromet_box_function.py
  skema/gromet/fn/gromet_box_loop.py
  skema/gromet/fn/gromet_fn.py
  skema/gromet/fn/gromet_fn_module.py
  skema/gromet/fn/gromet_fn_module_collection.py
  skema/gromet/fn/gromet_fn_module_dependency_reference.py
  skema/gromet/fn/gromet_port.py
  skema/gromet/fn/gromet_wire.py
  skema/gromet/fn/import_source_type.py
  skema/gromet/fn/import_type.py
  skema/gromet/fn/literal_value.py
  skema/gromet/fn/metadata.py
  skema/gromet/fn/typed_value.py
  skema/program_analysis/easy_multi_file_ingester.py
  skema/program_analysis/module_locate.py
  skema/program_analysis/multi_file_ingester.py
  skema/program_analysis/single_file_ingester.py
  skema/program_analysis/url_ingester.py
  skema/skema_py/server.py
  skema/skema_py/tests/test_server.py
Due: test_program_analysis, test_skema_py

Addeda test for minimize
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/mathml/src/serialize_tmp.rs
Due: test_rust_components

initial support for polynomial regnets
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

refined support a bit for regnet
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

Added initial support for Polynomial Diff eqs for Petrinet and Regnet (#831)
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

Fixing function var issue, cleaned up tests
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/tests/test_import_cast.py
Due: test_program_analysis

Fixing FunctionDef in derived type CAST generation for Fortran
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/CAST/fortran/variable_context.py
Due: test_program_analysis

Fixed tests
  skema/program_analysis/CAST/python/ts2cast.py
Due: test_program_analysis

Fixing extra nulls
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

Fixing bug with blank dummy FunctionDef
  skema/program_analysis/CAST/fortran/variable_context.py
Due: test_program_analysis

Fixing case insensitivity
  skema/program_analysis/CAST/fortran/variable_context.py
Due: test_program_analysis

Removing commented lines
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

fixed regnet bug
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

Fixed regnet bug (#833)
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

Fixes issue #835
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/scala/webapp/conf/application.conf
Due: test_scala

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
