Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_python

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test
  when:
    paths:
      skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-py

steps:
- name: test_python
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pytest
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

Removed unnecessary imports in main.py
  skema/moviz/main.py
Due: none

Removing unnecessary imports in create_json.py
  skema/moviz/utils/create_json.py
Due: none

Fixed minor import issue for ast pretty print
  skema/program_analysis/python2cast.py
Due: test_python

Removing requirements.txt since the required dependencies will get installed when the skema package is installed
  skema/moviz/requirements.txt
Due: none

And again!
  skema/text_reading/text_reading/grounding/build.sbt
Due: test_scala

Remove dependency on regextools
  skema/text_reading/text_reading/build.sbt
  skema/text_reading/text_reading/grounding/build.sbt
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/entities/RegexBuilder.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/entities/StringMatchEntityFinder.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/text_reading/entities/TestRegexBuilder.scala
Due: test_scala

updating generate_mathml
  skema/im2mml/generate_mathml/configs/ourmml_lstm_config.json
  skema/im2mml/generate_mathml/configs/ourmml_xfmer_config.json
  skema/im2mml/generate_mathml/im2mml.py
  skema/im2mml/generate_mathml/im2mml_demo.py
  skema/im2mml/generate_mathml/images/0000.png
  skema/im2mml/generate_mathml/images/261.png
  skema/im2mml/generate_mathml/images/54545.png
  skema/im2mml/generate_mathml/images/62663.png
  skema/im2mml/generate_mathml/images/6938.png
  skema/im2mml/generate_mathml/images/7076.png
  skema/im2mml/generate_mathml/images/78880.png
  skema/im2mml/generate_mathml/images/9.png
  skema/im2mml/generate_mathml/images/9990.png
  skema/im2mml/generate_mathml/images/sir.png
  skema/im2mml/generate_mathml/models/attention/bahdanau_attention.py
  skema/im2mml/generate_mathml/models/decoders/lstm_decoder.py
  skema/im2mml/generate_mathml/models/decoders/xfmer_decoder.py
  skema/im2mml/generate_mathml/models/encoders/cnn_encoder.py
  skema/im2mml/generate_mathml/models/encoders/xfmer_encoder.py
  skema/im2mml/generate_mathml/models/encoding/positional_encoding_for_xfmer.py
  skema/im2mml/generate_mathml/models/encoding/positional_features_for_cnn_encoder.py
  skema/im2mml/generate_mathml/models/encoding/row_encoding.py
  skema/im2mml/generate_mathml/models/image2mml_lstm.py
  skema/im2mml/generate_mathml/models/image2mml_xfmer_for_inference.py
  skema/im2mml/generate_mathml/requirements.txt
  skema/im2mml/generate_mathml/translate.py
  skema/im2mml/generate_mathml/utils/utils.py
  skema/im2mml/generate_mathml/vocab.txt
Due: none

Fixing optional dependency installation with setuptools and pyproject.toml, adding extras for moviz and im2mml
  pyproject.toml
Due: test_python

Adding additional dependencies for im2mml
  pyproject.toml
Due: test_python

Fixing endpoint in im2mml_demo.py
  skema/im2mml/generate_mathml/im2mml_demo.py
Due: none

Im2MML updates (#72)
  pyproject.toml
  skema/im2mml/generate_mathml/im2mml_demo.py
Due: test_python

Fixed curl instruction
  skema/im2mml/README.md
Due: none

Updated Im2MML documentation (#73)
  skema/im2mml/README.md
Due: none

updating
  skema/im2mml/generate_mathml/im2mml.py
  skema/im2mml/generate_mathml/im2mml_adarsh.py
  skema/im2mml/generate_mathml/im2mml_demo.py
  skema/im2mml/generate_mathml/models/attention/bahdanau_attention.py
  skema/im2mml/generate_mathml/models/decoders/lstm_decoder.py
  skema/im2mml/generate_mathml/models/decoders/xfmer_decoder.py
  skema/im2mml/generate_mathml/models/encoders/cnn_encoder.py
  skema/im2mml/generate_mathml/models/encoders/xfmer_encoder.py
  skema/im2mml/generate_mathml/models/encoding/positional_encoding_for_xfmer.py
  skema/im2mml/generate_mathml/models/encoding/positional_features_for_cnn_encoder.py
  skema/im2mml/generate_mathml/models/encoding/row_encoding.py
  skema/im2mml/generate_mathml/models/image2mml_xfmer_for_inference.py
  skema/im2mml/generate_mathml/utils/utils.py
Due: none

updating README.md
  skema/im2mml/README.md
Due: none

updating generate_mathml for the newest cnn_xfmer model
  skema/im2mml/generate_mathml/im2mml.py
  skema/im2mml/generate_mathml/im2mml_adarsh.py
Due: none

Remove dependency on regextools (#70)
  skema/text_reading/text_reading/build.sbt
  skema/text_reading/text_reading/grounding/build.sbt
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/entities/RegexBuilder.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/entities/StringMatchEntityFinder.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/text_reading/entities/TestRegexBuilder.scala
Due: test_scala

Adding trained_models directory with README.md
  skema/im2mml/generate_mathml/trained_models/README.md
Due: none

Fixed some importing issues with the Python to GroMEt pipeline. Moved 'script_functions.py' into the util directory.
  skema/program_analysis/python2cast.py
  skema/program_analysis/run_ann_cast_pipeline.py
  skema/program_analysis/script_functions.py
  skema/utils/script_functions.py
Due: test_python

Changing executables field from list of strings to list of indexes
  skema/program_analysis/multi_file_ingester.py
Due: test_python

Making pygraphviz an optional dependency
  pyproject.toml
  skema/model_assembly/networks.py
  skema/program_analysis/CAST2GrFN/cast.py
  skema/program_analysis/CAST2GrFN/visitors/cast_to_agraph_visitor.py
  skema/program_analysis/script_functions.py
  skema/utils/misc.py
Due: test_python

We now embed the PNG source directly in the index.html template, thus obviating the need to save it to a separate file.
  skema/moviz/main.py
  skema/moviz/templates/index.html
  skema/moviz/utils/create_viz.py
Due: none

Large refactor of im2mml to extract API functions to separate file, move content from generate_mathml folder to im2mml directory, remove images directory
  skema/im2mml/README.md
  skema/im2mml/api.py
  skema/im2mml/configs/ourmml_lstm_config.json
  skema/im2mml/configs/ourmml_xfmer_config.json
  skema/im2mml/generate_mathml/im2mml_demo.py
  skema/im2mml/generate_mathml/images/0000.png
  skema/im2mml/generate_mathml/images/54545.png
  skema/im2mml/generate_mathml/images/62663.png
  skema/im2mml/generate_mathml/images/6938.png
  skema/im2mml/generate_mathml/images/7076.png
  skema/im2mml/generate_mathml/images/78880.png
  skema/im2mml/generate_mathml/images/9.png
  skema/im2mml/generate_mathml/images/9990.png
  skema/im2mml/im2mml.py
  skema/im2mml/im2mml_demo.py
  skema/im2mml/models/attention/bahdanau_attention.py
  skema/im2mml/models/decoders/lstm_decoder.py
  skema/im2mml/models/decoders/xfmer_decoder.py
  skema/im2mml/models/encoders/cnn_encoder.py
  skema/im2mml/models/encoders/xfmer_encoder.py
  skema/im2mml/models/encoding/positional_encoding_for_xfmer.py
  skema/im2mml/models/encoding/positional_features_for_cnn_encoder.py
  skema/im2mml/models/encoding/row_encoding.py
  skema/im2mml/models/image2mml_xfmer_for_inference.py
  skema/im2mml/tests/data/261.png
  skema/im2mml/tests/data/261_output.txt
  skema/im2mml/tests/test_im2mml.py
  skema/im2mml/trained_models/README.md
  skema/im2mml/translate.py
  skema/im2mml/utils.py
  skema/im2mml/vocab.txt
Due: none

Adding Drone CI pipeline
  .drone.yml
  skema/im2mml/README.md
Due: test_python

bugfix
  .drone.yml
Due: test_python

robustifying paths
  skema/im2mml/api.py
Due: none

Formatting using black
  skema/im2mml/api.py
  skema/im2mml/im2mml.py
  skema/im2mml/im2mml_demo.py
  skema/im2mml/models/decoders/xfmer_decoder.py
  skema/im2mml/models/encoders/xfmer_encoder.py
  skema/im2mml/tests/test_im2mml.py
  skema/im2mml/translate.py
Due: none

trying to speed up testing
  .drone.yml
Due: test_python

ignoring im2mml tests in CI for now
  .drone.yml
  skema/im2mml/tests/test_im2mml.py
Due: test_python

Removing redundant trained_models dir
  skema/im2mml/generate_mathml/trained_models/README.md
Due: none

removing commented out code
  skema/im2mml/utils.py
Due: none

Equation reading updates (#75)
  .drone.yml
  skema/im2mml/README.md
  skema/im2mml/api.py
  skema/im2mml/configs/ourmml_lstm_config.json
  skema/im2mml/configs/ourmml_xfmer_config.json
  skema/im2mml/generate_mathml/im2mml_demo.py
  skema/im2mml/generate_mathml/images/sir.png
  skema/im2mml/generate_mathml/models/image2mml_lstm.py
  skema/im2mml/generate_mathml/requirements.txt
  skema/im2mml/generate_mathml/vocab.txt
  skema/im2mml/im2mml.py
  skema/im2mml/im2mml_demo.py
  skema/im2mml/models/attention/bahdanau_attention.py
  skema/im2mml/models/decoders/lstm_decoder.py
  skema/im2mml/models/decoders/xfmer_decoder.py
  skema/im2mml/models/encoders/cnn_encoder.py
  skema/im2mml/models/encoders/xfmer_encoder.py
  skema/im2mml/models/encoding/positional_encoding_for_xfmer.py
  skema/im2mml/models/encoding/positional_features_for_cnn_encoder.py
  skema/im2mml/models/encoding/row_encoding.py
  skema/im2mml/models/image2mml_xfmer_for_inference.py
  skema/im2mml/tests/data/261.png
  skema/im2mml/tests/data/261_output.txt
  skema/im2mml/tests/test_im2mml.py
  skema/im2mml/trained_models/README.md
  skema/im2mml/translate.py
  skema/im2mml/utils.py
  skema/im2mml/vocab.txt
Due: test_python

Moving im2mml Dockerfile and docker-compose.yml files to the root of the repo, updating README.md
  Dockerfile.im2mml
  README.md
  docker-compose.im2mml.yml
  pyproject.toml
  skema/im2mml/Dockerfile
Due: test_python

Updating docker-compose file for im2mml
  docker-compose.im2mml.yml
Due: none

Updated README for im2mml
  skema/im2mml/README.md
Due: none

updated README
  README.md
Due: none

Im2MML Dockerfile updates (#76)
  Dockerfile.im2mml
  README.md
  docker-compose.im2mml.yml
  pyproject.toml
  skema/im2mml/Dockerfile
  skema/im2mml/README.md
Due: test_python

Integrated pdf2text to the web service
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
Due: test_scala

Updated README.md for comment extraction module
  skema/skema-rs/comment_extraction/README.md
Due: test_rust_components
