Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

modified coverage script, added test file for coverage regression
  skema/program_analysis/model_coverage_report/model_coverage_report.py
  skema/program_analysis/tests/test_model_coverage.py
Due: test_program_analysis

better handling of snippet failures
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Due: none

Better Logging and Error handling for LLM endpoints (#684)
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Due: none

typo
  .github/workflows/publish.yaml
Due: none

split
  .github/workflows/publish-py-rs.yaml
  .github/workflows/publish-tr.yaml
  docker-bake.hcl
Due: none

Early loop processing
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
Due: test_program_analysis

Added processing for while loop
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
Due: test_program_analysis

Early Loop construction
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
Due: test_program_analysis

Added loop test processor
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Update docker build instructions
  docs/dev/docker.md
Due: none

Note on platform
  docs/dev/docker.md
Due: none

[documentation] Updates to docker build instructions (#686)
  docs/dev/docker.md
Due: none

Resolved merge conflicts
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
Due: test_program_analysis

Added .so file
  skema/program_analysis/tree_sitter_parsers/build/installed_languages.so
Due: test_program_analysis

Hiding environment-variables endpoint and switching endpoints from snake case to kebab case
  skema/gromet/execution_engine/server.py
  skema/rest/api.py
Due: test_program_analysis

Fixing api merge conflict
  skema/rest/api.py
Due: none

Fixing pyproject.toml merge issue
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Fixing endpoint path in execution engine tests
  skema/gromet/execution_engine/tests/test_execution_server.py
Due: test_program_analysis

Testing copying over .so file
  .github/workflows/tests-and-docs.yml
Due: none

Debug statements
  .github/workflows/tests-and-docs.yml
Due: none

Further testing
  .github/workflows/tests-and-docs.yml
  skema/program_analysis/tree_sitter_parsers/sample_script.py
Due: test_program_analysis

Using site to access path instead
  .github/workflows/tests-and-docs.yml
Due: none

Fixing Pathlib import
  .github/workflows/tests-and-docs.yml
Due: none

Dummy push
  .github/workflows/tests-and-docs.yml
Due: none

[rest] Convert rest endpoint names to kebab-case (#688)
  skema/gromet/execution_engine/server.py
  skema/gromet/execution_engine/tests/test_execution_server.py
  skema/rest/api.py
Due: test_program_analysis

Moving copying logic to program analysis
  .github/workflows/tests-and-docs.yml
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
Due: test_program_analysis

Readding testing step
  .github/workflows/tests-and-docs.yml
Due: none

Cleaning
  .github/workflows/tests-and-docs.yml
  skema/program_analysis/tree_sitter_parsers/sample_script.py
Due: test_program_analysis

Fixing typo
  skema/rest/api.py
Due: none

Changes to docker build settings
  .github/workflows/docker.yml
  .github/workflows/text-reading-docker.yml
Due: none

[rest] Fixing typo in environment-variables endpoint (#692)
  skema/rest/api.py
Due: none

Adding unit tests for core services and fixing healthcheck endpoint
  skema/rest/api.py
  skema/rest/tests/test_core.py
Due: none
