Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

Added support for alignment to manual annotations and a generalized endpoint for text extraction metrics
  skema/metal/model_linker/skema_model_linker/link_amr.py
  skema/rest/integrated_text_reading_proxy.py
Due: none

Updated gt annotations of sidarthe
  skema/metal/model_linker/examples/data/sidarthe_annotations.json
Due: none

Further formatting changes and adding tests
  skema/program_analysis/model_coverage_report/html_builder.py
  skema/program_analysis/model_coverage_report/model_coverage_report.py
  skema/program_analysis/model_coverage_report/tests/test_report_generation.py
Due: test_program_analysis

Initial test commit for adding code2fn reports to docs
  .github/workflows/tests-and-docs.yml
  mkdocs.yml
Due: none

Renaming files
  skema/program_analysis/model_coverage_report/base.html
  skema/program_analysis/model_coverage_report/models.yaml
Due: test_program_analysis

Further file renaming
  skema/program_analysis/magit/base.html
  skema/program_analysis/magit/html_builder.py
  skema/program_analysis/magit/magit.py
  skema/program_analysis/magit/models.yaml
Due: test_program_analysis

Fixing broken imports
  skema/program_analysis/model_coverage_report/tests/test_report_generation.py
Due: test_program_analysis

Adding func_timeout dependancy
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Various code2amr fixes (#594)
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Adding path to skema.util in pyproject.toml
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Making sure full HTML_BASE path is resolved
  skema/program_analysis/model_coverage_report/html_builder.py
Due: test_program_analysis

update the function
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
Due: test_rust_components

Allows model coverage report generation script to be run from any directory
  skema/program_analysis/model_coverage_report/model_coverage_report.py
Due: test_program_analysis

fix the bug in to_decapodes_json
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
Due: test_rust_components

fix the bug in add block
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
Due: test_rust_components

in progress changes for fixing sidarthe and chime tests
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Added evaluation for linked AMR
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/metal_proxy.py
  skema/rest/schema.py
  skema/rest/utils.py
Due: none

Adding .html to package data
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

wip
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Adding Yaml files to project data files
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

new ISA feature: integrate the variable definitions in the seed selection (#597)
  pyproject.toml
  skema/img2mml/translate.py
  skema/isa/README.md
  skema/isa/isa_service.py
  skema/isa/lib.py
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components, test_program_analysis, test_skema_py, test_equation_reading

clean up
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
Due: test_rust_components

[code2fn] Creates model ingestion coverage report generation script (#595)
  .github/workflows/tests-and-docs.yml
  mkdocs.yml
  pyproject.toml
  skema/program_analysis/model_coverage_report/base.html
  skema/program_analysis/model_coverage_report/html_builder.py
  skema/program_analysis/model_coverage_report/model_coverage_report.py
  skema/program_analysis/model_coverage_report/models.yaml
  skema/program_analysis/model_coverage_report/tests/test_report_generation.py
  skema/program_analysis/tree_sitter_parsers/util.py
Due: test_program_analysis, test_skema_py, test_equation_reading

[TR] [METAL] Added evaluation and improvements for `link_amr` (#598)
  skema/metal/model_linker/examples/data/sidarthe_amr.json
  skema/metal/model_linker/examples/data/sidarthe_annotations.json
  skema/metal/model_linker/skema_model_linker/link_amr.py
  skema/metal/model_linker/skema_model_linker/linkers/amr_linker.py
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/metal_proxy.py
  skema/rest/schema.py
  skema/rest/utils.py
Due: none

wip
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

support for unary subtraction
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
Due: test_rust_components

added endpoint for llm dynamics extraction
  skema/rest/api.py
  skema/rest/llm_proxy.py
  skema/rest/proxies.py
Due: none

made data class pydantic BaseModel
  skema/rest/llm_proxy.py
Due: none

Trying some modificatios
  skema/img2mml/sampling_dataset/sampling_config.json
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Adding some logging to track progress
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Adding some logging to track progress
  skema/img2mml/sampling_dataset/sampling_config.json
Due: test_equation_reading

Minor fix
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Small fix
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Incorporate decapodes ACSet serialization (#600)
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Fixing sidarthe generation for functions as parameters
  skema/gromet/execution_engine/types/other.py
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Added im2markups latex preprocesig
  .gitmodules
  skema/img2mml/sampling_dataset/latex_preprocessing/data/sample/formulas.lst
  skema/img2mml/sampling_dataset/latex_preprocessing/data/sample/formulas.norm.lst
  skema/img2mml/sampling_dataset/latex_preprocessing/log.txt
  skema/img2mml/sampling_dataset/latex_preprocessing/preprocess_formulas.py
  skema/img2mml/sampling_dataset/latex_preprocessing/preprocess_latex.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/.#katex.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/LICENSE.txt
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/README.md
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/cli.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/katex.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/package.json
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/Lexer.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/Options.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/ParseError.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/Parser.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/Settings.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/Style.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/buildCommon.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/buildHTML.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/buildMathML.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/buildTree.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/delimiter.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/domTree.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/environments.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/fontMetrics.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/fontMetricsData.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/functions.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/mathMLTree.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/parseData.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/parseTree.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/symbols.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/katex/src/utils.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/match-at/README.md
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/match-at/lib/__tests__/matchAt-test.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/match-at/lib/matchAt.js
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/match-at/package.json
  skema/img2mml/sampling_dataset/latex_preprocessing/third_party/multi-bleu.perl
Due: test_equation_reading

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
