Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Changes to docker build settings (#693)
  .github/workflows/docker.yml
  .github/workflows/text-reading-docker.yml
Due: none

Start switch to neo4rs
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/config.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

initial connection to memgraph via neo4rs
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/config.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Various fixes for CISM source
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/model_coverage_report/model_coverage_report.py
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Tracking down a bug
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
Due: test_program_analysis

Removed a __pdoc__ switch
  skema/program_analysis/CAST/matlab/__init__.py
Due: test_program_analysis

wip
  skema/rest/morae_proxy.py
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/config.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Makes get_identifier more efficient
  skema/program_analysis/CAST/fortran/node_helper.py
Due: test_program_analysis

Added additional coverage check, cleanup
  skema/program_analysis/model_coverage_report/model_coverage_report.py
  skema/program_analysis/tests/test_model_coverage.py
Due: test_program_analysis

Handling Mtext and test for s-exp
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Fixed path location for the line coverage file
  skema/program_analysis/tests/test_model_coverage.py
Due: test_program_analysis

handle mrow in to_latex
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Moved model coverage to run before Python tests
  .github/workflows/tests-and-docs.yml
Due: none

[ci] Fixing missing .so file and unit tests for core endpoints (#689)
  .github/workflows/tests-and-docs.yml
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
  skema/rest/api.py
  skema/rest/tests/test_core.py
Due: test_program_analysis

Further get_identifier optimizations
  skema/program_analysis/CAST/fortran/node_helper.py
Due: test_program_analysis

Removing print statements
  skema/program_analysis/CAST/fortran/ts2cast.py
Due: test_program_analysis

Correcting model_coverage report
  skema/program_analysis/model_coverage_report/model_coverage_report.py
Due: test_program_analysis

Handling Mtext and test provided by s-exp (#695)
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Removing old code
  skema/program_analysis/model_coverage_report/tests/artifacts.json
  skema/program_analysis/model_coverage_report/tests/test_resgression.py
Due: test_program_analysis

Fixed a positional argument
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added comments indicating which tokens are supported, in progress, or TODO
  skema/program_analysis/CAST/matlab/tokens.py
Due: test_program_analysis

Added the range keyword to the loop keywords being supported
  skema/program_analysis/CAST/matlab/tokens.py
Due: test_program_analysis

Attempting to fix path issue with line coverage
  skema/program_analysis/tests/test_model_coverage.py
Due: test_program_analysis

writing and deleting on memgraph works
  skema/rest/morae_proxy.py
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Fixing line coverage path.. again
  skema/program_analysis/tests/test_model_coverage.py
Due: test_program_analysis

all non-subgraph-retrieval queries supported
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

compiling after transfering over all to neo4rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

can run end to end, but results are incorrect
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

code2amr working with neo4rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

Updating TIE-GCM coverage line count
  skema/program_analysis/tests/test_model_coverage.py
Due: test_program_analysis

Added a variable filepath
  skema/program_analysis/CAST/matlab/tests/test_file_ingest.py
Due: test_program_analysis

Added __init__.py to fix a pytest issue
  skema/program_analysis/CAST/matlab/tests/__init__.py
Due: test_program_analysis

cleaned up the code with clippy and fmt
  skema/rest/morae_proxy.py
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/config.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

more cleaning after main merge
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

removed rsmgclient from toml
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

finally deprecated old data struct RegNet was using
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

MathExpressionTree handles sqrt properly with quadratic function S-expression test
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Split the boolean test into two separate tests
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
Due: test_program_analysis

Added the body list to Loop structures
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
Due: test_program_analysis
