Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

Hackathon2 and M9 Report PR (#375)
  skema/gromet/metadata/code_file_reference.py
  skema/program_analysis/CAST2FN/ann_cast/container_scope_pass.py
  skema/program_analysis/CAST2FN/ann_cast/id_collapse_pass.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/CAST2FN/ann_cast/variable_version_pass.py
  skema/program_analysis/multi_file_ingester.py
  skema/program_analysis/single_file_ingester.py
  skema/program_analysis/tests/test_conditional.py
  skema/program_analysis/tests/test_loops.py
Due: test_program_analysis

Moved 'TS2CAST' to 'CAST/fortran'
  skema/program_analysis/CAST/fortran/build_tree_sitter_fortran.py
  skema/program_analysis/CAST/fortran/fortran_builtins.yaml
  skema/program_analysis/CAST/fortran/node_helper.py
  skema/program_analysis/CAST/fortran/preprocessor/README.md
  skema/program_analysis/CAST/fortran/preprocessor/idioms_regex.txt
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/CAST/fortran/util.py
  skema/program_analysis/CAST/fortran/variable_context.py
Due: test_program_analysis

Refactored docker files
  Dockerfile.skema-py
  Dockerfile.skema-py.dockerignore
Due: none

Refactored environment (env.md)
  docs/dev/env.md
Due: none

Refactored 'pyproject.toml'
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Edited comments
  skema/program_analysis/CAST/fortran/build_tree_sitter_fortran.py
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Refactored TS2CAST path (but not classname)
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/fortran2cast.py
Due: test_program_analysis

Refactor 'TS2CAST' -> 'CAST/fortran'
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
Due: test_program_analysis

Updated README.md
  skema/program_analysis/CAST/fortran/preprocessor/README.md
Due: test_program_analysis

Memory map local word embeddings (#372)
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/MemoryMappedWordEmbeddingMap.scala
  skema/text_reading/scala/src/main/scala/org/ml4ai/skema/text_reading/grounding/MiraEmbeddingsGrounder.scala
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/grounding/TestFloatBuffer.scala
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/grounding/TestMemoryMappedTiming.scala
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/grounding/TestMemoryMappedWordEmbeddingMap.scala
  skema/text_reading/scala/src/test/scala/org/ml4ai/skema/grounding/TestMiraEmbeddingsGrounder.scala
Due: test_scala

Saving work
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

training v9: replace the TED loss by the BLEU loss
  skema/img2mml/src/test.py
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: test_equation_reading

training v9: Optimize the BlEU loss calculation and increase the weight from 0.5 to 1
  skema/img2mml/src/test.py
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: test_equation_reading

training v9: extend the print decimal digits from 3 to 4
  skema/img2mml/training.py
Due: test_equation_reading

add the function to handle the image with transparent background
  skema/img2mml/api.py
Due: test_equation_reading

nom-supreme wip
  skema/skema-rs/Cargo.lock
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Due: test_rust_components

nom-supreme compilations successful
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

add the pillow dependency and the test for the equation with transparent background
  pyproject.toml
  skema/img2mml/tests/data/sidarthe_eqn1_with_transparent_background.png
  skema/img2mml/tests/test_eqn2mml.py
Due: test_program_analysis, test_skema_py, test_equation_reading

remove the pillow dependency
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

add the pillow dependency back
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

refactor of get_terms()
  data/epidemiology/CHIME/CHIME_SIR_model/gromet/FN_0.1.6/CHIME_SIR_while_loop--Gromet-FN-auto.json
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

Removed GCC2CAST directory
  skema/program_analysis/GCC2CAST/__init__.py.unused
  skema/program_analysis/GCC2CAST/gcc_ast_to_cast.py.unused
  skema/program_analysis/GCC2CAST/gcc_ast_to_cast_utils.py.unused
  skema/program_analysis/GCC2CAST/gcc_basic_blocks_to_digraph.py.unused
  skema/program_analysis/GCC2CAST/gcc_plugin_driver.py.unused
Due: test_program_analysis

Removed all remaining files with .unused suffix
  skema/program_analysis/CAST2FN/ann_cast/ann_cast_pass_prototype.py.unused
  skema/program_analysis/CAST2FN/visitors/cast_to_air_visitor.py.unused
  skema/program_analysis/CAST2FN/visitors/cast_to_token_cast_visitor.py.unused
Due: test_program_analysis

updated the code2amr examples documentation
  skema/skema_py/server.py
Due: test_skema_py

Added a file
  foo.txt
Due: none

Removed test file
  foo.txt
Due: none

Changed cosmos server URL
  skema/rest/proxies.py
Due: none

Error Handling to /mathml/amr, /mathml/ast-graph, and mathml/petrinet endpoint
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Updated Error Handling
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Updates to first_order_ode.rs and mathml.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Added port number to URL
  skema/rest/proxies.py
Due: none

Fixed URL typo
  skema/rest/proxies.py
Due: none

URL test
  skema/rest/proxies.py
Due: none

Improved Error Handling mathml/amr, mathml/petrinet and mathml/ast-graph endpoints (#385)
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

added edge property for wire's of primitives, to track order
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/lib.rs
Due: test_rust_components

Renamed two failing tests
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

Removed test case
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

Rewrote math_Expression parser based on the following workflow to avoid ambiguity in when to cut
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Due: test_rust_components

Using context combinator in first order ode parser
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Due: test_rust_components

Removing expected context error message to keep returned error message clean
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Due: test_rust_components

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
