Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

QOL
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Fn-Preprocessing (#602)
  skema/rest/utils.py
  skema/rest/workflows.py
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

initial setup for decapodes endpoint
  skema/rest/morae_proxy.py
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

fixed some small bugs for code2amr
  skema/rest/utils.py
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

put the fix in one more place I missed
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Improved the text extractions evaluation endpoint
  skema/rest/schema.py
  skema/rest/utils.py
Due: none

Decapodes endpoint (#604)
  skema/rest/morae_proxy.py
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Minor bugfixes and error handling
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/queries.yaml
Due: test_program_analysis

accidently called get instead of post for decapode endpoint
  skema/rest/morae_proxy.py
Due: none

[TR] Improved the text extractions evaluation endpoint (#606)
  skema/rest/schema.py
  skema/rest/utils.py
Due: none

Updated the `link_amr` endpoint to support better json payloads
  skema/rest/metal_proxy.py
Due: none

[METAL][TR] Updated the `link_amr` endpoint to support better json payloads (#607)
  skema/rest/metal_proxy.py
Due: none

fixed import method bug
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Fixed some small bugs for code2amr (#605)
  skema/rest/morae_proxy.py
  skema/rest/utils.py
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Adding CI tests
  skema/gromet/execution_engine/server.py
  skema/gromet/execution_engine/tests/test_execution_server.py
Due: test_program_analysis

Disabling generate_amr and running black
  skema/gromet/execution_engine/execution_engine.py
Due: test_program_analysis

Adding example source to endpoint
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/server.py
Due: test_program_analysis

Adding example source to endpoint
  skema/gromet/execution_engine/server.py
Due: test_program_analysis

Gradient
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Due: test_rust_components

Adding execution_engine to unified service
  skema/rest/api.py
Due: none

Test for halfar dome equation images extracted
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
Due: test_rust_components

Model linespan endpoint (#601)
  pyproject.toml
  skema/rest/api.py
  skema/rest/llm_proxy.py
  skema/rest/proxies.py
  skema/rest/tests/test_llms.py
Due: test_program_analysis, test_skema_py, test_equation_reading

changes
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

extras fix
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Ensure `skema[llms]` included in docker image build (#610)
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

[execution_engine] Endpoint for parameter extraction and amr enrichment (#608)
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/queries.yaml
  skema/gromet/execution_engine/server.py
  skema/gromet/execution_engine/tests/test_execution_server.py
  skema/rest/api.py
Due: test_program_analysis

fixed outdated data struct
  skema/rest/llm_proxy.py
Due: none

Fixed outdated data struct (#611)
  skema/rest/llm_proxy.py
Due: none

Added new 'if elseif else' conditional logic for MATLAB
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added the remove_comments function to node_helper.py
  skema/program_analysis/CAST/matlab/node_helper.py
Due: test_program_analysis

added more checks to database.rs and expanded fn-preprocessing
  skema/rest/utils.py
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Playing around with transformer based context
  transformer-context.ipynb
Due: none

hidden dependency for langchain
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

had wrong version
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Fixing support for full gromet ingestino
  skema/program_analysis/model_coverage_report/model_coverage_report.py
Due: test_program_analysis

Added multiprocessing to intial pathing
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Adding better batching to speed up multiprocessing
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Cleanup and commenting
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading
