Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

test_rust_components:
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

introducing edit distance
  skema/img2mml/README.md
  skema/img2mml/requirements.txt
  skema/img2mml/utils/edit_distance.py
Due: none

updating mathjax_server.js to deal with "recurrsive macro" error.
  skema/img2mml/data_generation/mathjax_server.js
Due: none

Progress on MIRA API grounding
  skema/text_reading/text_reading/grounding/build.sbt
  skema/text_reading/text_reading/grounding/src/main/scala/org/ml4ai/grounding/Grounder.scala
  skema/text_reading/text_reading/grounding/src/main/scala/org/ml4ai/grounding/MiraEmbeddingsGrounder.scala
  skema/text_reading/text_reading/grounding/src/main/scala/org/ml4ai/grounding/MiraWebApiGrounder.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipeline.scala
Due: test_scala

update
  skema/img2mml/training.py
Due: none

Initial commit for tree-sitter to CAST
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

Adding support for Operator type and correct formatting for CAST output
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

adding im2latex config file
  skema/img2mml/configs/xfmer_latex_config.json
  skema/img2mml/configs/xfmer_mml_config.json
Due: none

updating confg names
  skema/img2mml/README.md
  skema/img2mml/preprocessing/preprocess_images.py
  skema/img2mml/preprocessing/preprocess_mml.py
Due: none

update
  skema/img2mml/README.md
  skema/img2mml/data_generation/latex2mathml.py
  skema/img2mml/sampling_dataset/sampling_config.json
Due: none

updating sampling_dataset
  skema/img2mml/README.md
  skema/img2mml/create_dataset.py
  skema/img2mml/sampling_dataset/README.md
  skema/img2mml/sampling_dataset/sample_dataset.py
Due: none

updating
  skema/img2mml/create_dataset.py
Due: none

updating
  skema/img2mml/README.md
  skema/img2mml/sampling_dataset/sample_dataset.py
Due: none

update
  skema/img2mml/sampling_dataset/sample_dataset.py
Due: none

u[date
  skema/img2mml/sampling_dataset/sample_dataset.py
Due: none

updating
  skema/img2mml/sampling_dataset/sample_dataset.py
Due: none

updating sampling_dataset
  skema/img2mml/sampling_dataset/sample_dataset.py
  skema/img2mml/sampling_dataset/sampling_config.json
Due: none

updating sampling_dataset
  skema/img2mml/sampling_dataset/sample_dataset.py
Due: none

upfdate
  skema/img2mml/sampling_dataset/sample_dataset.py
Due: none

update
  skema/img2mml/README.md
  skema/img2mml/sampling_dataset/sample_dataset.py
Due: none

updting format
  skema/img2mml/data_generation/latex2mathml.py
  skema/img2mml/data_generation/mathml_simplification.py
  skema/img2mml/data_generation/parsing_latex_equations.py
  skema/img2mml/data_generation/tex2png.py
  skema/img2mml/data_generation/tex_builder.py
  skema/img2mml/preprocessing/preprocess.py
  skema/img2mml/preprocessing/preprocess_images.py
  skema/img2mml/preprocessing/preprocess_mml.py
  skema/img2mml/sampling_dataset/sample_dataset.py
  skema/img2mml/training.py
  skema/img2mml/utils/edit_distance.py
Due: none

Refactored the reading pipeline to support batch grounding
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipeline.scala
Due: test_scala

Bug fix in the context engine
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/scenario_context/ContextEngine.scala
Due: test_scala

adding seed
  skema/img2mml/sampling_dataset/sample_dataset.py
  skema/img2mml/sampling_dataset/sampling_config.json
Due: none

Updating variable declaration logic and initial support for imports
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

Implemented batch grounding
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipeline.scala
Due: test_scala

Implemented a grounding engine factory to allow for runtime configuration of the grounding method
  skema/text_reading/text_reading/src/main/resources/application.conf
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/GrounderFactory.scala
Due: test_scala

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**
  test_scala: any of: .drone.yml, skema/text_reading/text_reading/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**
