Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

# TODO - get Equation Reading pipeline working
#---
#kind: pipeline
#name: skema-er

#steps:
#- name: test_equation_reading
  #image: python:3.8-bullseye
  #commands:
  #- apt-get update
  #- apt-get -y install build-essential graphviz libgraphviz-dev
  #- pip install -e .[dev,img2mml]
  #- pip install pytest-cov
  #- curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  #- pytest --cov=skema skema/img2mml/tests
  #when:
    #paths:
    #- pyproject.toml
    #- .drone.yml
    #- skema/img2mml/**

update
  skema/img2mml/training.py
Due: none

removing training_data
  skema/img2mml/training_data/images/0.png
  skema/img2mml/training_data/images/1.png
  skema/img2mml/training_data/images/10.png
  skema/img2mml/training_data/images/11.png
  skema/img2mml/training_data/images/12.png
  skema/img2mml/training_data/images/13.png
  skema/img2mml/training_data/images/14.png
  skema/img2mml/training_data/images/15.png
  skema/img2mml/training_data/images/16.png
  skema/img2mml/training_data/images/17.png
  skema/img2mml/training_data/images/18.png
  skema/img2mml/training_data/images/19.png
  skema/img2mml/training_data/images/2.png
  skema/img2mml/training_data/images/3.png
  skema/img2mml/training_data/images/4.png
  skema/img2mml/training_data/images/5.png
  skema/img2mml/training_data/images/6.png
  skema/img2mml/training_data/images/7.png
  skema/img2mml/training_data/images/8.png
  skema/img2mml/training_data/images/9.png
  skema/img2mml/training_data/mml.txt
Due: none

update
  skema/img2mml/configs/ourmml_xfmer_config.json
Due: none

introducing dist.barrier() in training.py
  skema/img2mml/training.py
Due: none

Added a parser to break file into lines
  skema/skema-rs/comment_extraction/src/languages/cpp.rs
  skema/skema-rs/comment_extraction/src/languages/lines.rs
Due: test_rust_components

Commented out the .cpp parser for now
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/comment_extraction/src/languages.rs
Due: test_rust_components

First draft for python builtin function and operator file
  skema/program_analysis/PyAST2CAST/python_builtins.yaml
Due: test_program_analysis

renamed: cpp_test_file.cpp -> comment_test.cpp
  skema/skema-rs/comment_extraction/tests/data/comment_test.cpp
Due: test_rust_components

Added a test case quoted comments
  skema/skema-rs/comment_extraction/tests/data/quote_test.c
Due: test_rust_components

Added C comment test file
  skema/skema-rs/comment_extraction/tests/data/test.c
Due: test_rust_components

Changed test file
  skema/skema-rs/comment_extraction/tests/data/test.c
Due: test_rust_components

Adding a REST API endpoint for the MML to ACSet conversion
  skema/skema-rs/Cargo.lock
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/lib.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Autoformatting with cargo fmt
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Adding a REST API endpoint for the MML to ACSet conversion (#133)
  skema/skema-rs/Cargo.lock
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/skema/Cargo.toml
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/lib.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Fixed race condition parsing comments
  skema/skema-rs/comment_extraction/src/languages/cpp.rs
  skema/skema-rs/comment_extraction/src/languages/lines.rs
Due: test_rust_components

Added parser to skip quoted text
  skema/skema-rs/comment_extraction/src/languages/cpp.rs
Due: test_rust_components

updating README file
  skema/img2mml/README.md
  skema/img2mml/data_generation/README.md
Due: none

Added a line number placeholder in the output
  skema/skema-rs/comment_extraction/src/languages/cpp.rs
Due: test_rust_components

updating data_generation
  skema/img2mml/data_generation/README.md
  skema/img2mml/data_generation/data_generation_config.json
  skema/img2mml/data_generation/parsing_latex_equations.py
Due: none

update
  skema/img2mml/data_generation/parsing_latex_equations.py
Due: none

updating parsing_latex_eqn.py
  skema/img2mml/data_generation/parsing_latex_equations.py
Due: none

updating tex_builder.py
  skema/img2mml/data_generation/tex_builder.py
Due: none

updating tex_builder.py
  skema/img2mml/data_generation/tex2png.py
Due: none

update
  skema/img2mml/data_generation/README.md
Due: none

updating data_generation scripts
  skema/img2mml/data_generation/etreeParser.py
  skema/img2mml/data_generation/latex_mathml.py
  skema/img2mml/data_generation/mathml_simplification.py
  skema/img2mml/data_generation/parsing_latex_equations.py
  skema/img2mml/data_generation/tex2png.py
  skema/img2mml/data_generation/tex_builder.py
Due: none

updating scripts
  skema/img2mml/data_generation/parsing_latex_equations.py
  skema/img2mml/data_generation/tex_builder.py
Due: none

updating
  skema/img2mml/data_generation/README.md
  skema/img2mml/data_generation/tex_builder.py
Due: none

add the ISA library
  skema/isa/lib.py
Due: none

updating config for data_generation
  skema/img2mml/data_generation/data_generation_config.json
Due: none

updating
  skema/img2mml/data_generation/README.md
  skema/img2mml/data_generation/data_generation_config.json
Due: none

update
  skema/img2mml/data_generation/data_generation_config.json
Due: none

updating tex2png
  skema/img2mml/data_generation/tex2png.py
Due: none

updating mathml_simplification
  skema/img2mml/data_generation/latex_mathml.py
  skema/img2mml/data_generation/mathml_simplification.py
Due: none

updating etrees script
  skema/img2mml/data_generation/etreeParser.py
Due: none
