Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

updating
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/preprocessing/preprocess.py
Due: test_equation_reading

updating
  skema/img2mml/wandb_tuning.py
Due: test_equation_reading

Resolves #551
  skema/text_reading/scala/webapp/docker.sbt
Due: test_scala

Formatting code with black
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/tests/test_execution.py
Due: test_program_analysis

Small organization fixes
  pyproject.toml
  skema/gromet/execution_engine/tests/test_execution.py
Due: test_program_analysis, test_skema_py, test_equation_reading

Resolves #551 (#554)
  skema/text_reading/scala/webapp/docker.sbt
Due: test_scala

update
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

Adding support for function def, more node helpers, needs some more work and tests
  skema/program_analysis/CAST/python/node_helper.py
  skema/program_analysis/CAST/python/ts2cast.py
Due: test_program_analysis

fixed initial target being name not id
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

Fix for cross attributal wiring bug (#558)
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

updating
  skema/img2mml/src/train.py
Due: test_equation_reading

update
  skema/img2mml/src/train.py
Due: test_equation_reading

updating and adding cycle_lr
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: test_equation_reading

update
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: test_equation_reading

update
  skema/img2mml/training.py
Due: test_equation_reading

update
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/training.py
Due: test_equation_reading

update
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/training.py
Due: test_equation_reading

update
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/configs/resnet_xfmer_mml_config.json
Due: test_equation_reading

update
  skema/img2mml/configs/resnet_xfmer_latex_config.json
Due: test_equation_reading

updating
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/configs/resnet_xfmer_mml_config.json
  skema/img2mml/training.py
Due: test_equation_reading

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
