Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

Filename change
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Minor fix
  skema/img2mml/sampling_dataset/sampling_dataset.py
Due: test_equation_reading

Cleaned up and fixed argument function calls
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Pin node minor version to avoid rare CI issue
  Dockerfile.skema-py
Due: none

Alternative installation
  Dockerfile.skema-py
Due: none

Try again
  Dockerfile.skema-py
Due: none

WIP
  Dockerfile.skema-py
Due: none

Pin node minor version to avoid occasional CI issue (#615)
  Dockerfile.skema-py
Due: none

Fix to gradient and Hackathon halfar dome tests (#609)
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

More Fn-Preprocessing (#612)
  pyproject.toml
  skema/rest/utils.py
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components, test_program_analysis, test_skema_py, test_equation_reading

Fixing example field in fastapi
  skema/gromet/execution_engine/server.py
Due: test_program_analysis

Minor fix to grad
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

Updating response model
  skema/gromet/execution_engine/server.py
Due: test_program_analysis

Minor fix to grad (#616)
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

Changing default memgraph host
  skema/gromet/execution_engine/server.py
Due: test_program_analysis

Playing around with transformer based context
  transformer-context.ipynb
Due: none

MATLAB conditional logic (#613)
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/node_helper.py
Due: test_program_analysis

Checking if .so gets transferred properly
  skema/program_analysis/model_coverage_report/magit.log
Due: test_program_analysis

PR template, new auto-labels, and reorder toml
  .github/PULL_REQUEST_TEMPLATE/summary_of_changes.md
  .github/labeler.yml
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Explicitly add skema.rest package
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Made cast_out and tree_out scripts executable
  skema/program_analysis/CAST/matlab/cast_out
  skema/program_analysis/CAST/matlab/tree_out
Due: test_program_analysis

Minor logic cleanup
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Created a test utils module
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Modified existing tests to use utils
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_binary_operation.py
Due: test_program_analysis

Added CI tests for conditional logic
  skema/program_analysis/CAST/matlab/tests/test_conditional_logic.py
Due: test_program_analysis

CAST test upgrades (#619)
  skema/program_analysis/CAST/matlab/cast_out
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_binary_operation.py
  skema/program_analysis/CAST/matlab/tests/test_conditional_logic.py
  skema/program_analysis/CAST/matlab/tests/utils.py
  skema/program_analysis/CAST/matlab/tree_out
Due: test_program_analysis

Fixed a tyypo
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Renamed file
  skema/program_analysis/CAST/matlab/tests/test_conditional.py
Due: test_program_analysis

Tests can now use multiple CAST objects
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_binary_operation.py
  skema/program_analysis/CAST/matlab/tests/test_conditional.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Added a string coparison to the assignment tests
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
Due: test_program_analysis

Cast debug with multiple input files
  skema/program_analysis/CAST/matlab/cast_out
Due: test_program_analysis

Added a method for pruning keys from cast debug output
  skema/program_analysis/CAST/matlab/cast_out
Due: test_program_analysis

early switch statment handler
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Fixed node_helper args
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

cast_out debug with multiple key removal
  skema/program_analysis/CAST/matlab/cast_out
Due: test_program_analysis

Adding image preprocessing
  skema/img2mml/create_dataset
  skema/img2mml/sampling_dataset/image_utils.py
  skema/img2mml/sampling_dataset/preprocess_images.py
Due: test_equation_reading

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
