Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

updating scheduler
  skema/img2mml/configs/lstm_config.json
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/configs/xfmer_latex_config.json
  skema/img2mml/configs/xfmer_mml_config.json
  skema/img2mml/training.py
Due: test_equation_reading

updatng
  skema/img2mml/training.py
Due: test_equation_reading

updating
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/configs/xfmer_latex_config.json
Due: test_equation_reading

update
  skema/img2mml/training.py
Due: test_equation_reading

updating
  skema/img2mml/configs/resnet_xfmer_latex_config.json
Due: test_equation_reading

updatinng
  skema/img2mml/training.py
Due: test_equation_reading

updating optuna for resnet_xfmer
  skema/img2mml/.gitignore
  skema/img2mml/optuna_training.py
Due: test_equation_reading

updating optuna
  skema/img2mml/optuna_training.py
Due: test_equation_reading

updating
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/optuna_training.py
Due: test_equation_reading

minor changes
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Testing skema/skema_py/tests
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Commenting failing documentation tests
  .github/workflows/tests-and-docs.yml
Due: none

Only running skema_py tests
  .github/workflows/tests-and-docs.yml
Due: none

[fortran] Support for fixed-form source and pinned tree-sitter-parser (#479)
  skema/program_analysis/CAST/fortran/preprocessor/fixed2free.py
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
  skema/program_analysis/CAST/fortran/tests/test_tiegcm.py
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
  skema/program_analysis/tree_sitter_parsers/languages.yaml
Due: test_program_analysis

Checking which files are pulled
  .github/workflows/tests-and-docs.yml
Due: none

Adding recursive flag
  .github/workflows/tests-and-docs.yml
Due: none

v1.9.2 release
  docs/changes.md
Due: none

Relates to pdoc3/pdoc/issues/199
  .github/workflows/tests-and-docs.yml
Due: none

Relates to same issue
  .github/workflows/tests-and-docs.yml
Due: none

Disable API doc gen step
  .github/workflows/tests-and-docs.yml
Due: none

Remove Python API docs from site
  mkdocs.yml
Due: none

Add Cython dep
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Try pinning transformers version
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Pin additional dependencies
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Include beartype dep
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Re-enable Python API docs
  .github/workflows/tests-and-docs.yml
  mkdocs.yml
Due: none

Include changes from 9/18 as well.
  docs/changes.md
Due: none

updating config
  skema/img2mml/configs/resnet_xfmer_latex_config.json
Due: test_equation_reading

updating
  skema/img2mml/training.py
Due: test_equation_reading

List and pin transitive dependency (#485)
  .github/workflows/tests-and-docs.yml
  docs/changes.md
  mkdocs.yml
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Use skema[ml] as dep in skema[metal]
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

[equations] fix a gpu loading issue (#469)
  skema/img2mml/api.py
Due: test_equation_reading

Test
  .github/workflows/tests-and-docs.yml
Due: none

[tests] Check for the brat assets (#478)
  skema/text_reading/scala/webapp/test/controllers/HomeControllerSpec.scala
Due: test_scala

Use skema[ml] as dep in skema[metal] (#487)
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
