Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

Pushing errors forward on 1/pmml/equations-to-amr` and `latex/equations-to-amr` endpoints
  skema/rest/workflows.py
Due: none

partial regnet support from firstorderode
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

Generic MathML Errors using Parser Lookahead (some endpoints updated) (#386)
  skema/rest/workflows.py
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Due: test_rust_components

Start on HomeController
  skema/text_reading/scala/webapp/app/controllers/HomeController.scala
Due: test_scala

Fix URL typo
  skema/rest/proxies.py
Due: none

Fixed Cosmost URL typo
  skema/rest/proxies.py
Due: none

Fixed Cosmos URL typo
  skema/rest/proxies.py
Due: none

Reactivated test functions
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

Edit Cosmos URL
  skema/rest/proxies.py
Due: none

Fixed a typo in the Cosmos URL
  skema/rest/proxies.py
Due: none

Refactor TS2CAST to CAST/fortran (#377)
  Dockerfile.skema-py
  Dockerfile.skema-py.dockerignore
  docs/dev/env.md
  pyproject.toml
  skema/program_analysis/CAST/fortran/build_tree_sitter_fortran.py
  skema/program_analysis/CAST/fortran/fortran_builtins.yaml
  skema/program_analysis/CAST/fortran/node_helper.py
  skema/program_analysis/CAST/fortran/preprocessor/README.md
  skema/program_analysis/CAST/fortran/preprocessor/idioms_regex.txt
  skema/program_analysis/CAST/fortran/preprocessor/preprocess.py
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/CAST/fortran/util.py
  skema/program_analysis/CAST/fortran/variable_context.py
  skema/program_analysis/CAST2FN/ann_cast/ann_cast_pass_prototype.py.unused
  skema/program_analysis/CAST2FN/visitors/cast_to_air_visitor.py.unused
  skema/program_analysis/CAST2FN/visitors/cast_to_token_cast_visitor.py.unused
  skema/program_analysis/GCC2CAST/__init__.py.unused
  skema/program_analysis/GCC2CAST/gcc_ast_to_cast.py.unused
  skema/program_analysis/GCC2CAST/gcc_ast_to_cast_utils.py.unused
  skema/program_analysis/GCC2CAST/gcc_basic_blocks_to_digraph.py.unused
  skema/program_analysis/GCC2CAST/gcc_plugin_driver.py.unused
  skema/program_analysis/fortran2cast.py
  skema/program_analysis/multi_file_ingester.py
  skema/rest/proxies.py
Due: test_program_analysis, test_skema_py, test_equation_reading

Updated the Cosmos processing URL
  skema/rest/proxies.py
Due: none

work in progress
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

Moved directrory 'PyAST2CAST' -> 'CAST/pythonAST'
  skema/program_analysis/CAST/pythonAST/__init__.py
  skema/program_analysis/CAST/pythonAST/builtin_map.py
  skema/program_analysis/CAST/pythonAST/modules_list.py
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
  skema/program_analysis/CAST/pythonAST/python_builtins.yaml
Due: test_program_analysis

Refactor 'PyAST2CAST' -> 'CAST.pythonAST'
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/python2cast.py
  skema/program_analysis/script_functions.py
  skema/program_analysis/tests/test_builtin_map.py
  skema/program_analysis/tests/test_closures.py
  skema/program_analysis/tests/test_conditional.py
  skema/program_analysis/tests/test_expressions.py
  skema/program_analysis/tests/test_loops.py
  skema/program_analysis/tests/test_recursion.py
  skema/utils/script_functions.py
Due: test_program_analysis

Refactor 'PyAST2CAST' -> 'CAST.pythonAST' (#390)
  skema/program_analysis/CAST/pythonAST/__init__.py
  skema/program_analysis/CAST/pythonAST/builtin_map.py
  skema/program_analysis/CAST/pythonAST/modules_list.py
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
  skema/program_analysis/CAST/pythonAST/python_builtins.yaml
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/python2cast.py
  skema/program_analysis/script_functions.py
  skema/program_analysis/tests/test_builtin_map.py
  skema/program_analysis/tests/test_closures.py
  skema/program_analysis/tests/test_conditional.py
  skema/program_analysis/tests/test_expressions.py
  skema/program_analysis/tests/test_loops.py
  skema/program_analysis/tests/test_recursion.py
  skema/utils/script_functions.py
Due: test_program_analysis

work in progress
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

remove some redundancy
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

initial firstorderODE support for regnet extraction
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

work in progress
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

Adding hyperlink to image on click
  skema/img2mml/render_mml/ocr_hub/static/js/mathpix_ocr_tweaker.js
  skema/img2mml/render_mml/ocr_hub/static/mathpix_ocr_tweaker.html
Due: test_equation_reading

edge attributes kept through wire/un-named port trimming
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

work in progress
  skema/skema-rs/mathml/src/ast.rs
Due: test_rust_components

work in progress
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

work in progress
  skema/skema-rs/mathml/src/ast/operator.rs
Due: test_rust_components

Removed early iteration of MATLAB parser
  skema/program_analysis/CAST/MATLAB/.gitignore
  skema/program_analysis/CAST/MATLAB/Cargo.toml
  skema/program_analysis/CAST/MATLAB/README.md
  skema/program_analysis/CAST/MATLAB/build_grammar
  skema/program_analysis/CAST/MATLAB/clean_grammar
  skema/program_analysis/CAST/MATLAB/example-file
  skema/program_analysis/CAST/MATLAB/grammar.js
  skema/program_analysis/CAST/MATLAB/package.json
  skema/program_analysis/CAST/MATLAB/scanner.c
  skema/program_analysis/CAST/MATLAB/test/corpus/assignment.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/boolean.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/call.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/cell.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/class.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/comments.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/expressions.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/for.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/function.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/if.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/indexing.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/lambda.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/matrix.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/numbers.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/range.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/strings.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/struct.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/switch.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/try.txt
  skema/program_analysis/CAST/MATLAB/test/corpus/while.txt
  skema/program_analysis/CAST/MATLAB/test/matlab_files/averaging_filter.m
  skema/program_analysis/CAST/MATLAB/test_grammar
Due: test_program_analysis

Added matlab scripts
  skema/program_analysis/CAST/matlab/build_grammar
  skema/program_analysis/CAST/matlab/clean_grammar
  skema/program_analysis/CAST/matlab/test_grammar
Due: test_program_analysis

Added README.md
  skema/program_analysis/CAST/matlab/README.md
Due: test_program_analysis

matlab grammar and test corpus repo clone
  skema/program_analysis/CAST/matlab/build_grammar
Due: test_program_analysis

Added stubs for building the matlab shared object file and testing the grammar
  skema/program_analysis/CAST/matlab/build_grammar
Due: test_program_analysis

shared object file
  skema/program_analysis/CAST/matlab/build_grammar
Due: test_program_analysis

Removed uncessary files
  skema/program_analysis/CAST/matlab/clean_grammar
  skema/program_analysis/CAST/matlab/test_grammar
Due: test_program_analysis

Added a .gitignore file
  skema/program_analysis/CAST/matlab/.gitignore
Due: test_program_analysis

Added a test input file
  skema/program_analysis/CAST/matlab/test_input.m
Due: test_program_analysis

Added CAST generator for MATLAB
  skema/program_analysis/matlab2cast.py
Due: test_program_analysis

Added CAST test
  skema/program_analysis/CAST/matlab/cast_walker.py
Due: test_program_analysis

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
