Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

fixed conditional wiring, working on loop wiring next
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Updating system_to_enriched system to use proxy call. Adding call to code snippet workflows
  skema/rest/workflows.py
  skema/skema_py/server.py
Due: test_skema_py

Added generalized errors
  skema/rest/schema.py
Due: none

Changed the MIT endpoint
  skema/rest/integrated_text_reading_proxy.py
Due: none

Moving comment extraction logic from workflows to endpoints due to zip file complications
  skema/rest/workflows.py
  skema/skema_py/server.py
Due: test_skema_py

Removing unused import
  skema/rest/workflows.py
Due: none

Further removing imports
  skema/skema_py/server.py
Due: test_skema_py

[CI] Run unit tests for Rust components (#322)
  .github/workflows/tests-and-docs.yml
Due: none

Work in progress presentation mathml to content mathml
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Original changes
  skema/skema-rs/mathml/src/ast.rs
Due: test_rust_components

Using asyncio.gather instead of awaiting each call
  skema/skema_py/server.py
Due: test_skema_py

[skema-py] - Automatically enrich System with comments (#320)
  skema/rest/workflows.py
  skema/skema_py/server.py
Due: test_skema_py

Added the PDF to extractions endpoint. Added a couple pdfs for future unit tests
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/tests/data/CHIME_SVIIvR_model.pdf
  skema/rest/tests/data/buckymodel_webdocs.pdf
Due: none

Handles translating presentation mathml to content mathml for Hackathon scenario 1
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Improved the healthcheck test
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

Optimize the img2mml service by loading model and vocabulary once
  skema/img2mml/api.py
  skema/img2mml/eqn2mml.py
  skema/img2mml/tests/test_model_loading.py
  skema/img2mml/translate.py
Due: test_equation_reading

Added type signature to healthcheck
  skema/rest/integrated_text_reading_proxy.py
Due: none

wip
  skema/skema-rs/mathml/src/lib.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Added return values and improved the cosmos test
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

Handling hackathon2 scenario1 equation1
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Moving handling of Newtonian derivative operators earlier in the parsing pipeline
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Removing redundant tests
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

removing stale comment
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

complete the model loading test
  skema/img2mml/tests/test_model_loading.py
Due: test_equation_reading

Potential test fix
  skema/rest/schema.py
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

Commented out test for later fix
  skema/rest/tests/test_integrated_text_reading_proxy.py
Due: none

Added missing dependency
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

uncomment SKEMA_MATHJAX_ADDRESS
  skema/img2mml/eqn2mml.py
Due: test_equation_reading

[TR] Added the integrated tr API proxy to the repo (#308)
  pyproject.toml
  skema/rest/api.py
  skema/rest/comments_proxy.py
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/proxies.py
  skema/rest/schema.py
  skema/rest/tests/__init__.py
  skema/rest/tests/data/CHIME_SVIIvR_model.pdf
  skema/rest/tests/data/buckymodel_webdocs.pdf
  skema/rest/tests/test_integrated_text_reading_proxy.py
  skema/rest/utils.py
  skema/rest/workflows.py
  skema/text_reading/scala/cosmos_integration.py
  skema/text_reading/sparql/query_svo.py
  skema/text_reading/sparql/sparql.py
  skema/text_reading/sparql/sparqlQuery.sparql
  skema/text_reading/sparql/sparqlWikiWrapper.py
  skema/text_reading/sparql/sparqlWrapper.py
Due: test_scala, test_program_analysis, test_skema_py, test_equation_reading

some work on using mathexpressiontrees
  data/gromet/hackathon/hackathon2_scenario_1--Gromet-FN-auto.json
  data/gromet/hackathon/hackathon2_scenario_2--Gromet-FN-auto.json
  data/gromet/hackathon/hackathon2_scenario_3--Gromet-FN-auto.json
  data/mml2pn_inputs/testing_eqns/mml_list.txt
  data/mml2pn_inputs/testing_eqns/mml_list2.txt
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components, test_program_analysis

trigger a build for debugging purposes
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Work in progress
  skema/skema-rs/mathml/src/lib.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Due: test_rust_components

Fixing missing wires in loops/conditionals, needs some unit tests
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Debug
  .github/workflows/tests-and-docs.yml
Due: none

Debug
  .github/workflows/tests-and-docs.yml
  Dockerfile.skema-py
Due: none

Debug
  Dockerfile.skema-py
Due: none
