Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Fixed extraneous comma issue
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Additional parsers can be handled (#794)
  Dockerfile.skema-rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

MATLAB to GroMEt testing (#765)
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
  skema/program_analysis/CAST/matlab/tests/utils.py
  skema/program_analysis/CAST2FN/visitors/cast_to_agraph_visitor.py
Due: test_program_analysis

added generalized AMR struct
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

Docstrings to operators and mathexpressions added
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

initial impl for MET -> G-AMR
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
Due: test_rust_components

added code-snippets to G-AMR endpoint
  skema/rest/workflows.py
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Docstrings to operators and mathexpressions added (#800)
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

functional demo for code-snippets to G-AMR
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

[code2fn] Additional frontend url_ingester.py (#784)
  skema/program_analysis/easy_multi_file_ingester.py
  skema/program_analysis/multi_file_ingester.py
  skema/program_analysis/url_ingester.py
Due: test_program_analysis

fix the method error in request
  skema/rest/tests/test_eqns_to_mets.py
Due: none

update test_post_eqns_to_mets
  skema/rest/tests/test_eqns_to_mets.py
  skema/rest/workflows.py
Due: none

update test_post_eqns_to_mets
  skema/rest/tests/test_eqns_to_mets.py
Due: none

fixed mi vs ci issues for MET from code
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

Initial logic for calculating location of imported module
  skema/program_analysis/module_locate.py
Due: test_program_analysis

[Equations] Convert pMathML/LaTeX to MathExpressionTree (#801)
  skema/rest/schema.py
  skema/rest/tests/test_eqns_to_mets.py
  skema/rest/workflows.py
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

fixed some merge issues
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
Due: test_rust_components

added equations to GAMR endpoints
  skema/rest/workflows.py
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

finished advanced comprehension features, added tests
  skema/program_analysis/CAST/fortran/ts2cast.py
  skema/program_analysis/CAST/fortran/util.py
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/utils.py
  skema/program_analysis/CAST/python/node_helper.py
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/CAST/python/util.py
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
  skema/program_analysis/CAST2FN/ann_cast/annotated_cast.py
  skema/program_analysis/CAST2FN/ann_cast/cast_to_annotated_cast.py
  skema/program_analysis/CAST2FN/cast.py
  skema/program_analysis/CAST2FN/model/cast/__init__.py
  skema/program_analysis/CAST2FN/model/cast/literal_value.py
  skema/program_analysis/CAST2FN/visitors/cast_to_agraph_visitor.py
  skema/program_analysis/tests/test_adv_comprehension_lambda_cast.py
  skema/program_analysis/tests/test_comprehension_lambda_cast.py
  skema/program_analysis/tests/test_conditional_cast.py
  skema/program_analysis/tests/test_expression_cast.py
  skema/program_analysis/tests/test_for_cast.py
  skema/program_analysis/tests/test_function_cast.py
  skema/program_analysis/tests/test_identifier.py
  skema/program_analysis/tests/test_operation_cast.py
  skema/program_analysis/tests/test_while_cast.py
Due: test_program_analysis

Resolving one final merge conflict
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Fixing goofy merge conflict
  skema/program_analysis/CAST2FN/ann_cast/cast_to_annotated_cast.py
Due: test_program_analysis

Python tree-sitter to CAST Porting: Comprehensions and Lambdas (#803)
  skema/program_analysis/CAST/fortran/variable_context.py
  skema/program_analysis/CAST/python/node_helper.py
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/CAST/python/util.py
  skema/program_analysis/tests/test_adv_comprehension_lambda_cast.py
  skema/program_analysis/tests/test_comprehension_lambda_cast.py
Due: test_program_analysis

Updating Gromet to 0.1.10
  skema/gromet/fn/__init__.py
  skema/gromet/fn/function_type.py
  skema/gromet/fn/gromet_box.py
  skema/gromet/fn/gromet_box_conditional.py
  skema/gromet/fn/gromet_box_function.py
  skema/gromet/fn/gromet_box_loop.py
  skema/gromet/fn/gromet_fn.py
  skema/gromet/fn/gromet_fn_module.py
  skema/gromet/fn/gromet_fn_module_collection.py
  skema/gromet/fn/gromet_fn_module_dependency_reference.py
  skema/gromet/fn/gromet_port.py
  skema/gromet/fn/gromet_wire.py
  skema/gromet/fn/import_source_type.py
  skema/gromet/fn/import_type.py
  skema/gromet/fn/literal_value.py
  skema/gromet/fn/metadata.py
  skema/gromet/fn/typed_value.py
Due: test_program_analysis

Initial support for GrometFNModuleDependancyReference
  skema/program_analysis/module_locate.py
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

.
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

works for simple non differential equations
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

support for simple RHS equations
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

clean redundant parentheses
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Removing duplicate dependancies and small bug fix
  skema/program_analysis/module_locate.py
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Initial commit, has generation for imports, needs attributes
  skema/program_analysis/CAST/python/ts2cast.py
Due: test_program_analysis

Initial support for dependency_depth flag
  skema/program_analysis/easy_multi_file_ingester.py
  skema/program_analysis/multi_file_ingester.py
  skema/program_analysis/single_file_ingester.py
  skema/program_analysis/url_ingester.py
Due: test_program_analysis

added documentation to some endpoints in workflows
  skema/rest/workflows.py
Due: none

Adding additional filters for module_dependencies
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Much more efficient dependency filtering
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

fixed some doc formatting
  skema/rest/workflows.py
Due: none

Generalized AMR Endpoints (#802)
  skema/rest/workflows.py
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/bin/skema_service.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/gromet.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Updating endpoint to support dependency_depth
  skema/program_analysis/module_locate.py
  skema/skema_py/server.py
Due: test_program_analysis, test_skema_py
