Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Made Mrow its own class
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/graph.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/src/normalization.rs
  skema/skema-rs/mathml/src/parsing.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
Due: test_rust_components

Implemented recognizing first order Leibniz derivative notation
  skema/skema-rs/mathml/src/domain_specific_parsing.rs
Due: test_rust_components

Started implementing ode parser combinator
  skema/skema-rs/mathml/src/domain_specific_parsing.rs
  skema/skema-rs/mathml/src/parsing.rs
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

Added comment
  skema/skema-rs/mathml/src/domain_specific_parsing.rs
Due: test_rust_components

finished e2e including pratt parsing and leibniz diff ops, newtonian diff ops remaining
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/domain_specific_parsing.rs
  skema/skema-rs/mathml/src/parsing.rs
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

ergonomics
  skema/skema-rs/mathml/src/domain_specific_parsing.rs
Due: test_rust_components

added stub for newtonian derivative parsing
  skema/skema-rs/mathml/src/domain_specific_parsing.rs
Due: test_rust_components

Added FirstOrderODE parsing
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/domain_specific_parsing.rs
  skema/skema-rs/mathml/src/parsing.rs
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

Refactoring crate structure, fixing some tests
  skema/skema-rs/mathml/src/lib.rs
  skema/skema-rs/mathml/src/parsers.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/normalization.rs
  skema/skema-rs/mathml/src/parsers.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Due: test_rust_components

Cleanup
  skema/rest/utils.py
Due: none

[integration] code -> AMR endpoints (#305)
  pyproject.toml
  skema/img2mml/data_generation/mathjax_server.js
  skema/img2mml/eqn2mml.py
  skema/rest/utils.py
  skema/rest/workflows.py
Due: test_program_analysis, test_equation_reading

Update deployment on CI success
  .github/workflows/deploy.yml
Due: none

Implemented FromFile trait
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/bin/parse_mathml.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/lib.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/src/normalization.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Due: test_rust_components

[integration] re-deploy if CI completes successfully (#306)
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  Dockerfile.skema-py
Due: none

More refactoring, clippy fixes for expression.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/src/normalization.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
Due: test_rust_components

expand variable
  .github/workflows/docker.yml
Due: none

Lots of clippy fixes
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
Due: test_rust_components

Ran cargo fmt
  skema/skema-rs/mathml/src/parsers.rs
Due: test_rust_components

CI changes
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
Due: none

Added comments to first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
Due: test_rust_components

Added some more comments
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Bugfix
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

Update documentation
  docs/dev/env.md
  skema/img2mml/README.md
Due: test_equation_reading

Updating skema crate to work with updated mathml crate
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/comment_extraction.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

removing print statements
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

Autoformatting using cargo fmt
  skema/skema-rs/skema/src/services/comment_extraction.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Implemented FromStr for FirstOrderODE
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
Due: test_rust_components

Improvements to MathML processing (#307)
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/bin/parse_mathml.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/graph.rs
  skema/skema-rs/mathml/src/lib.rs
  skema/skema-rs/mathml/src/mml2pn.rs
  skema/skema-rs/mathml/src/normalization.rs
  skema/skema-rs/mathml/src/parsers.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/comment_extraction.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

some notebook updates from demo
  notebooks/demos/2023-06-28/MORAE_demo.ipynb
  notebooks/demos/2023-06-28/data/enriched_amr.json
  notebooks/demos/2023-06-28/data/enriched_gromet.json
  notebooks/demos/2023-06-28/data/sidarthe_extractions.json
Due: none

update the image preprocessing by removing bucketing and enlarge the processed image size to support larger equations
  skema/img2mml/configs/xfmer_mml_config.json
  skema/img2mml/translate.py
Due: test_equation_reading

Added the integrated tr api proxy to the repo
  skema/rest/api.py
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/proxies.py
  skema/rest/schema.py
Due: none

fixed data types for model/pn and model/rn endpoints
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Can translate hackathon2:Scenario1 equations from presentation mathml to content mathml
  skema/skema-rs/mathml/src/pMML2cMML.rs
Due: test_rust_components

Added some fixes for negative indexing for unary op and some small unit tests
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/tests/test_expressions.py
Due: test_program_analysis

Added example gromet for linking
  skema/metal/model_linker/requirements.pip
  skema/metal/model_linker/skema_model_linker/link_gromet.py
Due: none

presentation to content mathml
  skema/skema-rs/mathml/src/pMML2cMML.rs
Due: test_rust_components

add the model retrieve process: if the checkpoint doesn't, download it from the web server
  skema/img2mml/api.py
Due: test_equation_reading

Initial test cases for code2fn endpoint
  skema/skema_py/test_server.py
Due: none
