Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

Adding logging for environment variables
  skema/gromet/execution_engine/server.py
Due: test_program_analysis

fix to Gradient as operator instead of identifier
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Removing reference to gqlalchemy
  skema/gromet/execution_engine/execution_engine.py
Due: test_program_analysis

fixed a small typo
  skema/rest/workflows.py
Due: none

added a test for simple sir, and updated chime sir test
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Due: none

fixed type in test
  skema/rest/tests/test_model_to_amr.py
Due: none

much better multi-files test and mock up
  skema/rest/llm_proxy.py
  skema/rest/tests/test_model_to_amr.py
Due: none

fixed a name
  skema/rest/tests/test_model_to_amr.py
Due: none

updated test description
  skema/rest/tests/test_model_to_amr.py
Due: none

Waterloo Model CAST translation (#671)
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/data/matlab.m
  skema/program_analysis/CAST/matlab/tests/test_assignment.py
  skema/program_analysis/CAST/matlab/tests/test_command.py
  skema/program_analysis/CAST/matlab/tests/test_conditional.py
  skema/program_analysis/CAST/matlab/tests/test_file_ingest.py
  skema/program_analysis/CAST/matlab/tests/test_function.py
  skema/program_analysis/CAST/matlab/tests/test_matrix.py
  skema/program_analysis/CAST/matlab/tests/test_operators.py
  skema/program_analysis/CAST/matlab/tests/test_switch.py
  skema/program_analysis/CAST/matlab/tests/utils.py
  skema/program_analysis/CAST/matlab/tokens.py
Due: test_program_analysis

Adding /environment_variables endpoint
  skema/rest/api.py
Due: none

write to Msubsup
  skema/skema-rs/mathml/src/ast.rs
Due: test_rust_components

switched priority in binding power for multiply and divide
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Added loop test processor
  skema/program_analysis/CAST/matlab/tests/utils.py
Due: test_program_analysis

Early Loop construction
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
Due: test_program_analysis

Small morae fix 2 (#675)
  skema/rest/llm_proxy.py
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Due: none

Added processing for while loop
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tests/test_loop.py
Due: test_program_analysis

missing cmake
  Dockerfile.skema-py
Due: none

Bumping neo4j
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Readding markers that were removed
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

description wasn't getting reset for each file
  skema/rest/llm_proxy.py
Due: none

[execution_engine] Adds neo4j dependancy to pyproject.toml (#674)
  pyproject.toml
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/server.py
  skema/rest/api.py
Due: test_program_analysis, test_skema_py, test_equation_reading

fix to multiply and divide
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

push
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Fixes to error messages in the MathML parser (#679)
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

fixed a slicing bug
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Due: none

optimized the linespan endpoint some for multi-file systems
  skema/rest/llm_proxy.py
Due: none

fixed typing issue
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Due: none

Change "/" to "\frac" in latex expression
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

added some error handling and logging
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Due: none

[img2latex] Change "/" to "\frac" in latex expression (#681)
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Small Morae fix 3 (#680)
  skema/rest/llm_proxy.py
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Due: none

added some sleep steps to not overload endpoints for multiple files
  skema/rest/llm_proxy.py
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Due: none

Updated results
  skema/img2mml/render_mml/model-results/eval
  skema/img2mml/render_mml/model-results/results/images/im2latex100k-results.png
  skema/img2mml/render_mml/model-results/results/images/physics-10k-results.png
  skema/img2mml/render_mml/model-results/results/images/stats-10k-results.png
  skema/img2mml/render_mml/model-results/results/model-results.json
Due: test_equation_reading

Consistent Response times for LLM related endpoints (#682)
  skema/rest/llm_proxy.py
  skema/rest/tests/test_model_to_amr.py
  skema/rest/workflows.py
Due: none

comment out workflows not desired
  .github/workflows/docker.yml
  .github/workflows/text-reading-docker.yml
Due: none

disable workflows
  .github/workflows/docker.yml.disabled
  .github/workflows/text-reading-docker.yml
  .github/workflows/text-reading-docker.yml.disabled
Due: none

logging for testing
  skema/rest/tests/test_model_to_amr.py
Due: none

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
