Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

add the new vocab
  skema/img2mml/trained_models/arxiv_im2mml_with_fonts_with_boldface_vocab.txt
Due: test_equation_reading

Updated presentation to content mathml
  skema/skema-rs/mathml/src/pMML2cMML.rs
Due: test_rust_components

edit .gitignore to ignore the img2mml checkpoint
  .gitignore
Due: none

async
  skema/rest/workflows.py
Due: none

recover .gitignore and fix the checkpoint of img2mml route in Dockerfile.skema-py
  .gitignore
  Dockerfile.skema-py
Due: none

Formatting w/ black
  skema/rest/api.py
  skema/rest/comments_proxy.py
  skema/rest/morae_proxy.py
  skema/rest/proxies.py
  skema/rest/schema.py
  skema/rest/workflows.py
Due: none

Remove unused imports
  skema/rest/comments_proxy.py
  skema/rest/morae_proxy.py
  skema/rest/workflows.py
Due: none

Cleanup
  skema/rest/comments_proxy.py
Due: none

Cleanup
  skema/rest/api.py
Due: none

update the route when downloading the checkpoint in Dockerfile.skema-py
  Dockerfile.skema-py
Due: none

recover the route when downloading the checkpoint in Dockerfile.skema-py
  Dockerfile.skema-py
Due: none

training V5: enlarge the input image size from 500 * 60 to 800 * 100, rescale the weight from 0.1 to 0.25, replace bucketing by the regular normalization
  skema/img2mml/configs/xfmer_mml_config.json
  skema/img2mml/preprocessing/preprocess_images.py
  skema/img2mml/src/test.py
  skema/img2mml/src/train.py
Due: test_equation_reading

training V5: fix a bug: change len_dim from 930 to 2500
  skema/img2mml/training.py
Due: test_equation_reading

Updating references to model path
  .drone.yml
  .github/workflows/docs.yml
  skema/img2mml/README.md
Due: test_rust_components, test_scala, test_program_analysis, test_equation_reading

Minor refactoring
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

Path construction to avoid hardcoding path separators
  skema/img2mml/api.py
Due: test_equation_reading

Cleanup
  pyproject.toml
  skema/program_analysis/comments.py
  skema/rest/api.py
  skema/rest/comments_proxy.py
  skema/rest/morae_proxy.py
  skema/rest/schema.py
  skema/rest/workflows.py
Due: test_program_analysis, test_equation_reading

Unified REST API (#301)
  pyproject.toml
  skema/img2mml/__init__.py
  skema/img2mml/api.py
  skema/img2mml/data_generation/mathjax_server.js
  skema/img2mml/eqn2mml.py
  skema/program_analysis/comments.py
  skema/rest/__init__.py
  skema/rest/api.py
  skema/rest/comments_proxy.py
  skema/rest/morae_proxy.py
  skema/rest/proxies.py
  skema/rest/schema.py
  skema/rest/workflows.py
  skema/skema_py/__init__.py
  skema/skema_py/server.py
Due: test_program_analysis, test_equation_reading

Update readme to guide how to download and update models
  skema/img2mml/README.md
Due: test_equation_reading

Update the test result for the img2mml service
  skema/img2mml/tests/data/261_output.txt
Due: test_equation_reading

Included paths to handle content mathml
  skema/skema-rs/skema/src/bin/skema_service.rs
Due: test_rust_components

Service handles content mathml endpoint
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

In progress changes for rewriting of unary op handler
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Large refactoring to support globbing vars for univariate functions (i.e. S(t) --> S)
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/domain_specific_parsing.rs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/src/graph.rs
  skema/skema-rs/mathml/src/lib.rs
  skema/skema-rs/mathml/src/normalization.rs
  skema/skema-rs/mathml/src/parsing.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

Resolves issue related to use of Literal
  Dockerfile.skema-py
  pyproject.toml
  skema/rest/schema.py
Due: test_program_analysis, test_equation_reading

Making Derivative its own struct
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/domain_specific_parsing.rs
  skema/skema-rs/mathml/src/petri_net/recognizers.rs
  skema/skema-rs/mathml/src/pratt_parsing.rs
Due: test_rust_components

Updated pMathML to cMathML that gives <math> <cMathML components> </math>
  skema/skema-rs/mathml/src/pMML2cMML.rs
Due: test_rust_components

Resolves issue related to use of Literal (#303)
  Dockerfile.skema-py
  pyproject.toml
  skema/rest/schema.py
Due: test_program_analysis, test_equation_reading

wip
  skema/skema-rs/mathml/src/domain_specific_parsing.rs
Due: test_rust_components

Updated pMathML to cMathML that explicitly depends on a function of (e.g f(x))
  skema/skema-rs/mathml/src/pMML2cMML.rs
Due: test_rust_components

Error handling for /workflows endpoints
  skema/img2mml/eqn2mml.py
  skema/rest/workflows.py
Due: test_equation_reading

Use helper function for /image/base64/mml endpoint
  skema/img2mml/eqn2mml.py
Due: test_equation_reading

[integration] Error handling for /workflows endpoints (#304)
  skema/img2mml/eqn2mml.py
  skema/rest/workflows.py
Due: test_equation_reading

Draft of presentation to content mathml where f(t) is now only taken as f
  skema/skema-rs/mathml/src/pMML2cMML.rs
Due: test_rust_components

code -> AMR
  pyproject.toml
  skema/rest/utils.py
  skema/rest/workflows.py
Due: test_program_analysis, test_equation_reading

send(<status code>) is deprecated
  skema/img2mml/data_generation/mathjax_server.js
Due: test_equation_reading

Typo in equation
  skema/img2mml/eqn2mml.py
Due: test_equation_reading
