Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

test_rust_components:
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests

test_skema_py:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests

test_equation_reading:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  ...

Remove unused import
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
Due: test_program_analysis

Prune remaining usage of astpp
  skema/program_analysis/python2cast.py
  skema/program_analysis/script_functions.py
  skema/utils/script_functions.py
Due: test_program_analysis

Build only for AMD64
  .github/workflows/docker.yml
Due: none

Build and publish only for AMD64
  .github/workflows/docker.yml
Due: none

updating
  skema/img2mml/configs/resnet_xfmer_latex_config.json
  skema/img2mml/src/train.py
  skema/img2mml/training.py
Due: test_equation_reading

updating
  skema/img2mml/src/train.py
Due: test_equation_reading

[Text Reading] Set `_JAVA_OPTIONS` to min. RAM requirements (#507)
  skema/text_reading/scala/webapp/docker.sbt
Due: test_scala

Saving work
  skema/skema_py/server.py
Due: test_skema_py

Adding support for variable in primitive expressions (a=b+10)
  skema/gromet/execution_engine/execution_engine.py
  skema/gromet/execution_engine/queries.yaml
Due: test_program_analysis

Cleanup
  skema/gromet/execution_engine/execution_engine.py
Due: test_program_analysis

Removing torch_test prototype
  skema/gromet/execution_engine/torch_test.py
Due: test_program_analysis

Merging tie-gcm test
  skema/program_analysis/CAST/fortran/tests/test_tiegcm.py
Due: test_program_analysis

[python] add missing deps (#520)
  pyproject.toml
  skema/program_analysis/CAST/pythonAST/py_ast_to_cast.py
  skema/program_analysis/astpp.py
  skema/program_analysis/python2cast.py
  skema/program_analysis/script_functions.py
  skema/utils/script_functions.py
Due: test_program_analysis, test_skema_py, test_equation_reading

fixed some bugs and progress on cond/while wiring
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/model_extraction.rs
Due: test_rust_components

Fixed missing incorrect metadata issue, updated import types on Justin's request
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

Adding gqlalchemy dependancy for execution engine
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Removing match import
  skema/gromet/execution_engine/query_runner.py
Due: test_program_analysis

wip
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

Replaced the model
  skema/program_analysis/CAST/matlab/model/SARS-CoV-2-variants-of-concern-in-Ontario/get_beta.m
  skema/program_analysis/CAST/matlab/model/SARS-CoV-2-variants-of-concern-in-Ontario/get_vaccine_rate.m
  skema/program_analysis/CAST/matlab/model/SARS-CoV-2-variants-of-concern-in-Ontario/plot_data.m
  skema/program_analysis/CAST/matlab/model/SARS-CoV-2-variants-of-concern-in-Ontario/shade.m
  skema/program_analysis/CAST/matlab/model/SARS-CoV-2-variants-of-concern-in-Ontario/svair.m
  skema/program_analysis/CAST/matlab/model/SARS-CoV-2-variants-of-concern-in-Ontario/svir.m
  skema/program_analysis/CAST/matlab/model/SARS-CoV-2-variants-of-concern-in-Ontario/voc2_driver.m
Due: test_program_analysis

Added a CAST-based test of single assignment
  skema/program_analysis/CAST/matlab/tests/test_single_assignment.py
Due: test_program_analysis

added preliminary support for for loops
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Made the tree builder class more generalized
  skema/program_analysis/CAST/matlab/tree_builder.py
Due: test_program_analysis

matlab_to_cast.py code cleanup
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
Due: test_program_analysis

Added a MATLAB parser that will take any input
  skema/program_analysis/CAST/matlab/cast_out.py
Due: test_program_analysis

Incorrect Metadata Fix (#522)
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

commented out the default fields
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

[rust] remove unused dependencies (#519)
  .gitignore
  Dockerfile.skema-rs
  skema/skema-rs/Cargo.lock
  skema/skema-rs/README.md
  skema/skema-rs/skema/Cargo.toml
Due: test_rust_components

Filepath with explicit data directory
  skema/program_analysis/CAST/matlab/tests/test_single_assignment.py
Due: test_program_analysis

MATLAB single assignment test (#527)
  skema/program_analysis/CAST/matlab/tests/test_single_assignment.py
Due: test_program_analysis

Modified cast_out.py to parse one file per run
  skema/program_analysis/CAST/matlab/cast_out.py
Due: test_program_analysis

continue on error for TR docker builds
  .github/workflows/docker.yml
Due: none

Pinning gqlalchemy version to 1.5.0
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Adding warning logging when using unsupported LiteralValue types
  skema/gromet/execution_engine/execution_engine.py
Due: test_program_analysis

Change gqlalchemy version to 1.4.0 due to conflict
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

CAST parsing functions (#534)
  skema/program_analysis/CAST/matlab/cast_out.py
  skema/program_analysis/CAST/matlab/matlab_to_cast.py
  skema/program_analysis/CAST/matlab/tree_builder.py
Due: test_program_analysis

Updating networkx version to 2.8.8
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

Update pyproject.toml
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

continue on error for TR docker builds (#535)
  .github/workflows/docker.yml
Due: none

Path conditions:
  test_rust_components: any of: .drone.yml, skema/skema-rs/**, data/gromet/**
  test_scala: any of: .drone.yml, skema/text_reading/scala/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**, data/gromet/**
  test_skema_py: any of: pyproject.toml, .drone.yml, skema/skema_py/**
  test_equation_reading: any of: pyproject.toml, .drone.yml, skema/img2mml/**
