Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

test_rust_components:
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test

test_program_analysis:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/im2mml skema/program_analysis/tests

Updated README.md for comment extraction module (#77)
  skema/skema-rs/comment_extraction/README.md
Due: test_rust_components

Im2MML-related updates
  README.md
  skema/im2mml/im2mml_demo.py
  skema/skema-rs/mathml/src/bin/parse_mathml.rs
Due: test_rust_components

Im2MML-related updates (#78)
  README.md
  skema/im2mml/im2mml_demo.py
  skema/skema-rs/mathml/src/bin/parse_mathml.rs
Due: test_rust_components

Fixed typo in README.md
  skema/moviz/README.md
Due: none

Added endpoint to more easily visualize different GroMEts without re-initializing the web app
  skema/moviz/main.py
Due: none

scaffold support for classes
  data/epidemiology/CHIME/CHIME_SIR_model/gromet/FN_0.1.5/CHIME_SIR_while_loop--Gromet-FN-auto_debug.json
  data/gromet/examples/class1/FN_0.1.5/class1--Gromet-FN-auto.json
  data/gromet/examples/class3/FN_0.1.5/class3--Gromet-FN-auto.json
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/lib.rs
  skema/skema-rs/skema/src/services/gromet.rs
Due: test_rust_components

Uncommenting @app.route('index') line
  skema/moviz/main.py
Due: none

MOVIZ-related updates (#69)
  README.md
  pyproject.toml
  skema/model_assembly/networks.py
  skema/moviz/README.md
  skema/moviz/inputs/while3.py
  skema/moviz/main.py
  skema/moviz/requirements.txt
  skema/moviz/templates/index.html
  skema/moviz/utils/create_json.py
  skema/moviz/utils/create_viz.py
  skema/program_analysis/CAST2GrFN/cast.py
  skema/program_analysis/CAST2GrFN/visitors/cast_to_agraph_visitor.py
  skema/program_analysis/python2cast.py
  skema/program_analysis/script_functions.py
  skema/utils/misc.py
Due: test_program_analysis

Added an app to annotate papers without resorting to the webapp
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/CosmosJsonPipeline.scala
Due: test_scala

Updated the grounding unit tests
  skema/text_reading/text_reading/grounding/src/test/scala/org/ml4ai/grounding/TestMiraEmbeddingsGrounder.scala
Due: test_scala

Refactor grounding code (#61)
  skema/text_reading/text_reading/build.sbt
  skema/text_reading/text_reading/grounding/src/main/scala/org/ml4ai/grounding/MiraEmbeddingsGrounder.scala
  skema/text_reading/text_reading/grounding/src/test/scala/org/ml4ai/grounding/TestMiraEmbeddingsGrounder.scala
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
Due: test_scala

Fixed the XML dependency issue on the web app
  skema/text_reading/text_reading/build.sbt
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
  skema/text_reading/text_reading/webapp/build.sbt
Due: test_scala

Fixed a grounding error in the home controller. Updated the notebook to generate a more informative spreadsheet
  skema/text_reading/notebooks/skema_text_reading_demo.ipynb
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
Due: test_scala

Removed an app to incorporate it again in its own PR
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/CosmosJsonPipeline.scala
Due: test_scala

Show how to use Pdf2Txt (#56)
  skema/text_reading/notebooks/skema_text_reading_demo.ipynb
  skema/text_reading/text_reading/build.sbt
  skema/text_reading/text_reading/grounding/build.sbt
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/Pdf2TxtApp.scala
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
  skema/text_reading/text_reading/webapp/build.sbt
Due: test_scala

Refactored the COSMOS ingestion pipeline and added an app to annotate COSMOS' json files from the command line
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotateCosmosJsonFiles.scala
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
Due: test_scala

added the visual changes to the graphs
  .gitignore
  skema/moviz/data/CHIME_SIR_core--Gromet-FN-auto.json
  skema/moviz/data/CHIME_SVIIvR_core--Gromet-FN-auto.json
  skema/moviz/data/cond1--Gromet-FN-auto.json
  skema/moviz/data/exp0--Gromet-FN-auto.json
  skema/moviz/data/exp1--Gromet-FN-auto.json
  skema/moviz/data/exp3--Gromet-FN-auto.json
  skema/moviz/data/fun3--Gromet-FN-auto.json
  skema/moviz/data/import1--Gromet-FN-auto.json
  skema/moviz/data/while1--Gromet-FN-auto.json
  skema/moviz/data/while3--Gromet-FN-auto.json
  skema/moviz/inputs/CHIME_SIR_core.py
  skema/moviz/inputs/CHIME_SVIIvR_core.py
  skema/moviz/main.py
  skema/moviz/utils/create_viz.py
  skema/moviz/utils/helper_functions.py
  skema/moviz/utils/init.py
Due: none

Removing data/ from .gitignore
  .gitignore
Due: none

Removing autogenerated GroMEt JSON files
  skema/moviz/data/CHIME_SIR_core--Gromet-FN-auto.json
  skema/moviz/data/CHIME_SVIIvR_core--Gromet-FN-auto.json
  skema/moviz/data/cond1--Gromet-FN-auto.json
  skema/moviz/data/exp0--Gromet-FN-auto.json
  skema/moviz/data/exp1--Gromet-FN-auto.json
  skema/moviz/data/exp3--Gromet-FN-auto.json
  skema/moviz/data/fun3--Gromet-FN-auto.json
  skema/moviz/data/import1--Gromet-FN-auto.json
  skema/moviz/data/while1--Gromet-FN-auto.json
  skema/moviz/data/while3--Gromet-FN-auto.json
Due: none

MOVIZ updates (#80)
  skema/moviz/inputs/CHIME_SIR_core.py
  skema/moviz/inputs/CHIME_SVIIvR_core.py
  skema/moviz/main.py
  skema/moviz/utils/create_viz.py
  skema/moviz/utils/helper_functions.py
  skema/moviz/utils/init.py
Due: none

Fixing default input path in MOVIZ main.py file
  skema/moviz/main.py
Due: none

Fixing default input path in MOVIZ main.py file (#81)
  skema/moviz/main.py
Due: none

Step1
  skema/text_reading/text_reading/build.sbt
  skema/text_reading/text_reading/grounding/build.sbt
Due: test_scala

Update processors
  skema/text_reading/text_reading/build.sbt
  skema/text_reading/text_reading/grounding/build.sbt
Due: test_scala

Delete comments
  skema/text_reading/text_reading/build.sbt
Due: test_scala

Fixed handling references to imported identifiers.
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
  skema/program_analysis/PyAST2CAST/py_ast_to_cast.py
Due: test_program_analysis

Some of Keith's suggested improvements
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
Due: test_scala

Refactored the COSMOS ingestion pipeline and added an app to annotate… (#79)
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/CosmosTextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/apps/AnnotateCosmosJsonFiles.scala
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
Due: test_scala

removed unnecessary prints
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

fix bugs, process mover, translate unicode to symbol,remove redundant mrows
  skema/skema-rs/Cargo.lock
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

fix a bug "-" is not equals to minus sign in unicode
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

optimize the graph definition
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

Milestone 5 SKEMA Pull Request (#74)
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
  skema/program_analysis/PyAST2CAST/py_ast_to_cast.py
  skema/program_analysis/multi_file_ingester.py
  skema/program_analysis/python2cast.py
  skema/program_analysis/run_ann_cast_pipeline.py
  skema/utils/script_functions.py
Due: test_program_analysis

remove all redundant mrows
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

Fixed issue of function definitions appearing as extra boxes in an FN
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

fix a bug when generating the name on the left of "="
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

Milestone 5 PR #2 (#84)
  skema/program_analysis/CAST2GrFN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

initial support for import boxes
  data/gromet/examples/import1/FN_0.1.5/import1--Gromet-FN-auto.json
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/lib.rs
Due: test_rust_components

add tests and fix bugs
  skema/skema-rs/mathml/src/expression.rs
  skema/skema-rs/mathml/tests/seir_eq1.png
  skema/skema-rs/mathml/tests/seir_eq1.xml
  skema/skema-rs/mathml/tests/seir_eq2.png
  skema/skema-rs/mathml/tests/seir_eq2.xml
  skema/skema-rs/mathml/tests/seir_eq3.png
  skema/skema-rs/mathml/tests/seir_eq3.xml
  skema/skema-rs/mathml/tests/seir_eq4.png
  skema/skema-rs/mathml/tests/seir_eq4.xml
  skema/skema-rs/mathml/tests/seirdv_eq1.png
  skema/skema-rs/mathml/tests/seirdv_eq1.xml
  skema/skema-rs/mathml/tests/seirdv_eq2.png
  skema/skema-rs/mathml/tests/seirdv_eq3.png
  skema/skema-rs/mathml/tests/seirdv_eq3.xml
  skema/skema-rs/mathml/tests/seirdv_eq4.png
  skema/skema-rs/mathml/tests/seirdv_eq4.xml
  skema/skema-rs/mathml/tests/seirdv_eq5.png
  skema/skema-rs/mathml/tests/seirdv_eq5.xml
  skema/skema-rs/mathml/tests/seirdv_eq6.png
  skema/skema-rs/mathml/tests/seirdv_eq6.xml
  skema/skema-rs/mathml/tests/seirdv_eq7.png
  skema/skema-rs/mathml/tests/seirdv_eq7.xml
Due: test_rust_components

Path conditions:
  test_rust_components: any of: skema/skema-rs/**
  test_scala: any of: skema/text_reading/text_reading/**
  test_program_analysis: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**
