Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_python

test_rust_components:
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all

test_scala:
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test

test_python:
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pytest

drone ci test
  pyproject.toml
Due: test_python

Added test files
  skema/skema-rs/comment_extraction/tests/data/hello_world.c
  skema/skema-rs/comment_extraction/tests/data/hello_world.cpp
Due: test_rust_components

test passing
  skema/program_analysis/tests/test_code2fn.py
Due: test_python

Adding GCC2GrFN and gcc_plugin
  skema/program_analysis/GCC2GrFN/__init__.py
  skema/program_analysis/GCC2GrFN/gcc_ast_to_cast.py
  skema/program_analysis/GCC2GrFN/gcc_ast_to_cast_utils.py
  skema/program_analysis/GCC2GrFN/gcc_basic_blocks_to_digraph.py
  skema/program_analysis/GCC2GrFN/gcc_plugin_driver.py
  skema/program_analysis/gcc_plugin/README.md
  skema/program_analysis/gcc_plugin/plugin/Makefile
  skema/program_analysis/gcc_plugin/plugin/ast_dump.cpp
Due: test_python

trying out pytest-cov and pytest-xdist
  .drone.yml
Due: test_python

Adding coverage metrics
  .drone.yml
Due: test_python

Remove redundant lamba parameter from MiraEmbeddingsGrounder constructor
  skema/text_reading/text_reading/grounding/src/main/scala/org/ml4ai/grounding/MiraEmbeddingsGrounder.scala
Due: test_scala

updating imports
  skema/model_assembly/expression_trees/expression_visitor.py
  skema/model_assembly/expression_trees/expression_walker.py
  skema/model_assembly/interpreter.py
  skema/model_assembly/model_dynamics.py
  skema/program_analysis/JSON2GroMEt/json2gromet.py
Due: test_python

able to take in CHIME_SIR, but json is buggy
  data/epidemiology/CHIME/CHIME_SIR_model/gromet/FN_0.1.4/CHIME_SIR_while_loop--Gromet-FN-auto.json
  skema/skema-rs/skema/src/bin/rust_memgraph.rs
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Adding --write option to multi_file_ingester.py
  skema/program_analysis/multi_file_ingester.py
Due: test_python

Adding --write option to multi_file_ingester.py (#63)
  skema/program_analysis/multi_file_ingester.py
Due: test_python

Adding instructions for Dockerized Code2FN service
  README.md
Due: none

Adding instructions for Dockerized Code2FN service (#64)
  README.md
Due: none

Added a pointer for Sushma to implement changes
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
Due: test_scala

Work around the evicted library by including it directly
  skema/text_reading/text_reading/lib/xml-apis-1.4.01.jar
Due: test_scala

changed opi edge direction to make DAG-ish
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Fixing example client to write response to file instead of request to stdout
  skema/code2fn/client.py
Due: none

Updating code2fn client.py to properly write output JSON to file (#66)
  skema/code2fn/client.py
Due: none

cleaning up comments
  skema/skema-rs/skema/src/bin/rust_memgraph.rs
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

bit more cleaning
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

broke de_ser_chime test
  skema/skema-rs/skema/src/lib.rs
Due: test_rust_components

Gromet graph refactoring (#67)
  data/demo/CHIME_SIR_core--Gromet-FN-auto.json
  data/demo/CHIME_SVIIvR_core--Gromet-FN-auto.json
  data/epidemiology/CHIME/CHIME_SIR_model/gromet/FN_0.1.4/CHIME_SIR_while_loop--Gromet-FN-auto.json
  skema/skema-rs/skema/src/bin/gromet2graphdb.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/lib.rs
Due: test_rust_components

Switching Code2FN Dockerfile from Python 3.10 to Python 3.8
  Dockerfile.code2fn
Due: none

Updating command line arguments for Code2FN client example
  skema/code2fn/client.py
Due: none

Code2fn updates (#68)
  Dockerfile.code2fn
  skema/code2fn/client.py
Due: none

Update HomeController.scala
  skema/text_reading/text_reading/webapp/app/controllers/HomeController.scala
Due: test_scala

Don't include it directly, but exclude then include
  skema/text_reading/text_reading/build.sbt
  skema/text_reading/text_reading/grounding/build.sbt
  skema/text_reading/text_reading/lib/xml-apis-1.4.01.jar
Due: test_scala

Use dependencyOverrides instead
  skema/text_reading/text_reading/build.sbt
  skema/text_reading/text_reading/grounding/build.sbt
Due: test_scala

Add comment to force CI
  skema/text_reading/text_reading/build.sbt
Due: test_scala

Bump again
  skema/text_reading/text_reading/grounding/build.sbt
Due: test_scala

Updated docstring for python2cast.py
  skema/moviz/inputs/while3.py
  skema/program_analysis/python2cast.py
Due: test_python

Updating moviz code to use the functionality implemented in the ml4ai/skema repo, removing unneeded code
  skema/moviz/main.py
  skema/moviz/utils/create_json.py
  skema/moviz/utils/create_viz.py
Due: none

Fixed pyproject.toml so that setuptools correctly detects optional dependencies
  pyproject.toml
Due: test_python

Removed call to g.view() and some commented out code in create_viz.py
  skema/moviz/utils/create_viz.py
Due: none

Adding more details about the extras in the READMEs and pyproject.toml
  README.md
  pyproject.toml
  skema/moviz/README.md
Due: test_python

Path conditions:
  test_rust_components: any of: skema/skema-rs/**
  test_scala: any of: skema/text_reading/text_reading/**
  test_python: any of: pyproject.toml, .drone.yml, skema/program_analysis/**, skema/gromet/**, skema/model_assembly/**
