Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Removed an older test that utilized the tests/data directory
  skema/program_analysis/CAST/matlab/tests/test_matlab_parse_tree.py
Due: test_program_analysis

Fixed a minor bug that somehow returned to the repo
  skema/program_analysis/tree_sitter_parsers/build_parsers.py
Due: test_program_analysis

Added tests, fixed issues with IDs, fixed Var CAST node issues
  skema/program_analysis/CAST/python/ts2cast.py
  skema/program_analysis/CAST/python/util.py
  skema/program_analysis/tests/test_function_cast.py
Due: test_program_analysis

Fixed simple arithmetic tests
  skema/program_analysis/tests/test_operation_cast.py
Due: test_program_analysis

changed - to _ in amr
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

Update to AMR id's to not have - (#585)
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

added support for while loop wiring
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

fix bugs in ISA and test the correctness
  skema/isa/lib.py
  skema/skema-rs/mathml/src/expression.rs
Due: test_rust_components

updating
  skema/img2mml/configs/xfmer_mml_config.json
Due: test_equation_reading

update
  skema/img2mml/configs/xfmer_latex_config.json
Due: test_equation_reading

update
  skema/img2mml/utils/multi-bleu.perl
Due: test_equation_reading

Update README
  skema/isa/README.md
Due: none

added support for conds without else's
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/parsers/decapodes_serialization.rs
Due: test_rust_components

wip
  skema/skema-rs/mathml/src/parsers.rs
Due: test_rust_components

Conditional and While Loop initial support (#586)
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

add ISA dependencies
  pyproject.toml
Due: test_program_analysis, test_skema_py, test_equation_reading

revert for amr id changes
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

revert for amr id changes (#588)
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

Added fix for missing import_method for numpy function boxes
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis
