Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis, test_skema_py, test_equation_reading

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.67
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**
    - data/gromet/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx16g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/scala/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**
    - data/gromet/**

---
kind: pipeline
name: skema-py

steps:
- name: test_skema_py
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install ".[core,dev]"
  - pytest --cov=skema skema/skema_py/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/skema_py/**

---
kind: pipeline
name: skema-er

steps:
- name: test_equation_reading
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - curl -L https://artifacts.askem.lum.ai/skema/img2mml/models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt > skema/img2mml/trained_models/cnn_xfmer_arxiv_im2mml_with_fonts_boldface_best.pt
  - pip install ".[core,dev]"
  - pytest -s --cov=skema skema/img2mml/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/img2mml/**

Added MIT card proxy endpoints
  skema/rest/integrated_text_reading_proxy.py
Due: none

Msub as a content identifier (#327)
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

Basic support for derived types, support for array literal, and fix for while loop
  skema/program_analysis/TS2CAST/node_helper.py
  skema/program_analysis/TS2CAST/ts2cast.py
  skema/program_analysis/TS2CAST/variable_context.py
Due: test_program_analysis

Updates to Record idiom to support generating multiple modules at a time
  skema/program_analysis/TS2CAST/node_helper.py
  skema/program_analysis/TS2CAST/preprocessor/preprocess.py
  skema/program_analysis/TS2CAST/ts2cast.py
  skema/program_analysis/TS2CAST/util.py
  skema/program_analysis/TS2CAST/variable_context.py
Due: test_program_analysis

Adding support for internal procedures to VariableContext
  skema/program_analysis/TS2CAST/variable_context.py
Due: test_program_analysis

Adding support for outer body module
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

Fixing rebased preprocessor script
  skema/program_analysis/TS2CAST/preprocessor/preprocess.py
Due: test_program_analysis

Deleted lingering debugging code
  skema/rest/integrated_text_reading_proxy.py
Due: none

Adding support for multi-module CAST ingestion to multi_file_ingester.py
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Removing print statements
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

Fix the error when calling the image2mml service
  skema/img2mml/api.py
  skema/img2mml/eqn2mml.py
Due: test_equation_reading

TR REST Proxy Calls (#328)
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/schema.py
Due: none

work in progress
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

work in progress
  skema/skema-rs/mathml/src/ast/operator.rs
Due: test_rust_components

work in progress
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
Due: test_rust_components

make the image2mml relevant variables as a class and reorganize unit tests
  skema/img2mml/api.py
  skema/img2mml/eqn2mml.py
  skema/img2mml/tests/test_model_loading.py
Due: test_equation_reading

remove the redundant img2mml service files
  skema/img2mml/img2mml.py
  skema/img2mml/img2mml_cli.py
  skema/img2mml/img2mml_demo.py
Due: test_equation_reading

work in progress
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Load img2mml model only once for use in REST API (#330)
  skema/img2mml/api.py
  skema/img2mml/eqn2mml.py
  skema/img2mml/img2mml.py
  skema/img2mml/img2mml_cli.py
  skema/img2mml/img2mml_demo.py
  skema/img2mml/tests/test_model_loading.py
  skema/img2mml/translate.py
Due: test_equation_reading

prototype summation recognition complete
  skema/skema-rs/mathml/src/ast/operator.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

Expanded attribute node support for Hackathon2 scenarion2
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
Due: test_program_analysis

work in progress
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
Due: test_rust_components

initial extractions of terms for PN of MathExpressionTrees (needs recursive refactoring)
  data/mml2pn_inputs/testing_eqns/mml_list3.txt
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

work in progress
  skema/skema-rs/Cargo.lock
  skema/skema-rs/mathml/Cargo.toml
  skema/skema-rs/mathml/src/ast.rs
  skema/skema-rs/mathml/src/parsers.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/interpreted_mathml.rs
  skema/skema-rs/mathml/src/parsers/math_expression_tree.rs
  skema/skema-rs/mathml/src/parsers/specific_tag_macros.rs
Due: test_rust_components

initial support for mathexpressiontree to pn amr
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

fix a bug in the retrieve_model function: if the model path is not existed, download the default model from the server
  skema/img2mml/api.py
Due: test_equation_reading

Added a router for METAL (which is link_amr for now)
  skema/rest/api.py
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/metal_proxy.py
  skema/rest/schema.py
  skema/rest/tests/data/integrated_text_reading/CHIME_SVIIvR_model.pdf
  skema/rest/tests/data/integrated_text_reading/buckymodel_webdocs.pdf
  skema/rest/tests/data/metal/fixed_scenario1_amr_eq.json
  skema/rest/tests/data/metal/tr_document_results.json
  skema/rest/tests/test_integrated_text_reading_proxy.py
  skema/text_reading/scala/webapp/docker.sbt
Due: test_scala

[code2fn] - Support for Fortran Record Idiom and TS2CAST enchancements (#329)
  skema/program_analysis/TS2CAST/node_helper.py
  skema/program_analysis/TS2CAST/preprocessor/preprocess.py
  skema/program_analysis/TS2CAST/ts2cast.py
  skema/program_analysis/TS2CAST/util.py
  skema/program_analysis/TS2CAST/variable_context.py
  skema/program_analysis/multi_file_ingester.py
Due: test_program_analysis

Made the tests work with data files
  skema/rest/tests/test_integrated_text_reading_proxy.py
  skema/rest/tests/test_metal_proxy.py
Due: none

Restored webapp docker file to its original state
  skema/text_reading/scala/webapp/docker.sbt
Due: test_scala

update to eq2amr endpoints to support mathexpressiontrees
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

cargo clippy and cargo fmt run
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components

Quick fix to the test
  skema/rest/tests/test_metal_proxy.py
Due: none

removed gromets that didn't need to be on repo
  data/gromet/hackathon/hackathon2_scenario_1--Gromet-FN-auto.json
  data/gromet/hackathon/hackathon2_scenario_2--Gromet-FN-auto.json
  data/gromet/hackathon/hackathon2_scenario_3--Gromet-FN-auto.json
Due: test_rust_components, test_program_analysis

[TR][METAL] Added a router for METAL (which is link_amr for now) (#332)
  skema/rest/api.py
  skema/rest/integrated_text_reading_proxy.py
  skema/rest/metal_proxy.py
  skema/rest/schema.py
  skema/rest/tests/data/integrated_text_reading/CHIME_SVIIvR_model.pdf
  skema/rest/tests/data/integrated_text_reading/buckymodel_webdocs.pdf
  skema/rest/tests/data/metal/fixed_scenario1_amr_eq.json
  skema/rest/tests/data/metal/tr_document_results.json
  skema/rest/tests/test_integrated_text_reading_proxy.py
  skema/rest/tests/test_metal_proxy.py
Due: none

quick change to help amr spec in backup case
  skema/skema-rs/mathml/src/acset.rs
Due: test_rust_components

removed extra emptry mathml file
  data/mml2pn_inputs/testing_eqns/mml_list_sqair.txt
Due: none

Hackathon2 (#333)
  data/mml2pn_inputs/testing_eqns/mml_list.txt
  data/mml2pn_inputs/testing_eqns/mml_list2.txt
  data/mml2pn_inputs/testing_eqns/mml_list3.txt
  skema/skema-rs/mathml/src/acset.rs
  skema/skema-rs/mathml/src/parsers/first_order_ode.rs
  skema/skema-rs/mathml/src/parsers/generic_mathml.rs
  skema/skema-rs/skema/src/bin/morae.rs
  skema/skema-rs/skema/src/database.rs
  skema/skema-rs/skema/src/lib.rs
  skema/skema-rs/skema/src/model_extraction.rs
  skema/skema-rs/skema/src/services/mathml.rs
Due: test_rust_components
