Repository ml4ai/skema: changes, and which Drone steps are due for each by the changed paths.
All: test_rust_components, test_scala, test_program_analysis

.drone.yml:

# Continuous integration

kind: pipeline
name: skema-rs

steps:
- name: test_rust_components
  image: rust:1.65
  commands:
  - apt update && apt install -y cmake openssl libclang-13-dev
  - cd skema/skema-rs
  - cargo test --verbose --all
  when:
    paths:
    - .drone.yml
    - skema/skema-rs/**

---
kind: pipeline
name: skema_tr

steps:
- name: test_scala
  image: sbtscala/scala-sbt:openjdk-8u342_1.7.2_2.12.17
  commands:
  - cd skema/text_reading/text_reading
  - export _JAVA_OPTIONS=-Xmx10g
  - sbt webapp/test
  when:
    paths:
    - .drone.yml
    - skema/text_reading/text_reading/**

---
kind: pipeline
name: skema-pa

steps:
- name: test_program_analysis
  image: python:3.8-bullseye
  commands:
  - apt-get update
  - apt-get -y install build-essential graphviz libgraphviz-dev
  - pip install -e .[dev]
  - pip install pytest-cov pytest-xdist
  - pytest --cov=skema --ignore=skema/img2mml skema/program_analysis/tests
  when:
    paths:
    - pyproject.toml
    - .drone.yml
    - skema/program_analysis/**
    - skema/gromet/**
    - skema/model_assembly/**

# TODO - get Equation Reading pipeline working
#---
#kind: pipeline
#name: skema-er

#steps:
#- name: test_equation_reading
  #image: python:3.8-bullseye
  #commands:
  #- apt-get update
  #- apt-get -y install build-essential graphviz libgraphviz-dev
  #- pip install -e .[dev,img2mml]
  #- pip install pytest-cov
  #- curl -L https://kraken.sista.arizona.edu/skema/img2mml/models/cnn_xfmer_OMML-90K_best_model_RPimage.pt > skema/img2mml/trained_models/cnn_xfmer_OMML-90K_best_model_RPimage.pt
  #- pytest --cov=skema skema/img2mml/tests
  #when:
    #paths:
    #- pyproject.toml
    #- .drone.yml
    #- skema/img2mml/**

update
  skema/img2mml/sampling_dataset/sample_dataset.py
  skema/img2mml/sampling_dataset/sample_dataset_new.py
  skema/img2mml/sampling_dataset/sampling_config.json
Due: none

update
  skema/img2mml/sampling_dataset/sample_dataset_new.py
Due: none

update
  skema/img2mml/sampling_dataset/sampling_config.json
Due: none

update
  skema/img2mml/sampling_dataset/sample_dataset_new.py
  skema/img2mml/sampling_dataset/sampling_config.json
Due: none

update
  skema/img2mml/create_dataset.py
  skema/img2mml/sampling_dataset/sample_dataset_new.py
Due: none

Modified the docker file. Dockerization for xDD in progress ...
  skema/text_reading/text_reading/Dockerfile
Due: test_scala

Adding initial support for Dimension type
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

added basic commandline options for morae
  notebooks/hackathon/hackathon.ipynb
  skema/skema-rs/skema/src/bin/morae.rs
Due: test_rust_components

Changes from Keith's suggestions
  skema/text_reading/text_reading/build.sbt
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/TextReadingPipeline.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/attachments/AutomatesAttachment.scala
  skema/text_reading/text_reading/src/main/scala/org/ml4ai/skema/text_reading/grounding/Grounder.scala
  skema/text_reading/text_reading/src/test/scala/org/ml4ai/skema/grounding/TestMiraWebApiGrounder.scala
Due: test_scala

Adding support for function/subroutine, fixing variable id logic, reading in source from file
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

Fixing extraneous imports, and using variable context to pass down variable type
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

updating data_generation scripts
  skema/img2mml/data_generation/README.md
  skema/img2mml/data_generation/etree_parser.py
  skema/img2mml/data_generation/mathml_simplification.py
Due: none

update
  skema/img2mml/data_generation/parsing_latex_equations.py
Due: none

update
  skema/img2mml/configs/xfmer_mml_config.json
Due: none

update
  skema/img2mml/README.md
  skema/img2mml/data_generation/README.md
  skema/img2mml/data_generation/dat_gen_requirements.txt
  skema/img2mml/requirements.txt
Due: none

bug notes
  skema/skema-rs/skema/src/database.rs
Due: test_rust_components

Updated the code such that it accepts generic fortran comment extraction
  skema/skema-rs/comment_extraction/src/bin/extract_comments.rs
  skema/skema-rs/comment_extraction/src/languages/fortran.rs
  skema/skema-rs/comment_extraction/tests/data/addfld.F
Due: test_rust_components

Implemented do while, boolean literal, and string literal
  skema/program_analysis/TS2CAST/ts2cast.py
Due: test_program_analysis

In progress changes for generating bucky v0.1.6
  scripts/codegen_swagger_models.py
  skema/gromet/fn/__init__.py
  skema/gromet/fn/gromet_box_function.py
  skema/gromet/fn/gromet_fn_module.py
  skema/gromet/metadata/gromet_creation.py
  skema/program_analysis/CAST2FN/ann_cast/cast_to_annotated_cast.py
  skema/program_analysis/CAST2FN/ann_cast/container_scope_pass.py
  skema/program_analysis/CAST2FN/ann_cast/to_gromet_pass.py
  skema/program_analysis/PyAST2CAST/modules_list.py
  skema/program_analysis/PyAST2CAST/py_ast_to_cast.py
  skema/program_analysis/multi_file_ingester.py
  skema/utils/script_functions.py
Due: test_program_analysis

update
  skema/img2mml/create_dataset.py
Due: none

update
  skema/img2mml/sampling_dataset/sample_dataset.py
Due: none

updating create_dataset.py
  skema/img2mml/create_dataset.py
  skema/img2mml/sampling_dataset/sample_dataset_2.py
Due: none

update
  skema/img2mml/create_dataset.py
  skema/img2mml/sampling_dataset/sample_dataset.py
  skema/img2mml/sampling_dataset/sample_dataset_2.py
Due: none
